<extend name="Public/base" />
<block name="mylink">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/layui/css/layui.css">
    <link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/switchery.min.css" rel="stylesheet">
</block>
<block name="content">
    <div class="content">
        <div class="row-fluid fl" id="main">
            <div class="tableBox">
                <div class="ibox-title">
                    <h5>设备管理 <small>设备列表</small></h5>
                    <div class="ibox-tools">
                        <i class="fa fa-user-plus"></i>
                        <a href="javascript:;" onclick="add()">添加设备</a>
                        <i class="fa fa-user-plus"></i>
                        <a href="javascript:;" onclick="adds()">批量添加设备</a>
                    </div> 
                </div>
                <form method="get" action="">
                    <button type="submit" name="output" value="1" class="btn btn btn-primary" style="margin-left: 2rem"> <i class="fa fa-search"></i> 导出</button>
                    <div class="input-group col-md-6" id='searchdiv'>
                        <select name="key" class="form-control" name="account">
                            <option <?php echo ($where['key']=="device_code")?'selected':''; ?> value="device_code">设备编码</option>
                            <option <?php echo ($where['key']=="typename")?'selected':''; ?> value="typename">设备类型</option>
                            <option <?php echo ($where['key']=="v.user")?'selected':''; ?> value="v.user">经销商</option>
                            <option <?php echo ($where['key']=="u.nickname")?'selected':''; ?> value="u.nickname">用户</option>
                        </select>
                        <input type="hidden" name="p" value="1">
                        <input type="text" name="keywords"  placeholder="输入搜索关键字" value="{{$where['keywords']}}"class="input form-control"   style="width:50%">
<!--                          <select name="AliveStause" class="form-control" name="account" style="width:20%">
                            <option value="">激活状态</option>
                            <option value="0">未激活</option>
                            <option value="1">已激活</option>
                        </select> -->
                        <span class="input-group-btn" style="display: inline-block;">
                                <button type="submit" class="btn btn btn-primary" name="sou"> <i class="fa fa-search"></i> 搜索</button>
                        </span>
                    </div>
                </form>
                <div class="ibox-content">
                    <table class="table table-bordered table-hover">
                        <form action="{{:U('Admin/Menu/order')}}" method="post">
                            <thead>
                                <tr>
                                    <th width="5%">
                                        序号
                                    </th>
                                    <th width="15%">
                                        设备编码
                                    </th>
                                    <th>
                                        设备类型
                                    </th>
                                    <th>
                                        绑定分销商
                                    </th>
                                    <th>
                                        绑定用户
                                    </th>
                                    <th>
                                        激活状态
                                    </th>
                                    <th>
                                        分销商解绑
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <empty name="deviceInfo">
                                    <tr><td colspan="6">暂无设备数据</td></tr>
                                <else />
                                    <volist name="deviceInfo" id="vo">
                                        <tr>
                                            <td>{{$i}}</td>
                                            <td><a style="color:rgb(0, 47, 255)" class=" deviceDetail" href="#">{{$vo.device_code}}</a></td>
                                            <td>{{$vo.typename}}</td>
                                            <td>
                                                <empty name="vo.user">
                                                    <span style="color:blue">未绑定分销商</span>
                                                <else />
                                                    <span style="color:red">{{$vo.user}}</span>
                                                </empty>
                                            </td>
                                            <td>
                                                <empty name="vo.nickname">
                                                    <span style="color:blue">未绑定用户</span>
                                                <else />
                                                    <a class='touserdetail' style="color:red" uid="{{$vo.uid}}">{{$vo.nickname}}</a>
                                                </empty>
                                            </td>
                                            <td>
                                                <switch name="vo.alivestause">
                                                    <case value="0">未激活</case>
                                                    <case value="1">已激活</case>
                                                    <default />未激活
                                                </switch>
                                            </td>
                                            <td>
                                                <if condition="$vo.vid neq NULL">
                                                    <a class="btn ubind btn-success" code="{{$vo.device_code}}">解绑</a>
                                                    <else />
                                                </if>
                                            </td>
                                        </tr>
                                    </volist>
                                </empty>
                            </tbody>
                        </form>
                    </table>
                    <div>
                        {{$page}}
                    </div>
                </div>
            </div>
            <!-- 弹框信息 -->
            <div class="modal inmodal" id="st-add" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                添加设备
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form id="bjy-form" class="form-inline" action="{{:U('Admin/Devices/add_device')}}"
                            method="post">
                                <input type="hidden" name="pid" value="0">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <tr>
                                        <td>
                                            <label class="col-sm-3 control-label">设备编码：</label>
                                            <div class="col-sm-6 form-group">
                                                <input class="input-medium form-control" placeholder="请输入15位设备编码..." type="text" name="name">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-sm-3 control-label">设备类型：</label>
                                            <div class="col-sm-6">
                                                <select class="form-control m-b" name="type">
                                                    <option value="--">--请选择--</option>
                                                    <volist name="deviceType" id="vo">
                                                        <option value="{{$vo.id}}">{{$vo.typename}}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-sm-6 form-group">
                                                <input class="btn btn-success add_device" value="添加">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal inmodal" id="st-adds" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                批量添加设备
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form id="form" method="post" enctype="multipart/form-data" name="file">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <tr>
                                        <th width="30%">
                                            选择导入文件：
                                        </th>
                                        <td>
                                            <input type="file" name="batch">
                                        </td>
                                        <th>
                                            <button type="button" class="btn btn-success add_devices">添加</button>
                                        </th>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer part -->
        </div>
    </div>
</block>
<block name="myjs">
    <script src="__PUBLIC__/Admin/layui/layui.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="__PUBLIC__/Admin/js/switchery.min.js"></script>
    <script>
        // 添加设备
        function add() {
            $('#st-add').modal('show');
        }
        $(".add_device").click(function(){
            $("#st-add").modal('hide');
            var name = $("input[name='name']").val();
            var type = $("select[name='type']").val();
            $.ajax({
                url:'{{:U("admin/devices/add_device")}}',
                type:'post',
                dataType:'json',
                data:{"device_code":name,"type_id":type},
                success:function(res){
                    if(res.code == 200){
                        parent.layer.msg(res.msg);
                        location.reload();
                    } else {
                        parent.layer.msg(res.msg);
                        location.reload();
                    }
                }
            })
        })
        // 批量添加设备
        function adds() {
            $('#st-adds').modal('show');
        }
        $(".add_devices").click(function(){
            $("#st-adds").modal('hide');
            var formData = new FormData(document.getElementById("form"));
            $.ajax({
                url: '{{:U("admin/devices/deviceAdds")}}' ,
                type: 'post',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if(res.code == 200){
                        // 添加成功
                        swal(res.msg,'确认后请刷新页面', "success");
                        // window.location.reload();
                    }else{
                        // 添加失败
                        swal(res.msg, '', "success");
                    }
                },
                error: function (res) {
                    if(res.code == 200){
                        // 添加成功
                        swal(res.msg,'', "success");
                        // window.location.reload();
                    }else{
                        // 添加失败
                        swal(res.msg, '', "success");
                    }
                }
            });
        })
        // 跳转到用户列表
        $('.touserdetail').click(function(){
            var id = $(this).attr('uid');
            location.href = "{{:U('Users/user_detail','','')}}?id="+id;
        })
        $("td").on('click','.deviceDetail',function(e){
            var code = $(this).html();
            location.href = "{{:U('deviceDetail'), '', ''}}?code="+code;
        });

        $('.pagination ul a').unwrap('div').wrap('<li></li>');
        $('.pagination ul span').wrap('<li class="active"></li>')

        // 解除分销商绑定
        $('td').on('click', '.ubind', function(){
            var code = $(this).attr('code');
             swal({
                title: "您确定要解绑分销商吗",
                text: "解除绑定后需重新绑定，请谨慎操作！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url:"{{:U('ubind')}}",
                    type:'post',
                    data:{"device_code":code},
                    success:function(res){
                        if(res.code == 200){
                            swal(res.msg,'需要重新刷新页面', "success");
                            parent.layer.msg('设备解绑成功');
                            // sleep(3000);
                            location.reload();
                        }else{
                            swal(res.msg, '请确认是否绑定了经销商！', "error");
                        }
                    },
                    error:function(res){
                        swal(res.msg, '', "error");
                    }
                });
            });
            
        });

    </script>
</block>
