<extend name="Public/base" />
<block name="mylink">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/layui/css/layui.css">
    <link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/switchery.min.css" rel="stylesheet">
    <style>
        img{
            width: 60px;
            height: 60px;
        }

    </style>
</block>
<block name="content">
    <div class="content">
        <div class="row-fluid fl" id="main">
            <div class="tableBox">
                <div class="ibox-title">
                    <h5>设备管理 <small>滤芯列表</small></h5>
                    <div class="ibox-tools">
                        <i class="fa fa-user-plus"></i>
                        <a href="javascript:;" onclick="add()">添加滤芯</a>
                    </div>
                </div>
                <form method="get" action="">
                    <div class="input-group col-md-4" id='searchdiv'>
                        <label class="input form-control">滤芯名称</label>
                        <input type="text" name="filtername" placeholder="输入搜索关键字" class="input form-control"   style="width:50%">
                        <span class="input-group-btn" style="display: inline-block;">
                                <input type="submit" class="btn btn btn-primary" name="sou"> <i class="fa fa-search"></i> 搜索</button>
                        </span>
                    </div>
                </form>
                <div class="ibox-content">
                    <table class="table table-bordered table-hover">
                        <!-- <form action="{{:U('Admin/Menu/order')}}" method="post"> -->
                            <thead>
                                <tr>
                                    <th width="5%">
                                        滤芯ID
                                    </th>
                                    <th>
                                        滤芯名称
                                    </th>
                                    <th>
                                        滤芯别名
                                    </th>
                                    <th>
                                        滤芯价格(元)
                                    </th>
                                    <th style="color: red;">
                                        滤芯成本(元)
                                    </th>
                                    <th>
                                        滤芯图片
                                    </th>
                                    <th>
                                        时间寿命(小时)
                                    </th>
                                    <th>
                                        流量寿命(升)
                                    </th>
                                    <th>
                                        滤芯简介
                                    </th>
                                    <th>
                                        购买网址
                                    </th>
                                    <th>
                                        最后更新时间
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <empty name="data">
                                    <tr><td colspan="11">暂无滤芯数据</td></tr>
                                <else />
                                    <volist name="data" id="vo">
                                        <tr>
                                            <td>
                                                {{$vo.id}}
                                            </td>
                                            <td>
                                                {{$vo.filtername}}
                                            </td>
                                            <td>
                                                {{$vo.alias}}
                                            </td>
                                            <td>
                                                {{$vo.price}}
                                            </td>
                                            <td style="color: red;">
                                                {{$vo.cost}}
                                            </td>
                                            <td>
                                                <img src="/Uploads/{{$vo.picpath}}">
                                            </td>
                                            <td>
                                                {{$vo.timelife}}
                                            </td>
                                            <td>
                                                {{$vo.flowlife}}
                                            </td>
                                            <td>
                                                {{$vo.introduce}}
                                            </td>
                                            <td>
                                                {{$vo.url}}
                                            </td>
                                            <td>
                                                {{$vo['updatetime']|date='Y-m-d H:i:s',###}}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-outline btn-success" href="javascript:;" FilterAlias={{$vo.alias}} FilterId="{{$vo['id']}}" FilterName="{{$vo['filtername']}}" FilterPrice="{{$vo['price']}}" FilterTimelift="{{$vo.timelife}}" FilterFlowlifet="{{$vo.flowlife}}" FilterIntroducet="{{$vo.introduce}}" FilterUrl="{{$vo.url}}" FilterCost="{{$vo.cost}}" onclick="edit(this)">
                                                        修改
                                                    </a>
                                                    <a class="btn btn-outline btn-success deletBnt" filterId="{{$vo['id']}}">
                                                        删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </volist>
                                </empty>
                            </tbody>
                        <!-- </form> -->
                    </table>
                    <div>
                        {{$page}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="st-add" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加滤芯
                    </h4>
                </div>
                <div class="modal-body">
                    <div>下列表表单中，带 * 项表示必填项</div>
                    <form id="formdata" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tr>
                                <th width="25%">
                                    滤芯名称：
                                    <span style="color: red;">*</span>
                                </th>
                                <td>
                                    <div class="form-group">
                                        <input class="input-medium form-control" placeholder="请输入滤芯名称..." type="text" name="filtername">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    滤芯别名：
                                     <span style="color: red;">*</span>
                                </th>
                                <td>
                                    <input class="input-medium form-control" placeholder="请输入滤芯别名..." type="text" name="alias">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    滤芯图片：
                                    <span style="color: red;">*</span>
                                </th>
                                <td>
                                    <input class="input-medium form-control" type="file" name="picpath">
                                </td>
                            </tr>
                            <tr>
                                <th> 
                                    时间寿命(小时)：
                                    <span style="color: red;">*</span>
                                </th>
                                <td>
                                    <input class="input-medium form-control" placeholder="请输入数字..." type="text" name="timelife">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    流量寿命(升)：
                                    <span style="color: red;">*</span>
                                </th>
                                <td>
                                    <input class="input-medium form-control" placeholder="请输入数字..." type="text" name="flowlife">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    滤芯单价：
                                    <span style="color: red;">*</span>
                                </th>
                                <td>
                                    <input class="input-medium form-control" placeholder="请输入滤芯销售价格..." type="text" name="price">
                                </td>
                            </tr>
                            <tr>
                                <th style="color: red;">
                                    滤芯成本：
                                    <span style="color: red;">*</span>
                                </th>
                                <td>
                                    <input class="input-medium form-control" placeholder="请输入滤芯成本价格..." type="text" name="cost">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    滤芯简介：
                                </th>
                                <td>
                                    <textarea class="input-medium form-control" placeholder="在这里输入滤芯简介" type="url" name="introduce"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    购买网址：
                                </th>
                                <td>
                                    <input class="input-medium form-control" placeholder="http:://" type="text" name="url">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                </th>
                                <td>
                                    <input class="btn btn-success st-add" type="button" onclick="addFilter()" value="确认">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
    <script src="__PUBLIC__/Admin/layui/layui.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="__PUBLIC__/Admin/js/switchery.min.js"></script>
    <script>
        // 添加滤芯
        function add() {
            $("input[name='filtername']").val('').removeAttr('disabled');
            $("input[name='alias']").val('').removeAttr('disabled');
            $("input[name='price']").val('');
            $("input[name='cost']").val('');
            $("input[name='timelife']").val('');
            $("input[name='flowlife']").val('');
            $("input[name='url']").val('');
            $("textarea").val('');
            $('#st-add').modal('show');
        }
        // 修改滤芯
        function edit(obj) {
            var filterName = $(obj).attr('filtername');
            var filterId = $(obj).attr('FilterId');
            var filterAlias = $(obj).attr('FilterAlias');
            var filterPrice = $(obj).attr('FilterPrice');
            var filterCost = $(obj).attr('FilterCost');
            var filterTimelift = $(obj).attr('FilterTimelift');
            var filterFlowlifet = $(obj).attr('FilterFlowlifet');
            var filterUrl = $(obj).attr('FilterUrl');
            var filterIntroducet = $(obj).attr('FilterIntroducet');
            $(".modal-title").html("修改滤芯");
            $("input[name='filtername']").val(filterName).attr('disabled','true');
            $("input[name='id']").val(filterId);
            $("input[name='alias']").val(filterAlias).attr('disabled','true');;
            $("input[name='price']").val(filterPrice);
            $("input[name='cost']").val(filterCost);
            $("input[name='timelife']").val(filterTimelift);
            $("input[name='flowlife']").val(filterFlowlifet);
            $("input[name='url']").val(filterUrl);
            $("textarea").val(filterIntroducet);
            $(".st-add").attr('onclick','editFilter()');
            $('#st-add').modal('show');
        }

        // 添加功能执行
        function addFilter()
        {
            var data = document.getElementById('formdata');
            var pic = $('input[name="picpath"]')[0].files[0];
            var fd = new FormData(data)
            fd.append('picpath', pic);
            parent.layer.confirm('确认添加该滤芯吗？', {
                btn: ['确认','取消'], //按钮
                shade: false //不显示遮罩
            }, function(){
                $.ajax({
                    url:"{{:U('admin/devices/filterAction')}}",
                    type:'post',
                    dataType:'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data:fd,
                    success:function(res){
                        if(res.code == 200){
                            location.reload();
                            parent.layer.msg(res.msg);
                        } else {
                            parent.layer.close;
                            parent.layer.msg(res.msg);
                        }
                    }
                });
            }, function(){
                parent.layer.msg('已取消', {shift: 6});
            });
        }

        // 删除
        $('.deletBnt').click(function(e){
            var id = $(this).attr('filterId');

            swal({
                title: "确认要删除这条滤芯吗",
                text: "删除后将无法恢复，请谨慎操作！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url:"{{:U('Admin/devices/filtersDel')}}",
                    type:'post',
                    dataType:'json',
                    data:{'id':id},
                    success:function(res){
                        swal.close();
                        if(res.code == 200){
                            location.reload();
                            parent.layer.msg(res.msg);
                        } else {
                            parent.layer.close;
                            parent.layer.msg(res.msg);
                        }
                    }
                });
            });

            // parent.layer.confirm('确认要删除这条滤芯吗？', {
            //     btn: ['确认','取消'], //按钮
            //     shade: true //不显示遮罩
            // }, function(){
                
            // }, function(){
            //     parent.layer.msg('已取消', {shift: 6});
            // });
        })

        // 修改功能
        function editFilter()
        {
            var data = document.getElementById('formdata');
            var pic = $('input[name="picpath"]')[0].files[0];
            var fd = new FormData(data)
            fd.append('picpath', pic);
            parent.layer.confirm('确认修改该滤芯吗？', {
                btn: ['确认','取消'], //按钮
                shade: true //不显示遮罩
            }, function(){
                $.ajax({
                    url:"{{:U('Admin/devices/filterEdit')}}",
                    type:'post',
                    dataType:'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data:fd,
                    success:function(res){
                        if(res.code == 200){
                            location.reload();
                            parent.layer.msg(res.msg);
                        } else {
                            parent.layer.close;
                            parent.layer.msg(res.msg);
                        }
                    }
                });
            }, function(){
                parent.layer.msg('已取消', {shift: 6});
            });
        }
    </script>
</block>
