<extend name="Public/base" />
<block name="mylink">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/layui/css/layui.css">
    <link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/switchery.min.css" rel="stylesheet">
</block>
<block name="content">
    <div class="content">
        <div class="row-fluid fl" id="main">
            <div class="tableBox">
                <div class="ibox-title">
                    <h5>设备管理 <small>产品类型列表</small></h5>
                    <div class="ibox-tools">
                        <i class="fa fa-user-plus"></i>
                        <a href="javascript:;" onclick="add()">类型设置</a>
                    </div>
                </div>
                <form method="get" action="">
                    <div class="input-group col-md-4" id='searchdiv'>
                        <label class="input form-control">类型名称</label>
                        <input type="text" name="typename" placeholder="输入搜索关键字" class="input form-control"   style="width:60%">
                        <span class="input-group-btn" style="display: inline-block;">
                                <input type="submit" class="btn btn btn-primary" name=""> <i class="fa fa-search"></i> 搜索</button>
                        </span>
                    </div>
                </form>
                <div class="ibox-content">
                    <table class="table table-bordered table-hover">
                        <form action="{{:U('Admin/Menu/order')}}" method="post">
                            <thead>
                                <tr>
                                    <th width="5%">
                                        序号
                                    </th>
                                    <th>
                                        类型名称
                                    </th>
                                    <th colspan="8">
                                        滤芯详情
                                    </th>
                                    <th>
                                        是否商用
                                    </th>
                                    <th>
                                        更新时间
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <empty name="data">
                                    <tr><td colspan="6">暂无类型相关数据</td></tr>
                                <else />
                                    <volist name="data" id="vo">
                                        <tr>
                                            <td>
                                                {{$vo.id}}
                                            </td>
                                            <td>
                                                {{$vo.typename}}
                                            </td>
                                            <td>
                                                {{$vo.filter1}}
                                            </td>
                                            <td>
                                                {{$vo.filter2}}
                                            </td>
                                            <td>
                                                {{$vo.filter3}}
                                            </td>
                                            <td>
                                                {{$vo.filter4}}
                                            </td>
                                            <td>
                                                {{$vo.filter5}}
                                            </td>
                                            <td>
                                                {{$vo.filter6}}
                                            </td>
                                            <td>
                                                {{$vo.filter7}}
                                            </td>
                                            <td>
                                                {{$vo.filter8}}
                                            </td>
                                            <td>
                                                <switch name="vo.type">
                                                    <case value="0">家用机型</case>
                                                    <case value="1">商用机型</case>
                                                </switch>
                                            </td>

                                            <td>
                                                {{$vo.updatetime|date="Y-m-d H:i:s",###}}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a data-toggle="modal" class="btn btn-outline btn-success" data-target="#myModal" typename="{{$vo.typename}}" typeid="{{$vo.id}}" filter1="{{$vo.filter1}}" filter2="{{$vo.filter2}}" filter3="{{$vo.filter3}}" filter4="{{$vo.filter4}}" filter5="{{$vo.filter5}}" filter6="{{$vo.filter6}}" filter7="{{$vo.filter7}}" filter8="{{$vo.filter8}}" type="{{$vo.type}}" onclick="edit(this)">
                                                        编辑
                                                    </a>
                                                    <a class="btn btn-outline btn-success deletBnt" productId="{{$vo['id']}}" onclick="del(this)">
                                                        删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </volist>
                                </empty>
                            </tbody>
                        </form>
                    </table>
                    <div>
                        {{$page}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹框信息 -->
    <div class="modal inmodal" id="st-add" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        类型设置
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="false" class="form-horizontal">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">类型名称：</label>
                            <div class="col-sm-5">
                                <input class="input-medium form-control" placeholder="请输入滤芯名称..." type="text" name="typename">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                请选择滤芯：<br />
                            </label>
                            <div class="col-sm-8 choose">
                                <volist name="filter" id="vo">
                                    <span class="btn btn-primary btn-white type" filterId="{{$vo.id}}">{{$vo.filtername}}-{{$vo.alias}}</span>
                                </volist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                已选择滤芯：<br />
                            </label>
                            <div class="col-sm-8 choosed"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                是否商用
                            </label>
                            <div class="col-md-3" id="is_true">
                                <input type="checkbox" name="type" class="js-switch" checked />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5 sure">
                                <button type="button" class="btn btn-primary product-add">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
    <script src="__PUBLIC__/Admin/layui/layui.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="__PUBLIC__/Admin/js/switchery.min.js"></script>
    <script>
        var elem = document.querySelector('.js-switch');
        var init = new Switchery(elem);
        defaults = {
            color             : '#64bd63'
          , secondaryColor    : '#dfdfdf'
          , jackColor         : '#fff'
          , jackSecondaryColor: null
          , className         : 'switchery'
          , disabled          : false
          , disabledOpacity   : 0.5
          , speed             : '0.1s'
          , size              : 'default'
        }
        function add()
        {
            $("#myModalLabel").html('类型设置');
            $('.product-edit').addClass('product-add');
            $('.product-edit').removeClass('product-edit');
            $('input[name="typename"]').val('');
            $('.choosed').html('');
            $('.choosed').css('border','none');
            $('#st-add').modal('show');
        }
        $('.sure').on('click','.product-add',function(e){
            var form = $("#form").serializeArray();
            console.log(form);
            parent.layer.confirm('确认设置该类型吗？', {
                btn: ['确认','取消'], //按钮
                shade: false //不显示遮罩
            }, function(){
                $.ajax({
                    url:'productAction',
                    type:'post',
                    dataType:'json',
                    data:form,
                    success:function(res){
                        if(res.code == 200){
                            location.reload();
                            parent.layer.msg(res.msg);
                        } else {
                            parent.layer.close;
                            parent.layer.msg(res.msg);
                        }
                    }
                });
            }, function(){
                parent.layer.msg('已取消', {shift: 6});
            });
        })

        $('.choose').on('click','.type', function(e){
            var filterId = $(this).attr('filterId');
            var filterName = $(this).text();
            var html = "<span class='btn btn-primary btn-white deltype'>"+filterName+"<input type='hidden' name=arr[] value='"+filterName+"'></span>";
            var num = $('.choosed span').length;
            if( num >= 8 ){
                parent.layer.msg('滤芯达到上限，不可添加');
                return false;
            }
            $('.choosed').append(html);
            $('.choosed').css('border','1px solid red');
        })

        $('.choosed').on('click', '.deltype', function(e){
            $(this).remove();
            if($('.choosed span').length == 0){
                $('.choosed').css('border','none');
            }
        })

        // 修改类型
        function edit(obj)
        {
            $("#myModalLabel").html('类型编辑');
            $(".choosed").text("");
            $('.choosed').css('border','none');
            var typename = $(obj).attr('typename');
            var id = $(obj).attr('typeid');
            var arr = new Array();
            var filter1 = $(obj).attr('filter1');
            var filter2 = $(obj).attr('filter2');
            var filter3 = $(obj).attr('filter3');
            var filter4 = $(obj).attr('filter4');
            var filter5 = $(obj).attr('filter5');
            var filter6 = $(obj).attr('filter6');
            var filter7 = $(obj).attr('filter7');
            var filter8 = $(obj).attr('filter8');
            var type = $(obj).attr('type');
            console.log(type);

            var html = '';
            // 状态判断
            if(type==1){
                html = '<input type="checkbox" name="type" class="js-switch1" checked/>';
            }else{
                html = '<input type="checkbox" name="type" class="js-switch1"/>';
            }
            $('#is_true').html(html);
            // 初始化按钮
            var elem = document.querySelector('.js-switch1');
            var init = new Switchery(elem);
            defaults = {
                color             : '#64bd63'
              , secondaryColor    : '#dfdfdf'
              , jackColor         : '#fff'
              , jackSecondaryColor: null
              , className         : 'switchery'
              , disabled          : false
              , disabledOpacity   : 0.5
              , speed             : '0.1s'
              , size              : 'default'
            }


            arr.push(filter1,filter2,filter3,filter4,filter5,filter6,filter7,filter8);
            html = "";
            for (var i = 0; i < arr.length; i++) {
                // console.log(arr[i])
                if(arr[i]!= ''){
                    html += "<span class='btn btn-primary btn-white deltype'>"+arr[i]+"<input type='hidden' name=arr[] value='"+arr[i]+"'></span>";
                }
            }
            $('input[name="id"]').val(id);
            $("input[name='typename']").val(typename);
            $('.choosed').css('border','1px solid red');
            $('.product-add').addClass('product-edit');
            $('.product-add').removeClass('product-add');
            $('.choosed').append(html);
            $("#st-add").modal('show');
        }

        // 修改
        $('.sure').on('click','.product-edit',function(e){
            var form = $("#form").serializeArray();
            console.log(form);
            parent.layer.confirm('确认修改该类型吗？', {
                btn: ['确认','取消'], //按钮
                shade: true //不显示遮罩
            }, function(){
                $.ajax({
                    url:'productEdit',
                    type:'post',
                    dataType:'json',
                    data:form,
                    success:function(res){
                        if(res.code == 200){
                            location.reload();
                            parent.layer.msg(res.msg);
                        } else {
                            parent.layer.close;
                            parent.layer.msg(res.msg);
                        }
                    }
                });
            }, function(){
                parent.layer.msg('已取消', {shift: 6});
            });
        })

        // 删除
        function del(obj)
        {
            var id = $(obj).attr('productId');
            // console.log(id);
            parent.layer.confirm('确认删除该类型吗？', {
                btn: ['确认','取消'], //按钮
                shade: true //不显示遮罩
            }, function(){
                $.ajax({
                    url:"productDel",
                    data:{'id':id},
                    type:"post",
                    dataType:'json',
                    success:function(res){
                        if(res.code == 200){
                            location.reload();
                            parent.layer.msg(res.msg);
                        } else {
                            parent.layer.close;
                            parent.layer.msg(res.msg);
                        }
                    }
                });
            }, function(){
                parent.layer.msg('已取消', {shift: 6});
            });
        }
    </script>
</block>
