<extend name="Public/base" />
<block name="mylink">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/layui/css/layui.css">
</block>
<block name="content">
    <div class="content">
        <div class="row-fluid fl" id="main">
            <div class="tableBox">
                <div class="ibox-title">
                    <h5>设备管理 <small>产品类型设置</small></h5>
                    <div class="ibox-tools">
                        <i class="fa fa-user-plus"></i>
                        <a href="javascript:;" onclick="add()">类型设置</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered table-hover">
                        <form action="{{:U('Admin/Menu/order')}}" method="post">
                            <thead>
                                <tr>
                                    <th width="5%">
                                        序号
                                    </th>
                                    <th>
                                        类型名称
                                    </th>
                                    <th>
                                        滤芯详情
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <empty name="data">
                                    <tr><td colspan="6">暂无类型相关数据</td></tr>
                                <else />
                                    <volist name="data" id="vo">
                                        <tr>
                                            <td>{{$vo.id}}</td>
                                            <td>{{$vo.typename}}</td>
                                            <td>
                                                <if condition="$vo.filter1 neq null">
                                                    {{$vo.filter1}}
                                                <elseif condition="$vo.filter2 neq null">
                                                     {{$vo.filter2}}
                                                <elseif condition="$vo.filter3 neq null">
                                                    {{$vo.filter3}}
                                                <elseif condition="$vo.filter4 neq null">
                                                    {{$vo.filter4}}
                                                <elseif condition="$vo.filter5 neq null">
                                                    {{$vo.filter5}}
                                                <elseif condition="$vo.filter6 neq null">
                                                    {{$vo.filter6}}
                                                <elseif condition="$vo.filter7 neq null">
                                                    {{$vo.filter7}}
                                                <elseif condition="$vo.filter8 neq null">
                                                    {{$vo.filter8}}
                                                <else>
                                                </if>
                                            </td>
                                            <td>编辑|删除</td>
                                        </tr>
                                    </volist>
                                </empty>
                            </tbody>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹框信息 -->
    <div class="modal inmodal" id="st-add" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        类型设置
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="false" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">类型名称：</label>
                            <div class="col-sm-5">
                                <input class="input-medium form-control" placeholder="请输入滤芯名称..." type="text" name="typename">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                请选择滤芯：<br />
                                <h3>按CTRL+鼠标左键多选</h3>
                            </label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" multiple="true" name="filter[]">
                                    <volist name="data" id="vo">
                                        <option value="{{$vo.id}}">{{$vo.filtername}}-{{$vo.alias}}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                <button type="button" class="btn btn-primary product">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
    <script src="__PUBLIC__/Admin/layui/layui.js"></script>
    <script>
        function add()
        {
            $('#st-add').modal('show');
        }
        $('.product').click(function(e){
            var form = $("#form").serializeArray();
            console.log(form);
            parent.layer.confirm('确认设置该滤芯吗？', {
                btn: ['确认','取消'], //按钮
                shade: false //不显示遮罩
            }, function(){
                $.ajax({
                    url:'productAction',
                    type:'post',
                    dataType:'json',
                    data:form,
                    success:function(res){
                        if(res.code == 200){
                            location.reload();
                            parent.layer.msg(res.msg);
                        } else {
                            parent.layer.close;
                            parent.layer.msg(res.msg);
                        }
                    }
                });
            }, function(){
                parent.layer.msg('已取消', {shift: 6});
            });
        })
    </script>
</block>
