<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/indexShop.css">
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/mF_fancy.css">

	<link rel="stylesheet" href="https://at.alicdn.com/t/font_527495_e4w3qh1w050442t9.css">
	<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
	<script src="__PUBLIC__/Home/js/myfocus-2.0.1.min.js"></script>

  	<script src="__PUBLIC__/Home/js/public.js"></script>
	<title>Document</title>
	<style>

	</style>
</head>
<body>
	<header id="header">
		<span class="tab" index='0'>每日精选</span>
		<span class="tab" index='1'>母&nbsp;婴</span>
		<span class="tab" index='2'>美&nbsp;妆</span>
		<span class="tab" index='3'>家具家纺</span>
		<span class="tab" index='4'>数码家电</span>
		<div id="line">
			<span></span>
		</div>
	</header>
	<div class="shopTop clearfix">
					<div class="search clearfix">
						<label for="search-all">
							<input type="text" placeholder="请输入您想买的东西" ><i class="iconfont icon-msnui-find-bold"></i>
						</label><i class="iconfont  icon-icon--"></i><span>1</span>
					</div>
					<!-- 轮播图 -->
					<div id="myFocus"><!--焦点图盒子-->
						 <div class="loading"><img src="__PUBLIC__/Home/images/loading.gif" alt="请稍候..." /></div><!--载入画面(可删除)-->
						  <div class="pic"><!--图片列表-->
						  	<ul>
						        <li><a href="#1"><img src="__PUBLIC__/Home/images/1a.jpg" thumb="" alt="" text="" /></a></li>
						        <li><a href="#2"><img src="__PUBLIC__/Home/images/2a.jpg"  /></a></li>
						        <li><a href="#3"><img src="__PUBLIC__/Home/images/3a.jpg" /></a></li>
						        <li><a href="#4"><img src="__PUBLIC__/Home/images/4a.jpg" /></a></li>
						        <li><a href="#5"><img src="__PUBLIC__/Home/images/5a.jpg" /></a></li>
						  	</ul>
						  </div>
					</div>
				</div>

	<div id="content">


		<!-- 每日精选 -->
		<div id="dingdanAll">
			 <div class="goods" >
				<!-- /*所有商品*/ -->
				<div class="goodstitle">
					<h3><span>——</span> 特惠专区 <span>——</span></h3>
				</div>
				<div class="allgoods">
					<ul>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>

					</ul>
				</div>


			</div>
		</div>

		<!-- 母婴 -->
		<div id="dingdanDaifukuan">
			  <div class="goods" >
				<!-- /*所有商品*/ -->
				<div class="goodstitle">
					<h3><span>——</span> 特惠专区 <span>——</span></h3>
				</div>
				<div class="allgoods">
					<ul>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>

					</ul>
				</div>


			</div>
		</div>

		<!-- 美妆 -->
		<div id="dingdanDaifahuo">
			 <div class="goods" >
				<!-- /*所有商品*/ -->
				<div class="goodstitle">
					<h3><span>——</span> 特惠专区 <span>——</span></h3>
				</div>
				<div class="allgoods">
					<ul>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>

					</ul>
				</div>


			</div>
		</div>
		<!-- 家具家纺 -->
		<div id="dingdanDaishouhuo">
			  <div class="goods" >
				<!-- /*所有商品*/ -->
				<div class="goodstitle">
					<h3><span>——</span> 特惠专区 <span>——</span></h3>
				</div>
				<div class="allgoods">
					<ul>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>

					</ul>
				</div>


			</div>
		</div>
		<!-- 数码数据 -->
		<div id="dingdanDaipinglun">
			  <div class="goods" >
				<!-- /*所有商品*/ -->
				<div class="goodstitle">
					<h3><span>——</span> 特惠专区 <span>——</span></h3>
				</div>
				<div class="allgoods">
					<ul>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="__PUBLIC__/Home/images/goods1.png" alt="">
								<p>Jagabee 麦片套装</p>
								<b>¥ 89.00</b><i class="iconfont icon-gouwuchetianjia "></i><span class="iconfont "></span>
							</a>
						</li>

					</ul>
				</div>


			</div>
		</div>
	</div>

	<script>


		$(function(){
			// 订单状态
			var dingdanArr = ['#dingdanAll', '#dingdanDaifukuan','#dingdanDaifahuo','#dingdanDaishouhuo','#dingdanDaipinglun']

			// 订单状态
			var $tab = $(".tab");

			// 点击顶部导航栏，切换订单状态
			$tab.on("click",function(){

				// if($('#content>div').length != 0){
					$("#content")
					.css({height: dingdanArr[$(this).attr("index")]
						.height,
						overflowY: $(dingdanArr[$(this).attr("index")])[0].offsetHeight > $("#content")[0].offsetHeight
						? 'visible'
						: 'hidden'
					});

					// console.log( $(this).attr("index") );
					// console.log( $("#content")[0].offsetHeight );

					// }

					$("#content")
					.animate({left: '-'+ $(this).attr("index") +'00vw'});

					$("#line").css({left: $(this).attr("index")*2 + '0%'});

					// console.log($(this).attr("index"))
			});
		})

		// 轮播
		myFocus.set({
			id:'myFocus',//ID
			pattern:'mF_fancy'//风格
		});

	</script>
</body>
</html>
