<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
 	<!-- <link rel="stylesheet" href="https://at.alicdn.com/t/font_527495_v25vpfqtkjegsyvi.css"> -->
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/font-awesome.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/shop/index.css?v={{:time()}}">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/swiper-3.4.2.min.css">
	<title>商城首页</title>
	<script>
		var public = '__PUBLIC__';
		var shopurl = '{{:U("Home/Shop/index")}}';		// 商城主页
		var shoplist = '{{:U("Home/Shop/list")}}';		// 搜索列表页
		var shopdetail = '{{:U("Home/Shop/shoppingdetail")}}';	// 商品详情页
		var payConfirm = '{{:U("Home/Pay/payConfirm")}}';		// 订单支付页
		var category = '{{$category}}';	// 一级分类
        var getCart = '{{:U("shoppingCart/cart")}}';	// 购物车
        var getOrder = '{{:U("Home/PaymentSystem/information")}}';  // 生成订单号
	</script>
</head>
<body ontouchstart='console.log()'>
	<div class='shopindex'>
		<header id="header" :style='{display: tabclk == 3 || tabclk == 4 ? "none" : "flex"}'>
			<div class='search'>
				<span @click='searchFn(search)'>
					<img src="__PUBLIC__/Home/images/shop/search.png" alt="">
				</span>
				<input type="text" placeholder="请输入商品名称或者关键字"
				@keyup.enter='searchFn(search)' v-model='search'>
			</div>
		</header>
		<!-- 首页内容 -->
		<main id="container" :style='{display: tabclk == 1 ? "block" : "none"}'>
			<!-- 轮播图 -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" v-for='b in banner' :href='b.url' @click='bannerClk(b.url)'>
						<img :data-src="'/Uploads/'+b.pic" alt="">
					</div>
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination"></div>
			</div>
			<!-- 分类 -->
			<div class='menuBtn'>
				<a v-for='(m, index) in menuList' @click='menuBtnClk(index,m.name,m.id)'>
					<img :src="m.pic" alt="">
					<p v-text='m.name'></p>
				</a>
			</div>
			<ul class='mBlock' v-for='(b, index) in blockList' v-if='b["0"].length'>
				<h3 v-text='b.bname'>块标题</h3>
				<div>
					<a class='goods' v-for='m in b["0"]' :gid='m.id' @click='todetail(m.id)'>
						<img :data-src="m.gpic" alt="加载中...">
						<span v-text='m.name'>商品描述</span>
						<p><s v-text='m.prices'>划掉的价格</s></p>
						<b class='price'>￥<span v-text='m.price'>价格</span></b>
					</a>
				</div>
			</ul>
		</main>
		<!-- 分类内容 -->
		<ul class='category cfix' :style='{display: tabclk == 2 ? "block" : "none"}'>
			<li class='cleft fl'>
				<p v-for='cate in categoryList' 
				v-text='cate.name' 
				@click='getCate(cate, cate.id)'
				:class='{cateSelect: cateSelect == cate}'></p>
			</li>
			<li class='cright fr'>
				<div class="swiper-container1 adv">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for='a in categoryAdv' :href='a.link' @click='advClk(a.link)'>
							<img :data-src="a.pic" alt="加载中...">
						</div>
					</div>
					<!-- 如果需要分页器 -->
					<div class="swiper-pagination1"></div>
				</div>
				<div class='subBlock'>
					<p v-text='categoryTitle'></p>
					<ul>
						<li class='subtype' v-for='category in categoryContentList' 
						@click='subClick(category.id)'>
							<img :data-src="category.pic" alt="加载中...">
							<p v-text='category.name'></p>
						</li>
					</ul>
				</div>
				<div class='noCateContent' :style='{display: noCateContent ? "block" : "none"}' 
				v-text='noCateContent'>加载中...</div>
			</li>
		</ul>
		<!-- 购物车内容 -->
		<div class='cart' :style='{display: tabclk == 3 ? "block" : "none"}'>
			<ul class='cBlock cfix' v-for='(cart, index) in cartList' 
			@touchmove='slideDelete($event, cart.gid)'
			@touchend='slideEnd()'
			:gid='cart.gid'>
				<li class='fl' @click='cartSelect(cart.id, cart.gid, cart.price, index, cart.num, $event)'>
					<img src="__PUBLIC__/Home/images/shop/cart_none.png" alt="">
				</li>
				<li class='fr'>
					<span @click='todetail(cart.gid)'>
						<img :data-src="cart.gpic" alt="加载中">
					</span>
					<div>
						<h3 v-text='cart.name'>商品名称</h3>
						<p>
							<span v-for='c in JSON.parse(cart.csku)' v-text='c.pname+"|"+c.name+"，"'>商品规格</span>
						</p>
						<b class='cprice' v-text='"￥"+cart.price'>商品价格</b>
					</div>
					<p class='numbtn cfix'>
						<span class='fl' @click='numChange(-1,index,$event)'>-</span>
						<input class='fl' type="text" :value='cart.num' @keyup='numChange(11, index, $event)'>
						<span class='fl' @click='numChange(1,index,$event)'>+</span>
					</p>
				</li>
				<div class='deleteCart' @touchend='deleteCart(index, cart.id, $event)'><span>删除</span></div>
			</ul>
		</div>
		<footer id='footer' :style='{display: tabclk == 3 ? "none" : "flex"}'>
			<div @click='tabClick(1, "_home")'>
				<img :src="tabsrc[0]+'.png'" alt="">
				<p :style='{color: tabclk == 1 ? "#4D70FF" : "#333"}'>首页</p>
			</div>
			<div @click='tabClick(2, "category")'>
				<img :src="tabsrc[1]+'.png'" alt="">
				<p :style='{color: tabclk == 2 ? "#4D70FF" : "#333"}'>分类</p>
			</div>
			<div @click='tabClick(3, "cart")'>
				<img :src="tabsrc[2]+'.png'" alt="">
				<p :style='{color: tabclk == 3 ? "#4D70FF" : "#333"}'>购物车</p>
				<b class='cartnum' v-text='cartnum'>购物车数量</b>
			</div>
			<div @click='tabClick(4, "mine")'>
				<img :src="tabsrc[3]+'.png'" alt="">
				<p :style='{color: tabclk == 4 ? "#4D70FF" : "#333"}'>我的</p>
			</div>
		</footer>
		<!-- 购物车结算 -->
		<div class='cartCalc cfix' :style='{display: tabclk == 3 ? "block" : "none"}'>
			<div class='fl' @click='checkAll($event)'>
				<img src="__PUBLIC__/Home/images/shop/cart_none.png" alt="">
				<span>&emsp;全选</span>
			</div>
			<div class='fr'>
				<p v-text='"￥"+checkMoney'>金额总计</p>
				<div @click='goPay()'>
					去结算(<span v-text='checkNum'>数量</span>)
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/Home/js/swiper-3.4.2.min.js"></script>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
  	<script src="__PUBLIC__/Home/js/public.js?v={{:time()}}"></script>
  	<script src="__PUBLIC__/Home/js/shop/index.js?v={{:time()}}"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/Admin/layui/layui.js"></script>
	<script>
		// 刷新/后退,保持状态
		hashchangeFn(function(hash){
			var vm = shopindex;	// vue的实例
			// 首页_home, 分类category, 购物车cart, 我的mine
			for(var i=0; i<vm.srcArr.length; i++){
				vm.tabsrc.push(vm.srcArr[i])
			}
			if(hash.indexOf('_home') > 0){
				vm.tabClick(1, '_home');
				lazyLoad('#container');	// 图片懒加载
			}else if(hash.indexOf('category') > 0){
				vm.tabClick(2, 'category');
				lazyLoad('.category>.cright');	// 图片懒加载
			}else if(hash.indexOf('cart') > 0){
				vm.tabClick(3, 'cart');
				lazyLoad('.cart');	// 图片懒加载
			}else if(hash.indexOf('mine') > 0){
				vm.tabClick(4, 'mine');
			}else{
				// 首页
				vm.tabsrc[0] = vm.tabsrc[0];
			}
		})

		// 监听hashchange事件
		function hashchangeFn(callback) {
			var haschangeflag = false;
			window.addEventListener('hashchange', function(){
				haschangeflag = true;
				callback(location.hash);
			}, false);
			// console.log('haschangeflag: ',haschangeflag);
			// console.log('hash: ',location.hash);
			// 刷新保持
			if(!haschangeflag){
				callback(location.hash);
			}
		}
		
	</script>
</body>
</html>