<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
 	<!-- <link rel="stylesheet" href="https://at.alicdn.com/t/font_527495_v25vpfqtkjegsyvi.css"> -->
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/font-awesome.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/shop/index.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/swiper-3.4.2.min.css">
	<title>商城首页</title>
	<script>
		var public = '__PUBLIC__';
		var shopurl = '{{:U("Home/Shop/index")}}';
	</script>
</head>
<body>
	<div class='shopindex'>
		<header id="header" :style='{display: tabclk == 3 || tabclk == 4 ? "none" : "flex"}'>
			<div class='search'>
				<img src="__PUBLIC__/Home/images/shop/search.png" alt="">
				<input type="text" placeholder="请输入商品名称或者关键字">
			</div>
		</header>
		<!-- 首页内容 -->
		<main id="container" :style='{display: tabclk == 1 ? "block" : "none"}'>
			<!-- 轮播图 -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">Slide 1</div>
					<div class="swiper-slide">Slide 2</div>
					<div class="swiper-slide">Slide 3</div>
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination"></div>
			</div>
			<!-- 分类 -->
			<div class='menuBtn'>
				<a v-for='m in menuList'>
					<img :src="m.src" alt="">
					<p v-text='m.name'></p>
				</a>
			</div>
			<ul class='mBlock' v-for='(b, index) in blockList'>
				<h3 v-text='b.title'>块标题</h3>
				<div>
					<a class='goods' v-for='m in b.goods' :gid='m.gid' @click='todetail(m.gid)'>
						<img :data-src="m.src" src='' alt="加载中">
						<span v-text='m.desc'>商品描述</span>
						<b class='price'>￥<span v-text='m.price'>价格</span></b>
					</a>
				</div>
			</ul>
		</main>
		<!-- 分类内容 -->
		<ul class='classify cfix' :style='{display: tabclk == 2 ? "block" : "none"}'>
			<li class='cleft fl'>
				<p v-for='cate in classifyList' 
				v-text='cate.name' 
				@click='getCate(cate, cate.cid)'
				:class='{cateSelect: cateSelect == cate}'></p>
			</li>
			<li class='cright fr'>
				<div class='subBlock' v-for='c in classifyContentList'>
					<p v-text='c.title'></p>
					<ul>
						<li class='subtype' v-for='sub in c.subType' @click='subClick(sub.scid)'>
							<img :src="sub.src" alt="加载中">
							<p v-text='sub.name'></p>
						</li>
					</ul>
				</div>
			</li>
		</ul>
		<!-- 购物车内容 -->
		<div class='cart' :style='{display: tabclk == 3 ? "block" : "none"}'>
			<ul class='cBlock cfix' v-for='(cart, index) in cartList'>
				<li class='fl'>
					<img src="__PUBLIC__/Home/images/shop/cart_none.png" alt="">
				</li>
				<li class='fr'>
					<span @click='todetail(cart.gid)'>
						<img :data-src="cart.src" src='' alt="加载中">
					</span>
					<div>
						<h3 v-text='cart.name'>商品名称</h3>
						<p v-text='cart.attr'>商品规格</p>
						<b v-text='"￥"+cart.price'>商品价格</b>
					</div>
					<p class='numbtn cfix'>
						<span class='fl'>-</span>
						<input class='fl' type="text" :value='cart.num'>
						<span class='fl'>+</span>
					</p>
				</li>
			</ul>
		</div>
		<footer id='footer'>
			<div @click='tabClick(1, "_home")'>
				<img :src="tabsrc[0]+'.png'" alt="">
				<p :style='{color: tabclk == 1 ? "#4D70FF" : "#333"}'>首页</p>
			</div>
			<div @click='tabClick(2, "classify")'>
				<img :src="tabsrc[1]+'.png'" alt="">
				<p :style='{color: tabclk == 2 ? "#4D70FF" : "#333"}'>分类</p>
			</div>
			<div @click='tabClick(3, "cart")'>
				<img :src="tabsrc[2]+'.png'" alt="">
				<p :style='{color: tabclk == 3 ? "#4D70FF" : "#333"}'>购物车</p>
			</div>
			<div @click='tabClick(4, "mine")'>
				<img :src="tabsrc[3]+'.png'" alt="">
				<p :style='{color: tabclk == 4 ? "#4D70FF" : "#333"}'>我的</p>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="__PUBLIC__/Home/js/swiper-3.4.2.min.js"></script>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
  	<script src="__PUBLIC__/Home/js/public.js"></script>
  	<script src="__PUBLIC__/Home/js/shop/index.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
	<script>
		var mySwiper = new Swiper ('.swiper-container', {
			autoplay: 3000,
			loop: true,
			// 如果需要分页器
			pagination: {
				el: '.swiper-pagination',
			}
		}) 
	</script>
</body>
</html>