<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/shop/list.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/swiper-3.4.2.min.css">
	<title>分类详情</title>
	<script>
		var public = '__PUBLIC__';
		var shopurl = '{{:U("Home/Shop/index")}}';
	</script>
</head>
<body ontouchstart='console.log()'>
	<div class='categoryDetail'>
		<header id="header">
			<div class='search'>
				<img src="__PUBLIC__/Home/images/shop/search.png" alt="">
				<input type="text" placeholder="请输入商品名称或者关键字">
			</div>
		</header>
	</div>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
  	<script src="__PUBLIC__/Home/js/public.js"></script>
  	<script src="__PUBLIC__/Home/js/shop/list.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
	<script>

	</script>
</body>
</html>