<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/shop/list.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/swiper-3.4.2.min.css">
	<title>分类详情</title>
	<script>
		var public = '__PUBLIC__';
		var imgsrc = public + '/Home/images/shop/';
		var shopurl = '{{:U("Home/Shop/index")}}';
		var getGoodsList = '{{:U("Home/shop/getGoodsList")}}';
		var shopdetail = '{{:U("Home/Shop/shoppingdetail")}}';
		
		// 图片懒加载
		function lazyLoad(block){
			var block = document.querySelector(block);	// 图片所在区域
			var img = block.querySelectorAll('img[data-src]');
			// console.log('block: %s, img: %s', block, img);
			if(!img.length)	return;
			for(var i=0; i<img.length; i++){
				(function(img){
					setTimeout(function(){
						// console.log('img: ',img);
						var datasrc = img.getAttribute('data-src');
						var src = img.getAttribute('src');
						if(datasrc != src){
							img.setAttribute('src', datasrc);
						}
					},100);
				})(img[i])
			}
		}
	</script>
</head>
<body ontouchstart='console.log()'>
	<div class='categoryDetail'>
		<header id="header">
			<div class='search'>
				<img src="__PUBLIC__/Home/images/shop/search.png" alt="">
				<input type="text" placeholder="请输入商品名称或者关键字"
				v-model='search' @keyup.enter='searchFn(search)'>
			</div>
		</header>
		<ul class='filterBtnMenu cfix'>
			<li class='fl' @click='getSort(0)'>
				<span>时间</span>
				<img class='fimg' src="__PUBLIC__/Home/images/shop/arrow_down.png" alt="">
			</li>
			<li class='fl' @click='getSort(1)'>
				<span>人气</span>
				<img class='fimg' src="__PUBLIC__/Home/images/shop/arrow_empty.png" alt="">
			</li>
			<li class='fl' @click='getSort(2)'>
				<span>价格</span>
				<img class='fimg' src="__PUBLIC__/Home/images/shop/arrow_empty.png" alt="">
			</li>
			<li class='fl' @click='getSort(3)'>
				<span>销量</span>
				<img class='fimg' src="__PUBLIC__/Home/images/shop/arrow_empty.png" alt="">
			</li>
			<li class='fl'>
				<span>筛选</span>
				<img src="__PUBLIC__/Home/images/shop/filterbtn.png" alt="">
			</li>
		</ul>
		<div class='list'>
			<a link='{{:U("Home/Shop/shoppingdetail")}}' 
			:gid='s.id' v-for='s in searchList'
			@click='getDeatil(s.id)'>
				<img :data-src="s.gpic" alt="加载中...">
				<p v-text='s.name'></p>
				<span v-text='"￥"+s.price'></span>
			</a>
			<p class='loadText' v-text='loadText' :style='loadStyle'></p>
		</div>
	</div>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
  	<script src="__PUBLIC__/Home/js/public.js"></script>
  	<script src="__PUBLIC__/Home/js/shop/list.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
</body>
</html>