<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv='max-age' content='86400'>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/shop/detailx.css">
    
	<title>商品详情</title>
</head>
<body>
	<div class="main">
        <!-- 图片轮播 -->
        <div class="picLun"></div>
        <!-- 商品描述 -->
        <div class="goodsInfo">
            <div>
                <p>
                    <span>速腾智能净水机H款</span>
                    <span>全新智能升级的净水机</span>
                </p>
                <p>
                    <span>
                        <i>98%</i>
                        <i>好评率</i>
                    </span>
                    <span class="iconfont icon-right"></span>
                </p>
            </div>
            <div>
                <p>
                    <span><i class="iconfont icon-552cd51ece753"></i><i>1398</i></span>
                    <del><i class="iconfont icon-552cd51ece753"></i><i>1398.00</i></del>
                </p>
                <p>购买送1000银币</p>
            </div>
            <div>
                <p>
                    租赁价：<span><i class="iconfont icon-552cd51ece753"></i><i>300.00</i></span>/月
                </p> 
            </div>
            <div>
                <p>运费：<span>0.00</span></p>
                <p>广东 中山</p>
            </div>
        </div>
        <!-- 商品选项卡 -->
        <div class="switch">
            <ul class="titleKa">
                <li>商品详情</li>
                <li>产品规格</li>
                <li>售后服务</li>
                <li>用户评价</li>
            </ul>
            <ul class="contentKa">
                <li>
                    <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                    <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                    <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                    <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                    <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                    <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                    <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                    <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                    <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                    <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <!-- 底部固定 -->
        <div class="footer">
            <p><span class="iconfont icon-gouwuche"></span><i>16</i></p>
            <p>立即购买</p>
            <p>加入购物车</p>
        </div>
        <!-- 加入购物车 -->
        <div class="goCart">
            <div>
                <div class="goodsOne">
                    <p>
                        <img src="__PUBLIC__/Home/images/1a.jpg" alt="">
                    </p>
                    <div>
                        <p>商品编号：<span>123655487851245</span></p>
                        <p>
                            <span>价格<i class="iconfont icon-552cd51ece753"></i>1398.00</span>
                            <del><i class="iconfont icon-552cd51ece753"></i>1398.00</del>
                        </p>
                        <p>已选：<span>智能净水器A套餐</span></p>
                    </div>
                    <span class="iconfont icon-chacha"></span>
                </div>
                <!-- 规格 -->
                <div class="property">
                    <h3>规格</h3>
                    <ul class="am-avg-sm-3 am-thumbnails">
                        <li class="am-thumbnail"><span>集水器A</span></li>
                        <li class="am-thumbnail"><span>集水器A</span></li>
                        <li class="am-thumbnail"><span>集水器A</span></li>
                        <li class="am-thumbnail"><span>集水器A</span></li> 
                        <li class="am-thumbnail"><span>集水器A</span></li>
                    </ul>
                </div>
                <!-- 颜色 -->
                <div class="property">
                    <h3>颜色</h3>
                    <ul class="am-avg-sm-3 am-thumbnails">
                        <li class="am-thumbnail"><span>高雅白色</span></li>
                        <li class="am-thumbnail"><span>高雅白色</span></li>
                        <li class="am-thumbnail"><span>高雅白色</span></li>
                        <li class="am-thumbnail"><span>高雅白色</span></li> 
                        <li class="am-thumbnail"><span>高雅白色</span></li>
                    </ul>
                </div>
                <!-- 数量 -->
                <div class="numberDo">
                    <h3>数量</h3>
                    <div>
                        <span>-</span>
                        <span><input type="text" value="1"></span>
                        <span>+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src='__PUBLIC__/Home/js/vue.min.js'></script>
<script>
    var vm = new Vue({
        el: ".main",
        data() {
            return {
                
            }
        },
        methods: {

        },
    })
</script>
</html>
