<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
 	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
 	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop/detail.css">
	<title>商品详情</title>
</head>
<body>
	<input type="hidden" value='{{$sold_num}}' id="sold_num">
	<!-- <input type="hidden" value='{{$postage}}' id="postage"> -->
	<div class="shopdetailContain">
		<div class="detailTop">
			<!-- /*商品信息*/ -->
			<div>
				<!-- <div class="detailpic">
					<ul id='wrapul'>
						<li><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></li>
					</ul>
					<span class="picnum"><b>1</b><span></span></span>
				</div> -->
				<!-- /*商品说明*/ -->
				<!-- <div class="detailTxt">
					<span><b>￥5699.00</b><em>已售： 210</em></span>
					<p>尼康（Nikon）D3300 单反套机（AF-P DX 18- 55 mm/3.5-5.6G VR 防抖镜头</p>
					<em>送包、滤镜、存储卡、读卡器、清洁套装</em>
				</div> -->
			</div>
			<!-- /*商品数量，邮费*/ -->
		</div>
		<div class="detailContain">
			<!-- 个人评论标题 -->
			<div class="detailtitle"><p>——<b>商品口碑</b>——</p></div>
			<p><i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i><span>总评：4.9</span></p>
			<!-- 	/*个人评论内容*/ -->
			<div class="detailItemall">
				<!-- <div class="detailItem">
					<p><em><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></em><b>CICI</b></p>
					<p>宝贝好喜欢好喜欢</p>
					<span><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></span>
					<span><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></span>
					<span><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></span>
				</div>
				<div class="detailItem">
					<p><em><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></em><b>CICI</b></p>
					<p>宝贝好喜欢好喜欢</p>
				</div>  -->
				<!-- 隐藏的评论 -->
			</div>
			<div class="pinglunshow"><p>查看更多<span class="iconfont icon-shuangxiajiantou"></span></p></div>
		</div>
		<div class="shopdetailBott">
			<a href="{{:U('ShoppingCart/index')}}">
				<i class="iconfont icon-gouwuche"><span>{{$cartInfo}}</span></i>
			</a>
			<div>
				<div id="add2ShopCart">加入购物车</div>
				<input id="buyNow" type="button" value="立即购买">
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
  	<script src="__PUBLIC__/Home/js/public.js"></script>
  	<script src="__PUBLIC__/Home/js/shop/tmove.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
	<script>
	$(function(){
		// 首页按钮
		!function(){
			// 创建 a 标签
			var home = document.createElement('a');
			home.innerText = '首\n页';

			home.href = '{{:U("Home/Shop/index")}}';
			home.setAttribute("id", 'back2Home');

			// 添加到页面
			document.body.appendChild(home);
			home.onclick = function(){
				home.style.background = '#aaa';
			}
			return
			// console.log(home)
		}()
		// var postage = $("#postage").val();
		var sold_num = $('#sold_num').val();
		//清除历史发票信息sessionStorage
		sessionStorage.setItem("voiceArr", '');
		//显示购物车数量
		if(typeof Number($("#cartInfo").val()) == 'number'){
			$('.cartnum>span').text($("#cartInfo").val())

		}else{
			$('.cartnum>span').text(0);
		}

		//存放ajax请求成功返回的商品信息
		var goodsDetail;
		// 从地址栏URL中获取从商城首页点击的商品唯一id
		var goods_gid = location.search.substr(location.search.indexOf("=")+1);
		// console.log(goods_gid)
		var desc;
		var goodsPicArr = [];	//顶部图片浏览
		var picPathArr = []; 	//存放后台传过来的图片路径转换的数组
		var commPicArr = [];	//存储每条评论的图片
		var commentInfo_html = '';

		// ajax发送商品id查询商品详情
		$.ajax({
			url: '{{:U("Shop/goods_detail")}}',
			type: 'get',
			async: false,
			data: {'id': goods_gid},
			success: function(res){
				console.log('成功！ ',res);
				//显示购物车数量
				$(".icon-gouwuche>span").text(res.cartnum);
				goodsDetail = res.goodsDetail[0];
				var goodsDetail_html = ''
				desc = !goodsDetail.desc ? '商品暂无描述' : goodsDetail.desc;
				goodsDetail.attr = !goodsDetail.attr ? '' : goodsDetail.attr;
				// 商品图片
				goodsPicArr.push(goodsDetail.path);
				// 输出商品详情
				goodsDetail_html = '<div class="detailpic"><ul id="wrapul"></ul><span class="closepicshow">X</span><span class="picnum"><b>1</b><span></span></span></div>'+
					'<!-- /*商品说明*/ -->'+
					'<div class="detailTxt">'+
						'<span><b>￥'+ goodsDetail.price +'</b><em>已售： '+ sold_num +'</em></span>'+
						'<b>'+ goodsDetail.name +'</b>'+
						'<p></p>'+
						'<em>'+ goodsDetail.attr +'</em>'+
					'</div>'+
					'<!-- /*商品选择，数量，邮费*/ -->'+
					'<div class="detailist">'+
						'<p>'+
							'<span>数量</span>'+
							'<span class="num">'+
								'<input type="button" value="—" class="minus">'+
								'<input class="number" type="number" value="1" min="1" max="19" disabled>'+
								'<input type="button" value="+" class="plus">'+
							'</span>'+
						'</p>'+
					'</div>';
				// 将商品信息添加到页面
				$(".detailTop>div").html(goodsDetail_html);

				/* 顶部图片滑动部分 -- 开始 */
				$('.picnum>span').text('/'+ goodsPicArr.length);
				var goodsPicHTML = '';
				goodsPicArr.map(function(value,index){
					goodsPicHTML += '<li><img src="/Uploads/'+ value +'" alt=""></li>';
				})
				$('.detailpic>ul').html(goodsPicHTML);
				// 设置图片宽度
				$('.detailpic>ul')[0].style.width = goodsPicArr.length*100 + '%';
				$('.detailpic>ul').find('li').css({width: 100/goodsPicArr.length + '%'});
				var wrapul = document.getElementById('wrapul');
				var oldclass = wrapul.parentNode.getAttribute('class');
				var wrapli = wrapul.getElementsByTagName('li');
				// 点击查看图片
				for(var i=0; i<wrapli.length; i++){
					wrapli[i].setAttribute('style','width:100vw;');
					wrapli[i].onclick = function(){
						// console.log(oldclass);
						$('.closepicshow').show();
						wrapul.parentNode.setAttribute('class',oldclass + ' fullscreen');
						
					}
				}
				// 关闭图片查看
				$('.detailpic').on('click','.closepicshow', function(){
					wrapul.parentNode.setAttribute('class',oldclass);
					$(this).hide();
				})
				var imgScale = null;
				// 实例化滑动
				var move = new tMove({
					elem: wrapul, 
					lilen: wrapli.length,
					scale: true
				},function(res){
					// 当前页数
					var nowpic = Math.abs(res.offleft/window.innerWidth);
					// console.log('nowpic: ', nowpic);
					if(res.scale){
						console.log('双击', res);
						// 当前图片
						var imgnow = res.elem.childNodes[nowpic];
						var oldstyle = 'width:'+ imgnow.style.width +';';
						console.log('imgnow: ', imgnow);
						// 放大缩小
						if(!imgScale){
							imgnow.setAttribute('style',
								oldstyle + 'transform:scale(4);transform-origin:'+
								res.posX + 'px ' + res.posY + 'px;'
							);
							imgScale = true;
						}else{
							imgnow.setAttribute('style',
								oldstyle + 'transform:scale(1);'
							);
							imgScale = null;
						}
						return
					}else {
						// offleft为零则第一张
						nowpic = res.offleft == 0 ? 1 : nowpic+1;
						// 显示当前页数
						$('.picnum>b').text(Math.round(nowpic));
						return
					}
					
				});
				/* 顶部图片滑动部分 -- 结束 */

				// console.log(picPathArr, '\n', commPicArr);
				// 遍历评论列表的每个评论的图片
				for(var m=0; m<commPicArr.length; m++){
					for(var n=0; n<commPicArr[m].length; n++){
						// console.log('468: ', commPicArr[m][n].img)
						$(".detailItem").eq(m).append(commPicArr[m][n].img)
					}
				}
				// 只显示2条评论
				var _length=$('.detailItem').length;
				if (_length>2) {
					$('.detailItem').css('display','none');
					$('.detailItem:nth-child(1)').css('display','block');
					$('.detailItem:nth-child(2)').css('display','block');
				}
			},
			error: function(res){
				console.log('失败！ ',res)
			}
		})
		
		// 请求评论数据
		$.ajax({
			url: '{{:U("Home/comment/getComments")}}',
			type: 'get',
			// data: {gid: goods_gid},
			data: {gid: goods_gid},
			success: function(res){
				console.log('请求评论成功： ',res);

				// 如果有评价则遍历出来
				if(res.data.length){
					if(res.data.length > 1){		// 有多条评论
						for(var i=0; i<res.data.length; i++){
							commPicArr[i] = []; //初始化
							if(res.data[i].user == null) {
								var nickname = '不知道是谁';
								var head = '';
							}else {
								var nickname = res.data[i].user.nickname == null ? '不知道是谁' : res.data[i].user.nickname;
								var head = !res.data[i].user.head ? '' : res.data[i].user.head;
							}
							var content = !res.data[i].content ? '该用户暂未评论' : res.data[i].content;
							commentInfo_html += '<div class="detailItem">'+
								'<p><em><img src="'+ head +'" alt=""></em><b>'+ nickname +'</b></p>'+
								'<p>'+ content +'</p>'+
								'<div></div>'+
							'</div>';
							// 存储每条评论的图片
							picPathArr = res.data[i].pics;
							for(var k=0; k<picPathArr.length; k++){
								commPicArr[i].push({'img':'<span><img class="commPic" src="'+ picPathArr[k].path +'" alt="图片加载中"></span>'});
							}
							
						}
					}else if(res.data.length == 1){		// 只有1条评论
						var nickname = res.data[0].user.nickname == null ? '不知道是谁' : res.data[0].user.nickname;
						var content = !res.data[0].content ? '该用户暂未评论' : res.data[0].content;
						var head = !res.data[0].user.head ? '' : res.data[0].user.head;
						commentInfo_html += '<div class="detailItem">'+
							'<p><em><img src="'+ head +'" alt=""></em><b>'+ nickname +'</b></p>'+
							'<p>'+ content +'</p>'+
							'<div></div>'+
						'</div>';
						// 存储每条评论的图片
						picPathArr = res.data[0].pics;
						for(var j=0; j<res.data.length; j++){
							commPicArr[j] = [];
							for(var k=0; k<picPathArr.length; k++){
								commPicArr[j].push({'img':'<span><img class="commPic" src="'+ picPathArr[k].path +'" alt=""></span>'});
							}
						}
						// console.log(commPicArr);
					}

				}else{
					commentInfo_html = '<div style="padding:10px 0;text-align:center;">暂无评价</div>';
				}

				// 将评价添加到页面
				$(".detailItemall").append(commentInfo_html);
				// console.log(commPicArr);
				var picHTML = '';
				//	遍历评论的图片
				for(var i=0; i<commPicArr.length; i++){
					picHTML = '';	// 初始化
					// 遍历多条评论的多个图片
					for(var j=0; j<commPicArr[i].length; j++){
						// console.log(commPicArr[i][j]);
						picHTML += commPicArr[i][j].img;
					}
					// 各自评论的图片放到对应位置
					$('.detailItemall .detailItem').eq(i).find('div').html(picHTML);
				}
			},
			error: function(err){
				console.log('请求失败： ',err);
			}
		})
		

		//处理后台传过来的转义字符
		var escape2Html = function(str) {
			 var arrEntities={'lt':'<','gt':'>','nbsp':' ','amp':'&','quot':'"'};
			 return str.replace(/&(lt|gt|nbsp|amp|quot);/ig,function(all,i){
			 	return arrEntities[i];
			 });
		};
		var price;
		/*
			 按加'+'号
		 */
		$(".shopdetailContain").on("touchend",'.plus',function(){
			price = 0;	//合计归零，后面重新计算
			// 获取数量
			var value = $(".number").val();
			$(this).siblings(".number")[0].value++;

		});
		/*
			按减'-'号
		 */
		$(".shopdetailContain").on("touchend",".minus",function(){
			price = 0;	//合计归零，后面重新计算
			// 获取数量
			var value = $(".number").val();
			for(var i=0; i<$(this).siblings(".number").length; i++){
				$(this).siblings(".number").val() <= 1
				? 1
				: $(this).siblings(".number")[i].value--
			}
			// console.log($(this).siblings(".number")[0].value);

		});
		// 点击‘更多’展开评论或者收起
		$('.pinglunshow>p').click(function(){
			// console.dir($(this).find("span").attr('class'));
			var _class=$(this).find("span").attr('class');

			if(_class=='iconfont icon-shuangxiajiantou'){
				// $('.detailItem:nth-of-type(1)').css('display','block');
				$('.detailItem').slideDown('slow');

				$(this).find("span").removeClass('iconfont icon-shuangxiajiantou').addClass('iconfont icon-xiangshangjiantou');

			}else{
				$(this).find("span").removeClass('iconfont icon-xiangshangjiantou').addClass('iconfont icon-shuangxiajiantou');

				$('.detailItem').slideUp('fast');

				// $('.detailItem').eq(0).slideDown('slow');
				// $('.detailItem').eq(1).slideDown('slow');
				$('.detailItem').eq(0).css('display','block');
				$('.detailItem').eq(1).css('display','block');

			}
		})

		/*
			点击‘加入购物车’
		 */
		$("#add2ShopCart").click(function(){
			

			var num = $(".number").val();	//选择的数量
			var addtime = new Date().getTime();	//添加进购物车的时间
			// var expressMoney = $(".postagename").text();	//快递费
			// var expressMoney = goodsCourier[postageNum];	//快递费goodsCourier[postageNum]
			/*
				goods_gid:商品唯一ID
				num: 商品数量
			 */
			var data = JSON.stringify([{'gid':goods_gid,'num':num}])
			console.log(data)
			$.ajax({
				url: '{{:U("ShoppingCart/shopAdd")}}',
				type: 'post',
				data: {'gid': goods_gid,'num':num},
				success: function(res){
					console.log('成功！ ', res)
					//更新购物车数量
					$('.icon-gouwuche>span').text(res);
					sessionStorage.setItem('cartnum', res);
	       			parent.layer.msg('添加成功！');
				},
				error: function(res){
					console.log('失败！ ', res)
	       			parent.layer.msg('添加失败！');
				}
			})
		})

		/*
			点击‘立即购买’
		 */
		$("#buyNow").click(function(){
			//清除其他页面的sessionStorage
			sessionStorage.setItem("lvxinData", '');
			sessionStorage.setItem("shopCar_data", '');
			var num = $(".number").val();	//选择的数量
			// var expressMoney = $(".postagename").text();	//快递费
			// var postageInfo = goodsCourier[postageNum];
			/*
				goods_gid:商品唯一ID
				num: 商品数量
				uid: 用户id
			 */
			var goods_data = JSON.stringify({'goodsDetail': goodsDetail,'num': num});
			sessionStorage.setItem("goods_data",goods_data);
			//发送给后台生成订单编号的数据
			var goods_dataArr = [];
			var money = num*(goodsDetail.price);	//订单总价
			goods_dataArr.push({'num':num,'gid': goodsDetail.gid,'money': money});

			sessionStorage.setItem("goods_dataArr",JSON.stringify(goods_dataArr));
			// console.dir(goods_dataArr);return false;

			// 发送ajax请求让后台生成订单号
			$.ajax({ 
				url: '{{:U("PaymentSystem/information")}}',
				type: 'post',
				data: {'data': JSON.stringify(goods_dataArr)},
				success: function(res){
					console.log('成功！', res);
					sessionStorage.setItem('order_id',res);
					if(typeof JSON.parse(res) == 'number'){
						alert('{{:U("Pay/payConfirm/order_id/'+res+'")}}')

						// 跳转到订单确认页面
						location.href = '{{:U("Pay/payConfirm/order_id/'+res+'")}}';
					}else{
						//支付发生错误，无法生成订单号
						parent.layer.msg('系统发生错误，请稍后再试！');
					}
				},
				error: function(res){
					console.log('失败！', res);
				}
			})
		})






	})

	</script>
</body>
</html>
