<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv='max-age' content='86400'>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/shop/detailx.css?v={{:time()}}">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/swiper-3.4.2.min.css">
    <title>商品详情</title>
    <script>
        var public = "__PUBLIC__";
        var getDetailURL = '{{:U("Home/Shop/goodsDetail")}}';   // 获取商品详情数据
        var shopindex = '{{:U("Home/Shop/index")}}';        // 首页
        var getStock = '{{:U("Home/shop/checkGoodsStock")}}';  // 查库存
        var getOrder = '{{:U("Home/PaymentSystem/information")}}';  // 生成订单号
        var payConfirm = '{{:U("Home/Pay/payConfirm")}}';  // 订单确认页面
        var shopAdd = '{{:U("shoppingCart/shopAdd")}}';
    </script>
</head>
<body>
	<div class="main">
        <!-- 图片轮播 -->
        <div class="swiper-container picLun">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for='g in goodsInfo.pic' v-if='g'>
                    <div class='swiper-zoom-container'>
                        <img :data-src="g" :src='g' alt="">
                    </div>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- 商品描述 -->
        <div class="goodsInfo">
            <div>
                <p>
                    <span v-text='goodsInfo.name'>速腾智能净水机H款</span>
                    <span v-html='goodsInfo.desc'>全新智能升级的净水机</span>
                </p>
                <p>
                    <span>
                        <i v-text='goodsInfo.rate'>98%</i>
                        <i>好评率</i>
                    </span>
                    <span class="iconfont icon-right"></span>
                </p>
            </div>
            <div>
                <p>
                    <span><i class="iconfont icon-552cd51ece753"></i><i v-text='goodsInfo.price'>1398</i></span>
                    <del><i class="iconfont icon-552cd51ece753"></i><i v-text='goodsInfo.prices'>1398.00</i></del>
                </p>
                <p v-text='goodsInfo.subjoin'>购买送1000银币</p>
            </div>
            <div>
                <p>
                    <!-- 租赁价：<span><i class="iconfont icon-552cd51ece753"></i><i v-text='goodsInfo.leasePrice'>300.00</i></span>/月 -->
                </p> 
            </div>
            <!-- <div>
                <p>运费：<span v-text='goodsInfo.postage'>0.00</span></p>
                <p v-text='goodsInfo.address'>广东 中山</p>
            </div> -->
        </div>
        <!-- 商品选项卡 -->
        <div class="switch">
            <ul class="titleKa" @click="chooice($event)">
                <li><span index="0">商品详情</span></li>
                <li><span index="1">产品规格</span></li>
                <li><span index="2">售后服务</span></li>
                <li><span index="3">用户评价</span></li>
                <!-- <span class="line"></span> -->
            </ul>
            <ul class="contentKa">
                <!-- 商品详情 -->
                <li v-if="DisFlag == 0">
                    <div v-html='goodsInfo.desc'></div>
                    <!-- <img v-for="goodetails in goodDetail" :src="goodetails.src" alt=""> -->
                </li>
                <!-- 产品规格 -->
                <li v-if="DisFlag == 1">
                    <div v-html='goodsInfo.specs'></div>
                    <!-- <img v-for="product in products" :src="product.src" alt=""> -->
                </li>
                <!-- 售后服务 -->
                <li v-if="DisFlag == 2">
                    <div v-html='goodsInfo.saleservice'></div>
                </li>
                <!-- 用户评价 -->
                <li v-if="DisFlag == 3">

                </li>
            </ul>
        </div>
        <!-- 底部固定 -->
        <div class="footer">
            <p @click='cart'>
                <a href="javascript:;">
                    <span class="iconfont icon-gouwuche"></span><i v-text='goodsInfo.cartNum'>16</i>
                </a>
            </p>
            <p @click="buyNow(true)">立即购买</p>
            <p @click="addCart(true)">加入购物车</p>
        </div>
        <!-- 加入购物车 -->
        <div class="goCart">
            <div>
                <div class="goodsOne">
                    <p>
                        <!-- <img :src="goodsInfo.pic[0]" alt=""> -->
                    </p>
                    <div>
                        <p v-if="false"><span>商品编号：</span><span>123655487851245</span></p>
                        <p class="goodD">
                            <span>价格
                                <i class="iconfont icon-552cd51ece753"></i>
                                <i v-text="goodsInfo.price"></i>
                            </span>
                            <del>
                                <i class="iconfont icon-552cd51ece753"></i>
                                <i v-text='goodsInfo.prices'></i>
                            </del>
                        </p>
                        <p>已选：<span v-for='c in checkList'>
                            <span v-if='c' v-text='c.pname+"|"+c.name+","'>智能净水器A套餐</span></span>
                        </p>
                    </div>
                    <span class="iconfont icon-chacha" @click="closePanel(false)"></span>
                </div>
                <!-- 规格 -->
                <div class="property" v-for='(g, index) in goodsInfo.attr'>
                    <h3 v-text='g.name'>规格</h3>
                    <ul class="am-avg-sm-3 am-thumbnails">
                        <li class="am-thumbnail" v-for="gl in g.list" >
                            <span :glid='gl.id' :pname='gl.pname' v-text="gl.name" @click="choice(index, gl.id,gl.pname,gl.name,$event)"></span>
                        </li>
                    </ul>
                </div>
                <!-- 数量 -->
                <div class="numberDo">
                    <h3>数量</h3>
                    <div>
                        <span @click="numjisuan('reduce')">-</span>
                        <span><input type="text" value="1" v-model='numVal'></span>
                        <span @click="numjisuan('add')">+</span>
                    </div>
                </div>
                <!-- 确认 -->
                <div class="confirmBtn">
                    <p @click="conPay">确认</p>
                </div>
            </div>
        </div>
    </div>
	<script type="text/javascript" src="__PUBLIC__/Home/js/swiper-3.4.2.min.js"></script>
    <script src='__PUBLIC__/Home/js/vue.min.js'></script>
    <script src='__PUBLIC__/Home/js/public.js?v={{:time()}}'></script>
    <script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
    <script src="__PUBLIC__/Home/js/shop/shopdetailx.js?v={{:time()}}"></script>
    <script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/Admin/layui/layui.js"></script>
    <script>
        
		// 图片懒加载
		function lazyLoad(block){
			var block = document.querySelector(block);	// 图片所在区域
			var img = block.querySelectorAll('img[data-src]');
			// console.log('block: %s, img: %s', block, img);
			if(!img.length)	return;
			for(var i=0; i<img.length; i++){
				(function(img){
					setTimeout(function(){
						// console.log('img: ',img);
						var datasrc = img.getAttribute('data-src');
						var src = img.getAttribute('src');
						if(datasrc != src){
							img.setAttribute('src', datasrc);
						}
					},200*i);
				})(img[i])
			}
		}
    </script>
</body>
</html>
