
body{
	font-size: .7rem;
}
.memberTop{
	 width: 90%;
	 height: 2.8rem;
	 padding:10% 5%;
	 background: linear-gradient(to right, #3B90E1, #76F5E4); 
}
.myMember{
	width: 100%;
	height: 100%;
}
.myMember h3{
	font-size: 0.8rem;
}
.myMember h3 span{
	margin-left: 0.2rem;
}
.iconMember{
	margin:0.933333rem 0;
}
.iconMember span{
	font-size: 0.666667rem;
}
.iconMember span b em{
	margin-left: 0.2rem;
}
.iconMember span p{
	display: inline-block;
}
.iconMember>.spanRight{
	margin-left: 1.5rem;
}
.memberFoot p{
	display: block;
	width: 90%;
	height: 2rem;
	padding:0 5%;
	line-height: 2rem;
	background: #F6F6F6;
}
.memberFoot p span{
	display: inline-block;
	width: 22%;
	text-align: center;

}
.memberFoot ul{
	width: 100%;
	
}
.memberFoot ul li{
	width: 90%;
	padding: 0 5%;
	display: block;
	height: 2rem;
	line-height: 2rem;
	border-bottom: 1px solid #F6F6F6;
}
.memberFoot>ul>li>span{
	width: 22%;
	display: inline-block;
	text-align: center;
	overflow: hidden!important;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.memberFoot ul li span:last-child{
	float: right;
	font-size: 0.6rem;
	width: 30%;
}
.memberFoot ul li span.iconBig{
	font-size: 0.6rem;
	font-weight: 600;
	letter-spacing: 0.02rem;
}
.memberFoot ul li span b{
	margin-left: 0.26rem
}

/*会员订单没有相关记录*/
.nomemberFoot {
	margin:8.0rem auto 0;
	width: 40%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
}