<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
  <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
  <script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
  <script src="__PUBLIC__/Home/js/public.js"></script>
  <style>
    body{
      font-size: 0.7rem;
    }
    .manageCard{
      position: relative;
    }
    .noContain{
      width: 45%;
      height:6rem;
      margin:7rem auto 0;
      text-align: center;
    }
  
    .noContain p{
      line-height: 3rem;
      font-size: 0.72rem;
      font-weight: 500;
      color: #5a5a5a;
    }
     .noContain p i{
      font-size: 4rem;
      color: #32C97C;
     }
  </style>
  <script>
     
  </script>
</head>
<body>
    <div class="manageCard">
        <div class="noContain">
           <p><i class="iconfont icon-chenggong"></i></p>
           <p>绑定成功</p>
        </div>
    </div>
</body>
</html>                                                                                                                                                                                                                                                                      