<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta charset="UTF-8">
	<title>退款商品</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/refund/applicRefund.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_527495_p8cbsn51ch2utyb9.css">
	<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
</head>
<body>
	<form class="appContainall" id="form">
		<div class="appContain">
			<h3>退款商品</h3>
			<div class="itemContain clearfix">
			</div>
			<!-- list -->
			<div class="applist">
				<p class="clearfix"><b>商品状态</b><span>
					<select class="method">
					   <option value ="volvo">请选择</option>
					   <option value ="volvo">仅退款(未发货)</option>
					   <option value ="saab">退货退款(已收到货)</option>
					</select>   				
				</span></p>
				<p class="clearfix"><b>退款原因</b><span>
					<select class="reason">
					   <option value ="volvo">请选择</option>
					   <option value ="volvo">质量问题退货</option>
					   <option value ="saab">选拍错了</option>
					   <option value ="saab">其他原因</option>
					</select>   
				</span></p>
				<label for="Laddr">
	              <p><b>退款说明：</b><i>*</i></p>
	              <textarea name="" id="Laddr" cols="30" rows="10" placeholder=""></textarea>
	            </label>
				<p class="tuikuang clearfix "><b>退款金额：</b><em class="money"></em><span class="yuanzhifu">回原支付方式</span></p>
			</div>
			<!-- /*图片上传*/ -->
			<div class="sendpic">
				<p><b>上传凭证</b></p>
				<div class="picBtn">
					<i class="iconfont icon-tianjia"></i>
					<span>限3张内</span>
					<input class="file_upload" type="file" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg">
					<div id="picShow"></div>
				</div>
			</div>	
		</div>

		<div class="appFoot">
			<input type="button" value="提交">
		</div>
		
	</form>
  	<script src="__PUBLIC__/Home/js/upFile.js"></script>
	<script>
		$(function(){
			// 首页按钮
			!function(){
				// 创建 a 标签
				var home = document.createElement('a');
				home.innerText = '首\n页';
				
				home.href = '{{:U("Home/VipCenter/index")}}';
				home.setAttribute("id", 'back2Home');

				// 添加到页面
				document.body.appendChild(home);
				home.onclick = function(){
					home.style.background = '#aaa';
				}
				return
				// console.log(home)
			}()
		})
		var goodsInfo = JSON.parse(sessionStorage.getItem("goodsInfo"));
		console.log(goodsInfo);
		// 商品 id 集合
		var gidArr = [];
		for(var i=0; i<goodsInfo.length; i++){
			gidArr.push(goodsInfo[i].gid);
		}
		var order_status;
		if(sessionStorage.getItem('order_status')){
			order_status = sessionStorage.getItem('order_status');

			if(order_status == 2){	// 待收货

			}else if(order_status == 9){	// 待发货
				// 不显示退货退款选项
				$('.method>option').eq(2).hide();
			}
		}
		// console.log(gidArr);
		/*
			遍历数据
		 */
		var html = '';
		var money = 0;
		$.each(goodsInfo, function(index, value){
			// console.log(index, value)
			// 遍历数据
			html += '<div class="item clearfix">'+
					'<div class="appLeft">'+
						'<span><img src="'+ value.path +'" alt=""></span>'+
					'</div>'+
					'<div class="appRight">'+
						'<h4>'+ value.title +'</h4>'+
						 '<div class="changTxt">'+ value.brief +'</div>'+
						'<p><b>￥'+ value.price +'</b><span>X'+ value.num +'</span></p> '+
					'</div>'+
				'</div>';
				// 统计金额
				money += Number(value.price)*Number(value.num);
		})
		// console.log(money)
		$(".money").text('￥' + money);
		// 添加到页面
		$(".itemContain").html(html);
		/*
			点击 ’商品状态-选择‘
		 */
		$(".sendpic").hide();	// 默认不需要图片凭证
		var method_index;	//商品状态选择的 第几个状态
		// var formData = new formData();
		// 图片选择
		$('.method').on('change', function(){
			method_index = $(this)[0].selectedIndex;
			console.log(method_index)
			// 仅退款（未发货）
			if(method_index == 1){	// 不需要图片凭证
				$(".sendpic").hide();

			}else if(method_index == 2 || method_index == 3){	// 需要图片凭证
				$(".sendpic").show();

			}
		})
		/*
			点击提交
		 */
		 $(".appFoot").click(function(){
		 		/*
			 		method: 商品状态，
			 		reason: 退款原因，
			 		description: 退款说明，
			 		gid: 商品 id
		 	 	*/ 
		 	var method = $(".method>option:selected");
		 	var reason = $(".reason>option:selected");
		 	var description = $("#Laddr").val();
		 	var gid = gidArr;
		 	// console.log(gid)
		 	//	清空， 防止多次点击
		 	formData.delete('gid[]');
		 	formData.delete('order_id');
		 	formData.delete('method');
		 	formData.delete('reason');
		 	formData.delete('description');
		 	formData.delete('num');
		 	formData.delete('price');
		 	formData.delete('total_amount');
 
		 	//重新赋值
		 	for(var i=0; i<gid.length; i++){

		 		formData.append('gid[]', gid[i]);
		 	}
		 	formData.append('order_id', goodsInfo[0].order_id);
		 	formData.append('method', method[0].index);
		 	formData.append('reason', reason[0].index);
		 	formData.append('description', description);
		 	formData.append('num', goodsInfo[0].num);
		 	formData.append('price', goodsInfo[0].price);
		 	formData.append('total_amount', money);

		 	if(method[0].index != 0 && reason[0].index != 0 && description){
		 		// 需要图片凭证
		 		if(formData.getAll('UploadForm[]').length <= 0 && method_index == 2 || method_index == 3){
					parent.layer.msg('请上传凭证！');
		 			return false;	
			 	}
		 		console.log('通过!');

			 	console.log('order_id: ',formData.getAll('order_id'));
			 	console.log('gid[]: ',formData.getAll('gid[]'));
			 	console.log('num: ',formData.getAll('num'));
			 	console.log('price: ',formData.getAll('price'));
			 	console.log('method: ',formData.getAll('method'));
			 	console.log('reason: ',formData.getAll('reason'));
			 	console.log('description: ',formData.getAll('description'));
			 	console.log('total_amount: ',formData.getAll('total_amount'));
			 	console.log('UploadForm[]: ', formData.getAll('UploadForm[]'));
		 		/*
		 			提交给后台
		 	 	*/
		 	 	$.ajax({
		 	 		url: '{{:U("Home/Refund/create")}}',
		 	 		type: 'post',
		 	 		data: formData,
		 	 		cache: false,
		 	 		processData: false,
		 	 		contentType: false,
		 	 		success: function(res){
		 	 			console.log('请求成功！', res);
		 	 			if(res.code == 200){	//提交成功
		 	 				parent.layer.msg('提交成功！');
		 	 				setTimeout(function(){
		 	 					history.replaceState({}, null, '{{:U("VipCenter/index")}}');
		 	 					location.href = '{{:U("Order/index")}}'+'?tab=4';
		 	 				},500)
		 	 			}
		 	 		},
		 	 		error: function(res){
		 	 			console.log('请求失败！', res)
		 	 		}
		 	 	})
			}else if(method[0].index == 0){	//未选择

				parent.layer.msg('请选择商品状态！');
			 	console.log('请选择商品状态！');
			 	return false;

			}else if(reason[0].index == 0){	//未选择
				parent.layer.msg('请选择退款原因！');
			 	console.log('请选择退款原因！');
			 	return false;

			}else if(!description){
				parent.layer.msg('请填写退款说明！');
			 	console.log('请填写退款说明！');
			 	return false;

			}else if(formData.getAll('UploadForm[]').length <= 0 && method_index == 2 || method_index == 3){
				parent.layer.msg('请上传凭证！');
			}
		 	
		 })
	</script>
</body>
</html>