<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>选择退款商品</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/refund/choiceRefund.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
	<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<style>
		.appRight>.changTxt{
			padding: 2% 0;
			line-height: 1rem;
		}
	</style>
</head>
<body>
	<div class="appContain">
		<!-- <div class="item clearfix">
			<div class="appLeft">
				<i class="iconfont confont icon-kuang1" gid="73"></i>
				<span><img src="__PUBLIC__/Home/images/ro_01_03.png" alt=""></span>
			</div>
			<div class="appRight">
				<h4>RO膜</h4>
				 <div class="changTxt">
					RO膜能够有效地去除水中钙、 镁、细菌、有机物、无机物、金 属离子和放射性物质属离子性物质属离子离子性物质属离子
				</div>
				<p><b>￥120.00</b><span>X1</span></p> 
			</div>
		</div> -->
	</div>
	<div class="appFoot">
		<span><i class="iconfont icon-kuang1"></i>全选</span><input type="submit" value="确定" class="selected">
	</div>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
	<script>
		$(function(){
			// 首页按钮
			!function(){
				// 创建 a 标签
				var home = document.createElement('a');
				home.innerText = '首\n页';
				
				home.href = '{{:U("Home/VipCenter/index")}}';
				home.setAttribute("id", 'back2Home');

				// 添加到页面
				document.body.appendChild(home);
				home.onclick = function(){
					home.style.background = '#aaa';
				}
				return
				// console.log(home)
			}()
		})
		// 订单编号
		var order_id = location.search.substr(location.search.indexOf('=')+1);
		console.log(order_id)
		
		// 存放当前订单商品
		var refundHTML = '';
		/*
			根据 订单号 请求商品数据
		 */ 
		$.ajax({
			url: '{{:U("Home/Order/choiceRefund")}}',
			type: 'post',
			async: false,
			data: {orderid: order_id},
			success: function(res){
				console.log('请求成功！',res);
				if(res.code == 200){
					for(var i=0; i<res.data.length; i++){

						var productbrief = res.data[i].productbrief ? res.data[i].productbrief : '暂无描述';
						var skuattr = JSON.parse(res.data[i].gsku);
						var attr = '';
						for(var j=0; j<skuattr.length; j++){
							attr += skuattr[j].pname+"|"+skuattr[j].name+"，";
						}
						attr = attr.substr(0,attr.length-1);
						var img = res.data[i].gpic || res.data[i].orderimg;
						refundHTML += '<div class="item clearfix">'+
								'<div class="appLeft">'+
									'<i class="iconfont icon-xuanze" gid="'+ res.data[i].gid +'" price="'+ res.data[i].price +'" num="'+ res.data[i].productnumber +'" path="'+ res.data[i].gpic +'"></i>'+
									'<span><img src="'+ img +'" alt=""></span>'+
								'</div>'+
								'<div class="appRight">'+
									'<h4 class="title" text="'+ res.data[i].productname +'">'+ res.data[i].productname +'</h4>'+
									 '<p class="changTxt">'+ attr +'</p>'+
									'<p><b>￥'+ res.data[i].price +'</b><span>X'+ res.data[i].productnumber +'</span></p>'+
								'</div>'+
							'</div>';
					}
					// console.log(refundHTML);
					//将数据添加到页面
					$('.appContain').append(refundHTML);
				}else{
					parent.layer.msg('订单正在退款中，请耐心等待商家处理...');
					console.log('遇到问题!');
				}
			},
			error: function(res){
				console.log('请求失败！',res);
			}
		})
		
		// 选中框
		$('.item>.appLeft>i').click(function(){
			var _class=$(this).attr('class');
			if(_class=='iconfont icon-xuanze'){
				$(this).removeClass('iconfont icon-xuanze').addClass('iconfont icon-kuang1');
			}else{
				$(this).removeClass('iconfont icon-kuang1').addClass('iconfont icon-xuanze');	
			}
		})
		// 全选事件
		$('.appFoot>span>i').click(function(){
			var _quanclass=$(this).attr('class');
			
			if(_quanclass=='iconfont icon-kuang1'){
				$(this).removeClass('iconfont icon-kuang1').addClass('iconfont icon-xuanze');
				var _class=$('.item>.appLeft>i').attr('class');
				$('.item>.appLeft>i').removeClass(_class).addClass('iconfont icon-xuanze');
			}else{
				$(this).removeClass('iconfont icon-xuanze').addClass('iconfont icon-kuang1');
				var _class=$('.item>.appLeft>i').attr('class');
				$('.item>.appLeft>i').removeClass(_class).addClass('iconfont icon-kuang1')
			}	
		})
		/*
			点击确定
		 */ 
		$(".selected").click(function(){
			/*
				order_id: 订单编号
				title: 商品名称,
				path: 图片路径,
				gid: 商品id,
				price: 商品单价,
				num: 商品数量,
				brief: 商品描述
			 */
			var _this = $(this);
			var goodsArr = [];	// 选择的商品 id 集合, 给退款界面用
			console.log($(".title"))
			for(var i=0; i<$(".appContain .icon-xuanze").length; i++){
				// console.log($(".changTxt")[i].innerText)
				var par = $(".icon-xuanze").eq(i).parents('.item');
				//将数据存到本地存储，给退款界面用
				goodsArr.push({
					order_id: order_id,
					title: par.find('.title').attr("text"),
					path: $(".icon-xuanze")[i].getAttribute("path"),
					gid: $(".icon-xuanze")[i].getAttribute("gid"),
					price: $(".icon-xuanze")[i].getAttribute("price"),
					num: $(".icon-xuanze")[i].getAttribute("num"),
					brief: par.find('.changTxt').text()
				})
				 
			}
			console.log(goodsArr);
			// 如果有选择商品
			if(goodsArr.length){
				// 存到本地存储
				sessionStorage.setItem('goodsInfo', JSON.stringify(goodsArr));
				var gidStr = '';	//选择的所有商品gid字符串
				// 将商品 id 集合到一起，放到地址栏URL
				for(var i=0; i<goodsArr.length; i++){

					gidStr += 'gid=' + goodsArr[i].gid + '&';
				}
				gidStr = gidStr.substr(0, gidStr.length-1);	//去掉最后一个 '&'
				console.log(gidStr);
				// 跳到 退款提交界面
				location.href = "{{:U('Home/Order/applicRefund')}}?" + gidStr;
			}else{
				parent.layer.msg('请选择需要退货的商品!');
				console.log('请选择需要退货的商品!');
			}
		});
	</script>
</body>
</html>