<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_527495_3mgodvjd6sp833di.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/order/index.css">
	<title>商品订单</title>
</head> 
<body>
	<header id="header">
		<span class="tab" index='0'><p><i class="iconfont icon-daifukuan"></i><b class="waitpay"></b></p>待付款</span>
		<span class="tab" index='1'><p><i class="iconfont icon-daifahuo"></i><b class="waitsend"></b></p>待发货</span>	
		<span class="tab" index='2'><p><i class="iconfont icon-daishouhuo"></i><b class="waitharvest"></b></p>待收货</span>
		<span class="tab" index='3'><p><i class="iconfont icon-pinglun"></i><b class="waitassess"></b></p>待评价</span>
		<span class="tab" index='4'><p><i class="iconfont icon-shouhoutuikuan"></i><b class="waitdrawback"></b></p>退款/售后</span>
		<div id="line">
			<span></span>
		</div>
	</header>
	<div id="content">
		<!-- 待付款 -->
		<div id="dingdanDaifukuan">
		</div>
		<!-- 待发货 -->
		<div id="dingdanDaifahuo">
		</div>
		<!-- 待收货 -->
		<div id="dingdanDaishouhuo">		
		</div>
		<!-- 待评论 -->
		<div id="dingdanDaipinglun">
		</div>
		<!-- 退款/售后 -->
		<div id="saleAfter">
			<div class="goods">
				<!-- 商家未同意退款 -->
				<div class="tuikuangall returned1">
				</div>
				<!-- 商家已同意退款 -->
				<div class="tuikuangall returned2">
				</div>
				<!-- 退款退货中 -->
				<div class="tuikuangall returned3">
				</div>
				<!-- 退款成功 -->
				<div class="tuikuangall returned4">
				</div>
				<!-- 报装中 -->
				<div class="tuikuangall clearfix returned5">
				</div>
				<!-- 评论成功后跳转到退款售后 -->
				<div class="tuikuangall clearfix returned6"></div>
			</div>
			
		</div>
	</div>
	<!-- 没有相关订单 -->
	<div class="manageCard">
		<div class="noContain">
			<p>暂没有绑定的银行卡</p>
			<p><a href="#">去绑定 》</a></p>
		</div>
	</div>
	<!-- 待付款 模态框的内容 -->
	<div class="modelAll">
		<div class="modal fade">
			<div class="modal-body">
				<div class="modal-content">
					<p class="dianyuan">确认取消订单？</p>
					<p>
						<input class="close cancelOrder" type="submit" value="是">
						<input class="close" type="submit" value="否">
					</p>
				</div>
			</div>
		</div>
		<div class="modal-backup3"></div>
	</div> 
	<!-- 待发货 模态框的内容 -->
	<div class="modelAll2">
		<div class="modal fade">
			<div class="modal-body">
				<div class="modal-content">
					<p class="dianyuan"><i class="iconfont icon-zhengque"></i></p>
					<p class="fahuola">亲~已提醒商家发货啦</p>
				</div>
			</div>
		</div>
		<div class="modal-backup"></div>
	</div>		
	<!-- 待收货 模态框的内容 -->
	<div class="modelAll3">
		<div class="modal fade">
			<div class="modal-body">
				<div class="modal-content">
					<p class="dianyuan">确认已经收到货物？</p>
					<p><input class="close confirm" type="submit" value="是"><input class="close" type="submit" value="否"></p>
				</div>
			</div>
		</div>

		<div class="modal-backup3"></div>
	</div>
	<div id="loading">
		<img src="__PUBLIC__/Home/images/loading.gif" alt="加载中...">
	</div>

	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<!-- 微信支付支持JS部分代码 -->
	<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
	<script>
		$(function(){
			// 首页按钮
			!function(){
				// 创建 a 标签
				var home = document.createElement('a');
				home.innerText = '首\n页';
				
				home.href = '{{:U("Home/VipCenter/index")}}';
				home.setAttribute("id", 'back2Home');

				// 添加到页面
				document.body.appendChild(home);
				home.onclick = function(){
					home.style.background = '#aaa';
				}
				return
				// console.log(home)
			}()
		})
		//微信接口
		wx.config({
			debug: false,
			appId: '{{$wxinfo["appId"]}}',
			timestamp: '{{$wxinfo["timestamp"]}}',
			nonceStr: '{{$wxinfo["nonceStr"]}}',
			signature: '{{$wxinfo["signature"]}}',
			jsApiList: [
		      // 所有要调用的 API 都要加到这个列表中
		      'chooseWXPay'
		    ]
		});

		// 微信支付方法
		function weixinPay(res){
			WeixinJSBridge.invoke(
				'getBrandWCPayRequest',
				JSON.parse(res),
				function(res){
					if (res.err_msg.substr(-2) == 'ok') {
		                // 付款成功，跳转前台主页
		                location.href = "{{:U('Home/PaymentSystem/paytosuccess_cz')}}";
		            } else if (res.err_msg.substr(-6) == 'cancel') {
		                    // 取消付款
		                    // 跳转到待付款e订单页面
		                    location.href = "{{:U('Home/PaymentSystem/paytofailed')}}";
	                }else{
	                    // 付款失败
	                    // 跳转到待付款订单页面
	                    location.href = "{{:U('Home/PaymentSystem/paytofailed')}}";
	                }
	            }
	        );
		};
		// 判断是否切换相应模块(待评价等)
		var href = location.href;
		if(href.indexOf('?tab=') > -1){
			var tabindex = href.substr(href.lastIndexOf('?tab=')+5);
			setTimeout(function(){
				tabContentMove($('.tab').eq(+tabindex));
			},100);
		}

		if($('#content>div').length==0){
			$('.noContain').show();
		}
		var dingdanDaifukuan1='';//待付款页面html
		var dingdanDaifukuan2='';
		var dingdanDaifahuo1='';//待发货页面html
		var dingdanDaifahuo2='';
		var dingdanDaishouhuo1='';//待收货页面html
		var dingdanDaishouhuo2='';	
		var dingdanDaipinglun1='';//待评论页面html
		var dingdanDaipinglun2='';	
		var returned1='';//商家未同意html
		var returned2='';//商家已经同意html
		var returned3='';//退款退货中html
		var returned4='';//退货成功html
		var returned5='';//报装中与报装完成html
		var returned6='';//评论完成html
		
		// 订单状态
		var dingdanArr = [ '#dingdanDaifukuan','#dingdanDaifahuo','#dingdanDaishouhuo','#dingdanDaipinglun','#saleAfter']
		// loading 动画
		$("#loading").fadeOut('slow');
		var loadingEnd;		//loading 结束标志
		/*
			点击顶部导航栏，切换订单状态
		*/ 
		$(".tab").on("click",function(){
			var href = location.href.substr(0, location.href.indexOf('?tab='));
			// 显示loading
			$("#loading").fadeIn('fast');
			history.replaceState({}, null, href + '?tab=' + $(this).attr('index'));
			// 调用移动函数
			tabContentMove($(this));
			if(loadingEnd){		// 加载结束，移除loading
				setTimeout(function(){
					$("#loading").fadeOut('fast');
				},600)
			}
		});
		// 点击tab移动content的函数
		function tabContentMove(_this){
			setTimeout(function() {
				$("#content").css({transform: 'translate(-'+ _this.attr("index") +'00vw)'});
			}, 600);
			
			$("#line").css({left: _this.attr("index")*2 + '0%'});
			$(".tab").css('color','#5A5A5A');
			_this.css('color','#373737');
			// loading 结束标志
			loadingEnd = true;
		}

		
		// 模态框的js
		
		$(".start4").on("click",function(){
			$(".modelAll").show();
			$(".modal").addClass("in").css('z-index','1001');
			$(".modal-backup").show();
		});
		// 取消按钮
		$(".close").on("click",function(){
			$(".modal").removeClass('in');
			$(".modal").css('z-index','-1');
			$(".modal-backup").fadeOut('slow');
		});      	


      	//取消按钮操作效果
      	$(".close").on("click",function(){
      		$(".modal").removeClass('in');
      		$(".modal").css('z-index','-1');
      		$(".modal-backup3").fadeOut('slow');
      		$(".modelAll").hide();
      	});	
      	
      	var item = window.location.href.split("#")[1];


    /**
     * [unpaid_order 查询订单]
     * @param  {[type]} status 	[8：未支付，9：待发货，2：待收货，7：待评论 4：退款处理中 5：已退货]
     * @return {[type]}    		[description]
     */
    // refundStatus   处理进度（0：未处理 1：同意退款 2：不同意退款 3：同意退货 4：不同意退货 5：已退款 6：正在退货 7：已收货 ）
    (function unpaid_order(){
    	var imgpath = '/Uploads/';
    	var noimg = '__PUBLIC__/images/noimg.jpg'
		var Rejectednum=0;//退货数量
        $.ajax({//8：未支付
        	url:"{{:U('Home/Order/order_list')}}",
        	data:{
            	"g_type":1,//订单类型：{0：租赁订单，1：商品订单，2：耗材订单，3：兑换订单}
            	"status":[8]
            },
            dataType:"json",
            type: 'post',
            success:function(res){
            	console.dir(res)
            	if(res.code == 200){
                	// 查询有数据
                	console.log("代付款", res.data)
                	var waitpaylist=res.data;
					for(var i=0;i<waitpaylist.length;i++){//待付款数据遍历
						postage = 0; // 邮费统计
                		dingdanDaifukuan1+='<div class="goods">'+
                		'<p>订单编号：'+waitpaylist[i]['orderid']+'</p>'+
                		'<p>下单时间：'+waitpaylist[i]['ordertime'] +
                		'<span>等待买家付款</span>'+
							'</p>';//<img src="__PUBLIC__/Pic/repair/2018-02-06/5a7975ef16907.png">
						for(var k=0;k<waitpaylist[i]['productList'].length;k++){//每个订单有多种产品，进行遍历
							// 无图片时显示
							var noimg_show = waitpaylist[i]['productList'][k]['gpic']
							? (imgpath + waitpaylist[i]['productList'][k]['gpic'])
							: noimg;
							var gainBrief = waitpaylist[i]['productList'][k]['productbrief'];
							var gainName = waitpaylist[i]['productList'][k]['productname'];
							gainBrief = gainBrief ? gainBrief : "暂无描述";
							gainName = gainName ? gainName : "暂无标题";
							dingdanDaifukuan2+='<div class="goodsItem">'+
							'<div class="giPicture">'+
							'<img src="'+ noimg_show +'" alt="">'+
							'</div>'+
							'<div class="giDescription">'+
							'<b>'+gainName+'</b>'+
							'<p>'+gainBrief+'</p>'+
							'<div>'+
							'<b>￥'+ waitpaylist[i]['productList'][k]['price'] +'</b>'+
							'<span>X&nbsp;'+waitpaylist[i]['productList'][k]['productnumber']+'</span>'+
							'</div>'+
							'</div>'+
							'</div>'; 
							// postage += parseFloat(waitsendlist[i]['productList'][k]['cprice']); // 邮费统计
							postage += parseFloat(waitpaylist[i]['productList'][k]['cprice'] * waitpaylist[i]['productList'][k]['productnumber']); // 邮费统计
						}
						dingdanDaifukuan1+=dingdanDaifukuan2+'<div class="calc">'+
						'<div>'+
						'共'+ waitpaylist[i]['totalnumber'] +'件商品&emsp;'+
						// '合计：<b class="price">￥'+(Number(waitpaylist[i]['totalprice'])+Number(waitpaylist[i]['postage']))+'</b>'+
						'合计：<b class="price">￥'+(Number(waitpaylist[i]['totalprice'])+Number(postage))+'</b>'+
						'<span class="postage">&nbsp;(含邮费￥'+postage+')</span>'+
						'</div>'+
						'<div>'+
						'<div class="cancel start1" name='+waitpaylist[i]['orderid']+'>'+
						'<span>取消订单</span>'+
						'</div>'+
						'<div class="pay payBtn" >'+
						'<span>&nbsp;付&nbsp;&nbsp;款&nbsp;</span>'+
						'</div>'+
						'</div>'+
						'</div>'+
						'</div>';
						dingdanDaifukuan2='';
					}
					$("#dingdanDaifukuan").html(dingdanDaifukuan1);
					$(".waitpay").html(waitpaylist.length);
				}else{
                    // 查询无数据提示
                    $("#dingdanDaifukuan").html('<h2 style="width: 100%;padding:20vh 0;text-align:center;">'+res.message+'</h2>');
                    $('.waitpay').text(0);
                }
                // 取消订单弹框
                $(".start1").on("click",function(){
                	var _thisname=$(this).attr("name");
                	$(".modelAll").show();
                	$(".modal").addClass("in").css('z-index','1001');
                	$(".modal-backup3").show();
		       	    // 取消订单ajax请求
		       	    $(".cancelOrder").bind("click").click(function(){
		       	    	$.ajax({
		       	    		url:"{{:U('Home/Order/cancellation_of_order')}}",
		       	    		type:"post",
		       	    		datatype:"json",
		       	    		data:{
		       	    			order_id:_thisname
		       	    		},
		       	    		success:function(res){
		       	    			// 刷新页面
		       	    			window.location.reload();
		       	    		},
			      			error:function(res){
			      				parent.layer.msg("取消失败,请稍后再试！");
			      			}
			      		});
		       	    });
		       	});
		      	//点击支付
		      	$(".payBtn").on("click",function(){
		   //    		var _thisname = JSON.parse($(this).siblings().attr("name"));
		   //    		// var paymoney = parseFloat($(this).parents(".calc").find(".postage").text().substr(6));	//邮费
		   //    		var price = parseInt($(this).parents(".calc").find(".price").text().substr(1)*100)/100;
		   //    		// console.log(_thisname,price);
		   //    		$.ajax({
		   //    			url:"{{:U('Home/PaymentSystem/orderPay')}}",
		   //    			type:"post",
		   //    			data:{
		   //    				order: _thisname,
		   //    				paymoney: price
		   //    			},
		   //    			success:function(res){
		   //    				if(res == -1){
					// 			// console.log('支付错误！');
					// 			parent.layer.msg('支付错误！');
					// 		}else{
								
					// 			// 调用微信支付方法
					// 			weixinPay(res);
								
					// 		}
					// 		// weixinPay(res);
					// 	},
					// 	error: function(res) {
					// 		console.log("出错", res)
					// 	}
					// });
					
					// console.log($(this).parent().prev(children("span").html());
					var a = $(this).parent().prev().children("span").html();
					if(a == "&nbsp;(含邮费￥0)"){
						var urlImg = "/Uploads/";
						var order_id = $(this).prev().attr("name");
						sessionStorage.setItem("lvxinData", "");//清空滤芯数据
						sessionStorage.setItem("goods_data", "");//清空商品数据
						sessionStorage.setItem("order_id",order_id);
						$.get("{{:U('Home/pay/getGoodsByOrder')}}",{'order_id':order_id},function(data){
							console.log('商品：');
							console.log(data);
							for(var i = 0; i < data.length;i++){
								data[i].path=urlImg+data[i].path;
							}
							sessionStorage.setItem("shopCar_data",JSON.stringify(data));
							location.href="{{:U('home/pay/payConfirm')}}?order_id=" + order_id;
						})
						console.log("邮费0")
					}else{
			      		var _thisname = JSON.parse($(this).siblings().attr("name"));
			      		// var paymoney = parseFloat($(this).parents(".calc").find(".postage").text().substr(6));	//邮费
			      		var price = parseInt($(this).parents(".calc").find(".price").text().substr(1)*100)/100;
			      		// console.log(_thisname,price);
			      		$.ajax({
			      			url:"{{:U('Home/PaymentSystem/orderPay')}}",
			      			type:"post",
			      			data:{
			      				order: _thisname,
			      				paymoney: price
			      			},
			      			success:function(res){
			      				if(res == -1){
									// console.log('支付错误！');
									parent.layer.msg('支付错误！');
								}else{
									
									// 调用微信支付方法
									weixinPay(res);
									
								}
								// weixinPay(res);
							},
							error: function(res) {
								console.log("出错", res)
							}
						});
						console.log("邮费值")
					}
				// 	var urlImg = "/Uploads/";
				// 	var order_id = $(this).prev().attr("name");
				// 	sessionStorage.setItem("order_id",order_id);
				// 	$.get("{{:U('Home/pay/getGoodsByOrder')}}",{'order_id':order_id},function(data){
				// 		console.log('商品：');
				// 		console.log(data);
				// 		for(var i = 0; i < data.length;i++){
				// 			data[i].path=urlImg+data[i].path;
				// 		}
				// 		sessionStorage.setItem("shopCar_data",JSON.stringify(data));
				// 		location.href="{{:U('home/pay/payConfirm')}}?order_id=" + order_id;
				// 	})		      	
				});

	        }
	    });

		$.ajax({//9：待发货
				url:"{{:U('Home/Order/order_list')}}",
				data:{
            	"g_type":1,//订单类型：{0：租赁订单，1：商品订单，2：耗材订单，3：兑换订单},
            	"status":[4,6,9]
            },
            dataType:"json",
            type: 'post',
            success:function(res){
                console.log("代发货",res);
                if(res.code == 200){
                	// 查询有数据
                	
					var waitsendlist=res.data;
					
                	// console.log(waitsendlist.length);
					for(var i=0;i<waitsendlist.length;i++){//待发货数据遍历
						postage = 0; // 邮费统计
                		dingdanDaifahuo1+='<div class="goods">'+
                		'<p>订单编号：'+waitsendlist[i]['orderid']+'</p>'+
                		'<p>下单时间：'+waitsendlist[i]['ordertime'] +
                		'<span>等待卖家发货</span>'+
                		'</p>';
						for(var k=0;k<waitsendlist[i]['productList'].length;k++){//每个订单有多种产品，进行遍历
							// 无图片时显示
							var noimg_show = waitsendlist[i]['productList'][k]['gpic']
							? (imgpath + waitsendlist[i]['productList'][k]['gpic'])
							: noimg;
							// alert(orderList[i]['productList'].length);
							var sendBrief = waitsendlist[i]['productList'][k]['productbrief'];
							var sendName = waitsendlist[i]['productList'][k]['productname'];
							sendBrief = sendBrief ? sendBrief : "暂无描述";
							sendName = sendName ? sendName : "暂无描述";
							dingdanDaifahuo2+='<div class="goodsItem">'+
							'<div class="giPicture">'+
							'<img src="'+ noimg_show +'" alt="">'+
							'</div>'+
							'<div class="giDescription">'+
							'<b>'+sendName+'</b>'+
							'<p>'+sendBrief+'</p>'+
							'<div>'+
							'<b>￥'+ waitsendlist[i]['productList'][k]['price'] +'</b>'+
							'<span>X&nbsp;'+waitsendlist[i]['productList'][k]['productnumber']+'</span>'+
							'</div>'+
							'</div>'+
							'</div>';

							// postage += parseFloat(waitsendlist[i]['productList'][k]['cprice']); // 邮费统计
							postage += parseFloat(waitsendlist[i]['productList'][k]['cprice'] * waitsendlist[i]['productList'][k]['productnumber']); // 邮费统计
						}
						dingdanDaifahuo1+=dingdanDaifahuo2+'<div class="calc">'+
						'<div>'+
						'共'+ waitsendlist[i]['totalnumber'] +'件商品&emsp;'+
						// '合计：<b class="price">￥'+(Number(waitsendlist[i]['totalprice']) + Number(waitsendlist[i]['postage']))+'</b>'+
						'合计：<b class="price">￥'+(Number(waitsendlist[i]['totalprice'])+Number(postage))+'</b>'+
						'<span class="postage">&nbsp;(含邮费￥'+postage+')</span>'+
						'</div>'+
						'<div>'+
						'<div class="cancel">'+
						'<span class="waitRejected" order_id="'+ waitsendlist[i]['orderid'] +'">退货</span>'+
						'</div>'+
						'<div class="pay start2">'+
						'<span>提醒发货</span>'+
						'</div>'+
						'</div>'+
						'</div>'+
						'</div>';
						dingdanDaifahuo2='';
					}
					$("#dingdanDaifahuo").html(dingdanDaifahuo1);
					$(".waitsend").html(waitsendlist.length);//代发货条数
					//	点击退货
					$(".waitRejected").click(function(){
						var order_id = $(this).attr('order_id');
						location.href = "{{:U('Home/Order/choiceRefund')}}?order_id="+ order_id;
						sessionStorage.setItem('g_type', 1);
						sessionStorage.setItem('order_status', 9);
					});
					// 提醒发货
					$(".start2").click(function(){
						$(".modal").addClass("in").css({'position':'absolute','z-index':'1001'});
						$(".modal-backup").show().fadeOut(6000);
						$(".modelAll2").show().fadeOut(6000);
					});
				}else{
                    // 查询无数据提示
                    $("#dingdanDaifahuo").html('<h2 style="width: 100%;padding:20vh 0;text-align:center;">'+res.message+'</h2>');
                    $('.waitsend').text(0);
                }
            }
        });

		$.ajax({//2：待收货
				url:"{{:U('Home/Order/order_list')}}",
				data:{
            	"g_type":1,//订单类型：{0：租赁订单，1：商品订单，2：耗材订单，3：兑换订单}
            	"status":[2]
            },
            dataType:"json",
            type: 'post',
            success:function(res){
                console.log("待收货",res);
                if(res.code == 200){
                	// 查询有数据
                	var waitgainlist=res.data;
                	// console.log(waitgainlist.length);
					for(var i=0;i<waitgainlist.length;i++){//待收货数据遍历
						postage = 0; // 邮费统计

                		dingdanDaishouhuo1+='<div class="goods">'+
                		'<p>订单编号：'+waitgainlist[i]['orderid']+'</p>'+
                		'<p>下单时间：'+waitgainlist[i]['ordertime'];
                		// '<p>快递单号：'+123456782563215 +
                		// '<span>卖家已发货</span>'+
                		// '</p>';
						for(var k=0;k<waitgainlist[i]['productList'].length;k++){//每个订单有多种产品，进行遍历
							// 无图片时显示
							var noimg_show = waitgainlist[i]['productList'][k]['gpic']
							? (imgpath + waitgainlist[i]['productList'][k]['gpic'])
							: noimg;
							var productBrief = waitgainlist[i]['productList'][k]['productbrief'];
							var productName = waitgainlist[i]['productList'][k]['productname'];
							productBrief = productBrief ? productBrief : "暂无描述";
							productName = productName ? productName : "暂无标题";
							// 快递单号
							dingdanDaishouhuo2+='<p>'+waitgainlist[i]['productList'][k]['express_name'] +':'+ waitgainlist[i]['productList'][k]['express']  +
	                		'<span>卖家已发货</span>'+
	                		'</p>'+
							'<div class="goodsItem">'+
							'<div class="giPicture">'+
							'<img src="'+ noimg_show +'" alt="">'+
							'</div>'+
							'<div class="giDescription">'+
							'<b>'+productName+'</b>'+
							'<p>'+productBrief+'</p>'+
							'<div>'+
							'<b>￥'+ waitgainlist[i]['productList'][k]['price'] +'</b>'+
							'<span>X&nbsp;'+waitgainlist[i]['productList'][k]['productnumber']+'</span>'+
							'</div>'+
							'</div>'+
							'</div>';
							// postage += parseFloat(waitgainlist[i]['productList'][k]['cprice']); // 邮费统计
							postage += parseFloat(waitgainlist[i]['productList'][k]['cprice'] * waitgainlist[i]['productList'][k]['productnumber']); // 邮费统计
						}
						dingdanDaishouhuo1+=dingdanDaishouhuo2+'<div class="calc">'+
						'<div>'+
						'共'+ waitgainlist[i]['totalnumber'] +'件商品&emsp;'+
						// '合计：<b class="price">￥'+(Number(waitgainlist[i]['totalprice'])+Number(waitgainlist[i]['postage']))+'</b>'+
						'合计：<b class="price">￥'+(Number(waitgainlist[i]['totalprice'])+Number(postage))+'</b>'+
						'<span class="postage">&nbsp;(含邮费￥'+postage+')</span>'+
						'</div>'+
						'<div>'+
						'<div class="cancel">'+
						'<span class="Rejected" order_id="'+waitgainlist[i]['orderid']+'">退货</span>'+
						'</div>'+
						'<div class="pay start3" name='+ waitgainlist[i]['orderid'] +' >'+
						'<span>确认收货</span>'+
						'</div>'+
						'</div>'+
						'</div>'+
						'</div>';
						dingdanDaishouhuo2='';
					}
					$(".waitharvest").html(waitgainlist.length);
					$("#dingdanDaishouhuo").html(dingdanDaishouhuo1);
					
					//退货
					$(".Rejected").click(function(){
						var order_id=$(this).attr("order_id");
						location.href="{{:U('Home/Order/choiceRefund')}}?order_id="+order_id;
						sessionStorage.setItem('g_type', 1);
						sessionStorage.setItem('order_status', 2);
					});
					//确认收货 模态框的js
					$('#dingdanDaishouhuo').on("click",".start3",function(){
						var _thisname=$(this).attr("name");
						$(".modelAll3").show();
						$(".modal").addClass("in").css('z-index','1001');
						$(".modal-backup3").show();
						$(".confirm").bind("click").click(function(){
							$.ajax({
								url:"{{:U('Home/Order/editOrder')}}",
								type:"post",
								datatype:"json",
								data:{
									order_id:_thisname
								},
								success:function(res){
//									// 切换到待评价模块
			       	    			var href = location.href.substr(0, location.href.indexOf('?tab='));
				       	   			location.href = href + '?tab=' + 3;
			       	   				 console.log( res);
			       	   			},
			       	   			error: function(res) {
			       	   				console.log("错误",res);
			       	   			}
			       	   		});
						});
					});
					
				}else{
                    // 查询无数据提示
                    $("#dingdanDaishouhuo").html('<h2 style="width: 100%;padding:20vh 0;text-align:center;">'+res.message+'</h2>');
                    $('.waitharvest').text(0);
                }
            }
        });  

		$.ajax({//7：待评论
				url:"{{:U('Home/Order/order_list')}}",
				data:{
            	"g_type":1,//订单类型：{0：租赁订单，1：商品订单，2：耗材订单，3：兑换订单}
            	"status":[3]
            },
            dataType:"json",
            type: 'post',
            success:function(res){
                // console.log(res.data);
                if(res.code == 200){
                	// 查询有数据
                	var waitcommentlist=res.data;
                	// console.dir(waitcommentlist);
					for(var i=0;i<waitcommentlist.length;i++){//待评论数据遍历
						postage = 0; // 邮费统计

                		dingdanDaipinglun1+='<div class="goods">'+
                		'<p>订单编号：'+waitcommentlist[i]['orderid']+'</p>'+
                		'<p>下单时间：'+waitcommentlist[i]['ordertime'] +
                		'<span>交易完成</span>'+
                		'</p>';
						for(var k=0;k<waitcommentlist[i]['productList'].length;k++){//每个订单有多种产品，进行遍历
							// 无图片时显示
							var noimg_show = waitcommentlist[i]['productList'][k]['gpic']
							? (imgpath + waitcommentlist[i]['productList'][k]['gpic'])
							: noimg;
							// 产品名字
							waitcommentlist[i]['productList'][k]['productname'] = waitcommentlist[i]['productList'][k]['productname'] ? waitcommentlist[i]['productList'][k]['productname'] : "暂无标题";
							// 产品描述
							waitcommentlist[i]['productList'][k]['productbrief'] = waitcommentlist[i]['productList'][k]['productbrief'] ? waitcommentlist[i]['productList'][k]['productbrief'] : "暂无描述";
							// 拼接数据
							dingdanDaipinglun2+='<div class="goodsItem">'+
							'<div class="giPicture">'+
							'<img src="'+ noimg_show +'" alt="">'+
							'</div>'+
							'<div class="giDescription">'+
							'<b>'+waitcommentlist[i]['productList'][k]['productname']+'</b>'+
							'<p>'+waitcommentlist[i]['productList'][k]['productbrief']+'</p>'+
							'<div>'+
							'<b>￥'+ waitcommentlist[i]['productList'][k]['price'] +'</b>'+
							'<span>X&nbsp;'+waitcommentlist[i]['productList'][k]['productnumber']+'&nbsp;</span>'+
							'<div>'+
							// 评价
							'<div class="cancel">'+
							'</div>'+
							'<a href="javascript:;" class="pay commentBtn" name='+ waitcommentlist[i]['orderid'] +' gid='+ waitcommentlist[i].productList[k].gid +'>'+
							'<span>评&nbsp;价</span>'+
							'</a>'+
							'</div>'+
							// 评价
							'</div>'+
							'</div>'+
							'</div>';

							// postage += parseFloat(waitcommentlist[i]['productList'][k]['cprice']); // 邮费统计
							postage += parseFloat(waitcommentlist[i]['productList'][k]['cprice'] * waitcommentlist[i]['productList'][k]['productnumber']); // 邮费统计
						}
						dingdanDaipinglun1+=dingdanDaipinglun2+'<div class="calc">'+
						'<div>'+
						'共'+ waitcommentlist[i]['totalnumber'] +'件商品&emsp;'+
						// '合计：<b class="price">￥'+(Number(waitcommentlist[i]['totalprice'])+Number(waitcommentlist[i]['postage']))+'</b>'+
						'合计：<b class="price">￥'+(Number(waitcommentlist[i]['totalprice'])+Number(postage))+'</b>'+
						'<span class="postage">&nbsp;(含邮费￥'+postage+')</span>'+
						'</div>'+
						'<div>'+
						'<div class="cancel">'+
						'</div>'+
						// '<a href="javascript:;" class="pay commentBtn" name='+ waitcommentlist[i]['orderid'] +' gid='+ waitcommentlist[i].productList[0].gid +'>'+
						// '<span>评&nbsp;价</span>'+
						// '</a>'+
						'</div>'+
						'</div>'+
						'</div>';
						dingdanDaipinglun2='';
					}
					$(".waitassess").html(waitcommentlist.length);
					$("#dingdanDaipinglun").html(dingdanDaipinglun1);

				}else{ 
                    // 查询无数据提示
                    $("#dingdanDaipinglun").html('<h2 style="width: 100%;padding:20vh 0;text-align:center;">'+res.message+'</h2>');
                    $('.waitassess').text(0);
                }
                //如果有本地评论数据则清除
                if(sessionStorage.getItem("pinglunObj")){
                	sessionStorage.setItem("pinglunObj","");
                }
                /*
            	点击评论
            	*/
            	$('#dingdanDaipinglun').on('click',".commentBtn",function(){
                	var pinglunObj = {};	//存储带评论的订单编号
                	pinglunObj['order_id'] = $(this).attr("name");
                	pinglunObj['gid'] = $(this).attr("gid");
                	pinglunObj['pic'] =$(this).parents(".goodsItem").find('.giPicture>img').attr('src');
                	//将点击的带评论商品数据存到本地存储中
                	sessionStorage.setItem("pinglunObj",JSON.stringify(pinglunObj));
                	location.href = '{{:U("Comment/index")}}?orderid=' + $(this).attr('name');
                	
                }) 
            }
        });  

		$.ajax({//4：退货/售后
			url:"{{:U('Home/Refund/showGoods')}}",
			data:{
				"g_type":1,//订单类型：{0：租赁订单，1：商品订单，2：耗材订单，3：兑换订单}
				// "status":4
				"refundStatus":1,
            },
            // dataType:"json",
            type: 'get',
            success:function(res){
            	console.log(res);
            	var tuihuo = 0;
                if(res.code == 200){
                	// 查询有数据
                	// console.log(222);
                	console.log("退货收货数据",res);
                	for(var i=0;i<res.data.length;i++){
                		if(res.data[i]['status']=='0'){//商家未同意
                			// console.log(res.data[i]['goods'].length);
                			for(var k=0;k<res.data[i]['goods'].length;k++){
                				// 无图片时显示
                				var noimg_show = res.data[i]['goods'][k]['orderimg']
                				? (imgpath + res.data[i]['goods'][k]['orderimg'])
                				: noimg;
								// 无标题是显示暂无标题显示
								var infoTitle = res.data[i]['goods'][k]['productname'] ? res.data[i]['goods'][k]['productname'] : "暂无标题"; 
                				// console.log(res.data[i]['dw_time']);
                				returned1+='<p>信息更新时间：'+ timestampToTime(res.data[i]['create_time']) +'</p>'+
                				'<div class="shangpingnei clearfix">'+
                				'<div class="tuikuangLeft ">'+
                				'<img src="'+ noimg_show +'" alt="">'+
                				'</div>'+
                				'<div class="tuikuangRight">'+
                				'<span>'+ infoTitle +'</span>'+
                				'<p><b>￥'+res.data[i]['goods'][k]['price'] +'</b><span>x '+ res.data[i]['goods'][k]['productnumber'] +'</span></p>'+
                				'</div>'+
                				'</div>'+
                				'<p><b>等待商家同意退款</b></p>';
                			}
							tuihuo += res.data[i]['goods'].length;
                		}else if(res.data[i]['status']=='1'){
                			for(var k=0;k<res.data[i]['goods'].length;k++){
                				// 无图片时显示
                				var noimg_show = res.data[i]['goods'][k]['orderimg']
                				? (imgpath + res.data[i]['goods'][k]['orderimg'])
                				: noimg;
								// 无标题是显示暂无标题显示
								var infoTitle = res.data[i]['goods'][k]['productname'] ? res.data[i]['goods'][k]['productname'] : "暂无标题"; 
                				returned4+='<p>信息更新时间：'+ timestampToTime(res.data[i]['create_time']) +'</p>'+
                				'<div class="shangpingnei clearfix">'+
                				'<div class="tuikuangLeft ">'+
                				'<img src="'+ noimg_show +'" alt="">'+
                				'</div>'+
                				'<div class="tuikuangRight">'+
                				'<span>'+ infoTitle +'</span>'+
                				'<p><b>￥'+ res.data[i]['goods'][k]['price'] +'</b><span>x '+ res.data[i]['goods'][k]['productnumber'] +'</span></p>'+
                				'</div>'+
                				'</div>'+
                				'<p><b>商家同意退款</b></p>';
                			}
							tuihuo += res.data[i]['goods'].length;
							// console.log(res.data[i]['goods'][k]['productname']);
                		}else if(res.data[i]['status']=='3'){//商家已同意
                			// console.log(1111);
                			for(var k=0;k<res.data[i]['goods'].length;k++){
                				// 无图片时显示
                				var noimg_show = res.data[i]['goods'][k]['orderimg']
                				? (imgpath + res.data[i]['goods'][k]['orderimg'])
                				: noimg;
								// 无标题是显示暂无标题显示
								var infoTitle = res.data[i]['goods'][k]['productname'] ? res.data[i]['goods'][k]['productname'] : "暂无标题"; 
                				returned2+='<p>信息更新时间：'+timestampToTime(res.data[i]['create_time'])+'</p>'+
                				'<div class="shangpingnei clearfix">'+
                				'<div class="tuikuangLeft ">'+
                				'<img src="'+ noimg_show +'" alt="">'+
                				'</div>'+
                				'<div class="tuikuangRight">'+
                				'<span>'+infoTitle+'</span>'+
                				'<p><b>￥'+res.data[i]['goods'][k]['price']+'</b><span>x'+res.data[i]['goods'][k]['productnumber']+'</span></p>'+
                				'</div>'+
                				'</div>'+
                				'<p><b>商家同意退款，请尽早退货</b><span>点击展开<i class="iconfont icon-shuangxiajiantou"></i></span></p>'+
                				'<!-- 隐藏的评论内容 -->'+
                				'<div class="commentHidden">'+
                				'<div class="hidTop">'+
                				'<p><span>收货人： 张三</span>18475698574</p>'+
                				'<p>广东省韶关市</p>'+
                				'</div>'+
                				'<div class="hidBott">'+
                				'<div class="hidbotttxt">'+
                				'<a class="writeOrder">'+
                				'<p>我已寄件</p>'+
                				'<p>点击填写物流单号</p>'+
                				'</a>'+
                				'</div>'+
                				'</div>'+
                				'</div>';
                			}
							tuihuo += res.data[i]['goods'].length;

                		}else if(res.data[i]['status']=='5'){
                			for(var k=0;k<res.data[i]['goods'].length;k++){
                				// 无图片时显示
                				var noimg_show = res.data[i]['goods'][k]['orderimg']
                				? (imgpath + res.data[i]['goods'][k]['orderimg'])
                				: noimg;
								// 无标题是显示暂无标题显示
								var infoTitle = res.data[i]['goods'][k]['productname'] ? res.data[i]['goods'][k]['productname'] : "暂无标题"; 
                				returned4+='<p>信息更新时间：'+ timestampToTime(res.data[i]['create_time']) +'</p>'+
                				'<div class="shangpingnei clearfix">'+
                				'<div class="tuikuangLeft ">'+
                				'<img src="'+ noimg_show +'" alt="">'+
                				'</div>'+
                				'<div class="tuikuangRight">'+
                				'<span>'+ infoTitle +'</span>'+
                				'<p><b>￥'+ res.data[i]['goods'][k]['price'] +'</b><span>x '+ res.data[i]['goods'][k]['productnumber'] +'</span></p>'+
                				'</div>'+
                				'</div>'+
                				'<p><b>退款成功</b></p>';
                			}
							tuihuo += res.data[i]['goods'].length;
                		}else if(res.data[i]['status']=='6'){//正在退货
                			
                			for(var k=0;k<res.data[i]['goods'].length;k++){
                				// 无图片时显示
                				var noimg_show = waitpaylist[i]['productList'][k]['orderimg']
                				? (imgpath + waitpaylist[i]['productList'][k]['orderimg'])
                				: noimg;
								// 无标题是显示暂无标题显示
								var infoTitle = res.data[i]['goods'][k]['productname'] ? res.data[i]['goods'][k]['productname'] : "暂无标题"; 
                				returned3+='<p>信息更新时间：'+ timestampToTime(res.data[i]['create_time']) +'</p>'+
                				'<div class="shangpingnei clearfix">'+
                				'<div class="tuikuangLeft ">'+
                				'<img src="'+ noimg_show +'" alt="">'+
                				'</div>'+
                				'<div class="tuikuangRight">'+
                				'<span>'+ infoTitle +'</span>'+
                				'<p><b>￥'+res.data[i]['goods'][k]['price'] +'</b><span>x '+ res.data[i]['goods'][k]['productnumber'] +'</span></p>'+
                				'</div>'+
                				'</div>'+
                				'<p><b>商品已寄出，退款退货中</b></p>';
                			}
							tuihuo += res.data[i]['goods'].length;
                		}else if(res.data[i]['status']=='7'){
                			for(var k=0;k<res.data[i].length;k++){
                				// 无图片时显示
                				var noimg_show = res.data[i][productList][0]['orderimg']
                				? (imgpath + res.data[i][productList][0]['orderimg']) : noimg;
								// 无标题是显示暂无标题显示
								var infoTitle = res.data[i][productList][0]['productname'] ? res.data[i][productList][0]['productname'] : "暂无标题";
                				returned4+='<p>信息更新时间：'+ res.data[i]['ordertime'] +'</p>'+
                				'<div class="shangpingnei clearfix">'+
                				'<div class="tuikuangLeft ">'+
                				'<img src="'+ noimg_show +'" alt="">'+
                				'</div>'+
                				'<div class="tuikuangRight">'+
                				'<span>'+ infoTitle +'</span>'+
                				'<p><b>￥'+ res.data[i][productList][0]['price'] +'</b><span>x '+ res.data[i][productList][0]['productnumber'] +'</span></p>'+
                				'</div>'+
                				'</div>'+
                				'<p><b>退款退货成功剁你小JJ</b></p>';
                			}
							tuihuo += res.data[i]['goods'].length;
                		}
                	}
                	$(".returned1").html(returned1);
                	$(".returned2").html(returned2);
                	$(".returned3").html(returned3);
                	$(".returned4").html(returned4);
                	Rejectednum += tuihuo;
					console.log("一次",Rejectednum, res.data.length)
                }else{
                    // 查询无数据提示
                    // console.log(res.msg);
                }
                // 寄件点击展开效果
                var iClass=$('.tuikuangall>p>span>i').attr("class");
				// console.dir(iClass);
				$('.tuikuangall>p>span').click(function(){
					if(iClass=='iconfont icon-shuangxiajiantou'){
						$(this).children('i').removeClass('icon-shuangxiajiantou').addClass('icon-xiangshangjiantou');
						// console.dir($(this).parent().next());
						var _commentHidden=$(this).parent().next();
						$(_commentHidden).slideDown();
						iClass='iconfont icon-xiangshangjiantou';
					}
					else{	
						var _commentHidden=$(this).parent().next();	
						$(this).children('i').removeClass('icon-xiangshangjiantou').addClass('icon-shuangxiajiantou');
						$(_commentHidden).slideUp();		
						iClass='iconfont icon-shuangxiajiantou';
					}
				})

			},
			error:function(res){

			}
		}); 
		
		$.ajax({//9：评价后的已完成的订单
			url:"{{:U('Home/Order/order_list')}}",
			data:{
				"g_type":1,//订单类型：{0：租赁订单，1：商品订单，2：耗材订单，3：兑换订单},
				"status":[7]
			},
			dataType:"json",
			type: 'post',
			success:function(res){
				console.log("请求退款售后成功", res);
				if(res.code == 200) {
					var proDucts = 0;
					for(var i=0;i<res.data.length;i++){
						var productLists = res.data[i].productList.length;
						// console.log("产品数量", productLists)
						// 产品列表循环
						for(var j = 0; j < productLists; j++) {
							// console.log(res.data[i].productList[j])
						
							// 无图片时显示
							var noimg_show = res.data[i].productList[j]['pics']
							? (imgpath + res.data[i].productList[j]['pics']['path'])
							: noimg;
							returned6+='<p>信息更新时间：'+ res.data[i].ordertime +'</p>'+
							'<div class="shangpingnei clearfix">'+
							'<div class="tuikuangLeft ">'+
							'<img src="'+ noimg_show +'" alt="">'+
							'</div>'+
							'<div class="tuikuangRight">'+
							'<span>'+ res.data[i].productList[j].productname +'</span>'+
							'<p><b>￥'+res.data[i].productList[j].price+'</b><span>x '+ res.data[i].productList[j].productnumber +'</span></p>'+
							'</div>'+
							'</div>'+
							'<p><b>订单完成</b></p>';
						}
						proDucts += productLists;
					}
					$(".returned6").html(returned6);
					Rejectednum = Rejectednum + proDucts;
				}
				// console.log("数量", Rejectednum, res.data.length, proDucts)
				$(".waitdrawback").html(Rejectednum);//退换货与售后数量显示				
			},
			error: function(res) {
				console.log("请求失败", res);
			}
		});
        $.ajax({//5：报装中
        	url:"{{:U('Home/Order/install')}}",
        	type: 'get',
        	data:{
            	"g_type":1,//订单类型：{0：租赁订单，1：商品订单，2：耗材订单，3：兑换订单}
            	"status":5
            },
            success:function(res){

            	if(res.code == 200){
            		console.log("报装中",res);
            		for(var i=0;i<res.data.length;i++){
                		// 无图片时显示
                		var noimg_show = res.data[i]['picpath']
                		? (imgpath + res.data[i]['picpath'])
                		: noimg;
                		returned5+='<p>信息更新时间：'+ res.data[i]['addtime'] +'</p>'+
                		'<div class="shangpingnei clearfix">'+
                		'<div class="tuikuangLeft ">'+
                		'<img src="'+ noimg_show +'" alt="">'+
                		'</div>'+
                		'<div class="tuikuangRight">'+
                		'<span>'+ res.data[i]['goodname'] +'</span>'+
                		'<p><b>￥'+res.data[i]['price'] +'</b><span>x '+ res.data[i]['num'] +'</span></p>'+
                		'</div>'+
                		'</div>';
                		if(res.data[i].is_installed=="0"){
                			returned5+='<p class="noborder"><b>报装中，客服电话：020-84765556</b></p>';
                		}else if(res.data[i].is_installed=="1"){
                			returned5+='<p class="noborder"><b>报装完成，报装人电话：18475632541</b></p>'+
                			'<div class="pinglunBtn">'+
                			'<input class="commentAfter" type="submit" value="评论" orderid="'+ res.data[i]['order_id'] +'" gid="'+ res.data[i]['gid'] +'">'+
                			'</div>';
                		}
                	}
                	$(".returned5").html(returned5);
                	// $(".waitdrawback").html(res.data.length+Rejectednum);//退换货与售后数量显示

                }else{
                    // 查询无数据提示
                    console.log(res.message);
                }
                //售后评论
                $(".commentAfter").on("click",function(){
                	var orderid=$(this).attr("orderid");
                	var gid=$(this).attr("gid");
                	location.href="{{:U('Home/Comment/saleServic')}}?orderid="+orderid+"&gid="+gid;
                }); 	
            },
            error: function(res) {
            	console.log("报装失败", res);
            }
        }); 
		
		
		// 从支付成功跳到查看订单界面 ~~ 待发货
		var offsetInt = setInterval(function(){
			if(location.search){
				var index = location.search.split('=')[1];
				if(index == 1){
					// console.log($(".tab").eq(index))
					tabContentMove($(".tab").eq(index))

					setTimeout(function(){
						clearInterval(offsetInt)
					},500)
				}
			}
		},10)
	})();
function timestampToTime(timestamp) {
	var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
	Y = date.getFullYear() + '-';
	M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
	D = date.getDate() + ' ';
	h = date.getHours() + ':';
	m = date.getMinutes() + ':';
	s = date.getSeconds();
	return Y+M+D+h+m+s;
}
// function aa(callback) {
// 	success: function(res){
// 		res.num;
// 		callback({num: num})
// 	}
// }
// aa(function(res){
// 	res.num
// })
</script>
</body>
</html>