body{
  font-size: 0.7rem;
  color:#333;
  background: #EDF2F2;
  height: 100vh;
  width: 100vw;
  position: relative;
}
#qrCode_share {
  position: absolute;
  top: .5rem;
  right: .7rem;
  z-index: 999;
}
#qrCode_share > i {
  font-size: 1rem;
  color: #EDF2F2;
  /* box-shadow: 0 0 1px rgba(0,0,0,.03) */
}
body::after {
  content: "";
  height: 25vh;
  width: 100vw;
  background: url("../../images/regiterBack.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}
._Mine{
  width: 100vw;
  position: relative;
  z-index: 2;
  padding-top: 2rem;
}
.userInfos {
  background: url("../../images/touxiang.png") no-repeat;
  background-size: 100% 100%;
  width: 93%;
  margin:0 auto;
  text-align: center;
  padding: .8rem 0;
}
.userInfos > div:nth-child(1) > span:nth-child(1){
  height: 3rem;
  display: block;
}
.userInfos > div:nth-child(1) > span:nth-child(1) > img {
  height: 100%;
  border-radius: 50%;
}
.userInfos > div:nth-child(1) > span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .2rem 0 .4rem 3.5rem;
  /* position: relative; */
}
.userInfos > div:nth-child(1) > span:nth-child(2) > i {
  margin-right: .5rem;
  font-style: normal;
}
.userInfos > div:nth-child(1) > span:nth-child(2) > img {
  /* position: absolute; */
  /* right: 3.8rem; */
  /* top: 0rem; */
  height: 1rem;
  width: 3rem;
  /* margin-left:1rem; */
}
.userInfos > div:nth-child(1) > a {
  font-size: .5rem;
  color: #4D70FF;
}
/* 金银币 */
.jinyin {
  display: flex;
  margin-top: .5rem;
}
.jinyin > p {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 功能列表 */
.lists {
  background: white;
  margin-top: .3rem;
}
.lists > li {
  position: relative;
  border-bottom: #F5F8F8;
  padding: .5rem .8rem;
}
.lists > li:active {
  background: rgba(0,0,0,.03);
}
.lists > li > a {
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
}
.lists > li > a > span:nth-child(1) {
  display: flex;
  align-items: center;
}
.lists > li > a > span:nth-child(1) > i:nth-child(1) {
  height: 1rem;
  display: block;
  margin-right: .4rem;
  font-style: normal;
}
.lists > li > a > span:nth-child(1) > i:nth-child(2) {
  font-style: normal;
}
.lists > li > a > span:nth-child(1) > i:nth-child(1) > img {
  height: 100%;
}
/* 广告 */
#msg {
  background: #FFF2DE;
  color: #999999;
  padding: .4rem 1rem;
  display: flex;
  align-content: center;
}
#msg > span{
  height: .8rem;
  display: block;
  margin-right: .5rem;
}
#msg > span > img {
  height: 100%;
}
#indent {
  background: white;
  padding: .4rem 0 .5rem 0;
  margin-top: .3rem;
}
#indent>div>a {
	position: relative;
}
#indent>div>a:active::after {
	content: '';
	width: 120%;
	height: 120%;
	display: block;
	position: absolute;
	top: -5%;
	left: -5%;
	background: rgba(0,0,0,.03);
}
#indent>p>span:nth-of-type(2),
#more>div>i {
  float: right;
  font-size: .8rem;
}
#indent>div {
	display: flex;
	justify-content: space-around;
}
#indent>div>a {
	text-align: center;
	font-size: .5rem;
}
#indent>div>a>i{
  font-size: 1.3rem;
}
#indent>div>a>p{
	color: #808080;
	font-size: .65rem;
}
/*我的订单图标颜色*/
.icon-zulin-{
	color:#028760;
}
.icon-shangpin-{
	color:#E38409;
}
.icon-haocai-{
	color:#0C4685;
}
.icon-duihuan-{
	color:#BD032B;
}
.icon-huiyuan {
	color : #FFC337;
}
/* 收益明细 */
#income {
  background: white;
  margin-top: .3rem;
  padding: .3rem 1rem;
}
#income a p{
	padding-bottom: 4px;
}
#income>p>a {
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
  justify-content: space-between;
  margin-bottom: .2rem;
}
#income>div {
	display: flex;
}
#income>div>a:nth-child(1) {
  border-right: 1px solid #F6F6F6;
}
#income>div>a {
  text-align: center;
  flex: 1;
	font-size: 0.72rem;
}
#income>div>a>span {
	display: inline-block;
	margin: 4px;
	color: #ED9571;
}
/* 列表 */
#more {
  background: white;
  margin-top: .3rem;
  padding: 0 1rem;
}
#more>div {
	display: flex;
  align-items: center;
  border-bottom: 1px solid #F6F6F6;
  padding: .2rem 0;
}
#more>div:last-child {
  border-bottom: none;
}
#more>div>a {
	width: 100%;
	display: flex;
  align-items: center;
  clear:both;
}
#more>div>i {
	float: right;
}
#more>div>a>i:nth-of-type(1){
	display: inline-block;
  /* width: 11%; */
  font-size: 1.4rem;
  margin-right: .5rem;
}
#more>div>a>i.icon-duihuan{
	color:#2EB6AA;
  font-size: 1.2rem;
  
}
#more>div>a>i:nth-of-type(2){
	position: absolute;
	right: 2%;
	padding:0.4rem 0 0.2rem;
}
/*点击右上角二维码*/
#myCode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background: white;
  z-index: 999;
  text-align: center;
}
#myCode > img {
  margin: 8rem 0 1rem 0;
  height: 8rem;
}
#myCode > a {
  display: block;
  font-size: .8rem;
}
.closeQR {
  position: absolute;
  top: .7rem;
  right: 1rem;
  font-size: 1.5rem;
}