body{
  font-size: 0.7rem;
  color:#333;
  background: #EDF2F2;
  height: 100vh;
  width: 100vw;
}
body::after {
  content: "";
  height: 25vh;
  width: 100vw;
  background: url("../../images/myback.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}
._Mine{
  width: 100vw;
  position: relative;
  z-index: 2;
  padding-top: 2rem;
}
.userInfos {
  background: url("../../images/touxiang.png") no-repeat;
  background-size: 100% 100%;
  width: 93%;
  margin:0 auto;
  text-align: center;
  padding: .8rem 0;
}
.userInfos > div:nth-child(1) > span:nth-child(1){
  height: 3rem;
  display: block;
}
.userInfos > div:nth-child(1) > span:nth-child(1) > img {
  height: 100%;
  border-radius: 50%;
}
.userInfos > div:nth-child(1) > span:nth-child(2) {
  display: block;
  margin: .2rem 0 .4rem 0;
}
.userInfos > div:nth-child(1) > a {
  font-size: .5rem;
  color: #4D70FF;
}
/* 金银币 */
.jinyin {
  display: flex;
  margin-top: .5rem;
}
.jinyin > p {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 功能列表 */
.lists {
  background: white;
  margin-top: .7rem;
}
.lists > li {
  position: relative;
  border-bottom: #F5F8F8;
  padding: .5rem .8rem;
}
.lists > li:active {
  background: rgba(0,0,0,.03);
}
.lists > li > a {
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
}
.lists > li > a > span:nth-child(1) {
  display: flex;
  align-items: center;
}
.lists > li > a > span:nth-child(1) > i:nth-child(1) {
  height: 1rem;
  display: block;
  margin-right: .4rem;
  font-style: normal;
}
.lists > li > a > span:nth-child(1) > i:nth-child(2) {
  font-style: normal;
}
.lists > li > a > span:nth-child(1) > i:nth-child(1) > img {
  height: 100%;
}