<extend name="Public/base" />
<block name="mylink">
    <link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/switchery.min.css" rel="stylesheet">
    <style>
        #goodsPanel {
            width: 90%;
            height: auto;
            display: none;
            position: absolute;
            padding: 10px 20px;
            border-radius: 4px;
            background: #fff;
            border: 1px solid;
            z-index: 999;
        }
        .gli {
            position: relative;
            padding: 10px 0;
        }
        .gli:hover {
            cursor: pointer;
        }
        .gli:hover::before {
            position: absolute;
            top: -10px;
            left: -50px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent transparent #fff;
        }
        .gli:hover::after {
            content: attr(text);
            position: absolute;
            top: -10px;
            left: -50px;
            padding: 1px 12px;
            background: #fff;
            border: 1px solid;
        }
    </style>
</block>
<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                    <h5>Banner管理 <small>编辑banner活动</small></h5>
                </div>
                    <div class="ibox-content">
                        <form method="post" id='form' class="form-horizontal" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">banner名</label>
                                <div class="col-md-3" style='position: relative;'>
                                    <input type="text" name="name" class="form-control" placeholder="请输入主题活动名" value="{{$binfo.name}}">
                                    <input type="hidden" name="id" value="{{$binfo.id}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">banner图片</label>
                                <div class="col-md-3" style='position: relative;'>
                                    <input type="file" name="pic" class="form-control" placeholder="请输入主题活动名">
                                    <img src="/Uploads/{{$binfo.pic}}" width="100">
                                    <!-- <input type="hidden" name="picname" value="{{$binfo.pic}}"> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">banner路径</label>
                                <div class="col-md-3" style='position: relative;'>
                                    <input type="text" name="url" class="form-control" placeholder="请输入主题活动名" value="{{$binfo.url}}">
                                    <input type="hidden" name="id" value="{{$binfo.id}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">状态</label>
                                <div class="col-md-3" style='position: relative;'>
                                    <input type="radio" {{$binfo['status'] == 0 ? 'checked':''}} name="status" class="form-control" value="0" />不显示
                                    <input type="radio" {{$binfo['status'] == 1 ? 'checked':''}} name="status" class="form-control" value="1" />显示
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary addbtn" type="submit">编辑</button>
                                    <button class="btn btn-white" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
<script src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    
    /**
     * 编辑活动主题
     */
    $('.addbtn').click(function(){
        console.log("提交");
        var data = new FormData($('#form')[0]);
        console.log(data);
        // var name = $("input[name='name']").val();
        $.ajax({
                url:"bannerEdit",
                data:data,
                type: 'post',
                processData: false,
                contentType: false,
                success:function(res){
                    if(res.code == 200){
                        location.reload();
                        parent.layer.msg(res.msg);
                    } else {
                        parent.layer.msg(res.msg);
                    }
                },
                error: function(err) {
                    console.log("err", err);
                }
            })

    });

</script>
</block>