<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta charset="UTF-8">
	<title>选择充值方式</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/mall/chooseMeal.css">

</head>
<body>
	<input type="hidden" value='{{$list}}' id="meal">
	<div class="_chooseMeal">
		<div class="chooseMeal">
			<div class="chooseContain">
				<h3>选择套餐</h3>
				<ul>
					<!-- <li class="taocanSelectNow">100元套餐含<b>1000L</b>流量</li>
					<li>100元套餐含<b>1000天</b>流量</li> -->
				</ul>
			</div>

		</div>
		<div class="chooseFoot">
			<input type="submit" value="立即购买">
		</div>
		<!-- 付款页面 -->
		<div class="paystyle">
			<div class="paystyleTop"></div>
			<div class="payContain">
				<div class="paytop clearfix">
					<div class="paytopLeft"><i class="iconfont icon-cuohao"></i></div>
					<div class="paytopRight">
						<h3>付款</h3>
						<p id="money">￥3620.00</p>
					</div>
				</div>
				<div class="paymidd">
					<h3>选择支付方式</h3>
					<ul class="clearfix">
						<li><i class="iconfont icon-tubiao207"></i>金币<span class="iconfont icon-xuanze"></span></li>
						<li><i class="iconfont icon-tubiao207-copy"></i>银币<span class="iconfont icon-kuang1"></span></li>
						<li><i class="iconfont icon-z-weixin"></i>微信支付<span class="iconfont icon-kuang1"></span></li>
						<li><i class="iconfont icon-zhifubao"></i>支付宝支付<span class="iconfont icon-kuang1"></span></li>
						<li><i class="iconfont icon-yinlian"></i>银联<span class="iconfont icon-kuang1"></span></li>
					</ul>
				</div>
				<div class="payBott start">
					<input class=" start" type="submit" value="立即支付">
				</div>
			</div>
		</div>
		<!-- 模态框的内容 -->
		<div class="modal-backup">
			<div class="modelAll">
				<div class="modal fade">
					<div class="modal-body">
						<div class="modal-content">
							<p>您还没有绑定银行卡</p>
							<p class="close"><a href="#">去绑定</a></p>
							<p class="close"><a href="#">其他支付方式</a></p>
							<p><input class="close" type="submit" value="取消"></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<!-- 微信支付支持JS部分代码 -->
	<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
	<script>
		$(function(){
			// 首页按钮
			!function(){
				// 创建 a 标签
				var home = document.createElement('a');
				home.innerText = '首\n页';

				home.href = '{{:U("Home/Index/index")}}';
				home.setAttribute("id", 'back2Home');

				// 添加到页面
				document.body.appendChild(home);
				home.onclick = function(){
					home.style.background = '#aaa';
				}
				return
				// console.log(home)
			}()
		})
		//微信接口
		wx.config({
		    debug: false,
		    appId: '{{$wxinfo["appId"]}}',
		    timestamp: '{{$wxinfo["timestamp"]}}',
		    nonceStr: '{{$wxinfo["nonceStr"]}}',
		    signature: '{{$wxinfo["signature"]}}',
		    jsApiList: [
		      // 所有要调用的 API 都要加到这个列表中
		      'chooseWXPay'
		    ]
		});

		var dingdanID;		//存储后台返回的订单号
		var meal, mealHTML = '';		//遍历套餐的数据
		if($("#meal").val()){
			//后台传过来的数据
			meal = JSON.parse($("#meal").val());

			//遍历套餐充值数据
			for(var i=0; i<meal.length; i++){
				mealHTML += '<li remodel="'+meal[i].remodel+'" flow="'+meal[i].flow+'" money="'+meal[i].money+'" tid="'+meal[i].id+'">'+ meal[i].describe +'</li>'
			}
			//将套餐数据添加到页面上
			$(".chooseContain>ul").html(mealHTML);
		}else{
			$(".chooseContain>ul").html('<h3 style="width:100%;height:50vh;text-align:center;padding:20vh 0">暂无数据</h3>');
		}

		/*
			点击立即购买，选择支付方式
		 */
		var money, tid, remodel;		//获取需要传到后台的套餐价钱，id, 套餐类型
		$('.chooseFoot>input').click(function(){
			// console.log($(".taocanSelectNow"))
			if($(".taocanSelectNow").length){
				$('.paystyle').slideDown("slow");
			}else{
	       		parent.layer.msg('请先选择购买的套餐');
			}
			money = $(".taocanSelectNow").attr("money");
			tid = $(".taocanSelectNow").attr("tid");
			console.log(money,tid)
			//发送请求让后台生成订单号
			$.ajax({
				url: '{{:U("Home/Mall/information")}}',
				type: 'post',
				async: false,
				data: {'num':1,'id':tid,'money':money,'remodel':remodel},
				success: function(res){
					console.log('成功！ ', res);
					$("#money").text('￥'+money);
					//如果返回的是订单号
					if(typeof JSON.parse(res) == 'number'){
						dingdanID = res;
					}
				},
				error: function(res){
					console.log('失败！ ', res);
				}
			})
		})
		/*
			点击立即支付
		 */
		$(".payBott").click(function(){
			console.log(dingdanID)
			$.ajax({
				url: '{{:U("Home/PaymentSystem/choosePayByGold")}}',
				type: 'post',
				async: false,
				data: {order: dingdanID},
				success: function(res){
					console.log('成功！ ', res);
					if(res == -1){
						console.log('支付错误！');
						parent.layer.msg('支付错误！');
					}else{
						weixinPay(res);
					}
				},
				error: function(res){
					console.log('失败！ ', res);
	       			parent.layer.msg('系统出了一点小问题，请稍后再试！');
				}
			})
		})

		// 选中背景改变
		$('.chooseContain>ul').on('click','li',function(){
			$(this).addClass('taocanSelectNow').siblings().removeClass("taocanSelectNow");
		})

		// 付款方式的单选框
		$('.paymidd>ul>li>span').click(function(){
			$('.paymidd>ul>li>span').removeClass('iconfont icon-xuanze').addClass('iconfont icon-kuang1');
			$(this).removeClass('iconfont icon-kuang1').addClass('iconfont icon-xuanze');
		})
		// 付款方式页面隐藏
		$('.paytop>.paytopLeft>i').click(function(){
			$('.paystyle').slideUp("slow");
		})
		// 模态框的js
		// $(function(){
		//   	$(".start").on("click",function(){
		//   	   $(".modelAll").css('display','block');
		//    	   $(".modal").addClass("in");
		//    	   $(".modal").css('z-index','1001');
		//    	   $(".modal-backup").css('display','block');
		//    });
		//   	$(".close").on("click",function(){
		//    	   $(".modal").removeClass('in');
		//    	   $(".modal").css('z-index','-1');
		//    	   $(".modal-backup").fadeOut('slow');
		//    });
		// 	})
		// .icon-kuang1{background:#57BFEE; }

      	/*
      		微信支付方法
      	 */
      	function weixinPay(res){
      		WeixinJSBridge.invoke(
      			'getBrandWCPayRequest',
      			JSON.parse(res),
      			function(res){
      				if(res.err_msg.substr(-2) == 'ok'){

       					parent.layer.msg('付款成功！');
      					//付款成功后的操作
      					setTimeout(function(){
      						location.href = '{{:U("PaymentSystem/paytosuccess")}}';
      					},500);

      				}else if(res.err_msg.substr(-6) == 'cancel'){
      					//取消订单操作
      				}else{
       					parent.layer.msg('付款失败！');
      					//付款失败操作
      					setTimeout(function(){
      						location.href = '{{:U("PaymentSystem/paytofailed")}}';
      					},500);

      				}
      			}
      		)
      	}
	</script>
</body>
</html>
