<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/vipcenter/gradeSelect.css">
	<title>会员升级</title>
</head>
<body>
<div class="main">
	<div class="selectInfo">
		<input type="hidden" value="{{$grade['grade']}}" class="gradePanduan">
		<p>请选择会员等级</p>
		<!-- 会员选择 -->
		<div class="gradeSelect">
			<!-- 钻石会员 -->
			<div class="goldGrade" index="0" data="0">
				<p>
					<span><img src="__PUBLIC__/Home/images/zssjx.png" alt=""></span>
					<span class="gradeName">钻石会员</span>
				</p>
				<p class="selectPrice">{{$annual.annual_money}}元</p>
				<div class="goldInfo">
					<p>钻石会员说明</p>
					<p class="dia_describe"></p>
					<p  class="gradeStatus"><input type="hidden" name="status"  value="{{$annual.dia_status}}"></p>
					<p class="sanjiao"></p>
					<span class="iconfont icon-shibai"></span>
				</div>
			</div>
			<!-- 黄金会员 -->
			<div class="goldGrade" index="0" data="1">
				<p>
					<span><img src="__PUBLIC__/Home/images/hjsjx.png" alt=""></span>
					<span class="gradeName">黄金会员</span>
				</p>
				<p class="selectPrice">{{$annual.medal_money}}元</p>
				<div class="goldInfo">
					<p>黄金会员说明</p>
					<p class="gold"></p>
					<p class="gradeStatus"><input type="hidden" name="status"  value="{{$annual.gold_status}}"></p>
					<p class="sanjiao"></p>

					<span class="iconfont icon-shibai"></span>
				</div>
			</div>
			<!-- 普通会员 -->
			<!-- div class="goldGrade ordinary" index="0" data="2">
				<p>
					<span><img src="__PUBLIC__/Home/images/ptsjx.png" alt=""></span>
					<span class="gradeName">普通会员</span>
				</p>
				<p class="selectPrice">{{$annual.personal_money}}元</p>
				<div class="goldInfo">
					<p>个人会员说明</p>
					<p>{{$annual.per_describe}}</p>
					<p  class="gradeStatus"><input type="hidden" name="status"  value="{{$annual.per_status}}"></p>
					<p class="sanjiao"></p>
					<span class="iconfont icon-shibai"></span>
				</div>
			</div> -->
		</div>
		<div class="gradeSelect putong">
			<!-- 普通会员 -->
			<div class="goldGrade ordinary" index="0" data="2">
				<p>
					<span><img src="__PUBLIC__/Home/images/ptsjx.png" alt=""></span>
					<span class="gradeName">普通会员</span>
				</p>
				<p class="selectPrice">{{$annual.personal_money}}元</p>
				<div class="goldInfo">
					<p>个人会员说明</p>
					<p class='per_describe'></p>
					<p  class="gradeStatus"><input type="hidden" name="status"  value="{{$annual.per_status}}"></p>
					<p class="sanjiao"></p>
					<span class="iconfont icon-shibai"></span>
				</div>
			</div>
		</div>
		<!-- 确认选择 -->
		<div class="confirmBtn">
			<p>确认</p>
		</div>
	</div>
	<!-- 点击付款后弹出支付模式 -->
	<div class="payKuan">
		<ul>
			<li>
				<p>付款</p>
				<p class="selectFinall">￥<span></span></p>
				<span class="iconfont icon-chacha "></span>
			</li>
			<li>
				<p style="padding-left:.5rem;">选择支付方式</p>
			</li>
			<li>
				<div class="payWay">
					<p>
						<span class="iconfont icon-weixin2" style="color:rgb(82,165,73)"></span>微信支付
					</p>
					<span class="iconfont icon-xuanzhongduigou xuanzhong" style="color:#56AAF1"></span>
				</div>

				<div class="payWay">
					<p>
						<span class="iconfont icon-zhifubao" style="color:rgb(0,170,239)"></span>支付宝支付
					</p>
					<span class="iconfont icon-weixuanzhong xuanzhong"></span>
				</div>
				<div class="payWay">
					<p class="ylpic">
						<img src="__PUBLIC__/Home/images/yl.png" alt="">银联支付
					</p>
					<span class="iconfont icon-weixuanzhong xuanzhong"></span>
				</div>

				<div class="payConfirm">
					<p>立即付款</p>
				</div>
			</li>
		</ul>
	</div>
</div>
</body>
<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
<script src="__PUBLIC__/Home/js/public.js"></script>
<!-- 微信支付支持JS部分代码 -->
<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
<!-- 页面js -->
<script src="__PUBLIC__/Home/js/vipCenter/gradeSelect.js"></script>

<script>
    $('.gold').text(decodeURI('{{$annual.gold_describe}}'))
    $('.per_describe').text(decodeURI('{{$annual.per_describe}}'))
    $('.dia_describe').text(decodeURI('{{$annual.dia_describe}}'))
    //微信接口
    wx.config({
        debug: false,
        appId: '{{$wxinfo["appId"]}}',
        timestamp: '{{$wxinfo["timestamp"]}}',
        nonceStr: '{{$wxinfo["nonceStr"]}}',
        signature: '{{$wxinfo["signature"]}}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'chooseWXPay'
        ]
    });
    var status = '{{$status}}';
    $('.goldGrade').eq(status).show();
    if(status == 1){
    	alert('恭喜达到修改等级，钻石会员');
    }
    // var gradePanduan = $(".gradePanduan").val();//获取会员等级
    var dingdanID;
    // 点击提交
    $(".confirmBtn").on("touchstart", function() {

        if($(".goldGrade").hasClass("selectChange")) {
            $.ajax({
                url: '{{:U("Home/VipCenter/Usersorder")}}',
                type: 'post',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                async: false,
                data: {'name':selectName,'price':selectPrice,'annual_status':selectStatus},
                success: function(res){

                    console.log('成功！ ', res);
//                    $("#money").text('￥'+money);
//                    //如果返回的是订单号
                    if(typeof JSON.parse(res) == 'number'){

                        // 显示付款面板
                        dingdanID = res;

                        $(".payKuan").css("display", "block");
                        // 选中会员价格
                        $(".selectFinall").html(selectPrice);
                    }
                },
                error: function(res){
                    console.log('失败！ ', res);
                }
            })


        }
    });
    $('.payConfirm').on('touchstart',function(){

        console.log(dingdanID)
        $.ajax({
            url: '{{:U("Home/Pay/annualPay")}}',
            type: 'post',
            async: false,
            data: {order: dingdanID},
            success: function(res){

                if(res == -1){
                    console.log('支付错误！');
                    parent.layer.msg('支付错误！');
                }else{

                    weixinPay(res);
                }
            },
            error: function(res){
                console.log('失败！ ', res);
                parent.layer.msg('系统出了一点小问题，请稍后再试！');
            }
        })
    })


	/*
	 微信支付方法
	 */
    function weixinPay(res){
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            JSON.parse(res),
            function(res){

                if(res.err_msg.substr(-2) == 'ok'){

                    parent.layer.msg('付款成功！');
                    //付款成功后的操作
                    setTimeout(function(){
                        location.href = '{{:U("Home/VipCenter/index")}}';
                    },500);

                }else if(res.err_msg.substr(-6) == 'cancel'){
                    //取消订单操作
                }else{
                    parent.layer.msg('付款失败！');
                    //付款失败操作
//                    setTimeout(function(){
//                        location.href = '{{:U("PaymentSystem/paytofailed")}}';
//                    },500);

                }
            }
        )
    }
</script>
</html>
