<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/mall/lvxinx.css">
    <script src='__PUBLIC__/Home/js/vue.min.js'></script>
	<title>滤芯</title>
    <!-- <script src="__PUBLIC__/Home/js/vconsole.min.js"></script> -->
    <script>
        // var vconsole = new VConsole();
        var filterData = JSON.parse('{{$data["data"]}}'); // 滤芯剩余量
        var filterInfo = JSON.parse('{{$res|json_encode}}').filterInfo; // 滤芯剩余量
        console.log('filterData: ',filterData);
        console.log('filterInfo: ',filterInfo);
    </script>
</head>
<body>
	<div class="main" id='filter'>
        <div class="PPmain" v-for='(d,index) in dataList' :filtermode='filtermode'>
            <h2 v-text='"【"+d.name+"】"'>PP棉</h2>
            <p class='desc' v-text='d.desc'>有效去除原水中的泥沙、铁锈、污泥胶体等大于5微米的颗粒杂质 </p>
            <p>
                <b>剩余寿命</b>
                <!-- 按时长 -->
                <!-- <span v-text='(d.reday/(Number(d.reday)+Number(d.sumday)))*100'></span> -->
                <span :class='{fwarn: (d.sumday/(Number(d.reday)+Number(d.sumday))) >= .95}' 
                    v-if='filtermode == 0'><i v-text='d.reday'>05</i>天</span>
                <!-- 按流量 -->
                <span :class='{fwarn: (d.sumflow/(Number(d.reflow)+Number(d.sumflow))) >= .95}' 
                    v-else-if='filtermode == 1'><i v-text='d.reflow'>05</i>L</span>
                <!-- 按时长、流量 -->
                <span v-else 
                    :class='{fwarn: (d.sumday/(Number(d.reday)+Number(d.sumday))) >= .95
                    || (d.sumflow/(Number(d.reflow)+Number(d.sumflow))) >= .95}'>
                    <i v-if='d.reflow > d.reday' v-text='d.reday'>05</i>天
                    <i v-else v-text='d.reflow'>05</i>L
                </span>
            </p>
            <p class='process'>
                <!-- 警告图标 -->
                <span v-if='filtermode == 0' class='little'
                    :style='{opacity: (d.sumday/(Number(d.reday)+Number(d.sumday))) >= .95 ? "1" : "0"}'>
                    <img src="__PUBLIC__/Home/images/baojing.png" alt="">
                </span>
                <span v-else-if='filtermode == 1' class='little'
                    :style='{opacity: (d.sumflow/(Number(d.reflow)+Number(d.sumflow))) >= .95 ? "1" : "0"}'>
                    <img src="__PUBLIC__/Home/images/baojing.png" alt="">
                </span>
                <span v-else class='little'
                    :style='{opacity: (d.sumday/(Number(d.reday)+Number(d.sumday))) >= .95
                    || (d.sumflow/(Number(d.reflow)+Number(d.sumflow))) >= .95 ? "1" : "0"}'>
                    <img src="__PUBLIC__/Home/images/baojing.png" alt="">
                </span>
                <!-- 进度条 -->
                <span v-if='filtermode == 0'>
                    <!-- 按时长 -->
                    <i :class='{bgwarn: (d.sumday/(Number(d.reday)+Number(d.sumday))) >= .95}'
                    :style='{width: (d.sumday/(Number(d.reday)+Number(d.sumday))).toFixed(4)*100+"%"}'></i>
                </span>
                <span v-else-if='filtermode == 1'>
                    <!-- 按流量 -->
                    <i :class='{bgwarn: (d.sumflow/(Number(d.reflow)+Number(d.sumflow))) >= .95}'
                    :style='{width: (d.sumflow/(Number(d.reflow)+Number(d.sumflow))*100).toFixed(2)+"%"}'></i>
                </span>
                <span v-else>
                    <!-- 按时长、流量 -->
                    <i v-if='(d.reday/(Number(d.reday)+Number(d.sumday))) >= (d.reflow/(Number(d.reflow)+Number(d.sumflow)))' 
                        :style='{width: (d.sumflow/(Number(d.reflow)+Number(d.sumflow)))*100+"%"}'
                        :class='{bgwarn: (d.sumday/(Number(d.reday)+Number(d.sumday))) >= .95
                            || (d.sumflow/(Number(d.reflow)+Number(d.sumflow))) >= .95}'></i>
                    <i v-else :class='{bgwarn: (d.sumday/(Number(d.reday)+Number(d.sumday))) >= .95
                        || (d.sumflow/(Number(d.reflow)+Number(d.sumflow))) >= .95}'
                        :style='{width: (d.sumday/(Number(d.reday)+Number(d.sumday))).toFixed(4)*100+"%"}'></i>
                </span>
                <!-- 百分比 -->
                <span v-if='filtermode == 0' 
                    :class='{fwarn: (d.sumday/(Number(d.reday)+Number(d.sumday))) >= .95}'
                    v-text='(d.sumday/(Number(d.reday)+Number(d.sumday))*100).toFixed(2)+"%"'>95%</span>
                <span :class='{fwarn: (d.sumflow/(Number(d.reflow)+Number(d.sumflow))) >= .95}'
                    v-else-if='filtermode == 1' v-text='(d.sumflow/(Number(d.reflow)+Number(d.sumflow))*100).toFixed(2)+"%"'>95%</span>
                <span :class='{fwarn: (d.sumday/(Number(d.reday)+Number(d.sumday))) >= .95
                    || (d.sumflow/(Number(d.reflow)+Number(d.sumflow))) >= .95}'
                    v-else v-text='(d.sumflow/(Number(d.reflow)+Number(d.sumflow))*100).toFixed(2)+"%"'>95%</span>
            </p>
            <p class='reset' @click='reset(index, d.name)'>立即复位</p>
        </div>
    </div>
</body>
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/Home/js/pay/filter.js"></script>
<script src="__PUBLIC__/Home/js/filterpage.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
<script src="__PUBLIC__/Home/js/public.js"></script>
<script>
    filter.deviceid = filterData.deviceid;
    filter.filtermode = filterData.filtermode;
    // filter.filtermode = 2;  //模拟
    // 数据分组
    for(var i=0; i<filterInfo.length; i++){
        filterData.sumflow = filterData.sumflow ? filterData.sumflow : 1;
        filterData.sumday = filterData.sumday ? filterData.sumday : 1;
        filterData["reflowfilter"+(i+1)] = filterData["reflowfilter"+(i+1)] ? filterData["reflowfilter"+(i+1)] : 0;
        // 复位用的数据
        filter.restoreData.push({
            name: filterInfo[i].filtername,                    // 滤芯名称
            desc: filterInfo[i].introduce,                     // 滤芯描述
            reday: filterData["redayfilter"+(i+1)],           // 剩余天数
            reflow: filterData["reflowfilter"+(i+1)],         // 剩余流量
            sumday: filterData.sumday,                        // 已用天数
            sumflow: filterData.sumflow                       // 已用流量
        })
        // 显示用的数据
        filter.dataList.push({
            name: filterInfo[i].filtername,                    // 滤芯名称
            desc: filterInfo[i].introduce,                     // 滤芯描述
            reday: filterData["redayfilter"+(i+1)],           // 剩余天数
            reflow: filterData["reflowfilter"+(i+1)],         // 剩余流量
            sumday: filterData.sumday,                        // 已用天数
            sumflow: filterData.sumflow                       // 已用流量
        })
    }

    // 提示函数
    function layHint(text){
		layui.use('layer', function(){
			  var layer = layui.layer;
			  layer.msg(text);
		});
	}
</script>
</html>