<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/mall/lvxin.css">
	<title>滤芯</title>

</head>
<body>
    <input type="hidden" value={{$data['res']}} class="lvxin_data"><!--滤芯寿命-->
    <input type="hidden" value={{$data['data']}} class="filterData"><!--滤芯当前数据-->
	<header id="header">
		<span class="tabTitle" index="0">滤芯详情</span>
		<span class="tabTitle" index="1">滤芯复位</span>
		<span class="tabTitle" id="filterBuy" index="2">滤芯购买</span>
		<div id="line"><span></span></div>
	</header>
	<div id="content"> 
		<!-- 滤芯详情 -->
		<div id="lvxinDetail">
	        <div class="_background_color">
	            <!-- progress -->
	            <div>
	                <ul id="lvxinDetailUL"></ul>
	            </div>
	            <!-- RO膜 -->
	            <div class="_padding" id="lvxinIntroduce">
	            </div>
	        </div>
		</div>
		<!-- 滤芯复位 -->
		<div id="lvxinReset_base">
	        <div class="_background_color _displey">
	            <!-- progress -->
				<ul id="lvxinReset">
				</ul>
	            <div class="_text_align">
	                <!-- <button class="_btn">立即复位</button> -->
	            </div>
	        </div>
		</div>
		<!-- 滤芯购买 -->
		<div id="lvxinBuy">
    			<!-- <div class="goods">
    					<div class="img"><img src="__PUBLIC__/Home/images/ro_01_03.png" alt="正在加载..."></div>
    				<div class="desc">
    					<h5>RO膜</h5>
    					<p>RO膜能够有效地去除水中钙、镁、 细菌、有机物、无机物、金属离子和 放射性物质等</p>
    					<div>
    						<span class="price">￥<span>120.00</span></span>
    						<span class="num">
    							<input type="button" value="-" class="minus">
    							<input class="number" type="number" value="0">
    							<input type="button" value="+" class="plus">
    						</span>
    					</div>
    				</div>
    			</div> -->
			
		</div>
	</div>
    <footer id="footer" class="footer">
        <div>合计：<span>￥0</span></div>
        <span id="pay">去结算</span>
        <button class="_btn" type="button">确定复位</button>
    </footer>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/filterpage.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script type="text/javascript">
    $(function(){
        // 首页按钮
        !function(){
            // 创建 a 标签
            var home = document.createElement('a');
            home.innerText = '首\n页';
            
            home.href = '{{:U("Home/Index/index")}}';
            home.setAttribute("id", 'back2Home');

            // 添加到页面
            document.body.appendChild(home);
            home.onclick = function(){
                home.style.background = '#aaa';
            }
            return
            // console.log(home)
        }()
    	var priceAll = 0;	//合计价格
    	/*
            按加'+'号 
         */ 
    	$("#lvxinBuy").on("touchend",".plus",function(){
    		priceAll = 0;	//合计归零，后面重新计算
    		// 获取数量
    		var value = $(".number").val();
    		$(this).siblings(".number")[0].value++;

    		// 实时将总价格更新到合计
    		for(var i=0; i<$(".goods").length; i++){
    			if($(".goods").eq(i).find(".number")[0].value != 0){

    				priceAll += parseFloat($(".goods").eq(i).find(".number")[0].value)*parseFloat($(".goods").eq(i).find(".price>span").text());
    			}
    		}
    		// console.log(priceAll)
    		$("#footer>div>span").text('￥'+priceAll)
    	});

    	/*
            按减'-'号    
         */
    	$("#lvxinBuy").on("touchend",".minus",function(){
    		priceAll = 0;	//合计归零，后面重新计算
    		// 获取数量
    		var value = $(".number").val();
    		for(var i=0; i<$(this).siblings(".number").length; i++){
    			$(this).siblings(".number").val() <= 0
    			? 0
    			: $(this).siblings(".number")[i].value--
    		}
    		// console.log($(this).siblings(".number")[0].value);

    		// 实时将总价格更新到合计
    		for(var i=0; i<$(".goods").length; i++){
    			if($(".goods").eq(i).find(".number")[0].value != 0){

    				priceAll += parseFloat($(".goods").eq(i).find(".number")[0].value)*parseFloat($(".goods").eq(i).find(".price>span").text());
    			}
    		}
    		// console.log(priceAll)
    		priceAll = priceAll < 0 ? 0 : priceAll;
    		$("#footer>div>span").text('￥'+priceAll)
    	});
        var lvxin_data = JSON.parse($(".lvxin_data").val()).filterInfo;
        // console.log(lvxin_data);
    	//加载滤芯项
        var lvxinDetail_html='',lvxinReset_html='',lvxinBuy_html=''; 
        if(lvxin_data){
            for(var i = 0;i<lvxin_data.length;i++){
                if(lvxin_data[i]){
                    //滤芯购买
                    lvxin_data[i].introduce = !lvxin_data[i].introduce ? '暂无描述' : lvxin_data[i].introduce;
                	lvxinBuy_html+='<div class="goods" gid="'+ lvxin_data[i].id +'">'+
        					'<div class="img"><img src="/Uploads/'+ lvxin_data[i].picpath +'" alt="正在加载..."></div>'+
        				'<div class="desc">'+
        					'<h5>'+ lvxin_data[i].filtername +'</h5>'+
        					'<p>'+ lvxin_data[i].introduce +'</p>'+
        					'<div>'+
        						'<span class="price">￥<span>'+ lvxin_data [i].price +'</span></span>'+
        						'<span class="num">'+
        							'<input type="button" value="-" class="minus">'+
        							'<input class="number" type="number" value="0" disabled>'+
        							'<input type="button" value="+" class="plus">'+
        						'</span>'+
        					'</div>'+
        				'</div>'+
        			'</div>';
                }
            }
            $("#lvxinBuy").html(lvxinBuy_html);
        }

    	/*
    		filtername: 滤芯名称
    		picpath：图片路径
    		desc：滤芯描述
    		price：滤芯价格
    		num：选择的数量
    		priceAll：单一商品合计价格
            money: 单一商品总价钱，传给后台生成订单编号用
            gid: 商品id
    	 */
    	// 存储数量超过1的滤芯产品
        // 
    	var lvxinData = [];
    	var goods = $(".goods");
    	/*
            点击‘去结算’
         */ 
    	$("#pay").click(function(){
            //复位数据
            lvxinData = [];
    		for(var i=0; i<goods.length;i++){
    			if(goods.eq(i).find(".number").val() != 0){
    				//这个priceAll是单一商品的价格合计
    				var priceAll = parseInt(goods.eq(i).find(".price span").text())*parseInt(goods.eq(i).find(".number").val())
    				lvxinData.push(
    					{'filtername': goods.eq(i).find("h5").text(),
    					'picpath': goods.eq(i).find(".img img").attr("src"),
    					'desc': goods.eq(i).find(".desc>p").text(),
    					'price': parseInt(goods.eq(i).find(".price span").text()),
    					'num': parseInt(goods.eq(i).find(".number").val()),
    					'priceAll': priceAll,
                        'money': priceAll,
                        'gid': goods.eq(i).attr("gid")
    					}
    				)
    			}
    		}
    		//清除其他页面的sessionStorage
    		sessionStorage.setItem("goods_data", '');
    		sessionStorage.setItem("shopCar_data", '');

    		sessionStorage.setItem('lvxinData',JSON.stringify(lvxinData));
    		console.log(lvxinData);

    		// 选择滤芯后跳转
    		if(lvxinData.length){
    			// 发送ajax请求让后台生成订单号
    			$.ajax({
    				url: '{{:U("Home/Shop/information")}}',
    				type: 'post',
    				data: {'data':JSON.stringify(lvxinData)},
    				success: function(res){
    					console.log('成功！', res);
    					sessionStorage.setItem('order_id',res);
                        if(typeof JSON.parse(res) == 'number'){
                            //返回的是订单号，数字型
        					// 跳转到订单确认页面
        					location.href = '{{:U("Pay/lvxinPay")}}' +'?order_id='+res;
                        }else{
                            layuiHint('发生错误，无法购买！');
                        }
    				},
    				error: function(res){
    					console.log('失败！', res);
    				}
    			})
    		}else{
                layuiHint('请先选择需要购买的滤芯！');
    		}
    	})
    })
	</script>
</body>
</html>