<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/PaymentSystem/payConfirmx.css">
	<title>订单填写</title>
	<!-- <script src="__PUBLIC__/Home/js/vconsole.min.js"></script> -->
	<script>
        // var vConsole = new VConsole();
        var info = {
            data: JSON.parse('{{$data}}'),
            gtype: JSON.parse('{{$gtype}}'),
            rate: JSON.parse('{{$rate}}'),
            user: JSON.parse('{{$user}}'),
            goodsCourier: JSON.parse('{{$goodsCourier}}'),
        }
        console.log('info: ',info);
        var getGoodsByOrder = '{{:U("Pay/getGoodsByOrder")}}';
        var updateOrder = '{{:U("Pay/updateOrder")}}';
	</script>
</head>
<body>
	<div class="main payConfirm">
        <!-- 地址 -->
        <div class="orderAddress">
            <a href="{{:U('Address/newAddress')}}" v-if="info.data">
                <p v-text='info.data.name'>小鸡壳</p>
                <p>
                    <span v-text='info.data.phone'>1385642454</span>
                    <span v-text='info.data.address'>广州市番禺区大夫山北段362号钟村镇点球电子科技集团</span>
                </p>
                <p><span class="iconfont icon-right"></span></p>
            </a>
            <a href="{{:U('Address/newAddress')}}" if="!info.data">
                <p>添加地址</p>
                <p><span class="iconfont icon-right"></span></p>
            </a>
        </div>
        <!-- 订单详情 -->
        <div class="orderDetail">
            <ul>
                <li>
                    <span>商品合计</span>
                    <span>
                        <i class="iconfont icon-552cd51ece753"></i>
                        <i v-text='allMoney'>119.00</i>
                    </span>
                </li>
                <!-- <li>
                    <span>运费</span>
                    <span>
                        <i class="iconfont icon-552cd51ece753"></i>
                        <i v-text='info.order.postage'>0.00</i>
                    </span>
                </li>
                <li>
                    <span>配送</span>
                    <span v-text='info.order.express'>韵达快递</span>
                </li> -->
                <!-- <li>
                    <span>发货地</span>
                    <span v-text='info.sendAddr'>广州中山</span>
                </li> -->
                <li>
                    <!-- <p>
                        <span class="iconfont icon-weixuanzhong"></span>
                        <span>积分抵扣<i v-text='"-"+info.order.integral'>-1500</i></span>
                    </p>
                    <span class="iconfont icon-right"></span> -->
                </li>
            </ul>
        </div>
        <!-- 发票 -->
        <div class="invoice">
            <a href="{{:U('Invoice/index')}}">
                <p>
                    <span class="iconfont icon-weixuanzhong"></span>
                    <span>我要开发票</span>
                </p>
                <span class="iconfont icon-right"></span>
            </a>
            
        </div>
        <!-- 商品 -->
        <div class="goods">
            <ul>
                <li v-for='(good, index) in goods'>
                    <a href="####">
                        <p>
                            <span>
                                <img :src="good.gpic" alt="">
                            </span>
                            <span>
                                <i v-text='good.name'>滤芯外部活性炭</i>
                                <i>
                                    <span v-for='g in JSON.parse(good.gsku)' v-text='g.pname+"|"+g.name+"，"'>蒂芬妮蓝</span>
                                </i>
                                <i>全款购买</i>
                                <i>
                                    <b class="iconfont icon-552cd51ece753"></b>
                                    <b v-text='good.price'>119.00</b>
                                </i>
                            </span>
                        </p>
                        <span v-text='"x"+good.num'>x1</span>
                    </a>
                    <!-- 快递 -->
                    <p class='express'>
                        <select name="" id="" @change='expressChange(index)'>
                            <option :eid='e.cid' :cname='e.cname' :value='e.cname+"："+e.cprice' :price='e.cprice' v-for='e in good.Courier' v-text='e.cname+"："+e.cprice'></option>
                        </select>
                    </p>
                </li>
            </ul>
        </div>
        <!-- 立即付款 -->
        <div class="footFix">
            <p>应付：<span><i class="iconfont icon-552cd51ece753"></i><i v-text='allMoney'>1398.00</i></span></p>
            <p @click=''>立即付款</p>
        </div>
    </div>
</body>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
<script>
    
    //微信接口
    wx.config({
        debug: false,
        appId: '{{$wxinfo["appId"]}}',
        timestamp: '{{$wxinfo["timestamp"]}}',
        nonceStr: '{{$wxinfo["nonceStr"]}}',
        signature: '{{$wxinfo["signature"]}}',
        jsApiList: [
        // 所有要调用的 API 都要加到这个列表中
        'chooseWXPay'
        ]
    });
    
</script>
<script src='__PUBLIC__/Home/js/vue.min.js'></script>
<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
<script src='__PUBLIC__/Home/js/pay/payconfirm.js'></script>
</html>
