<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/PaymentSystem/payConfirmx.css">
	<title>订单填写</title>
	<!-- <script src="__PUBLIC__/Home/js/vconsole.min.js"></script> -->
	<script>
        // var vConsole = new VConsole();
        var info = {
            data: JSON.parse('{{$data}}'),
            gtype: JSON.parse('{{$gtype}}'),
            rate: JSON.parse('{{$rate}}'),
            user: JSON.parse('{{$user}}'),
            goodsCourier: JSON.parse('{{$goodsCourier}}'),
        }
        console.log('info: ',info);
        var getGoodsByOrder = '{{:U("Pay/getGoodsByOrder")}}';
        var updateOrder = '{{:U("Pay/updateOrder")}}';
        var orderPayByGold = '{{:U("PaymentSystem/orderPayByGold")}}';  // 金币支付
        var orderPayBySilver = '{{:U("PaymentSystem/orderPayBySilver")}}';  // 银币支付
        var orderPay = '{{:U("PaymentSystem/orderPay")}}';  // 微信支付
	</script>
</head>
<body>
	<div class="main payConfirm">
        <!-- 地址 -->
        <div class="orderAddress" v-if="info.data">
            <a href="{{:U('Address/newAddress')}}">
                <p v-text='info.data.name'>小鸡壳</p>
                <p>
                    <span v-text='info.data.phone'>1385642454</span>
                    <span v-text='info.data.address'>广州市番禺区大夫山北段362号钟村镇点球电子科技集团</span>
                </p>
                <p><span class="iconfont icon-right"></span></p>
            </a>
        </div>
        <div class="orderAddress" v-else>
            <a href="{{:U('Address/newAddress')}}">
                <p>添加地址</p>
                <p><span class="iconfont icon-right"></span></p>
            </a>
        </div>
        <!-- 订单详情 -->
        <div class="orderDetail">
            <ul>
                <li>
                    <span>商品合计</span>
                    <span>
                        <i class="iconfont icon-552cd51ece753"></i>
                        <i v-text='allMoney'>119.00</i>
                    </span>
                </li>
                <!-- <li>
                    <span>运费</span>
                    <span>
                        <i class="iconfont icon-552cd51ece753"></i>
                        <i v-text='info.order.postage'>0.00</i>
                    </span>
                </li>
                <li>
                    <span>配送</span>
                    <span v-text='info.order.express'>韵达快递</span>
                </li> -->
                <!-- <li>
                    <span>发货地</span>
                    <span v-text='info.sendAddr'>广州中山</span>
                </li> -->
                <li>
                    <!-- <p>
                        <span class="iconfont icon-weixuanzhong"></span>
                        <span>积分抵扣<i v-text='"-"+info.order.integral'>-1500</i></span>
                    </p>
                    <span class="iconfont icon-right"></span> -->
                </li>
            </ul>
        </div>
        <!-- 发票 -->
        <div class="invoice">
            <a href="{{:U('Invoice/index')}}">
                <p>
                    <span class="iconfont icon-weixuanzhong"></span>
                    <span v-text='invoice'>我要开发票</span>
                </p>
                <span class="iconfont icon-right"></span>
            </a>
            
        </div>
        <!-- 商品 -->
        <div class="goods">
            <ul>
                <li v-for='(good, index) in goods'>
                    <a href="####">
                        <p>
                            <span>
                                <img :src="good.gpic" alt="">
                            </span>
                            <span>
                                <i v-text='good.name'>滤芯外部活性炭</i>
                                <i>
                                    <span v-for='g in JSON.parse(good.gsku)' v-text='g.pname+"|"+g.name+"，"'>蒂芬妮蓝</span>
                                </i>
                                <i>全款购买</i>
                                <i>
                                    <b class="iconfont icon-552cd51ece753"></b>
                                    <b v-text='good.price'>119.00</b>
                                </i>
                            </span>
                        </p>
                        <span v-text='"x"+good.num'>x1</span>
                    </a>
                    <!-- 快递 -->
                    <p class='express'>
                        <select name="" id="" @change='expressChange(index)'>
                            <option :eid='e.cid' :cname='e.cname' :value='e.cname+"："+e.cprice' :price='e.cprice' v-for='e in good.Courier' v-text='e.cname+"："+e.cprice'></option>
                        </select>
                    </p>
                </li>
            </ul>
        </div>
        <!-- 立即付款 -->
        <div class="footFix">
            <p>应付：<span><i class="iconfont icon-552cd51ece753"></i><i v-text='allMoney'>1398.00</i></span></p>
            <p @click='prePay'>立即付款</p>
        </div>
		<div class="paystyle">
			<div class="paystyleTop"></div>
			<div class="payContain">
				<div class="paytop clearfix">
					<div class="paytopLeft"><i class="iconfont icon-cuohao"></i></div>
					<div class="paytopRight">
						<h3>付款</h3>
						<p v-text='"￥"+allMoney'>￥3620.00</p>
					</div>
				</div>
				<div class="paymidd">
					<h3>选择支付方式</h3>
					<ul class="clearfix">
						<li index="1" @click='choosePay(1)'>
                            <i class="iconfont icon-tubiao207"></i>金币<span class="iconfont icon-weixuanzhong"></span>
                        </li>
						<li index="2" @click='choosePay(2)'>
                            <i class="iconfont icon-tubiao207-copy"></i>银币<span class="iconfont icon-weixuanzhong"></span>
                        </li>
						<li index="3" @click='choosePay(3)'>
                            <i class="iconfont icon-z-weixin"></i>微信支付<span class="iconfont icon-weixuanzhong"></span>
                        </li>
						<!-- <li index="4"><i class="iconfont icon-zhifubao"></i>支付宝支付<span class="iconfont icon-kuang1"></span></li>
						<li index="5"><i class="iconfont icon-yinlian"></i>银联<span class="iconfont icon-kuang1"></span></li> -->
					</ul>
				</div>
				<div class="payBott">
					<input class="start" type="button" value="立即支付" @click='payNow'>
				</div>
			</div>
		</div>
    </div>
</body>
<script src="__PUBLIC__/Home/js/public.js?v={{:time()}}"></script>
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
<script src="__PUBLIC__/Admin/layui/layui.js"></script>
<script>
    
    //微信接口
    wx.config({
        debug: false,
        appId: '{{$wxinfo["appId"]}}',
        timestamp: '{{$wxinfo["timestamp"]}}',
        nonceStr: '{{$wxinfo["nonceStr"]}}',
        signature: '{{$wxinfo["signature"]}}',
        jsApiList: [
        // 所有要调用的 API 都要加到这个列表中
        'chooseWXPay'
        ]
    });
    // 微信支付方法
function weixinPay(res, callback){
	var type = Object.prototype.toString.call(res);
	if(type === '[object Object]'){
		res = JSON.stringify(res);
	}
	WeixinJSBridge.invoke(
		'getBrandWCPayRequest',
		JSON.parse(res),
		function(res){
			if (res.err_msg.substr(-2) == 'ok') {
                // 付款成功
                callback({result: 'ok'});
            } else if (res.err_msg.substr(-6) == 'cancel') {
                // 取消付款
                callback({result: 'cancel'});
            }else{
                // 付款失败
                callback({result: 'other'});
            }
        }
    );
};
</script>
<script src='__PUBLIC__/Home/js/vue.min.js'></script>
<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
<script src='__PUBLIC__/Home/js/pay/payconfirm.js'></script>
</html>
