<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'>
	<title>工单详情</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/station/detail.css">
	<script src='__PUBLIC__/Home/js/vue.min.js'></script>
</head>
<body>
	<div id='servicedetail'>
		<div class='dTop'>
			<div class='cfix'>
				<h2 class='fl bigf' v-text='info.phone'>手机号码</h2>
				<span class='fr info' v-text='type'>待办工单</span>
			</div>
			<ul class='cfix'>
				<li class='fl'>
					<p>
						售后人员：&emsp;<span v-text='info.name'></span>
					</p>
					<p>
						工单生成：&emsp;<span v-text='info.create_at'></span>
					</p>
					<p>
						工单审核：&emsp;<span v-text='info.update_at'></span>
					</p>
				</li>
				<li class='fr addworker' v-if='info.name == "未派工"'>派工</li>
			</ul>
		</div>
		<div class='dBot'>
			<div class='cfix'>
				<h2 class='fl bigf' v-text='info.kname'></h2>
				<span class='info fr'>用户信息</span>
			</div>
			<ul>
				<li>手机号码：&emsp;<span v-text='info.kphone'></span></li>
				<li>服务类型：&emsp;<span v-text='info.type'></span></li>
				<li>设备型号：&emsp;<span v-text='info.kphone'></span></li>
				<li class='len'>
					<span>详细地址：&emsp;</span>
					<span v-text='info.address'></span>
				</li>
			</ul>
			<ul class='ques'>
				<li class='len'>
					<span>问题描述：&emsp;</span>
					<span v-text='info.content'></span></li>
				<li>
					<span v-for='i in info.pic'>
						<img :src="i" alt="">
					</span>
				</li>
			</ul>
		</div>
		<button class='btnup' @click='getit'>我要接单</button>
	</div>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src='__PUBLIC__/Home/js/public.js'></script>
	<script>
		var servicedetail = new Vue({
			el: '#servicedetail',
			data () {
				return {
					type: '',
					result: '',
					workid: '',
					info: {},
				}
			},
			created (){
				this.workid = GetQueryString('workid');
				this.result = GetQueryString('result');
				console.log('result: ',this.result);
				var titleList = ['待办', '处理中', '待验收', '已完成'];
				var statusList = ['状态', '作业人员', '作业人员', '作业人员', '状态'];
				this.type = titleList[this.result == 'undefined' ? 4 : +this.result] + '工单';
				this.getDetail(this.workid);
			},
			methods: {
				getDetail (workid){
					// 获取详情
					$.ajax({
						url: '{{:U("Home/Service/getDetail")}}',
						type: 'post',
						data: {number: workid},
						success: function(res){
							console.log('res: ',res);
							if(res.status == 200){
								var typeList = ['安装', '维修', '维护'];
								res.data.name = res.data.name ? res.data.name : '未派工';
								res.data.create_at = dateformat(res.data.create_at);
								res.data.update_at = res.data.update_at ? dateformat(res.data.update_at) : '-- -- --';
								res.data.type = typeList[res.data.type];
								
								res.data.pic = ['/Uploads/2018-05-08/5af1372be2437.png','/Uploads/2018-05-08/5af1373180e6c.png'];
								servicedetail.info = res.data;

							}else{
								alert(res.msg);
							}
						},
						error: function(err){
							console.log('err: ',err);
						}
					})
				},
				getit () {
					// 我要接单
				}
			}
		})
	</script>
</body>
</html>