<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'>
	<title>服务站</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/station/index.css">
	<script src='__PUBLIC__/Home/js/vue.min.js'></script>
</head>
<body>
	<div id='service'>
		<div id='sTop'>
			<p v-text='service_name'></p>
		</div>
		<ul id='sBot'>
			<li class='worktype' @click='getList(0)' result='1'>
				<i></i>
				<span></span>
				<p>待办工单</p>
			</li>
			<li class='worktype' @click='getList(1)' result='2'>
				<i></i>
				<span></span>
				<p>处理中工单</p>
			</li>
			<li class='worktype' @click='getList(2)' result='3'>
				<i></i>
				<span></span>
				<p>待验收工单</p>
			</li>
			<li class='worktype' @click='getList(3)' result='4'>
				<i></i>
				<span></span>
				<p>已完成工单</p>
			</li>
			<li class='worktype' @click='getList()' >
				<i></i>
				<span></span>
				<p>全部工单</p>
			</li>
		</ul>
	</div>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script>
		var service = new Vue({
			el: '#service',
			data () {
				return {
					service_name: ''
				}
			},
			methods: {
				// 获取工单列表
				getList (result) {
					console.log('result: ',result);
					// 0：待处理 1处理中 2待验收 3(完成) 全部不传
					location.href = '{{:U("Home/Service/list")}}' + '?result=' + result;
					
				}
			}
		})
	</script>
</body>
</html>