<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'>
	<title>服务站</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/station/list.css">
	<script src='__PUBLIC__/Home/js/vue.min.js'></script>
</head>
<body>
	<div id='servicelist'>
		<div class='search' v-if="result != 4">
			<span>
				<i class='iconfont icon-sousuo' @click='search(word)'></i>
				<input type="text" placeholder="请输入工单号/设备编码" v-model='word' @keyup.enter='search(word)'>
			</span>
		</div>
		<div class='title spli'>
			<span>工单号</span>
			<span v-text='status'>状态</span>
			<span>生成时间</span>
		</div>
		<ul class='content'>
			<li class='spli' v-for='li in list' @click='getDetail(li.number, li.result)'>
				<span v-text='li.number'></span>
				<span v-if='result == 0 || result == "undefined"' :style='li.style' v-text='li.text'></span>
				<span v-if='result == 1 || result == 2 || result == 3 || result == 4' v-text='li.name'></span>
				<span v-text='li.create_at'></span>
				<!-- <p class="stars" v-if="result == 4 || result == 0 || result == 'undefined'">
					<i class="iconfont icon-star1" v-for="starnumN in starN"></i>
					<span>
						<i class="iconfont icon-star" v-for="starnumD in starD"></i>
					</span>
				</p> -->
			</li>
			<div class='loadmore' @click='loadmore' :style='{display: loadstyle}'>加载更多</div>
		</ul>
		<p class='notice' :style='{display: noticestyle}' v-text='notice'></p>
		
		<!-- 添加安装人员 -->
		<div class="installAdd" v-if="result == 4">
			<a href="{{:U('Home/Service/installInfo')}}?index=1">
				<span class="iconfont icon-jiahao"></span>
				<!-- <span>添加安装人员</span> -->
			</a>
			
		</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
	<script src='__PUBLIC__/Home/js/public.js'></script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script>
		var servicelist = new Vue({
			el: '#servicelist',
			data () {
				return {
					word: '',			// 搜索框value
					status: '',			// 工单状态
					service_name: '',	// 服务站名称
					list: [],			// 数据列表
					result: '',			// 工单类型 0待处理 1处理中 2待验收 3(完成)
					page: 1,			// 分页
					// diffStatrs: "",	
					// starN: 5,	
					loadstyle: 'block',
					colorList: ['color:#f16e65;', 'color:#2196F3;', 'color:#2196F3;', 'color:#00d4c2;'],
					titleList: ['未派工工单', '处理中工单', '待验收工单', '已完成工单', '员工管理', '全部工单'],
					statusList: ['状态', '作业人员', '作业人员', '作业人员', '姓名', '状态'],
					notice: '正在加载...',
					noticestyle: 'block',
				}
			},
			created (){
				var vm = this;
				this.result = GetQueryString('result');
				console.log('result: ',this.result);
				document.title = vm.titleList[!this.result ? 5 : +this.result];
				this.status = vm.statusList[!this.result ? 5 : +this.result];
				// if(this.result == 4 || this.result == 0 ||this.result == "undefined") {
				// 	this.diffStatrs = "星级";
				// }else {
				// 	this.diffStatrs = "生成时间";
				// }
				// result: 0待处理 1处理中 2待验收 3(完成)
				// 获取列表
				this.getList(function(res){
					console.log('res: ',res);
					if(res.data.length){
						for(var i=0; i<res.data.length; i++){
							// this.starD = +res.data[i].star;
							// console.log("星星个数",res.data[i].name, +res.data[i].star);
							if(vm.result == '4') {
								vm.list.push({
									name: res.data[i].name,
									number: res.data[i].sn,
									create_at: timetrans(res.data[i].addtime),
									result: res.data[i].id
								});
							}else {
								vm.list.push({
									name: res.data[i].name,
									number: res.data[i].number,
									text: vm.titleList[+res.data[i].result],
									style: vm.colorList[+res.data[i].result],
									create_at: timetrans(res.data[i].create_at),
									result: res.data[i].result
								});
							}
							
						}
						vm.noticestyle = 'none';
					}else{
						vm.notice = '查无数据';
						vm.loadstyle = 'none';
						layuiHint('查无数据');
						
					}
					vm.page++;
				}, this.result, vm.page);
			},
			methods: {
				// 获取列表数据
				getList (callback, result, page) {
					console.log(result, page)
					var vm = this;
					var option = {
						url: getURL('Home', 'Service/getList'),
						type: 'get',
						success: function(res){
							// console.log('list res: ',res);
							if(res.status == 200){
								callback(res);
							}else{
								vm.loadstyle = 'none';
								layuiHint('查无数据');
							}
						},
						error: function(err){
							console.log('err: ',err);
							layuiHint('系统出错，请稍后再试'); 
						}
					}
					// 全部（result: 11）
					// result: 0待处理 1处理中 2待验收 3(完成)
					console.log("result", result, typeof result)
					if((result+'')){
						console.log(123132123)
						option['data'] = {};
						option['data']['result'] =  result;
					}
					if(page){
						// 请求分页数据
						if(typeof option['data'] != "object") {
							option['data'] = {};
						}
						option['data']['p'] = vm.page;
					}
					// 获取数据
					$.ajax(option);
				},
				// 跳到详情界面
				getDetail (workid, result) {
					// console.log(result);return;
					if(this.result == 4) {
						location.href = getURL('Home', 'Service/installInfo') + '?uid=' + result;
					}else {
						location.href = getURL('Home', 'Service/detail')+'?result='+ result +'&workid='+ workid;
					}
					
				},
				// 加载更多
				loadmore () {
					var vm = this;
					console.log('result: ', vm.result);
					console.log('page: ', vm.page);
					// 请求分页数据
					this.getList(function(res){
						console.log('res: ',res);
						if(res.data.length){
							for(var i=0; i<res.data.length; i++){
								if(vm.result == 4) {
									vm.list.push({
										name: res.data[i].name,
										number: res.data[i].sn,
										create_at: timetrans(res.data[i].addtime),
										result: res.data[i].id
									})
								}else {
									vm.list.push({
										name: res.data[i].name,
										number: res.data[i].number,
										text: vm.titleList[+res.data[i].type],
										style: vm.colorList[+res.data[i].type],
										create_at: timetrans(res.data[i].create_at)
									});
								}
								
							}
							vm.page++;
						}else{
							vm.loadstyle = 'none';
							layuiHint('无更多数据');
							
						}
					}, vm.result, vm.page);
				},
				// 搜索
				search (word) {
					var vm = this;
					console.log('word: ', word);
					if(!word){
						layuiHint('请输入工单号');
						return
					}
					$.ajax({
						url: getURL('Home', 'Service/getList'),
						type: 'get',
						data: {result: vm.result, word: word},
						success: function(res){
							console.log('搜索res: ',res);
							if(res.status == 200){
								vm.list = [];
								if(res.data.length){
									for(var i=0; i<res.data.length; i++){
										vm.list.push({
											name: res.data[i].name,
											number: res.data[i].number,
											text: vm.titleList[+res.data[i].type],
											style: vm.colorList[+res.data[i].type],
											create_at: timetrans(res.data[i].create_at)
										});
									}
								}else{
									layuiHint('查无数据');
								}
							}else{
								layuiHint('查无数据');
							}
						},
						error: function(err){
							console.log('err: ',err);
							layuiHint('系统出错，请稍后再试');
						}
					})
				}
			}
		})
	</script>
</body>
</html>