<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交成功</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<style>
		body {
			border-top: 1px solid white;
		}
		.main {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 4.90666667rem;
		}
		.main span {
			font-size: 5.2rem;
			color: #32c97c;
		}
		.main p {
			margin-top: 0.64rem;
			font-size: 1rem;
			color: #373737;
		}
		
	</style>
</head>
<body>
	<div class="main">
		<span class="iconfont icon-chenggong"></span>
		<p>提交成功</p>
	</div>
</body>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script>
	
	var val ={{$_GET|json_encode}};
	$("title").text(val.title);
	$("p").text(val.title);
	setTimeout(function() {
		location.href = "{{:U('Home/Service/worklist')}}";
	},1500);
</script>
</html>