<extend name="Public/base" />
<block name="mylink">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/layui/css/layui.css">
</block>
<block name="content">
    <div class="content">
        <div class="row-fluid fl" id="main">
            <div class="tableBox">
                <div class="ibox-title">
                    <h5>用户管理 <small>用户列表</small></h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="5%">
                                    序号
                                </th>
                                <th>
                                    会员等级
                                </th>
                                <th width="15%">
                                    用户昵称
                                </th>
                                <th>
                                    用户头像
                                </th>
                                <th>
                                    用户性别
                                </th>
                                <th>
                                    金币数量
                                </th>
                                <th>
                                    银币数量
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <empty name="data">
                                <tr><td colspan="6">暂无用户信息</td></tr>
                            <else />
                                <volist name="data" id="vo">
                                    <tr>
                                        <td>{{$i}}</td>
                                        <td>
                                            <!-- 会员等级{0：非企业会员，1：普通会员，2：VIP会员，3：标准会员，4：钻石会员} -->
                                            <switch name="vo.grade">
                                                <case value="0">非企业会员</case>
                                                <case value="1">普通会员</case>
                                                <case value="2">VIP会员</case>
                                                <case value="3">标准会员</case>
                                                <case value="4">钻石会员</case>
                                            </switch>
                                        </td>
                                        <td><a href="#">{{$vo.nickname}}</a></td>
                                        <td><img style="width: 80;height: 80px" src="{{$vo.head}}"></td>
                                        <td>
                                            <switch name="vo.sex">
                                                <case value="1">男</case>
                                                <case value="0">女</case>
                                                <default>保密
                                            </switch>
                                        </td>
                                        <td>
                                            {{$vo.gold_num}}
                                        </td>
                                        <td>
                                            {{$vo.silver}}
                                        </td>
                                        <td>
                                            <a class="btn btn-success cx" userId="{{$vo.id}}">查看</a>
                                        </td>
                                    </tr>
                                </volist>
                            </empty>
                        </tbody>
                    </table>
                    <div>
                        {{$button}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
    <script src="__PUBLIC__/Admin/layui/layui.js"></script>
    <script>
        $("td").on('click', '.cx', function(e){
            var id = $(this).attr('userId');
            location.href = "{{:U('user_detail','','')}}?id="+id;
        });
    </script>    
</block>