<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/address/index.css">
	<title>收货地址管理</title>
</head>
<body>
	<div id="content">
	<empty name="data">
		<h3 class="noaddress">还没有一条地址</h3>
	<else />
		<volist name="data" id="v">
			<div class="address" index="{{$v.id}}">
				<div class="aTop">
					<p>
						<span class="uName">{{$v.name}}</span>
						<span class="uPhone">{{$v.phone}}</span>
					</p>
					<input type="hidden" class="province" value="{{$v.province}}">
					<input type="hidden" class="city" value="{{$v.city}}">
					<input type="hidden" class="area" value="{{$v.area}}">
					<input type="hidden" class="town" value="{{$v.town}}">
					<p class="uAddress">{{$v.address}}</p>
				</div>
				<div class="aBottom">
					<div>
						<switch name="v.status">
							<case value="0">
								<input id="setAddress-{{$v.id}}" class="setAddress" type="radio" name="radio" index="{{$v.id}}" checked />
								<label for="setAddress-{{$v.id}}" index='{{$v.id}}'>默认地址</label>
								<p>
									<span class="edit" index="{{$v.id}}">编辑</span>
									<span class="del">删除</span>
								</p>
							</case>
							<case value="1">
								<input id="setAddress-{{$v.id}}" class="setAddress" type="radio" name="radio" index="{{$v.id}}" />
								<label for="setAddress-{{$v.id}}" index='{{$v.id}}'>默认地址</label>
								<p>
									<span class="edit" index="{{$v.id}}">编辑</span>
									<span class="del">删除</span>
								</p>
							</case>
						</switch>
					</div>
				</div>
			</div>
		</volist>
	</empty>
		<!-- <div class="address">
			<div class="aTop">
				<p>
					<span class="uName">Yoofds</span>
					<span class="uPhone">13612345678</span>
				</p>
				<p class="uAddress">广州市番禺区反倒是街道五巷7号</p>
			</div>
			<div class="aBottom">
				<div>
					<input id="setAddress-1" class="setAddress" type="radio" name="radio" index="1" />
					<label for="setAddress-1" index='1'>默认地址</label>
					<p>
						<span class="edit" index="1">编辑</span>
						<span class="del">删除</span>
					</p>
				</div>
			</div>
		</div> -->
	</div>
	<!-- 添加地址弹出面板 -->
	<div id="editAddressPanel">
		<p index="这个空标签不能删"></p>
		<div>
			<p class="closePannel">X</p>
			<div>
				<label for="">姓名:</label>
				<input type="text" placeholder="请输入姓名" autofocus class="editName" value=''>
			</div>
			<div>
				<label for="">电话:</label>
				<input type="text" placeholder="请输入电话" class="editPhone" value=''>
			</div>
			<div id="areaChoose" class="citys">
				<div class="areaChoosebg">地区:</div>
		        <div id="areaDiv">
					<select name="province" class="editProvince">
	                	<option value="440000" data-code="440000"></option>
	                </select>
	                <select name="city" class="editCity">
	                	<option value="440100" data-code="440100"></option>
	                </select>
	                <select name="area" class="editArea">
	                	<option value="440103" data-code="440103"></option>
	                </select>
		            <select name="town" class="editTown">
		            	<option value="440113015"></option>
		            </select>
		    	</div>
			</div>
			<span class="pDetail">
				<p>详细地址：</p>
				<textarea name="" id="" cols="30" rows="5" placeholder="请输入详细地址"></textarea>
			</span>
			<span class="saveAddress">保存</span>
		</div>
	</div>
	<footer id="footer">
		<a href="#">
			<input type="button" id="newAddress" value="+" align="center">
			<label for="newAddress">添加新地址</label>
		</a>
	</footer>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.citys.js"></script>
	<script>
    $(function(){

		// 首页按钮
		!function(){
			// 创建 a 标签
			var home = document.createElement('a');
			home.innerText = '首\n页';
			
			home.href = '{{:U("Home/VipCenter/index")}}';
			home.setAttribute("id", 'back2Home');

			// 添加到页面
			document.body.appendChild(home);
			home.onclick = function(){
				home.style.background = '#aaa';
			}
			return
			// console.log(home)
		}()
		
        // 存放打开的地址的序号
        var addressIndex;

		// 存放姓名，电话，地址，省份，城市，区/县，街道
		var uName, uPhone, uAddress, uProvince, uCity, uArea, uTown;

		/*
			点击文字默认地址
		 */
		$("#content").on('click','.normalAddress',function(){
			$(".normalAddress").each(function(index,key){
				$(".normalAddress").eq(index).siblings(".setAddress").attr("checked", false);
				// console.log(index, key);
			})
			$(this).siblings(".setAddress").attr("checked", true);
			console.log($(this).siblings(".setAddress"));
			uName = $(this).parents(".address").find(".uName").text();
			uPhone = $(this).parents(".address").find(".uPhone").text();
			uAddress = $(this).parents(".address").find(".uAddress").text();

			console.log('姓名：'+uName, '\n电话：'+uPhone, '\n地址：'+uAddress);
			var address_id = parseInt($(this).attr("index"));		//地址id
			// 发送ajax请求告诉后台，哪个是默认地址
			$.ajax({
				url: '{{:U("Address/edit_address")}}',
				type: 'post',
				data: {'address_id': address_id,'status': 0},
				success: function(res){
					console.log('成功！ ', res)
					if(sessionStorage.getItem("order_id")){
						//如果有订单号
						// 选择默认地址后，返回订单确认界面
						setTimeout(function(){
            				// 默认地址设置成功，返回上一页
							location.href = '{{:U("Pay/payConfirm")}}';
            			},500);
					}
				},
				error: function(res){

					console.log('失败！ ', res)
				}
			});
			console.log(address_id)
		})
        /*
        	点击按钮设置默认地址
         */
        $("#content").on('click','.setAddress',function(){
            $(".normalAddress").each(function(index,key){
                $(".setAddress").eq(index).attr("checked", false);
                // console.log(index, key);
            })
            $(this).attr("checked", true);
            // console.log($(this).siblings(".setAddress"));
            uName = $(this).parents(".address").find(".uName").text();
            uPhone = $(this).parents(".address").find(".uPhone").text();
            uAddress = $(this).parents(".address").find(".uAddress").text();

            console.log('姓名：'+uName, '\n电话：'+uPhone, '\n地址：'+uAddress);
			
			var address_id = parseInt($(this).attr("index"));		//地址id
			// 发送ajax请求告诉后台，哪个是默认地址
			// console.log('address_id: ',address_id);
			$.ajax({
				url: '{{:U("Address/edit_address")}}',
				type: 'post',
				data: {'id': address_id,'status': 0},
				success: function(res){
					console.log('成功！ ', res)
					if(res.code == 200){
            			layHint('设置成功！');
						if(sessionStorage.getItem("order_id")){
							//如果有订单号
							// 选择默认地址后，返回订单确认界面
							setTimeout(function(){
	            				// 默认地址设置成功，返回上一页
								location.href = '{{:U("Pay/payConfirm")}}';
	            			},500);
						}
					}else{
            			layHint('设置失败,请稍后再试！');
					}
				},
				error: function(res){
					console.log('失败！ ', res)
            		layHint('遇到未知问题，设置失败！');
				}
			});
        })

		// 点击‘X’关闭添加地址面板
		$("#editAddressPanel").on("click",".closePannel", function(){
            
			$("#editAddressPanel>div").animate({marginTop: '50vh'});
			var int = setInterval(function(){
				parseInt($("#editAddressPanel>div").css("marginTop")) >= $(window).height()/2-20
				? (
					$("#editAddressPanel").hide(),
					clearInterval(int)
				)
				: ''
			},100);
		})
		/*
			点击编辑按钮
		 */ 
		$("#content").on("click",'.edit',function(){
			//清除编辑历史数据
			sessionStorage.setItem("editAddressOld", '');
			var editAddress = {};	//点击编辑的地址数据
			//0表示是默认地址，1表示非默认地址
			editAddress['status'] = $(this).parents(".address").find(".setAddress").attr("checked") ? 0 : 1;
            // 将编辑所在条目的姓名，电话，地址填写到面板相应位置
			editAddress['id'] = $(this).attr("index");
			editAddress['name'] = $(this).parents(".address").find(".uName").text();
			editAddress['phone'] = $(this).parents(".address").find(".uPhone").text();
			editAddress['province'] = $(this).parents(".address").find(".province").val();
			editAddress['city'] = $(this).parents(".address").find(".city").val();
			editAddress['area'] = $(this).parents(".address").find(".area").val();
			editAddress['town'] = $(this).parents(".address").find(".town").val();
			editAddress['address'] = $(this).parents(".address").find(".uAddress").text();
			// console.log(editAddress);
			//分割得到详细地址
			var _4address = editAddress['province']+editAddress['city']+editAddress['area']+editAddress['town'];	
			editAddress['address'] = editAddress['address'].slice(_4address.length);
			//记录当前点击编辑的地址数据
			sessionStorage.setItem("editAddressOld",JSON.stringify(editAddress));
			//跳转到地址编辑界面
			location.href = '{{:U("Address/newAddress")}}';
		})

        /*
        	点击删除按钮
         */
        $("#content").on('click','.del',function(){
        	var _this = $(this);
        	var address_id = $(this).siblings(".edit").attr("index");
            console.log('address_id: ',address_id);
			layer.confirm('确认删除？删除后无法恢复！', 
	            {
	              btn: ['确定','取消'] //按钮
	            }, 
	            function(){
		            // 发送ajax让后台删除这条地址在数据库的数据
		            $.ajax({
		            	url: '{{:U("Address/del_address")}}',
		            	type: 'post',
		            	data: {'id': address_id},
		            	success: function(res){
		            		console.log('成功！', res)
		            		//后台返回参数确认删除成功
		            		if(res.code == 200){
		            			_this.parents(".address").remove();
		            			layHint('删除成功！');
		            		}else{
		            			layHint('删除失败！');
		            		}
		            	},
		            	error: function(res){
		            		console.log('失败！', res)
		            		layHint('删除失败！');
		            	}
		            })
		            return true;
	            },
	            function(){
	                layer.msg('已取消！', {icon: 1});
	                return false;
	            }
	        );
        })
        /*
        	点击'新建'
         */
        $("#footer").click(function(){
        	// 清除历史编辑数据
        	sessionStorage.setItem('editAddressOld','');
        	// 跳转到新建地址页面
        	location.href = "{{:U('Home/Address/newAddress')}}";
        })
        // 将数据输出为JSON对象数组格式
        // var arr = [];
        // for(var i=0; i<$(".address").length; i++){
        //     arr.push({
        //         uName: $(".address").eq(i).find(".uName").text(),
        //         uPhone: $(".address").eq(i).find(".uPhone").text(),
        //         uAddress: $(".address").eq(i).find(".uAddress").text()
        //     })
        // }
        // console.log(arr);

	    //提示框函数
	    function layHint(text){
    		layui.use('layer', function(){
                var layer = layui.layer;
                layer.msg(text);
            });
	    }
		/*
			地址四级联动
		 */
		var script = $("<script/>");
		var scriptCode = '';
			var province,city,area,town;

			// 关闭地区选择，并显示到对应区域
			$("#confirmAreaChoose").on("click", function(){
				
				$("#areaID").val( (!city && !area) ? '请选择' : city + area);

				// 获取 街道 选中的值
				$("#townID")
				.val(
					!($('#areaChoose select[name="town"]').find("option:selected").text())
					? '请选择'
					: $('#areaChoose select[name="town"]').find("option:selected").text()
				);

				$("#areaChoose").css({display: "none"});
				// console.log($('#areaChoose select[name="town"]').find("option:selected"));

			});

			// 生成选择地区~省市县街道四级联动
			var $town = $('#areaChoose').find('select[name="town"]');
		    var townFormat = function(info){
			    $town.hide().empty();
			    if(info['code']%1e4&&info['code']<7e6){	//是否为“区”且不是港澳台地区
			    	$.ajax({
			    		url:'http://passer-by.com/data_location/town/'+info['code']+'.json',
			    		dataType:'json',
			    		success:function(town){
			    			$town.show();
		    				// console.log(town);
		    				var townHTML = '';
			    			for(i in town){
			    				townHTML += '<option value="'+i+'">'+town[i]+'</option>';
			    			};
			    			$town.append(townHTML);
			    			// console.log($town)

					    	province = info.province;	//省、市、区在这里生成
							city = info.city;
							area = info.area;
			    		},
			    		err: function(res){
			    			console.log(res);
			    		}
			    	});
			    }
		    };
		    $('#areaChoose').citys({
		    	required: false,
		    	nodata: 'disabled',
		        onChange:function(info){
		        	townFormat(info);
		        }
		    },function(api){
		        var info = api.getInfo();
		        townFormat(info);
		    });
		script.html(scriptCode);
		$("body").append(script);
    })
	</script>
</body>
</html>