<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/address/newAddress.css">
	<title>添加新地址</title>
    <script src="__PUBLIC__/Home/js/vconsole.min.js"></script>
    <script>
        // var vconsole = new VConsole();
    </script>
</head>
<body>
	<div id="info">
		<div>
			<span>收&nbsp;&nbsp;货&nbsp;人:</span>
			<input type="text" class="name" placeholder="收货人">
		</div>
		<div>
			<span>联系电话:</span>
			<input type="text" class="phone" placeholder="电话">
		</div>
		<div>
			<span>所在地区:</span>
			<span>
				<input type="text" id="areaID" class="areabtn" onfocus="this.blur()" placeholder="请选择 >">
			</span>
			
		</div>
		<!-- <div>
			<span>街&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;道:</span>
			<span>
				<input type="button" id="townID" class="town" placeholder="请输入街道">
			</span>
			
		</div> -->
		<textarea name="" id="addressDetial" cols="2" rows="10" placeholder="请谨慎填写详细地址"></textarea>
	</div>
	<div id="areaChoose" class="citys">
		<div class="areaChoosebg"></div>
        <div class="areaDiv">
        	<div>
        		<span>省份</span>
        		<span>城市</span>
        		<span>区县</span>
        	</div>
			<ul>
				<li class='province'>
					<p></p>
				</li>
				<li class='city'>
					<p></p>
				</li>
				<li class='area'>
					<p></p>
				</li>
			</ul>
    	</div>
    	<!-- <div id="confirmAreaChoose">
    		<div>确定</div>
    	</div> -->
	</div>
	<div id="norAddrDiv">
		<label for="normalAddrdess">
			设为默认地址
		</label>
		<input id="normalAddrdess" type="checkbox">
	</div>
	<footer id="footer">
		<input type="button" id="saveAddress" value="保存">
	</footer>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.citys.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
	<script src='__PUBLIC__/Home/js/address/newaddress.js'></script>
</body>
</html>