<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/address/newAddress.css">
	<title>添加新地址</title>
</head>
<body>
	<div id="info">
		<div>
			<span>收&nbsp;&nbsp;货&nbsp;人:</span>
			<input type="text" class="name" placeholder="收货人">
		</div>
		<div>
			<span>联系电话:</span>
			<input type="text" class="phone" placeholder="电话">
		</div>
		<div>
			<span>所在地区:</span>
			<span>
				<input type="text" id="areaID" class="area" onfocus="this.blur()" placeholder="请选择 >">
			</span>
			
		</div>
		<div>
			<span>街&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;道:</span>
			<span>
				<input type="button" id="townID" class="town" placeholder="请输入街道">
			</span>
			
		</div>
		<textarea name="" id="addressDetial" cols="2" rows="10" placeholder="请谨慎填写详细地址"></textarea>
	</div>
	<div id="areaChoose" class="citys">
		<div class="areaChoosebg"></div>
        <div class="areaDiv">
			<p>
				<select name="province">
                	<option value="440000" data-code="440000">广东省</option>
                </select>
                <select name="city">
                	<option value="440100" data-code="440100">广州市</option>
                </select>
                <select name="area">
                	<option value="440103" data-code="440103">番禺区</option>
                </select>
	            <select name="town">
	            	<option value="440113015">钟村街道</option>
	            </select>
			</p>
    	</div>
    	<div id="confirmAreaChoose">
    		<div>确定</div>
    	</div>
	</div>
	<div id="norAddrDiv">
		<label for="normalAddrdess">
			设为默认地址
		</label>
		<input id="normalAddrdess" type="checkbox">
	</div>
	<footer id="footer">
		<input type="button" id="saveAddress" value="存储">
	</footer>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.citys.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
	<script>
		// 如果存在订单id，则返回订单确认界面；否则回到‘我的’界面
		if(sessionStorage.getItem("order_id")){
			history.replaceState({}, null, '{{:U("PaymentSystem/payConfirm")}}');

		}else{
			history.replaceState({}, null, '{{:U("VipCenter/index")}}');
		}
		var editAddressOld;
		//获取编辑地址的数据
		if(sessionStorage.getItem("editAddressOld")){
			editAddressOld = JSON.parse(sessionStorage.getItem("editAddressOld"));
			console.log(editAddressOld);
			document.title = '编辑地址';	//设置当前页面title为编辑地址
			//将编辑的地址信息显示在编辑框中
			$(".name").val(editAddressOld.name);
			$(".phone").val(editAddressOld.phone);
			$(".area").val(editAddressOld.province+editAddressOld.city+editAddressOld.area);
			$(".town").val(editAddressOld.town);
			$("#addressDetial").val(editAddressOld.address);
			if(editAddressOld.status == 0){
				//选的是默认地址
				$("#normalAddrdess")[0].checked = true;
			}else{
				$("#normalAddrdess")[0].checked = false;
			}
			// console.log($("#normalAddrdess")[0].checked)
		}
		//编辑地址改变
		var addressChange = false;
		$(".area").click(function(){
			addressChange = true;
		})

		var lvxinData = sessionStorage.getItem("lvxinData"),
			shopCar_data = sessionStorage.getItem("shopCar_data"),
			goods_data = sessionStorage.getItem("goods_data");
		// 解决移动端虚拟键盘开启时底部内容被顶上来的问题
		solveCompatible($("#footer"));
	    /*
	    	name: 收货人
	    	phone: 电话
	    	areaID: 市县
	    	town: 街道
	     */
	    // 验证姓名，电话，地区的正则表达式
	    var nameReg, phoneReg, areaReg;
	    nameReg = /^[\w\-\u4e00-\u9fa5]{2,255}$/u;
	    phoneReg = /^1((((3[0-35-9])|([5|8][0-9])|(4[5|7|9])|66|(7[3|5-8])|(9[8|9]))\d)|(34[0-8]))\d{7}$/;
	    areaReg = /^[\w\-\u4e00-\u9fa5]{2,255}$/u;

	    // 点击’存储‘
	    $("#saveAddress").click(function(){
	    	var nameRes = nameReg.test($(".name").val());
	    	var phoneRes = phoneReg.test($(".phone").val());
	    	var areaIDRes = nameReg.test($("#areaID").val());
	    	var townRes = nameReg.test($(".town").val());
	    	var addressDetialRes = nameReg.test($("#addressDetial").val());

	    	var editAddressObj = {};	//存储需要发送给后台的数据
	    	var editName = $(".name").val(),
	    		editPhone = $(".phone").val();
	    	if(sessionStorage.getItem("editAddressOld")){
				/*
					编辑地址
				 */
				if(editName != editAddressOld.name){		//如果修改了姓名
					editAddressObj['name'] = editName;
				}
				if(editPhone != editAddressOld.phone){		//如果修改了手机号
					editAddressObj['phone'] = editPhone;
				}
				if(addressChange){	//如果有修改地址

					editAddressObj['province'] = $("select[name='province']").find("option:selected").text();
					editAddressObj['city'] = $("select[name='city']").find("option:selected").text();
					editAddressObj['area'] = $("select[name='area']").find("option:selected").text();
					editAddressObj['town'] = $("select[name='town']").find("option:selected").text();
					editAddressObj['address'] = editAddressObj['province']+editAddressObj['city']+editAddressObj['area']+editAddressObj['town']+$("#addressDetial").val();
					
				}else{
					editAddressObj['address'] = editAddressOld['province']+editAddressOld['city']+editAddressOld['area']+editAddressOld['town']+$("#addressDetial").val();
				}
				// console.log(addressChange)
				// console.log('editAddressOld: ',editAddressOld)
				console.log('editAddressObj: ', editAddressObj)
				editAddressObj['id'] = editAddressOld.id;		//地址id
				if(nameRes && phoneRes && areaIDRes && townRes && addressDetialRes && $(".town").val() != ''){

		    		console.log('通过！');
			    	if($("#normalAddrdess").attr("checked")){
			    		//设为默认地址
			    		editAddressObj['status'] = 0;
			    	}else{
			    		editAddressObj['status'] = 1;
			    	}
			    	console.log(editAddressObj);
			    	// console.log($("#addressDetial").val() == editAddressOld['address'],$(".name").val() == editAddressOld['name'], $(".phone").val() == editAddressOld['phone'])
			    	// console.log($("#addressDetial").val(),editAddressOld['address'])
			    	// console.log($(".name").val(),editAddressOld['name']) 
			    	// console.log($(".phone").val(),editAddressOld['phone'])

			    	if(!addressChange && $("#addressDetial").val()==editAddressOld['address'] && $(".name").val()==editAddressOld['name'] && $(".phone").val()==editAddressOld['phone'] && editAddressObj['status']==editAddressOld['status']){
	    				layHint('你什么都没修改！');
	    				//返回地址管理
	    				setTimeout(function(){
	    					location.href = '{{:U("Home/Address/index")}}';
	    				},1000);
			    		return;
			    	}else{
				    	$.ajax({
				    		url: '{{:U("Home/Address/save_address")}}',
				    		type: 'post',
				    		data: editAddressObj,
				    		success: function(res){
				    			console.log('成功！',res);
				    			if(res.code == 200){
				    				layHint('保存成功！');
				    				// sessionStorage.setItem("editAddressObj", JSON.stringify(editAddressObj));
				    				//返回地址管理
				    				setTimeout(function(){
				    					location.href = '{{:U("Home/Address/index")}}';
				    				},500);
				    			}else{
				    				console.log('失败！',res);
				    				layHint('保存失败！');
				    			}
				    		},
				    		error: function(res){
				    			console.log('失败！',res);
				    			layHint('发生未知问题，请稍后再试！');
				    		}
				    	})
			    	}
				}else if(!nameRes){
		    		// 验证姓名
		    		console.log('请输入符合规范的姓名！');
		    		layHint('请输入合法的姓名！')

		    	}else if(!phoneRes){
		    		console.log('请输入正确的电话号码！');
		    		layHint('请输入正确的电话号码！')

		    	}else if(!areaIDRes){
		    		console.log('请选择地区！');
		    		layHint('请选择地区！')
		    		
		    	}else if(!townRes || !$(".town").val()){
		    		console.log('请选择街道！');
		    		layHint('请选择街道！')
		    		
		    	}else if(!addressDetialRes){
		    		console.log('请输入详细地址！');
		    		layHint('请输入详细地址！')
		    		
		    	}

		    	// console.log(editAddressObj,Object.getOwnPropertyNames(editAddressObj).length);
		        // console.log(nameRes, phoneRes, addressDetialRes);
	    	}else{
				/*
					新建地址
				 */
		    	// 存储新建地址的个人信息
		    	var nameRes = nameReg.test($(".name").val());
		    	var phoneRes = phoneReg.test($(".phone").val());
		    	var areaIDRes = nameReg.test($("#areaID").val());
		    	var townRes = nameReg.test($(".town").val());
		    	var addressDetialRes = nameReg.test($("#addressDetial").val());

			    // console.log($("#normalAddrdess")[0].checked)
		    	var newAddressObj = {};
		    	if(nameRes && phoneRes && areaIDRes && townRes && addressDetialRes && $(".town").val() != '请选择'){
		    		console.log('通过！')

			    	newAddressObj['name'] = $(".name").val();
			    	newAddressObj['phone'] = $(".phone").val();
			    	newAddressObj['province'] = province;
			    	newAddressObj['city'] = city;
			    	newAddressObj['area'] = area;
			    	newAddressObj['town'] = $("#townID").val();
			    	newAddressObj['addressDetial'] = $("#addressDetial").val();
			    	if($("#normalAddrdess").attr("checked")){
			    		//设为默认地址
			    		newAddressObj['status'] = 0;
			    	}else{
			    		newAddressObj['status'] = 1;
			    	}
			    	console.log(newAddressObj);
			    	// 全部判断通过则发送请求让后台添加到数据库
			    	$.ajax({
			    		url: "{{:U('Address/newAddress')}}",
			    		type: 'post',
			    		data: newAddressObj,
			    		success: function(res){
			    			console.log('成功！ ', res);
			    			layHint('添加成功！');
			    			//后台返回信息添加成功后的操作
			    			if(res.code == 200){
				    			// 如果有订单号,自动跳回去订单提交那里
				    			if(sessionStorage.getItem("order_id")){
				    				// 如果有商品数据
				    				if(goods_data || lvxinData || shopCar_data){
				    					location.href = "{{:U('PaymentSystem/payConfirm')}}";
				    				}
				    			}else{
				    				//调回地址列表界面
			    					location.href = "{{:U('Address/index')}}";
			    				}
				    		}else if(res.code == 605){
		    					layHint('添加失败，请稍后再试！');
				    		}else{
				    			layHint('很抱歉，系统遇到未知问题！');
				    		}
			    		},
			    		error: function(res){
			    			console.log('失败！ ', res);
			    		}
			    	})

		    	}else if(!nameRes){
		    		// 验证姓名
		    		console.log('请输入符合规范的姓名！');
		    		layHint('请输入合法的姓名！')

		    	}else if(!phoneRes){
		    		console.log('请输入正确的电话号码！');
		    		layHint('请输入正确的电话号码！')

		    	}else if(!areaIDRes){
		    		console.log('请选择地区！');
		    		layHint('请选择地区！')
		    		
		    	}else if(!townRes || !$(".town").val()){
		    		console.log('请选择街道！');
		    		layHint('请选择街道！')
		    		
		    	}else if(!addressDetialRes){
		    		console.log('请输入详细地址！');
		    		layHint('请输入详细地址！')
		    		
		    	}
		   	}
	    })
	    //提示框函数
	    function layHint(text){
    		layui.use('layer', function(){
                var layer = layui.layer;
                layer.msg(text);
            });
	    }


		var script = $("<script/>");
		var scriptCode = `
			// 选择地区
			$(".area").on("click", function(){
				$("#areaChoose").css({display: "block"});
			});

			var province,city,area,town;

			// 关闭地区选择，并显示到对应区域
			$("#confirmAreaChoose").on("click", function(){
				
				$("#areaID").val( (!province && !city && !area) ? '请选择' : province + city + area);

				// 获取 街道 选中的值
				$("#townID")
				.val(
					!($('#areaChoose select[name="town"]').find("option:selected").text())
					? '请选择'
					: $('#areaChoose select[name="town"]').find("option:selected").text()
				);

				$("#areaChoose").css({display: "none"});
				// console.log($('#areaChoose select[name="town"]').find("option:selected"));

			});

			// 生成选择地区~省市县街道四级联动
			var $town = $('#areaChoose').find('select[name="town"]');
		    var townFormat = function(info){
			    $town.hide().empty();
			    if(info['code']%1e4&&info['code']<7e6){	//是否为“区”且不是港澳台地区
			    	$.ajax({
			    		url:'http://passer-by.com/data_location/town/'+info['code']+'.json',
			    		dataType:'json',
			    		success:function(town){
			    			$town.show();
		    				// console.log(town);
		    				var townHTML = '';
			    			for(i in town){
			    				townHTML += '<option value="'+i+'">'+town[i]+'</option>';
			    			};
			    			$town.append(townHTML);
			    			// console.log($town)

					    	province = info.province;	//省、市、区在这里生成
							city = info.city;
							area = info.area;
			    		},
			    		err: function(res){
			    			console.log(res);
			    		}
			    	});
			    }
		    };
		    $('#areaChoose').citys({
		    	required: false,
		    	nodata: 'disabled',
		        onChange:function(info){
		        	townFormat(info);
		        }
		    },function(api){
		        var info = api.getInfo();
		        townFormat(info);
		    });`
		script.html(scriptCode);
		$("body").append(script);


	</script>
</body>
</html>