<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_527495_3mgodvjd6sp833di.css">
	<link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/mall/chongzhi.css">
	<title>会员充值</title>

</head>
<body>
	<div id="content">
		<div class="taocan">
			<p>选择套餐类别</p>
			<div class="taocanSelectNow" index="0" >
				金币
			</div>
			<div index="1" >
				银币
			</div>
			<div index="2" >
				金币兑银币
			</div>
		</div>
		<div class="money">
			<notempty name="data">
				<p>请选择充值套餐</p>
			</notempty>
			
			<!-- 金币 -->
			<div class="moneySon">
				<empty name="data.gold">
					<div>暂无金币充值套餐！</div>
				<else /> 
					<foreach name="data.gold" item="vo" >
					    <div alt="{{$vo.id}}" name="gold" money="{{$vo.money}}" gold_num="{{$vo.gold_num}}" class="moneyItem">{{$vo.content}}</div>
					</foreach>
				</empty> 
			</div>

 
			<!-- 银币 -->
			<div class="moneySon">
				<empty name="data.silver">
					<div>暂无银币充值套餐！</div>
				<else /> 
					<foreach name="data.silver" item="vo" >
					    <div alt="{{$vo.id}}" name="silver"  money="{{$vo.money}}" silver_num="{{$vo.silver_num}}" class="moneyItem">{{$vo.content}}</div>
					</foreach>
				</empty>
			</div>
			<div class="moneySon">
				<empty name="data.gold_silver">
					<div>暂无银币充值套餐！</div>
				<else /> 
					<foreach name="data.gold_silver" item="vo" >
					    <div alt="{{$vo.id}}" name="gold_silver"  gold="{{$vo.gold}}" silver_num="{{$vo.silver_num}}" class="moneyItem">{{$vo.content}}</div>
					</foreach>
				</empty> 
			</div>
		</div>
		</div>
	</div>
	<!-- 付款页面 -->
	<div class="paystyle">
		<div class="paystyleTop"></div>
		<div class="payContain">
			<div class="paytop clearfix">
				<div class="paytopLeft"><i class="iconfont icon-cuohao"></i></div>
				<div class="paytopRight">
					<h3>付款</h3>
					<p>￥3620.00</p>
				</div>	
			</div>
			<div class="paymidd">
				<h3>选择支付方式</h3>
				<ul class="clearfix">
					<li><i class="iconfont icon-z-weixin"></i>微信支付<span class="iconfont icon-xuanze" alt="0"></span></li>
					<li><i class="iconfont icon-zhifubao"></i>支付宝支付<span class="iconfont icon-kuang1" alt="1"></span></li>
					<li><i class="iconfont icon-yinhang-yinlian-"></i>银联<span class="iconfont icon-kuang1" alt="2"></span></li>
				</ul>
			</div>
			<div class="payBott">
				<input class="start" type="submit" value="立即支付">
			</div>
		</div>
	</div>

	<!-- 付款页面1 -->
	<div class="paystyle1">
		<div class="paystyleTop"></div>
		<div class="payContain">
			<div class="paytop clearfix">
				<div class="paytopLeft"><i class="iconfont icon-cuohao"></i></div>
				<div class="paytopRight">
					<h3>付款</h3>
					<p id="money">￥0</p>
				</div>	
			</div>
			<div class="paymidd">
				<h3>选择支付方式</h3>
				<ul class="clearfix">
					<li><i class="iconfont icon-jinbi"></i>金币<span class="iconfont icon-xuanze"></span></li>
				</ul>
			</div>
			<div class="payBott">
				<input class="start" type="submit" value="立即支付">
			</div>
		</div>
	</div>
	<footer id="footer">
		立即充值
	</footer>
	<!-- 模态框的内容 -->
	<div class="modelAll">
		<!-- <a class="start" href="javascript:;">点击</a> -->
		<div class="modal fade">
			<div class="modal-body">
				<div class="modal-content">
					<p>您咱没有绑定银行卡</p>
					<p><a href="#">去绑定</a></p>
					<p><a href="#">其他支付方式</a></p>
					<p><input class="close" type="submit" value="取消"></p>
				</div>
			</div>
		</div>
		<div class="modal-backup"></div>
	</div>

	<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<!-- 微信支付支持JS部分代码 -->
	<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>	                                                                                     
	<script>
		$(function(){
			// 首页按钮
			!function(){
				// 创建 a 标签
				var home = document.createElement('a');
				home.innerText = '首\n页';
				
				home.href = '{{:U("Home/VipCenter/index")}}';
				home.setAttribute("id", 'back2Home');

				// 添加到页面
				document.body.appendChild(home);
				home.onclick = function(){
					home.style.background = '#aaa';
				}
				return
				// console.log(home)
			}()
		})
		//微信接口
		wx.config({
		    debug: false,
		    appId: '{{$info["appId"]}}',
		    timestamp: '{{$info["timestamp"]}}',
		    nonceStr: '{{$info["nonceStr"]}}',
		    signature: '{{$info["signature"]}}',
		    jsApiList: [
		      // 所有要调用的 API 都要加到这个列表中
		      'chooseWXPay'
		    ]
		});
		$(".taocan div").on("click", function(){
			$(this).addClass('taocanSelectNow').siblings().removeClass("taocanSelectNow");

			var _index=$(this).attr("index");
			if(_index==0){
				$(".moneySon").eq(0).animate({left: '0vw'}),
				$(".moneySon").eq(1).animate({left: '100vw'}),
				$(".moneySon").eq(2).animate({left: '200vw'})
				// $('#footer').click(function
			}else if(_index==1){
				$(".moneySon").eq(0).animate({left: '-100vw'}),
			 	$(".moneySon").eq(1).animate({left: '0vw'}),
			 	$(".moneySon").eq(2).animate({left: '100vw'})
			}else if(_index==2){
				$(".moneySon").eq(0).animate({left: '-200vw'}),
			 	$(".moneySon").eq(1).animate({left: '-100vw'}),
			 	$(".moneySon").eq(2).animate({left: '0vw'})
			}
			
		})

		$(".moneyItem").each(function(key, value){

			$(value).on("click", function(){

				$(value).addClass('taocanSelectNow').siblings().removeClass("taocanSelectNow");
			});
			
		})
		//支付方式
		$('#footer').click(function(){
			// 获取充值产品类型
			var type = $('.taocanSelectNow').attr('index');

	       	// 匹配充值产品类型，请求支付接口
		    switch (type) {
		        case '0':
		        	// 金币支付
		        	// 获取充值的产品
		        	var obj 		= $('.money>div').eq(type).children('.taocanSelectNow');
		        	
					if( obj.length != 0 ){
						// 获取产品价格
						var money 		= $(obj).attr('money');

						$('.paytopRight p').html('￥'+money+'元');
						// 显示支付方式
						$('.paystyle').slideDown("slow");
					}else{
						// 未选择产品
						swal("未选择套餐！","请您先选择一个套餐，再去充值！", "error");
					}
		        	
		            break;
		        case '1':
		        	// 银币支付
		        	// 获取充值的产品
		        	var obj 		= $('.money>div').eq(type).children('.taocanSelectNow');
		        	
					if( obj.length != 0 ){
						// 获取产品价格
						var money 		= $(obj).attr('money');

						$('.paytopRight p').html('￥'+money+'元');
						// 显示支付方式
						$('.paystyle').slideDown("slow");
					}else{
						// 未选择产品
						swal("未选择套餐！","请您先选择一个套餐，再去充值！", "error");
					}
		            break;
		        case '2':
		        	// 微信支付
		        	// 获取充值的产品
		        	var obj = $('.money>div').eq(type).children('.taocanSelectNow');
		        	// console.dir('银币兑换');
		        	if( obj.length != 0 ){
						// 获取产品价格
						var money 		= $(obj).attr('money');

						$('.paytopRight p').html('￥'+money+'元');
						// 显示支付方式
						$("#money").text("￥"+obj.attr('gold') +'金币')
						$('.paystyle1').slideDown("slow");
					}else{
						// 未选择产品
						swal("未选择套餐！","请您先选择一个套餐，再去充值！", "error");
					}
		        	// $('.paystyle1').slideDown("slow");
		            break;
		    }
		})

		// 发起支付
		$('.paystyle .start').click(function(){
			// 获取充值产品类型
			var type = $('.taocanSelectNow').attr('index');

	       	// 匹配充值产品类型，请求支付接口
		    switch (type) {
		        case '0':
		        	// 金币支付
		        	// 获取充值的产品
		        	var obj 		= $('.money>div').eq(type).children('.taocanSelectNow');
		        	
					// 获取选中的套餐
					var obj = $('.money>div').eq(type).children('.taocanSelectNow');
					// 获取产品ID
					var id 			= $(obj).attr('alt');
					// 获取产品价格
					var money 		= $(obj).attr('money');
					// 获取金币数量
					var gold_num 	= $(obj).attr('gold_num');
					// 产品类型
					var name 		= $(obj).attr('name');
					var content 	= $(obj).text();
					// 获取支付类型
					var payType = $('.clearfix li span.icon-xuanze').attr('alt');
					// console.dir(payType);
					switch(payType){
						case '0':
								// console.dir('微信支付');
								$.post('{{:U("Home/PaymentSystem/wxchongzhi")}}',{'id':id,'money':money,'gold_num':gold_num,'name':name,'content':content}, function(res){
									// 调用微信支付
									weixinPay(res);
									// console.dir(res);
								});
							break;
						case '1':
								// console.dir('支付宝支付');
							break;
						case '2':
								// console.dir('银联支付');
							break;
					}
		        	
		            break;
		        case '1':
		        	// 银币支付
		        	// 获取充值的产品
		        	var obj 		= $('.money>div').eq(type).children('.taocanSelectNow');
		        	
					// 获取选中的套餐
					var obj = $('.money>div').eq(type).children('.taocanSelectNow');
					// 获取产品ID
					var id 			= $(obj).attr('alt');
					// 获取产品价格
					var money 		= $(obj).attr('money');
					// 获取金币数量
					var silver_num 	= $(obj).attr('silver_num');
					// 产品类型
					var name 		= $(obj).attr('name');
					var content 	= $(obj).text();
					// 获取支付类型
					var payType = $('.clearfix li span.icon-xuanze').attr('alt');
					// console.dir(payType);
					switch(payType){
						case '0':
								// console.dir('微信支付');
								$.post('{{:U("Home/PaymentSystem/wxchongzhi")}}',{'id':id,'money':money,'silver_num':silver_num,'name':name,'content':content}, function(res){
									// 调用微信支付
									weixinPay(res);
									// console.dir(res);
								});
							break;
						case '1':
								// console.dir('支付宝支付');
							break;
						case '2':
								// console.dir('银联支付');
							break;
					}
		            break;
		    }





		});

		// 发起支付
		$('.paystyle1 .start').click(function(){
			// 获取充值产品类型
			var type = $('.taocanSelectNow').attr('index');
			// 获取当前选择的兑换套餐
			var obj = $('.money>div').eq(type).children('.taocanSelectNow');
			// 获取产品ID
			var id 			= $(obj).attr('alt');
			$.post('{{:U("Home/PaymentSystem/exchange")}}',{'id':id}, function(res){
				if(res.code==200){
					swal("兑换成功",res.message, "success");
				}else{
					swal("兑换失败",res.message, "error");
				}
				
			});

		});



		// 付款方式的单选框
		$('.paymidd>ul>li>span').click(function(){
			$('.paymidd>ul>li>span').removeClass('iconfont icon-xuanze').addClass('iconfont icon-kuang1');
			$(this).removeClass('iconfont icon-kuang1').addClass('iconfont icon-xuanze');
		})
		// 付款方式页面隐藏
		$('.paytop>.paytopLeft>i').click(function(){
			$('.paystyle').slideUp("slow");
			$('.paystyle1').slideUp("slow");
		})
		// 模态框的js
		// $(function(){
	 //      	$(".start").on("click",function(){
	 //       	   $(".modal").addClass("in");
	 //       	   $(".modal").css('z-index','1001');
	 //       	   $(".modelAll").css('display','block');
	 //       	   $(".modal-backup").css('display','block');
	 //       });
	 //      	$(".close").on("click",function(){
	 //       	   $(".modal").removeClass('in');
	 //       	   $(".modal").css('z-index','-1');
	 //       	   $(".modal-backup").fadeOut('slow');
	 //       });
  //     	})

		// 微信支付方法
		function weixinPay(res){
		    WeixinJSBridge.invoke(
		        'getBrandWCPayRequest',
		        JSON.parse(res),
		        function(res){
		            if (res.err_msg.substr(-2) == 'ok') {
		                // 付款成功，跳转前台主页
		                location.href = "{{:U('Home/PaymentSystem/paytosuccess_cz')}}";
		            } else if (res.err_msg.substr(-6) == 'cancel') {
		                    // 取消付款
		                    // 跳转到待付款订单页面
		                    location.href = "{{:U('Home/PaymentSystem/paytofailed')}}";
		            }else{
		                    // 付款失败
		                    // 跳转到待付款订单页面
		                    location.href = "{{:U('Home/PaymentSystem/paytofailed')}}";
		            }
		        }
		    );
		};
	</script>
</body>
</html>