<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
    <title>跳转提示</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <style>
        .notice {
            width: 100vw;
            min-height: 100vh;
            padding-top: 30vh;
        }
        .notice p,
        .notice h2 {
            margin: 6px 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class='notice'>
        <h2 v-text='title'></h2>
        <p>
            <span>
                <span v-text='time'></span>秒后跳转
            </span>
            <a :href="link" style='color:#2196F3;'>立即跳转</a>
        </p>
    </div>
    <script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
    <script src="__PUBLIC__/Home/js/public.js"></script>
    <script src='__PUBLIC__/Home/js/vue.min.js'></script>
    <script>
        new Vue({
            el: '.notice',
            data() {
                return {
                    title: '',
                    link: '',
                    time: ''
                }
            },
            created() {
                var vm = this;
                var get = {{$_GET|json_encode}};
                vm.title = decodeURI(get.title);
                vm.link = 'http://test.dianqiukj.com/index.php/'+ decodeURI(get.urlm) +'/'+ decodeURI(get.urlc) +'/'+ decodeURI(get.urlv);
                vm.time = get.time || '3';
                console.log('get: ',get);
                // 倒计时
                setInterval(function(){
                    vm.time = vm.time-- > 0 ? vm.time-- : 0;
                },1000);
                // 跳转
                setTimeout(function(){
                    location.href = vm.link;
                },vm.time*1000)
            }
        })
    </script>
</body>
</html>