
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,span
{ margin:0; padding:0; -webkit-box-sizing: border-box; box-sizing: border-box;}

body{
	font-size: 0.7rem;
	color: #373737;
}
.shopdetailContain{
	padding-bottom: 2rem;
}
/*商品图片*/
.detailTop{
	border-bottom:20px solid #f3f3f3;
	padding-bottom: 4rem;
}
.detailpic{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
.detailpic>img{
	width: 100%;
}
.picnum {
	width: 10vw;
    height: 10vw;
    line-height: 10vw;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background: rgba(0,0,0,.5);
}
/*商品说明*/
.detailTxt{
	width: 100%;
}
.detailTxt>span{
	padding: 0 0.5rem;
	display: inline-block;
	width: 100%;
	height: 1.6rem;
	line-height: 1.6rem;
	background: #F04B7E;
	color: #FFF;
	
	
}
.detailTxt>span>b{
	float: left;
	font-size: 1.0rem;
	font-weight: 500;
}
.detailTxt>span>em{
	display: inline-block;
	height: 1.6rem;
	line-height: 1.6rem;
	padding:0rem 0.3rem;
	float: right;
}
.detailTxt>p,
.detailTxt>b {
	padding: 0.2rem 5%;
	font-size: 0.72rem;
}
.detailTxt>em{
	display: block;
	padding: 0.2rem 5%;
	font-size: 0.62rem;
	color: #F04B7E;
}
/*商品数量，邮费*/
.detailist{
	padding: 0.5rem 5% 0;
}
.detailist>p{
	padding:0.7rem 0;
	border-bottom:1px solid #E5E5E5;
	color: #5a5a5a;
}
/* 邮费 */
.selectPostage {
	padding:0.7rem 0;
	border-bottom:1px solid #E5E5E5;
	color: #5a5a5a;
	display: flex;
	justify-content: space-between;
}
.selectPostage > span > select {
	-webkit-appearance:none;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: white;
	border: none;
}
.detailist>p>span{
	font-size: 0.72rem;
	color: #373737;
}
.detailist>p>span>b{
	font-weight: 400;
}
.detailist>p>span:last-child{
	float: right;
}
.detailist>p>span>input:first-child{
	font-size: 0.6rem;
	font-weight: 600;
}
.detailist>p>span:last-child>em{
	border:0.013333rem solid #000;
	font-size: 0.4rem;
	padding: 0.05rem 0.1rem;
	margin:0 0.1rem;
}
/*评论内容*/
.detailContain{
	padding: 2rem 0;
}
/*个人评论标题*/
.detailtitle{
	position: relative;
	text-align: center;
	font-size: 0.72rem;
}
.detailtitle>p{
	color:#bfbfbf;
	line-height: 3rem;
}
.detailtitle>p>b{
	padding:0 0.5rem;
	font-weight: 400;
	color: #373737;
}

/*商品数量*/
.num {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.num>input[type="button"] {
	width: 1.2rem;
	height: 1.4rem;
	line-height: 1.4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	font-size: 0.9rem;
	border: none;
	-webkit-appearance: none;
	border-radius: 4px;
	background: #e2e2e2;
}
.num>input:nth-of-type(2){
	background: #fff;
}
.num>input:nth-of-type(3){
	padding-bottom: 0.06rem;
}
.num>.number {
	min-width: 33%;
	margin: 0 4px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #a4a4a4;
	font-size: .8rem;
}
.detailContain>p{
	padding: 2.5rem 5% 0.4rem;
	font-size: 0.68rem;
	position: relative;
	
}
.detailContain>p>i{
	font-size: 1.1rem;
	padding-right: 0.05rem;
	color:#FBC91D;
	position: relative;
	top: 0.05rem;
	margin-right: 0.3rem;
}
.detailItem>p>span{
	font-size: 0.68rem;
}
/*个人评论内容*/
.detailItem{
	padding:0.6rem 5%;
	border-bottom:10px solid #f3f3f3;
}
.detailItem>p{
	padding: 0.2rem 5% 0.2rem 0;
	font-size: 0.68rem;
	line-height: 1.0rem;
	margin:0.5rem;
	
}
.detailItem>p>em{
	display: inline-block;
	height: 2rem;
	width: 2rem;
	border-radius: 1.5rem;
	border:1px solid #ccc;
	margin-right: 0.3rem;
	float: left;
	overflow: hidden;
}
.detailItem>p>em>img{
	width: 100%;
}
.detailItem>p>b{
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
}
.detailItem>span, .commPic{
	margin-right: 0.8rem;
	display: inline-block;
	width: 20%;
	height: 3rem;
	border:1px solid #f3f3f3;
	border-radius: 0.2rem;
	overflow: hidden;
}
.detailItem>span>img{
	width: 100%;
	padding: 0.2rem 0.15rem;
	border-radius: 0.2rem;
}
/*查看更多*/
.detailContain>.pinglunshow{
	position: relative;
	top: 0rem;
	right: 0;
	padding: 0.8rem 0 5%;
	color: #F04B7E;
}

.pinglunshow>p{
	display: block;
	height: 2rem;
	width: 25%;
	font-size: 0.7rem;
	float: right;
}
.pinglunshow>p>span{
	padding-left: 5%;
}
/*底部*/
.shopdetailBott{
	width: 100%;
	height: 8vh;
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	bottom: 0;
	margin-top: 0.68rem;
	background: #FFF;
	overflow: hidden;
	border-top: 1px solid #E5E5E5;
	font-size: 0.74rem;
}
.shopdetailBott>div{
	width: 80%;
	height: 8vh;
	display: inline-block;
	line-height: 8vh;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.shopdetailBott>a {
	width: 20%;
	height: 8vh;
	display: inline-block;
	line-height: 8vh;
	text-align: center;
}
.shopdetailBott>a:active>i{
	color: #960532;
}
.shopdetailBott>a>i{
	color: #F04B7E;
	font-size: 1.2rem;
}
.shopdetailBott>div>input{
	width: 50%;
	height: 8vh;
	line-height: 8vh;
	border: none;
	color:#fff;
	border-radius: 0px!important;
	background: #F04B7E;
}
.icon-gouwuche {
	position: relative;
}
.icon-gouwuche>span {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 70%;
	height: 70%;
	top: -20%;
	right: -40%;
	color: #fff;
	border-radius: 50%;
	font-size: 16px;
	background: #f00;
}
/*加入购物车*/
#add2ShopCart {
	height: 8vh;
	width: 50%;
	display: inline-block;
	line-height: 8vh;
	text-align: center;
}
#add2ShopCart:active {
	color: #fff;
	background: #F04B7E;
}
ul, li {
	list-style: none;
}
.detailpic {width: 100vw;height: 40vh;position: relative;background: #fff;overflow: hidden;}
.detailpic>ul {height: 100%;position: relative;transition: .3s linear;}
.detailpic>ul::after {content: '';display: block;clear: both;}
.detailpic>ul>li {
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    text-align: center;
    vertical-align: baseline;
    border:1px solid #eee;
}
.detailpic img {height: 100%;width:auto;}

.fullscreen {
	width: 100vw !important;
	height: 100vh !important;
	display: flex;
    align-items: center;
    justify-content: center;
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	background: #999 !important;
	z-index: 1000;
}

.fullscreen img {
	width: 100% !important;
	height: auto !important;
}
.closepicshow {
	width: 42px;
	height: 42px;
	display: none;
	position: absolute;
    top: 10px;
    left: 10px;
	line-height: 42px;
	border-radius: 50%;
	background: #fff;
	z-index: 1;
}
/*第一类item的底部评论设置开始*/
.itemgoodsBott{
	padding: 0 5%;
	border-bottom:10px solid #EBEBEB;

}
.itemgoodsBott>p:nth-of-type(1), 
.itemgoodsBott>p:nth-of-type(1)>span{
	height: 1.4rem;
	line-height: 1.4rem;
}
.itemgoodsBott>p{
	position: relative;
	margin: 10px 0;
	color: #929292;
	font-size: .6rem;
}
.itemgoodsBott .ccontent {
	color: #333;
}
.itemgoodsBott>p img {
	height: 100%;
	border-radius: 50%;
}
.itemgoodsBott>.commpic{
	margin-top: 10px;
}
.itemgoodsBott>.commpic>ul>li{
	display: inline-block;
	margin-bottom: 1rem;
	border-radius: 0.3rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 24%;
	padding: 0 2vw;

}
.itemgoodsBott>.commpic>ul>li>img{
	width: 100%;
   border: 1px solid #EBEBEB;
    padding: 0.2rem;
    border-radius: 0.2rem;
}/*第一类item的底部评论设置结束*/



.itemgoodsBott .pingfen {
	width: 28%;
	display: block;
	position: relative;
	font-size: 20px;
}
.itemgoodsBott .pingfen>span {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.itemgoodsBott .pingfen>span:after {
	content: "\e64a\e64a\e64a\e64a\e64a";
	display: block;
	position: absolute;
	color: #FBC91D;
}
/*第二类五星好评开始*/
.mycomItem-second{
	border-bottom:10px solid #EBEBEB;
}
/*第二累售后评论*/
.mysaleContain{
	width: 100%;
}
/*满五角星*/
.pingfen>span {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 0;
	overflow: hidden;
}
/*空五角星，做背景*/
.pingfen:before {
	content: "\e64b\e64b\e64b\e64b\e64b";
	display: block;
	color: #FBC91D;    
}
.pingfen>span:after {
	content: "\e64a\e64a\e64a\e64a\e64a";
	display: block;
	position: absolute;
	color: #FBC91D;
}
.mysaleBot{
	width: 90%;
	padding:0.666667rem 5% 1rem;
}
.mysaleBot>p{
	display: block;
	height: 2rem;
	line-height: 2rem;
	overflow: hidden;
}
.mysaleBot>p>b{
	display: inline-block;
	height: 2rem;
	width: 30%;
	line-height: 2rem;
	margin-right: 0.5rem;
}
.mysaleBot>p>i{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	color:#FBC91D;
	font-size: 1.2rem;

}/*第二类五星好评结束*/

/*底部待评商品开始*/
.mycommentFoot{
	padding:2rem 5%;
}
.mycommentFoot>h3{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 0.8rem;
	color:#5A5A5A;
}
.mycommentFoot>h3>span{
	margin:0 0.8rem;
	color:#5A5A5A;

}
.mycommentFoot>ul>li{
	display: block;
	float: left;
	width: 33.3333%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding:5%;
}
.mycommentFoot>ul>li>a>img{
	border: 1px solid #ccc;
    padding: 0.2rem;
    width: 92%;
    border-radius: 0.3rem;
}
.pos{
	position:relative;
}
.fright{
	/*margin-left:4.5rem;*/
	position:absolute;
	right:0;
	top:0.5rem;
}