* {
	box-sizing: border-box;
}
.cfix::after {
	content: '';
	clear: both;
	visibility: hidden;
	zoom: 1;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
#header {
	height: 10vh;
	min-height: 50px;
    display: flex;
    align-items: center;
	justify-content: center;
	border-bottom: 1px solid #f1f1f1;
	background: #fff;
}
.search {
	width: 70%;
	height: 60%;
	position: relative;
    display: flex;
    align-items: center;
	justify-content: center;
	border-radius: 30px;
	background: #f1f1f1;
}
.search img {
	height: 50%;
	width: auto;
	margin-right: 10px;
}
.search>input {
	border: none;
	background: transparent;
	font-size: 14px;
}
.filterBtnMenu {
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 4vw;
	border-bottom: 4px solid #f1f1f1;
}
.filterBtnMenu>li {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.filterBtnMenu>li>span {
	width: 50%;
}
.filterBtnMenu>li>img {
	width: 30%;
	height: auto;
}
.loadText {
	width: 100%;
	padding-top: 10vh;
	text-align: center;
}
/* 搜索结果 */
.list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 2vw;
	box-sizing: border-box;
}
.list>a {
	flex: 0 0 30%;
	display: inline-flex;
	flex-flow: column;
	padding: 3vw;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.list>a>img {
	width: 26vw;
	height: 26vw;
	background: #f1f1f1;
	font-size: .5rem;
}
.list>a>p {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .6rem;
	text-indent: .3em;
}
/* 筛选 */
.filterMode {
	width: 100vw;
	height: 100vh;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.2);
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 999;
}
.filterMode>ul {
	width: 90%;
	height: 100%;
	left: 0;
	margin-left: 10%;
	padding: 10px 2vw;
	background: #fff;
	transition: .3s ease-out;
	animation: slide2left .3s ease-out;
}
@keyframes slide2left {
	from {
		transform: translateX(50%);
	}
	to {
		transform: translateX(0);
	}
}
.filterLi:nth-of-type(1)>ul>input {
	width: 46%;
}
.filterLi:nth-of-type(1)>ul>span {
	width: 8%;
}
.filterLi {
	margin-bottom: 16px;
}
.filterLi>p {
	margin-bottom: 6px;
}
.filterLi>ul {
	font-size: .6rem;
}
.filterLi>ul>input {
	border: none;
	padding: 4px 6px;
	background: #f1f1f1;
}
.filterItem>li {
	display: inline-block;
	padding: 4px 18px;
	margin: 4px 6px;
	text-align: center;
	border-radius: 4px;
	background: #f1f1f1;
}