<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_574708_lrbbkvcwhcjo47vi.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/mail/index.css">
	<title>站内消息</title>
</head>
<body>
	<div id="newMsg" class="msgDiv">
		<div class="msgPar">
			<i class="iconfont icon-weiduxiaoxi"></i>
			<p>未读消息<span class="num">0</span></p>
			<i class="iconfont icon-down"></i>
		</div>
		<!-- 列表放这里 -->
		<div class="msgList">
			<!-- <div>
				<i class="iconfont icon-xiaoxi"></i>
				<p>未读消息第三方缸发动机了</p>
			</div> -->
		</div>
	</div>
	<div id="oldMsg" class="msgDiv">
		<div class="msgPar">
			<i class="iconfont icon-yiduxiaoxi"></i>
			<p>已读消息<span class="num">0</span></p>
			<i class="iconfont icon-down"></i>
		</div>
		<!-- 列表放这里 -->
		<div class="msgList">
			<!-- <div>
				<i class="iconfont icon-xiaoxi"></i>
				<p>未读消息第三方缸发动机了</p>
			</div> -->
		</div>
	</div>
	<!-- 这个空标签用来 点击读取显示消息内容 -->
	<div id="showMsg">
		<div>
			<h2></h2>
			<div></div>
		</div>
	</div>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
	<script>
		var one_isOpen = false;	//判断消息的开关状态
		function showMsg(_this){
			// var _this = $(this);
			// 当前消息状态的列表
			var msgList = _this.siblings('.msgList');
			// 未读消息项目或已读消息项目
			var div = _this.siblings('.msgList')[0].childNodes;
			// 当前点击的另一个消息状态列表
			var other = _this.parent().siblings('.msgDiv')
			.find('.msgList')[0];
			// 当前点击的另一个消息状态箭头方向
			var other_up = _this.parent()
			.siblings('.msgDiv').find('.msgPar')[0]
			.childNodes[5].getAttribute('class');

			// console.log('one_isOpen: ',one_isOpen)
			// console.log(other)
			// console.log(other_up)
			/* 
			 * 当前消息的另一个消息状态列表已打开, 
			 * 则关闭它，然后往下走，打开当前点击的消息状态列表
			*/
			if(other_up.indexOf('up') > -1){
				// console.log('dhnfskldf')
				other.style.display = 'none';	//初始化
				_this.parent()
				.siblings('.msgDiv').find('.msgPar')[0]
				.childNodes[5].setAttribute('class', 'iconfont icon-down');

				one_isOpen = false;
			}
			if(!one_isOpen){
				msgList.show();
				// 显示当前消息列表
				for(var i=0; i<div.length; i++){
					
					// console.log(div[i].getAttribute('class'))
					div[i].setAttribute('class', 'msgitem down');
				}
				one_isOpen = true;
				//更改箭头方向
				_this.find('.icon-down')
				.attr('class','iconfont icon-up');

			}else if(one_isOpen){
				// 关闭当前消息列表
				for(var i=0; i<div.length; i++){

					div[i].setAttribute('class', 'msgitem up');
				}
				setTimeout(function(){
					msgList.hide();
				},100)
				one_isOpen = false;
				//更改箭头方向
				_this.find('.icon-up')
				.attr('class','iconfont icon-down');

			}
		}
	</script>
	<script>
		/*
			请求站内信息数据
			ststus: 2代表未读，3代表已读，4代表回收
		 */
		$.ajax({
			url: '{{:U("Mail/get_mail")}}',
			type: 'post',
			async: false,
			success: function(res){
				console.log('连接成功! ',res);
				var newHTML = '';		//未读消息
				var oldHTML = '';		//已读消息
				var newnum = 0, oldnum = 0;
				//获取数据成功
				if(res.code == 200){
					for(var i=0; i<res.data.length; i++){
						if(res.data[i].status == 2){	//未读消息
							
							console.log('未读消息',res.data[i]);
							newHTML += '<div class="msgitem" index="'+ newnum +'" mid="'+ res.data[i].id +'">'+
									'<i class="iconfont icon-xiaoxi"></i>'+
									'<p text="'+ res.data[i].content +'" title="'+ res.data[i].title +'">'+ res.data[i].title +'</p>'+
									'<p text="'+ res.data[i].content +'" title="'+ res.data[i].title +'"><span class="read"></span>查看详情<br /><span>'+ format(res.data[i].addtime) +'</span></p>'+
									'<span class="del" msgIndex="0">删除</span>'+
								'</div>';
							newnum++;
						}else if(res.data[i].status == 3){
							console.log('已读消息',res.data[i]);
							oldHTML += '<div class="msgitem" index="'+ oldnum +'" mid="'+ res.data[i].id +'">'+
									'<i class="iconfont icon-xiaoxi"></i>'+
									'<p text="'+ res.data[i].content +'" title="'+ res.data[i].title +'">'+ res.data[i].title +'</p>'+
									'<p text="'+ res.data[i].content +'" title="'+ res.data[i].title +'">查看详情<br /><span>'+ format(res.data[i].addtime) +'</span></p>'+
									'<span class="del" msgIndex="1">删除</span>'+
								'</div>';
							oldnum++;
						}else{}
					}
					// console.log(newHTML, oldHTML);
					$('#newMsg .msgList').html(newHTML);	//未读消息
					$('#oldMsg .msgList').html(oldHTML);	//已读消息
					$(".num").eq(1).text($('#oldMsg .msgList>div').length);

					/*
						打开消息列表，关闭消息列表
					 */
					$(".msgPar").on('click',function(){
						showMsg($(this));
					})

				}else{
					parent.layer.msg('暂无消息！');
				}
			},
			error: function(res){
				console.log('连接失败! ',res);
				// 解绑事件
				$(".msgPar").off('click');
				$('.msgList').off('click','.msgitem>p');
				parent.layer.msg('系统遇到未知问题，请稍后再试！');
			}
		})
		
		/*
			获取站内信未读条数
		 */
		$.ajax({
			url: '{{:U("Mail/count_mail")}}',
			type: 'post',
			async: false,
			success: function(res){
				console.log(res)
				if(res.code == 200){
					$(".num").eq(0).text(res.num);
				}
			},
			error: function(res){}
		})
		if($('.msgitem').length){
			showMsg($(".msgPar").eq(0));
		}
		/*
			点击查看 未读消息
		 */
		$('.msgList').on('click','.msgitem>p',function(){
			var _this = $(this);
			var title = $(this).attr('title');
			// 遇到感叹号和句号则换行+缩进
			var msgInfo = $(this).attr('text')
			.replace(/(\!)+/g, '!<br/>&emsp;&emsp;')
			.replace(/(\！)+/g, '！<br/>&emsp;&emsp;')
			.replace(/(\。)+/g, '。<br/>&emsp;&emsp;');

			var mid = $(this).parents('.msgitem')[0].getAttribute('mid');
			// console.log(msgInfo,mid);
			$('#showMsg').fadeIn('fast');
			$('#showMsg>div>h2').html(title);
			$('#showMsg>div>div').html('&emsp;&emsp;' + msgInfo);
			// console.log($(this).parents('#newMsg'))

			if($(this).parents('#newMsg').length){

				// 标记当前未读消息为已读状态
				$(this).parents('.msgitem').find('.read').text('已读');
				$(this).parents('.msgitem')[0].style.background = '#f9f9f9';
			}
			
			// console.log($(this).parents('.msgList'))
			/*
				发送当前消息 id，
				告诉后台更改当前消息状态
			 */
			$.ajax({
				url: '{{:U("Mail/reading_mail")}}',
				type: 'post',
				data: {id: mid},
				success: function(res){
					console.log('请求成功！', res);
				},
				error: function(res){
					console.log('请求失败！', res);
				}
			})
		})
		// 隐藏查看未读消息面板
		$('#showMsg').click(function(){
			$('#showMsg').fadeOut('fast');
		})
		/*
			删除信息
		 */
		$('.msgList').on('click','.del',function(){
			var delElem = $(this).parent()[0];
			var msgIndex = $(this).attr("msgIndex");	//判断未读还是已读
			//消息 id
			var mid = $(this).parent()[0].getAttribute('mid');
			//未读消息条数
			var num = $(this).parents('.msgList').find('.msgitem').length;	
			// console.log($(this).parent()[0], mid);
		    // console.log($('#newMsg .msgList>div').length)
		    var par = $(this).parents('.msgList').find('.msgitem');
		    var _thisElem = $(this).parents('.msgitem');
		   		
		    // console.log('num: ',num);
		    // console.log('msgIndex: ',msgIndex);
			layer.confirm('确认删除？删除后无法恢复！', 
	            {
	              btn: ['确定','取消'] //按钮
	            }, 
	            function(){
		            // 发送ajax让后台删除这条地址在数据库的数据
		            $.ajax({
		            	url: '{{:U("Mail/del_mail")}}',
		            	type: 'post',
		            	data: {'id': mid},
		            	success: function(res){
		            		console.log('成功！', res)
		            		//后台返回参数确认删除成功
		            		if(res.code == 200){
		            			parent.layer.msg('删除成功！');
		            			//删除当前元素
		    					_thisElem.remove();
	    						$(".num").eq(msgIndex).text(num-1);
								// console.log(num-1)
								
		            		}else{
		            			parent.layer.msg('删除失败！');
		            		}
		            	},
		            	error: function(res){
		            		console.log('失败！', res)
		            		parent.layer.msg('删除失败！');
		            	}
		            })
		            return true;
	            },
	            function(){
	                layer.msg('已取消！', {icon: 1});
	                return false;
	            }
	        );
			
		})
		var obj = $('.msgList>div');
		for(var i=0; i<obj.length; i++){	//存储当前选择的元素 this 
			obj[i].addEventListener("touchstart", function(e) {
			    // 判断默认行为是否可以被禁用
			    if (e.cancelable) {
			        // 判断默认行为是否已经被禁用
			        if (!e.defaultPrevented) {
			            //e.preventDefault();
			        }
			    }   
			    
			    var par = $(this).parents('.msgList').find('.msgitem');
			    var _thisElem = $(this);
			    //获取当前元素是父元素的第几个儿子
			    index = par.index(_thisElem);
			    // console.log(par, _thisElem)
			    // console.log('index: ', index)
			})
		}
		// console.log($('.msgList>div').attr("index"))
		slideDel($('.msgList'), $('.msgList>div'));
		/*
			滑动删除
		 */
		function slideDel(parent, obj){
			var startX, startY, moveEndX, moveEndY;
			parent.on("touchstart", obj, function(e) {
			    // 判断默认行为是否可以被禁用
			    if (e.cancelable) {
			        // 判断默认行为是否已经被禁用
			        if (!e.defaultPrevented) {
			            //e.preventDefault();
			        }
			    }   
			    startX = e.originalEvent.changedTouches[0].pageX;
			    startY = e.originalEvent.changedTouches[0].pageY;
			});
			parent.on("touchend", obj, function(e) {         
			    // 判断默认行为是否可以被禁用
			    if (e.cancelable) {
			        // 判断默认行为是否已经被禁用
			        if (!e.defaultPrevented) {
			            //e.preventDefault();
			        }
			    }               
			    moveEndX = e.originalEvent.changedTouches[0].pageX;
			    moveEndY = e.originalEvent.changedTouches[0].pageY;
			    var X = moveEndX - startX;
			    var Y = moveEndY - startY;
			    // console.dir(this)
			    // 右滑
			    if ( X > 10 ) {
			        $(this).find(obj).eq(index).css({'transform':'translateX(0)'});
			    }
			    // 左滑
			    else if ( X < -10 ) {
			    	// var parentHeight=$(this).parent().attr('height');
			    	// console.dir(parentHeight);
			    	// line-height: 4rem;	字体居中给obj>span{line-height:X}
			        $(this).find(obj).eq(index).css({'transform':'translateX(-2rem)'});
			    }
			});
		}
		/*
			时间戳转化为时间格式
		 */
		function format(time){
			//time：时间戳(单位：秒)
			var fortime = new Date(parseInt(time)*1000);
			var newtime = fortime.getFullYear() + '年' +
				(fortime.getMonth()+1) + "月" +
				fortime.getDate() + "日&nbsp;" +
				fortime.getHours() + ":" +
				fortime.getMinutes() + ":" +
				fortime.getSeconds();

			console.log(newtime);
			return newtime;
		}

	</script>
</body>
</html>