
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,span { margin:0; padding:0; -webkit-box-sizing: border-box; box-sizing: border-box;}
body {
	font-size: .7rem;
	overflow-x: hidden;
	color:#373737;
}
#content {
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #f3f3f3;
}
#header {
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	font-size: .7rem;    
	padding: 5% 4% 3%;
	background: #fff;
}
#hLeft {
	width: 79vw;
	display: inline-block;
	letter-spacing: 1px;
}
#hRight {
	width: 20vw;
	display: inline-block;
	text-align: center;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;    
	font-size: 1rem;
	/*margin-top: -1.4rem;*/
}
#header>div>p {
	width: 100%;
	display: inline-block;
	position: relative;
	margin: 0% 0;
	font-size: 0.68rem;
}
#header>div>p>span:nth-of-type(1) {
	float: left;
	line-height: 1.2rem;
}
#header>div>p>span:nth-of-type(2) {
	float: right;
	line-height: 1.2rem;
}
#header>div>p>span:after {
	content: '';
	clear: both;
}
#main {
	width: 100vw;
	/*height: 83vh;*/
	position: relative;
	left: 0;
	border-top: 10px solid #f3f3f3;
	background: #fff;
}
/*订单ID*/
.dingdanID {
	padding: 4% 4% 0%;
}
.goods {
	border-bottom: 1px solid #eee;
	padding: 3% 4%;
}
.infos {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	font-size: .6rem;
}
.goods > .infos >.img {
	width: 36%;
	margin: 3% 0 0 0;
	height: 4rem;
	border: 1px solid #ddd;
	border-radius: 10px;
}	
.goods> .infos > .img>img {
	width: 100%;
	height: 100%;
	display: inline-block;
}
.goods > .infos >.dec {
	width: 64%;
	padding: 2% 0 2% 2%;
	background: #fff;
}
.goods > .infos >.dec>h5{
	font-size: 0.72rem;

}
.goods > .infos >.dec>p {
	font-size: .62rem;
	margin: 4% 0;
	color: #555;
}
.num {
	width: 14%;
	float: right;
	white-space: nowrap;
	font-size: 0.7rem;

}
.num:after {
	content: '';
	clear: both;
}
.price {
	color: #FC3132;
	font-size: .76rem;
}
.num>b{
	font-size: 0.76rem;
}
.num>b, .num>input {
	width: 33%;
	text-align: center;
	font-weight: 500;

}
#calc {
    color: #333;
	border-bottom: 10px solid #f3f3f3;
	background: #fff;
	padding:0.4rem;
}
.ynticket{
	padding: 2.5% 3% 3.5%;
	/*height: 1.6rem;*/
	line-height: 1.6rem;
	width: 100%;
	background: #fff;
	margin-bottom: 8vh;
}
.ynticket>b{
	/*display: inline-block;
	float: left;*/
	font-weight: 400;
}
.ynticket>a{
	width: 50%;
	display: inline-block;
	padding-right: 5%;
	font-size: 0.62rem;
	float: right;
	text-align: right;
	color: #5a5a5a;
}
.ynticket>a>i{
	font-size:0.6rem; 
}
#calc>p {
    padding: 2% 3%;
    font-size: .7rem;
    text-align: right;
}
/* 选择邮费 */
.postage {
	display: flex;
	padding: 0 3%;
	justify-content: space-between;
	margin-top: .5rem;
	position: relative;
	
}
.postage > select {
	width: 100%;
	text-align: right;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
	text-align-last: right;
	margin-right: .3rem;
	background: white;
	direction: rtl;
	
}
.postage > select > option {
	direction: rtl;
}
.poselct {
	/* vertical-align: middle; */
	/* position: absolute; */
	/* right: 0; */
	/* top: 12%; */
	font-size: .5rem;
}
.poselct::before {
	display: block;
	margin-top: .15rem;
	font-size: .8rem;
}
.posway {
	white-space: nowrap;
}
#calc>p>b{
	color: #373737;
}
#payWay {
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	display: none;
	position: fixed;
	left: 0;
	bottom: -100vh;
	z-index: 999;
}
#payWay>div {
	position: relative;
	background: #fff;
}
#payMask {
	width: 100%;
	height: 30vh;
	background: rgba(0,0,0, 0) !important;
}
#choosePay {
	height: 54vh;
}
#choosePay>div:not(:nth-of-type(1)) {
	padding: 0 5%;
}
#payTitle {
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}
#closePay {
	width: 14vmin;
	height: 14vmin;
	position: absolute;
	left: 0;
	border-radius: 14vmin;
	line-height: 14vmin;
	text-align: center;
	font-size: .9rem;
}
#closePay:active {
	background: #ddd;
}
#payTitle>p:nth-of-type(2) {
	width: 100vw;
	height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 2% 0;
    line-height: 32px;
    font-size: .8rem;
	font-weight: 600;
	background: #fff;
}
#localPay {
	border-bottom: 8px solid #eee;
}
#localPay>p, 
#othersPay>p {
	padding: 3.8vw 0;
	border-bottom: 1px solid #eee;
}
#localPay>p>label, 
#othersPay>p>label {
	width: 84vw;
	display: inline-block;
}

#localPay>p>input, 
#othersPay>p>input {
	width: 6vw;
	height: 6vw;
	position: relative;
	float: right;
	border-radius: 3px;
	border: 1px solid #bdbdbd;
	background: #fff;
	-moz-appearance: none;
	     appearance: none;
	-webkit-appearance: none;
}

#localPay>p>input:after, 
#othersPay>p>input:after {
	content: '';
	clear: both;
}
#localPay>p>input:checked, 
#othersPay>p>input:checked {
	border: none;
	background: url('__PUBLIC__/Home/images/check.png') #56AAF1 no-repeat;
	background-size: 76%;
	background-position: center;
}
#payNow {
	width: 100vw;
	height: 16vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-top: 1px solid #eee;
	background: #f3f3f3 !important;
}
#payNow>div {
	width: 80%;
	padding: 2% 0;
	text-align: center;
	font-weight: 600;
	color: #fff;
	border-radius: 5px;
	background: #2EB6AA;
}
#footerContain {
	width: 100vw;
	height: 9vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #e0e0e0;
	font-size: .8rem;
	background: #fff;
}

#footerContain>div, 
#footerContain>span {
	height: 9vh;    
	display: inline-block;
    line-height: 9vh;
	text-align: center;
    vertical-align: middle;
}
#footerContain>div {
	width: 60%;
}
#footerContain>div>span {
	color: #FC3132;
}
#footerContain>span {
	width: 40%;
	color: #fff;
	background: #2EB6AA;
	letter-spacing: 0.04rem;
}
/*付款页面*/
.paystyle{
	position:absolute;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
}
.paystyleTop{
	width: 100vw;
	height: 10vh;
	background: #000;
	opacity: 0.3;
}
.payContain{
	position: absolute;
	bottom: 0;
	height: 90vh;
	width: 100vw;
	/*opacity: 0.5;*/
	z-index: 999;
	background: #FFF;
}
.payContain>.paytop{
	padding:0.5rem;
	border-bottom: 1px solid #E5E5E5;
}
.paytop>.paytopLeft>i{
	float: left;
	padding: 0.6rem 0;
	margin-right: 4rem;
	font-size: 1.5rem;
}
/*支付图标的颜色*/
.icon-tubiao207{
  color:#f9df04; 
  font-size: 1.2rem;
  font-weight: 800;
}
.icon-tubiao207-copy{
	 font-size: 1.2rem;
  color: #dadad5;
  font-weight: 800;
	
}
.icon-z-weixin{
	color:#149E23;
	
}
.icon-zhifubao{
	color:#22A8FF;
	
}
.icon-yinlian{
	color:#1296DB;
	
}
.paytop>.paytopRight{
	float: left;
	text-align: center;
}
.icon-kuang1{
	color:#ccc;
}
.paytop>.paytopRight>h3{
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0 0 0.5rem;
}
.paytop>.paytopRight>p{
	font-size: 0.9rem;
	font-weight: 600;
	color: #F75D50;
}
.paymidd>h3{
	padding:0.8rem;
}
.paymidd>ul>li{
	padding:0.5rem 0.5rem;
	border-bottom: 1px  solid #E5E5E5;
}
.paymidd>ul>li:nth-child(2){
	border-bottom: 6px  solid #E5E5E5;
	
}
.paymidd>ul>li>i{
	padding-right:0.4rem; 
	font-size: 1.2rem;
}
.paymidd>ul>li>span{
	float: right;
	font-size: 1rem;
}
.paymidd>ul>li>span.icon-xuanze{
	color: #4280EC;

}
/*底部按钮*/
.payBott{
	width: 86vw;
	margin: 2.5vh 7vw 0;
}
.payBott>input{
	border:none;
	padding:1vh 0;
	width: 86vw;
	background: #2EB6AA;
	border-radius:0.2rem;
	color: #FFF;
	letter-spacing: 0.1rem;
}
/*模态框样式*/
.modelAll{width:100vw;height:100vh;font-family: "mircoft yahei";font-size:14px;font-size: 0.7rem;line-height: 1; display: none;}
.modal{position:absolute;left:0;right:0;z-index: -1;}
.fade{opacity:0;top:-10%;display:block;-webkit-transition:top 0.3s linear;transition:top 0.3s linear;}
.fade.in{opacity:1;top:10%;}
.modal-body{width:80%;margin:5rem auto;background-color: #fff;border-radius:0.5rem;}
.modal-title{position:relative;height:40px;background-color: #D31145;line-height: 40px;border-bottom:1px solid #ccc;}
.modal-backup{position:absolute;top:0;left:0;right:0;width:100%;height:100%;background-color: rgba(0, 0, 0, 0.5);z-index: 1000;display:none;}
.modal-content>p{
	padding:0.8rem;
	text-align: center;
	border-bottom:1px solid #E5E5E5;
}
.modal-content>p>a{
	color:#64A0F2;
}
.modal-content>p>input{
	border:none;
	background: none;
	color:#64A0F2;
}
.modal-content>p:nth-child(4){
	border:none;
}