body {
	font-size: .7rem;
	background: #EDF2F2;
	width: 100vw;
	height: 100vh;
}
body .backImg {
	width: 100%;
	height: 36vh;	
	background: url("../../images/regiterBack.png") no-repeat;
	background-size: 100% 100%;
}
body .backImg>img {
	height: 36%;
	width: auto;
	position: relative;
	left: 50%;
	top: 50%;
	margin-top: -18%;
	transform: translateX(-50%);
}
body .content {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}
body .content .registerInfos {
	width: 85%;
	border-radius: 10px;
	background: white;
	margin: 4rem auto 0;
	position: relative;
	padding: 5.5rem .5rem 2rem .5rem;
}
.registerInfos > div:nth-child(1) {
	margin: 1rem 0 .5rem 0;
}
.registerInfos > div > h3 {
	padding-left: .2rem;
	color: #153EEE;
}
.progress > span {
	width: 50%;
	height: .2rem;
	display: inline-block;
}
.progress > span:nth-child(1) {
	background-color: #4C88F6;
	border-top-left-radius: 5px;
	border-bottom-left-radius:5px;
}
.progress > span:nth-child(2) {
	background-color: #CEE4FF;
	border-top-right-radius:2em;
	border-bottom-right-radius:2em;
}
.comment {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0 .3rem 0;
	border-bottom: 1px solid #EFEFEF;
}
.comment > p:nth-child(1) > span:nth-child(1) {
	font-size: .7rem;
	margin-right: .1rem;
}
.comment > p:nth-child(1) > span:nth-child(2) {
	white-space: nowrap;
	font-size: .5rem;
}
.comment > p > input {
	border: none !important;
	font-size: .4rem;
	width:58vw;
}
.toNext p{
	width: 90%;
	height: 1.8rem;
	line-height: 1.8rem;
	text-align: center;
	color: white;
	border-radius: 2rem;
	margin: 2rem auto 0;
	background: #4C88F6;
}
/* 眼睛 */
.eyesParent {
	position: relative;
}
.eyesParent > .eyes {
	position: absolute;
	right: .2rem;
	font-size: 1rem;
}
/* 头像 */
.touxiang  {
	position: absolute;
	top: -3rem;
	left: 0rem;
	width: 100%;
}
.touxiang > div{
	text-align: center;
	margin: 0 auto;
}
.touxiang > div > span:nth-child(2) {
	display: block;
	color: #4C88F6;
}
.touxiang > div > span:nth-child(1){
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	background: white;
	padding: .5rem;
}
.touxiang > div > span > img{
	height: 100%;
	width: 100%;
}
/* 验证码 */
.yCodeP {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: .5rem 0 0 0 ;
}
.yCodeP > p{
	border-bottom: 1px solid #EFEFEF;
	width: 50%;
	padding-bottom: .3rem;
}
.yCodeP > p > span {
	/* margin-right: .5rem; */
	font-size: .7rem;
}
.yCodeP > p > input {
	width: 80%;
	border: none;
	font-size: .5rem;
}
.yCodeP > .yCord {
	width: 6rem;
	display: block;
	height: 2rem;
	margin: 0;
	background-color:lightblue;
}
img {
	width: 100%;
	height: 100%;
}