body {
  fotn-size: .7rem;
  border-top: 1px solid white;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.90666667rem;
}
.main span {
  font-size: 3.2rem;
  color: #32c97c;
}
.main p {
  margin-top: 0.64rem;
  font-size: 0.64rem;
  color: #373737;
}
