/*GLOBALS*/
*{margin:0; padding:0; list-style:none;box-sizing:border-box;}
body {
	background: #EDF2F2;
}
#sTop {
	height: 30vh;
}
#sBot {
	display: flex;
	flex-wrap: wrap;
	padding: 2vmin;
}
#sBot>li {
	flex: 1 0 30%;
	width: 30vw;
    height: 30vw;
}