<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
  <meta charset="UTF-8">
  <title>速腾水家电</title>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
  <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">

</head>
<body>
<!--<input type="hidden" class="getData" value= >-->
  <div class="_chongxi">
    <div class="chongContainer">
      <div class="chongTop ">
          <div class="heat"></div>
          <p class="heatTxt">加热</p>
          <div class="statusList">
              <!--冲洗-->
              <div class="xuanhuan clear">
                  <div class="xuannei"></div>
              </div>
              <!-- 缺水 -->
              <div class="queshui clear">
                  <div class="xuannei"></div>
                  <div class="cen1"></div>
                  <div class="cen2"></div>
              </div>
              <!--水满-->
              <div class="shuiman clear">
                  <div class="xuannei"></div>
                  <div class="cen1"></div>
              </div>
              <!--制水-->
              <div class="makewater clear">
                  <div class="xuannei"></div>
              </div>
              <!--关机-->
              <div class="kaiji clear shutdown"></div>
              <!--欠费-->
              <div class="kaiji clear arrearage"></div>
              <!--离线-->
              <div class="kaiji clear outLine"></div>
          </div>


          <div class="xuantext">
            <p>纯水TDS</p>
            <h3 class="rawtdsVal">009</h3>
            <p>PH值：<span class="phVal"></span></p>
          </div>
          <div class="btmTxt">冲洗</div>
          <!-- 接口的内容 -->
          <div class="wendu">
            <p>出水温度</p>
            <p><span>(热)</span><b class="redu hotwater"></b></p>
            <p><span>(冷)</span><b class="lengdu coldwater"></b></p>
          </div>
          <div class="shiwen">
            <p>室温</p>
            <p><b class="redu roomtemperature">24~16 &#8451;</b></p>
          </div>
      </div>

<!-- ====================净水机底部开始==================== -->
      <div class="chongFoot">
          <div class="chbuTop">
            <ul>
              <li><i class="iconfont icon-chunshui"></i><b>纯水</b><span class="rawtdsVal2">9</span>ppm</li><li>
                <i class="iconfont icon-shengyutianshu"></i><p style="display: inline-block" class="surplusVal">剩余天数：9L</p></li><li>
              <i class="iconfont icon-yuanshui1" ></i><b>原水</b><span class="puretdsVal">9</span>ppm</li><li>
              <i class="iconfont icon-yiyongtianshu"></i><p style="display: inline-block" class="alreadyUsedVal"></p></li>
            </ul>
          </div>
          <div class="chbuBotom">
             <ul class="clearfix">
               <li><a href="#"><i class="iconfont icon-guanji clickBtn"></i><p>电源</p></a></li><li>
                   <a href="{{:U('Home/Mall/lvxin')}}"><i class="iconfont icon-lvxin"></i><p>滤芯</p></a></li><li>
                   <a href="javascript:;"><i class="iconfont icon-chongxi1 colorChange washBtn"></i><p>冲洗</p></a></li><li>
                   <a href="{{:U('Home/Mall/chongzhi')}}"><i class="iconfont icon-chongzhi"></i><p>充值</p></a></li><li>
                   <a href="{{:U('Home/VipCenter/minepack')}}"><i class="iconfont icon-wode"></i><p>我的</p></a></li>
             </ul>
          </div>
      </div>
    </div>
  </div>
  <script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
  <script src="__PUBLIC__/Home/js/public.js"></script>
  <script src="__PUBLIC__/Home/js/indexwebsocket.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
</body>
</html>                                                                                                                                                                                                                                                                    