<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
  <meta charset="UTF-8">
  <title>速腾水家电</title>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css?v={{:time()}}">
  <!-- <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css"> -->
  <!-- <script src="__PUBLIC__/Home/js/vconsole.min.js"></script> -->
  <script>
      // var vconsole = new VConsole();
  </script>
</head>
<body style='background: #f1f1f1;'>
<input type="hidden" value={{$device|json_encode}} class="deviceInfo">
<input type="hidden" value={{$data|json_encode}} class="res">

  <div class="_chongxi">
    <div class="chongContainer">
      <div class="chongTop ">
          <div style="height: 3rem">
            <div class="wendu">
              <p>
                <b></b>
                <span>&nbsp;(当前水温<b class="redu hotwater"></b>)</span>
              </p>
              <p class='heatTxt'>&nbsp;加热</p>
              <!-- <p><span>(冷)</span><b class="lengdu coldwater"></b></p> -->
            </div>
            <!-- <div class="changeDevice">
                <b></b>
                <span>切换设备</span>
            </div> -->
          </div>
          <div class="statusList">
              <div class='canvasdiv'>
                  <canvas id='canvas' width="200" height="200"></canvas>
              </div>
              <!--冲洗-->
              <div class="xuanhuan clear">
                  <div class="xuannei"></div>
              </div>
              <!-- 缺水 -->
              <div class="queshui clear">
                  <div class="xuannei"></div>
                  <div class="cen1"></div>
                  <div class="cen2"></div>
              </div>
              <!--水满-->
              <div class="shuiman clear">
                  <div class="xuannei"></div>
                  <div class="cen1"></div>
              </div>
              <!--制水-->
              <div class="makewater clear">
                  <div class="xuannei"></div>
              </div>
              <!--关机-->
              <div class="kaiji clear shutdown"></div>
              <!--欠费-->
              <div class="kaiji clear arrearage"></div>
              <!--离线-->
              <div class="kaiji clear outLine"></div>
          </div>

          <div class="xuantext">
            <p>-&nbsp;<span>纯水TDS</span>&nbsp;-</p>
            <h3 class="rawtdsVal puretds"></h3>
            <p class="waterDesc">
              <b></b>
              <span>水质优良</span>
            </p>
          </div>
          <div class="btmTxt">
            <p>
              <img src="__PUBLIC__/Home/images/wash.png" alt="">
            </p>
            <div>冲洗</div>
          </div>
          <!-- 接口的内容 -->
          <!-- <div class="shiwen">
            <p>室温</p>
            <p><b class="redu roomtemperature">24~16 &#8451;</b></p>
          </div> -->
      </div>
      <!-- ============净水机底部开始=========== -->
      <div class="chongFoot">
          <div class="chbuTop">
            <ul>
              <li>
                <div>
                  <i class="iconfont icon-chunshui"></i>
                  <div class='sbright'>
                    <p class="fblue">
                      <span class="rawtdsVal2 puretds">--</span>
                      <span>PPM</span>
                    </p>
                    <b>纯水TDS值</b>
                  </div>
                </div>
                <div>
                    <i class="iconfont icon-shengyutianshu"></i>
                    <div class='sbright' style="display: inline-block">
                      <span class="surplusVal fblue"></span>
                    </div>
                </div>
              </li>
              <li>
                <div>
                  <i class="iconfont icon-yuanshui1" ></i>
                  <div class='sbright'>
                    <p class="fblue">
                      <span class="puretdsVal rawtds">--</span>
                      <span>PPM</span>
                    </p> 
                    <p><b>原水TDS值</b></p>
                  </div>
                </div>
                <div>
                  <i class="iconfont icon-yiyongtianshu"></i>
                  <div class='sbright' style="display: inline-block">
                    <span class="alreadyUsedVal fblue"></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="chbuBotom">
             <ul class="clearfix">
               <li><a href="javascript:;"><i class="iconfont icon-guanji clickBtn"></i><p>电源</p></a></li><li>
                   <a href="{{:U('Home/Pay/lvxin')}}"><i class="iconfont icon-lvxin"></i><p>滤芯</p></a></li><li>
                   <a href="javascript:;"><i class="iconfont icon-chongxi1 colorChange washBtn"></i><p>冲洗</p></a></li><li>
                   <a href="{{:U('Home/Pay/chooseMeal')}}"><i class="iconfont icon-chongzhi"></i><p>充值</p></a></li><li>
                   <a href="{{:U('Home/VipCenter/minepack')}}"><i class="iconfont icon-wode"></i><p>我的</p></a></li>
             </ul>
          </div>
      </div>
    </div>
  </div>
  <script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
  <script src="__PUBLIC__/Home/js/public.js"></script>
  <script src="__PUBLIC__/Home/js/indexwebsocket.js?v={{:time()}}"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
  <link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
  <script>
     function toCanvas(canvas ,progress){
        //canvas进度条
        ctx = canvas.getContext("2d"),
        percent = progress,  //最终百分比
        circleX = canvas.width / 2,  //中心x坐标
        circleY = canvas.height / 2,  //中心y坐标
        radius = 94, //圆环半径
        lineWidth = 5,  //圆形线条的宽度
        fontSize = 20; //字体大小
        
        // 画圆
        function circle(cx, cy, r) {
            ctx.beginPath();
            //ctx.moveTo(cx + r, cy);
            ctx.lineWidth = lineWidth;
            ctx.strokeStyle = '#CBDCFD';
            ctx.arc(cx, cy, r, Math.PI*7/9, Math.PI*1/4);
            ctx.stroke();
        }

        // 画弧线
        function sector(cx, cy, r, startAngle, endAngle, anti) {
            ctx.beginPath();
            //ctx.moveTo(cx, cy + r); // 从圆形底部开始画
            ctx.lineWidth = lineWidth;

            // 渐变色 - 可自定义
            var linGrad = ctx.createLinearGradient(
                circleX-radius-lineWidth, circleY, circleX+radius+lineWidth, circleY
            );
            linGrad.addColorStop(0.0, '#49BAFE');
            //linGrad.addColorStop(0.5, '#9bc4eb');
            linGrad.addColorStop(1.0, '#4D70FF');
            ctx.strokeStyle = linGrad;

            // 圆弧两端的样式
            ctx.lineCap = 'round';

            // 圆弧
            ctx.arc(
                cx, cy, r,
                (Math.PI*7/9),
                (Math.PI*7.2/9) + endAngle/100 * (Math.PI*7/5),
                false
            );
            ctx.stroke();
        }

        // 刷新
        function loading() {
            if (process >= percent) {
                clearInterval(circleLoading);
            }

            // 清除canvas内容
            ctx.clearRect(0, 0, circleX * 2, circleY * 2);

          // 中间的字
            ctx.font = fontSize + 'px April';
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            ctx.fillStyle = '#999';
            // ctx.fillText(parseFloat(process).toFixed(0) + '%', circleX, circleY);    
        
            // 圆形
            circle(circleX, circleY, radius);
            
            // 圆弧
            sector(circleX, circleY, radius, Math.PI*2/6, process);
            // 控制结束时动画的速度
            if (process / percent > 0.90) {
                process += 0.30;
            } else if (process / percent > 0.80) {
                process += 0.55;
            } else if (process / percent > 0.70) {
                process += 0.75;
            } else {
                process += 1.0;
            }
        }

        var process = 0.0;  //进度
        var circleLoading = window.setInterval(function () {
            loading();
        }, 20);
              
    }
    $(function(){
      var canvas = document.querySelector('#canvas');
      toCanvas(canvas, 98);
    })
  </script>
</body>
</html>                                                                                                                                                                                                                                                                    