<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>经销商登录</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/login.css?v={{:time()}}">
	<script src='__PUBLIC__/Home/js/vue.min.js'></script>
</head>
<body>
	<div class="main"> 
		<div class="backImg">
		</div>
		<div class="content">
			<div class="registerInfos">
				<div class="touxiang">
					<div>
						<span>
							<img src="__PUBLIC__/Home/images/jxs.png" alt="">
						</span>
						<span>经销商</span>
					</div>
				</div>
				<div>
					<h3>经销商登录</h3>
					<p class="progress"><span></span><span></span></p>
				</div>
				<form action="index" method="post" autocomplete="off">
					<div class="comment">
						<p>
							<span class="iconfont icon-user"></span><span>用户名</span>
						</p>
						<p>
							<input type="text" placeholder="请输入用户名" name="name" v-model="userInfos.name" required>
						</p>
					</div>
					<div class="comment">
						<p><span class="iconfont icon-mima2"></span><span>密码</span></p>
						<p class="eyesParent">
							<input :type="passEyes.tY" placeholder="请输入密码" v-model="userInfos.password" name="password" required><span :class="passEyes.eye" @click="canEye" ></span>
						</p>
					</div>
					<div class="yCodeP">
						<p>
							<span class="iconfont icon-yanzheng"></span>
							<input type="text" name="code" placeholder="验证码" v-model="userInfos.code" required>
						</p>
						<span class="yCord">
							<img src="{{:U('ServiceLogin/yzm',['s'=>time()])}}" onclick="this.src +='?s'+Math.random">
						</span>
					</div>
					<div class="toNext"><input type="submit" value="登录"></div>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
<script src="__PUBLIC__/Home/js/vconsole.min.js"></script>
<!-- <script src="__PUBLIC__/Home/js/service/index.js?qwe={{:time()}}"></script> -->
<script>
	var vConsole = new VConsole();
</script>
</html>