<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单</title>
	<link rel="stylesheet" href="__PUBLIC__/Pc/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/Pc/css/layui.css">
	<link rel="stylesheet" href="__PUBLIC__/Pc/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Pc/css/order.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_635737_50gyhwjkqxclq5mi.css">
	<script src="__PUBLIC__/Pc/js/jquery-1.10.1.js"></script>
	<script src="__PUBLIC__/Pc/js/bootstrap.min.js"></script>
</head>
<style>
/*	.yuanse{
	color: #888;
}
.bianse{
	color: #e73f5c;
}*/

</style>
<body>
	 <script src="__PUBLIC__/Pc/js/layui.js"></script>
	<div class="listContent">
		<!-- 头部开始 -->
		<div class="shopTop">
			<!-- 导航栏一begin -->
			<div class="nav clearfix">
				<div class="navLeft">
					<ul>
						<li><a>会员》</a></li>
						<li><a href="#">登录</a></li>
						<li><a href="#">注册有礼<img src="" alt=""></a></li>
					</ul>
				</div>
				<div class="navRight">
					<ul class="clearfix">
						<li><a href="#">我的订单</a></li>
						<li><a href="#">我的会员》</a></li>
						<li><a href="#">企业采购</a></li>
						<li><a href="#">服务中心》</a></li>
						<li><a href="#">网站导航</a></li>
						<li><a href="#">手机App</a></li>
					</ul>
				</div>
			</div>
			<!-- 导航一栏end -->
			<!-- logo搜索begin -->
			<div class="topMain">
				<ul class="clearfix">
					<li class="logo">
						<img src="__PUBLIC__/Pc/img/logotxt.jpg" alt="">
					</li>
					<li class="earn">
						<h4><i>消费能赚钱的购物平台</i></h4>
					</li>
					<li class="search">
						<span class="seShop">商品》</span><span><input type="text" placeholder="净水器"></span><span class="souTxt">搜索</span>
					</li>
					<li class="shopCar">
						<span class="sCar">购物车</span>
						<span class="iconTxt iconfont icon-gouwuche"></span>
					</li>
				</ul>
			</div>
			<!-- logo搜索end -->
			<!-- 导航栏2begin -->
			<div class="navList">
			<!-- 左边 -->
				<div class="nlLeft">
					<ul class="clearfix">
					<h5 class="suoList">所有商品</h5>
						<li><a class="active" href="#">圈子</a></li>
						<li><a href="#">惠划算</a></li>
						<li><a href="#">家电城</a></li>
						<li><a href="#">智能家电</a></li>
						<li><a href="#">每日必抢</a></li>
						<li><a href="#">安心农贸</a></li>
					</ul>
					<!-- 二级导航侧栏begin -->
				<div class="listItem">
					<ul>
						<li>电热谁去</li>
						<li>电热谁去</li>
						<li>电热谁去</li>
						<li>电热谁去</li>
						<li>电热谁去</li>
					</ul>
					<div class="listDiv">
						<div class="itemBox">
							<ul>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								
								
							
							</ul>
						</div>
						<div class="itemBox">
							<ul>
								<li>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>	
									<a href="#"><span>电热水器</span></a>	
								</li>
								<li>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>	
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>	
								</li>
							</ul>
						</div>
						<div class="itemBox">
							<ul>
								<li>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>	
									<a href="#"><span>养生瓦当堡</span></a>	
								</li>
								<li>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>	
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>	
								</li>
							</ul>
						</div>
						<div class="itemBox">
							<ul>
								<li>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>	
									<a href="#"><span>商业饮水机</span></a>	
								</li>
								<li>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>	
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>	
								</li>
							</ul>
						</div>
						<div class="itemBox">
							<ul>
								<li>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>	
									<a href="#"><span>软水机</span></a>	
								</li>
								<li>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>	
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>	
								</li>
							</ul>
						</div>
					</div>
				</div><!-- 二级导航侧栏end -->
				</div>
				<!-- 右边 -->
			 	<div class="nlRight clearfix">
			 		<span><a class="active" href="#">满4000减600》</a></span>
			 		<span><a href="#">每日抢券</a></span>
			 	</div>
			</div><!-- 导航栏2end -->
		</div><!-- 头部结束 -->
		<!-- 中部开始 -->
		<div class="listBg">
			<div class="shopCart _width">
				<!-- 选项卡begin -->
				<div class="carTab">
					<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
					  	<ul class="layui-tab-title">
					  	  	<li class="layui-this">所有商品</li>
					  	  	<li>代付款</li>
					  	  	<li>代发货</li>
					  	  	<li>待收货</li>
					  	  	<li>待评价</li>
					  	</ul>
					  	<div class="layui-tab-content">
		 			<!-- ====所有商品begin=========== -->
					  		<div class="layui-tab-item layui-show allListgoods">
					  			 <p><span><i class="iconfont icon-kuang1"></i>全选</span><span>宝贝</span><span>单价</span><span>数量</span><span>商品操作</span><span>实付款</span><span>交易状态</span><span>交易操作</span></p>
					  			<div class="allitem">
					  				<p><a href="#">亲！您的购物车空空如也，赶紧添加吧!</a></p>
					  				<div class="item clearfix">
					  					<h6 class="clearfix">
					  						<span><i class="iconfont icon-kuang1"></i></span>
					  						<span><strong>2018-07-12</strong>订单号：123456789023456789</span>
					  						<span class="delBtn"><a href="#" class="iconfont icon-ICONbiaozhun_fuzhi-"></a></span>
					  					</h6>
					  					<div class="shopgoods clearfix">
					  						<div class="itemLeft clearfix">
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="baoqian">
					  								<span>保险服务</span>
					  								<span>￥0.00</span>
					  								<span>1</span>
					  							</div>
					  						</div>
					  						
					  						<div class="itemRight">
					  							<div class="rigBox"><p><strong>￥44.00</strong></p><p>(含运费：￥5.00)</p></div>
					  							<div class="rigBox">
					  								<p class="yifahuo">卖家已发货</p>
					  								<p class="yunshuzhong"><a href="#">物流运输中</a></p>
					  								<p class="xianqing"><a href="#">订单详情</a></p>
					  								<p class="wuliu">查看物流 
					  									<div class="wuliuBox">
					  										<div class="sanjiao"></div>
					  										<div class="wuTxt">
					  											<h6>中通快递：2345678904567</h6>
					  											<div class="fahuo_time ">
					  												<p class="liu_active"><em class="iconfont icon-dian"></em><span>卖家发货</span></p>
					  												<p class="liu_active">2018-05-11 08:44:53</p>
					  											</div>
					  											<div class="peihuo_time">
					  												<p><em class="iconfont icon-dian"></em><span>卖家发货</span></p>
					  												<p>2018-05-11 08:44:53</p>
					  											</div>
					  											<div class="update_time">
					  												<p><em class="iconfont icon-dian"></em><span>以上为最新更新信息</span><a href="#">查看全部</a></p>
					  											</div>
					  											
					  											

					  										</div>
					  									</div>
					  								</p>
					  							</div>
					  							<div class="rigBox">
					  								<p class="time">还剩7天19时</p>
					  								<p><a href="#">确认收货</a></p>
					  								<p><a href="#">追加评论</a></p>
					  								<p class="comm"><a href="#"><strong>评价</strong></a></p>
					  								<p class="pay"><a href="#"><strong>立即付款</strong></a></p>
					  								<p><a href="#">找朋友代付</a></p>
					  								<p class="take"><a href="#"><strong>确认收货</strong></a></p>

					  							</div>
					  						</div>
					  					</div>
					  				</div>
					  				<div class="item clearfix">
					  					<h6 class="clearfix">
					  						<span><i class="iconfont icon-kuang1"></i></span>
					  						<span><strong>2018-07-12</strong>订单号：123456789023456789</span>
					  						<span class="delBtn"><a href="#" class="iconfont icon-ICONbiaozhun_fuzhi-"></a></span>
					  					</h6>
					  					<div class="shopgoods clearfix">
					  						<div class="itemLeft clearfix">
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>

					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="baoqian">
					  								<span>保险服务</span>
					  								<span>￥0.00</span>
					  								<span>1</span>
					  							</div>
					  						</div>
					  						
					  						<div class="itemRight">
					  							<div class="rigBox"><p><strong>￥44.00</strong></p><p>(含运费：￥5.00)</p></div>
					  							<div class="rigBox">
					  								<p class="yifahuo">卖家已发货</p>
					  								<p class="yunshuzhong"><a href="#">物流运输中</a></p>
					  								<p class="xianqing"><a href="#">订单详情</a></p>
					  								<p class="wuliu">查看物流 
					  									<div class="wuliuBox">
					  										<div class="sanjiao"></div>
					  										<div class="wuTxt">
					  											<h6>中通快递：2345678904567</h6>
					  											<div class="fahuo_time ">
					  												<p class="liu_active"><em class="iconfont icon-dian"></em><span>卖家发货</span></p>
					  												<p class="liu_active">2018-05-11 08:44:53</p>
					  											</div>
					  											<div class="peihuo_time">
					  												<p><em class="iconfont icon-dian"></em><span>卖家发货</span></p>
					  												<p>2018-05-11 08:44:53</p>
					  											</div>
					  											<div class="update_time">
					  												<p><em class="iconfont icon-dian"></em><span>以上为最新更新信息</span><a href="#">查看全部</a></p>
					  											</div>
					  											
					  											

					  										</div>
					  									</div>
					  								</p>
					  							</div>
					  							<div class="rigBox">
					  								<p class="time">还剩7天19时</p>
					  								<p><a href="#">确认收货</a></p>
					  								<p><a href="#">追加评论</a></p>
					  								<p class="comm"><a href="#"><strong>评价</strong></a></p>
					  								<p class="pay"><a href="#"><strong>立即付款</strong></a></p>
					  								<p><a href="#">找朋友代付</a></p>
					  								<p class="take"><a href="#"><strong>确认收货</strong></a></p>

					  							</div>
					  						</div>
					  					</div>
					  				</div>
					  				
					  			</div>
					  		</div>
					 <!-- ====所有商品end=========== -->
					 <!-- ====待付款begin=========== -->
							<div class="layui-tab-item  allListgoods">
					  			 <p><span><i class="iconfont icon-kuang1"></i>全选</span><span>宝贝</span><span>单价</span><span>数量</span><span>商品操作</span><span>实付款</span><span>交易状态</span><span>交易操作</span></p>
					  			<div class="allitem">
					  				<p><a href="#">亲！您的购物车空空如也，赶紧添加吧!</a></p>
					  				<div class="item clearfix">
					  					<h6 class="clearfix">
					  						<span><i class="iconfont icon-kuang1"></i></span>
					  						<span><strong>2018-07-12</strong>订单号：123456789023456789</span>
					  						<span class="delBtn"><a href="#" class="iconfont icon-ICONbiaozhun_fuzhi-"></a></span>
					  					</h6>
					  					<div class="shopgoods clearfix">
					  						<div class="itemLeft clearfix">
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="baoqian">
					  								<span>保险服务</span>
					  								<span>￥0.00</span>
					  								<span>1</span>
					  							</div>
					  						</div>
					  						
					  						<div class="itemRight">
					  							<div class="rigBox"><p><strong>￥44.00</strong></p><p>(含运费：￥5.00)</p></div>
					  							<div class="rigBox">
					  								<p class="yifahuo">等待买家付款</p>
					  								<p class="xianqing"><a href="#">订单详情</a></p>
					  								
					  							</div>
					  							<div class="rigBox">
					  								<!-- <p class="time">还剩7天19时</p>
					  								<p><a href="#">确认收货</a></p>
					  								<p><a href="#">追加评论</a></p> -->
					  								<!-- <p class="comm"><a href="#"><strong>评价</strong></a></p> -->
					  								<p class="pay"><a href="#"><strong>立即付款</strong></a></p>
					  								<p><a href="#">找朋友代付</a></p>
					  								<p><a href="#">取消订单</a></p>

					  								<!-- <p class="take"><a href="#"><strong>确认收货</strong></a></p> -->

					  							</div>
					  						</div>
					  					</div>
					  				</div>
					  				
					  				
					  			</div>
					  		</div>
		 			 <!-- ====待付款begin=========== -->
		 			 <!-- ====待发货begin=========== -->
							<div class="layui-tab-item  allListgoods">
					  			 <p><span><i class="iconfont icon-kuang1"></i>全选</span><span>宝贝</span><span>单价</span><span>数量</span><span>商品操作</span><span>实付款</span><span>交易状态</span><span>交易操作</span></p>
					  			<div class="allitem">
					  				<p><a href="#">亲！您的购物车空空如也，赶紧添加吧!</a></p>
					  				<div class="item clearfix">
					  					<h6 class="clearfix">
					  						<span><i class="iconfont icon-kuang1"></i></span>
					  						<span><strong>2018-07-12</strong>订单号：123456789023456789</span>
					  						<span class="delBtn"><a href="#" class="iconfont icon-ICONbiaozhun_fuzhi-"></a></span>
					  					</h6>
					  					<div class="shopgoods clearfix">
					  						<div class="itemLeft clearfix">
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="baoqian">
					  								<span>保险服务</span>
					  								<span>￥0.00</span>
					  								<span>1</span>
					  							</div>
					  						</div>
					  						<div class="itemRight">
					  							<div class="rigBox"><p><strong>￥44.00</strong></p><p>(含运费：￥5.00)</p></div>
					  							<div class="rigBox">
					  								<p class="yifahuo">买家已付款</p>
					  								<p class="yunshuzhong"><a href="#">物流运输中</a></p>
					  								<p class="xianqing"><a href="#">订单详情</a></p>
					  							</div>
					  							<div class="rigBox">
					  								
					  							</div>
					  						</div>
					  					</div>
					  				</div>
					  				
					  			</div>
					  		</div>
		 			 <!-- ====待发货end=========== -->
		 			 <!-- ====待收货begin=========== -->
							<div class="layui-tab-item  allListgoods">
					  			 <p><span><i class="iconfont icon-kuang1"></i>全选</span><span>宝贝</span><span>单价</span><span>数量</span><span>商品操作</span><span>实付款</span><span>交易状态</span><span>交易操作</span></p>
					  			<div class="allitem">
					  				<p><a href="#">亲！您的购物车空空如也，赶紧添加吧!</a></p>
					  				<div class="item clearfix">
					  					<h6 class="clearfix">
					  						<span><i class="iconfont icon-kuang1"></i></span>
					  						<span><strong>2018-07-12</strong>订单号：123456789023456789</span>
					  						<span class="delBtn"><a href="#" class="iconfont icon-ICONbiaozhun_fuzhi-"></a></span>
					  					</h6>
					  					<div class="shopgoods clearfix">
					  						<div class="itemLeft clearfix">
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="baoqian">
					  								<span>保险服务</span>
					  								<span>￥0.00</span>
					  								<span>1</span>
					  							</div>
					  						</div>
					  						
					  						<div class="itemRight">
					  							<div class="rigBox"><p><strong>￥44.00</strong></p><p>(含运费：￥5.00)</p></div>
					  							<div class="rigBox">
					  								<p class="yifahuo">卖家已发货</p>
					  								<p class="yunshuzhong"><a href="#">物流运输中</a></p>
					  								<p class="xianqing"><a href="#">订单详情</a></p>
					  								<p class="wuliu">查看物流 
					  									<div class="wuliuBox">
					  										<div class="sanjiao"></div>
					  										<div class="wuTxt">
					  											<h6>中通快递：2345678904567</h6>
					  											<div class="fahuo_time ">
					  												<p class="liu_active"><em class="iconfont icon-dian"></em><span>卖家发货</span></p>
					  												<p class="liu_active">2018-05-11 08:44:53</p>
					  											</div>
					  											<div class="peihuo_time">
					  												<p><em class="iconfont icon-dian"></em><span>卖家发货</span></p>
					  												<p>2018-05-11 08:44:53</p>
					  											</div>
					  											<div class="update_time">
					  												<p><em class="iconfont icon-dian"></em><span>以上为最新更新信息</span><a href="#">查看全部</a></p>
					  											</div>
					  											
					  											

					  										</div>
					  									</div>
					  								</p>
					  							</div>
					  							<div class="rigBox">
					  								<p class="time">还剩7天19时</p>
					  								<p class="take"><a href="#"><strong>确认收货</strong></a></p>

					  							</div>
					  						</div>
					  					</div>
					  				</div>
					  				
					  			</div>
					  		</div>
					 <!-- ====待收货end=========== -->
					 <!-- ====待评价begin=========== -->
							<div class="layui-tab-item  allListgoods">
					  			 <p><span><i class="iconfont icon-kuang1"></i>全选</span><span>宝贝</span><span>单价</span><span>数量</span><span>商品操作</span><span>实付款</span><span>交易状态</span><span>交易操作</span></p>
					  			<div class="allitem">
					  				<p><a href="#">亲！您的购物车空空如也，赶紧添加吧!</a></p>
					  				<div class="item clearfix">
					  					<h6 class="clearfix">
					  						<span><i class="iconfont icon-kuang1"></i></span>
					  						<span><strong>2018-07-12</strong>订单号：123456789023456789</span>
					  						<span class="delBtn"><a href="#" class="iconfont icon-ICONbiaozhun_fuzhi-"></a></span>
					  					</h6>
					  					<div class="shopgoods clearfix">
					  						<div class="itemLeft clearfix">
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>
					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="itemLefttop">
					  								<span><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></span> 
					  								<div class="proTxt">
					  									<p>日突然他日饿哦图片让它突然他日饿哦图片</p>
					  									<p><span>颜色：浪漫枫树红</span><span>型号：PIC-IE</span></p>

					  								</div>
					  								<span>￥35.64</span>
					  								<span>1</span>
					  								<span><p><a href="#">退款/退货</a></p><p><a href="#">投诉卖家</a></p></span>
					  							</div>
					  							<div class="baoqian">
					  								<span>保险服务</span>
					  								<span>￥0.00</span>
					  								<span>1</span>
					  							</div>
					  						</div>
					  						
					  						<div class="itemRight">
					  							<div class="rigBox"><p><strong>￥44.00</strong></p><p>(含运费：￥5.00)</p></div>
					  							<div class="rigBox">
					  								<p class="yifahuo">交易成功</p>
					  								<p class="xianqing"><a href="#">订单详情</a></p>
					  								<p class="wuliu">查看物流 
					  									<div class="wuliuBox">
					  										<div class="sanjiao"></div>
					  										<div class="wuTxt">
					  											<h6>中通快递：2345678904567</h6>
					  											<div class="fahuo_time ">
					  												<p class="liu_active"><em class="iconfont icon-dian"></em><span>卖家发货</span></p>
					  												<p class="liu_active">2018-05-11 08:44:53</p>
					  											</div>
					  											<div class="peihuo_time">
					  												<p><em class="iconfont icon-dian"></em><span>卖家发货</span></p>
					  												<p>2018-05-11 08:44:53</p>
					  											</div>
					  											<div class="update_time">
					  												<p><em class="iconfont icon-dian"></em><span>以上为最新更新信息</span><a href="#">查看全部</a></p>
					  											</div>
					  											
					  											

					  										</div>
					  									</div>
					  								</p>
					  								<p class="yunshuzhong"><a href="#">对方已评论</a></p>

					  							</div>
					  							<div class="rigBox">
					  								<p class="comm"><a href="#"><strong>评价</strong></a></p>
					  							</div>
					  						</div>
					  					</div>
					  				</div>
					  				
					  			</div>
					  		</div>
		 			<!-- ====待评价begin=========== -->

					  	</div>      
					</div>
					
				</div>
				<!-- 选项卡end -->

			</div>
		</div>
		<!-- 中部end -->


		<!-- 页脚begin -->
		<footer>
			<!--footTop begin -->
			<div class="footTop">
				<ul class="clearfix">
					<li>
						<a href="#">
							<img src="__PUBLIC__/Pc/img/biao_09.jpg" alt="">
						   <strong>
							   	<em>品质</em>
								<span>正品行货 购物无忧</span>
						   </strong>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__PUBLIC__/Pc/img/biao_10.jpg" alt="">
							 <strong>
							   	<em>低价</em>
								<span>正品行货 购物无忧</span>
						   </strong>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__PUBLIC__/Pc/img/biao_12.jpg" alt="">
							 <strong>
							   	<em>速达</em>
								<span>正品行货 购物无忧</span>
						   </strong>
						</a>
					</li>
				</ul>
			</div><!--footTop end -->
			<!--footMain begin -->
			<div class="footMain">
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
			</div><!-- footMain end -->
			<!--footBott begin -->
			<div class="footBott bg5">
				<div class="server clearfix">
					<ul  class="mendian">
						<li class="serTitl">
							<a href="#">
								门店服务
							</a>
						</li>
						<li>
							<a href="#">
								参与用户体验改进计划 用户反馈
							</a>
						</li>
					</ul>
					<ul  class="experience">
						<li class="serTitl">
							<a href="#">
								用户体验
							</a>
						</li>
						<li>
							<a href="#">
								参与用户体验改进计划 用户反馈
							</a>
						</li>
					</ul>
				</div>
				<div class="footerList">
					<ul>
							
						<li class="footbg1">经营性网站备案信息</li>
						<li class="footbg2">经营性网站备案信息</li>
						<li class="footbg3"><p>经营性网</p></li>
						<li class="footbg4">经营性网站备案信息</li>
						<li class="footbg5"><p>经营性网</p></li>
						<li class="footbg6">经营性网站备案信息站备案信息站备案信</li>
					</ul>
				</div>
			</div><!-- footBott end -->
		</footer><!-- 页脚end -->
	</div>
	
	<script>

		danxuan(".item>h6>span>i");
		quanxuan(".allListgoods>p>span>i",".item>h6>span>i");
		// 单选框
		function danxuan(obj){
			$(obj).click(function(){
				var this_class = $(this).attr("class");
				if(this_class=="iconfont icon-kuang1"){
					$(this).removeClass("icon-kuang1").addClass("icon-xuanze");
				}else{
					$(this).removeClass("icon-xuanze").addClass("icon-kuang1");
				}
			});

		}
		// 全选框
		function quanxuan(obj,bianObj1,bianObj2){
			$(obj).click(function(){
				var this_class = $(this).attr("class");
				if(this_class=="iconfont icon-kuang1"){
					$(this).removeClass("icon-kuang1").addClass("icon-xuanze");
					$(bianObj1).removeClass("icon-kuang1").addClass("icon-xuanze");
					$(bianObj2).removeClass("icon-kuang1").addClass("icon-xuanze");

				}else{
					$(this).removeClass("icon-xuanze").addClass("icon-kuang1");
					$(bianObj1).removeClass("icon-xuanze").addClass("icon-kuang1");
					$(bianObj2).removeClass("icon-xuanze").addClass("icon-kuang1");

				}
			});
		}
		
		
	</script>
	<script>
		// 查看物流 显示隐藏盒子
		showPic(".itemRight>div.rigBox>p.wuliu",".wuliuBox");

		// 显示商品的大图片
		function showPic(obj,showObj){
			$(obj).mouseover(function(){
			var showBigbox = $(this).parent().find(showObj);
			$(showBigbox).show();
			$(showBigbox).mouseover(function(){
			 	$(this).show();
			 });
			 $(showBigbox).mouseout(function(){
				$(this).hide();
			});
		});

		 $(obj).mouseout(function(){
			var showBigbox = $(this).parent().find(showObj);
		 	$(showBigbox).hide();
		 });
		}

	</script>
	<script>
		
		window.onload=function(){

			// 二级导航侧栏
			// //头部 左侧导航栏 
			mouseoverChange(".navLeft>ul>li>a");
			//头部 右侧导航栏 
			trangeColor(".navRight>ul>li");
			//圈子
			trangeColor(".nlLeft>ul>li");
			//分类
			trangeColor(".lm_nav>ul.classifyOne>li");
			//排序
			trangeBg(".lm_nav>ul.classifyTwo>li");
		



			


			// 鼠标移入移出时的a链接字体颜色变化
			function mouseoverChange(obj){
				//头部 左侧导航栏  
				$(obj).mouseover(function(){
					$(obj).css("color","#888");
					$(this).css("color","#e73f5c");
				})
				$(obj).mouseout(function(){
					$(this).css("color","#373737");
				})
			}

			// 点击时a链接字体颜色变化 
			function trangeColor(parent){
				$(parent).click(function(){
					$(parent).children().css("color","#888");
					$(this).children().css("color","#e73f5c");
				})
			}
			// 点击时a链接字体颜色变化,同时背景也变化 
			function trangeBg(parent){
				$(parent).click(function(){
					$(parent).children().css("color","#888");
					$(parent).children().css("background","#fff");
					$(this).children().css("color","#fff");
					$(this).children().css("background","#e73f5c");
					
				})
			}

			// 鼠标移入时盒子滑出且有阴影
			function slipbox_shadow(parent,slideBox,shadowClass){
				var oSlideparent = $(parent);
				$(oSlideparent).each(function(index,value){
				 	$(this).mouseenter(function(){
				 		$(oSlideparent).children(slideBox).stop(true).css("display","none");
				 		$(this).stop(true).animate({top:"-2px"});
				 		$(this).addClass(shadowClass).css("zIndex","99999");
				 		$(this).children(slideBox).slideDown("fast");
				 	});
				 	$(this). mouseleave(function(){
				 		$(this).children(slideBox).css("display","none");
				 		$(this).removeClass(shadowClass).css("zIndex","1");;
				 		$(this).stop(true).animate({top:"0px"});
				 	})
				 })
			}

			
			


			




			// 移入时，二级导航出现
			$(".suoList").mouseover(function(){
				$(".listItem").show();
				$(".listItem").mouseover(function(){
					$(".listItem").show();
					showNan();
				})
				$(".listItem").mouseout(function(){
					$(".listItem").hide();
				})

			})
			// 移出时，二级导航隐藏
			$(".suoList").mouseout(function(){
				$(".listItem").css("display","none");
				
			})
	
		// 二级联动导航
		function showNan(){
		   // 获取li对象
		   var oLi = $(".listItem>ul>li");
		   var oDiv = $('.listDiv>.itemBox');

		   // 遍历li对象
		   $(oLi).each(function(index,value){
			     $(this).attr("data",$(this).index());
			   });
		   // 显示对应的div
		   // 鼠标移入
		   $(".listItem>ul>li").mouseover(function(){
			  // console.log($(this).attr("data"));
			  var i = $(this).attr("data");
			  var _this = $(this);
			  $(oLi).css("background","rgba(0,0,0,0)");
			  $(this).css("background","#e73f5c");
			  // console.log(i);
			  $(oDiv).hide();
			  $(oDiv).each(function(index,value){
			  	if(index==i){
			  		$(this).show();
			  		$(this).mouseover(function(){
			  			$(this).show();
			  			$(_this).css("background","#e73f5c");

			  		});
			  		$(this).mouseout(function(){
			  			$(this).hide();
		  				$(oLi).css("background","rgba(0,0,0,0)");

			  		})

			  	}
			  })
		  	})
		  // 鼠标移出
		  $(".listItem>ul>li").mouseout(function(){
		  	$(oDiv).hide();
		  	$(oLi).css("background","rgba(0,0,0,0)");

		  })
		}

	}

	</script>
	<script>
		//注意：选项卡 依赖 element 模块，否则无法进行功能性操作
		layui.use('element', function(){
		  var element = layui.element;
			element.on('tab(docDemoTabBrief)', function(data){
	  			var obj = $(".itemLeft");
	  			for (var i = obj.length - 1; i >= 0; i--) {
	  				$(obj[i]).next().css({"height":$(obj[i]).height()+'px'});
	  			}
			});
		  //…
		});

	$(document).ready(function(){ 
	  	var obj = $(".itemLeft");
	  	for (var i = obj.length - 1; i >= 0; i--) {
	  		$(obj[i]).next().css({"height":$(obj[i]).height()+'px'});
	  	} 
　　});
	</script>
</body>
</html>