<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/vipcenter/gradeSelect.css">
	<title>会员升级</title>
</head>
<body>
	<div class="main">
		<div class="selectInfo">
			<p>请选择会员等级</p>
			<!-- 会员选择 -->
			<div class="gradeSelect">
				<!-- 钻石会员 -->
				<div class="goldGrade" index="0">
					<p>
						<span><img src="__PUBLIC__/Home/images/zssj.png" alt=""></span>
						<span>钻石会员</span>
					</p>
					<p class="selectPrice">1500元</p>
					<div class="goldInfo">
						<p>黄金会员说明</p>
						<p>黄金会员说明黄金会员说明黄金会员说明</p>
						<p class="sanjiao"></p>
						<span class="iconfont icon-shibai"></span>
					</div>
				</div>
				<!-- 黄金会员 -->
				<div class="goldGrade" index="0">
					<p>
						<span><img src="__PUBLIC__/Home/images/hjsj.png" alt=""></span>
						<span>黄金会员</span>
					</p>
					<p class="selectPrice">1000元</p>
					<div class="goldInfo">
						<p>黄金会员说明</p>
						<p>黄金会员说明黄金会员说明黄金会员说明</p>
						<p class="sanjiao"></p>
						<span class="iconfont icon-shibai"></span>
					</div>
				</div>
				<!-- 普通会员 -->
				<div class="goldGrade ordinary" index="0">
					<p>
						<span><img src="__PUBLIC__/Home/images/ptsj.png" alt=""></span>
						<span>普通会员</span>
					</p>
					<p class="selectPrice">500元</p>
					<div class="goldInfo">
						<p>黄金会员说明</p>
						<p>黄金会员说明黄金会员说明黄金会员说明</p>
						<p class="sanjiao"></p>
						<span class="iconfont icon-shibai"></span>
					</div>
				</div>
			</div>
			<!-- 确认选择 -->
			<div class="confirmBtn">
				<p>确认</p>
			</div>
		</div>
		<!-- 点击付款后弹出支付模式 -->
		<div class="payKuan">
			<ul>
				<li>
					<p>付款</p>
					<p class="selectFinall">￥<span></span></p>
					<span class="iconfont icon-chacha "></span>
				</li>
				<li>
					<p style="padding-left:.5rem;">选择支付方式</p>
				</li>
				<li>
					<div class="payWay">
						<p>
							<span class="iconfont icon-weixin2" style="color:rgb(82,165,73)"></span>微信支付
						</p>
						<span class="iconfont icon-xuanzhongduigou xuanzhong" style="color:#56AAF1"></span>
					</div>

					<div class="payWay">
						<p>
							<span class="iconfont icon-zhifubao" style="color:rgb(0,170,239)"></span>支付宝支付
						</p>
						<span class="iconfont icon-weixuanzhong xuanzhong"></span>
					</div>
					<div class="payWay">
						<p class="ylpic">
							<img src="__PUBLIC__/Home/images/yl.png" alt="">银联支付
						</p>
						<span class="iconfont icon-weixuanzhong xuanzhong"></span>
					</div>

					<div class="payConfirm">
						<p>立即付款</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
<!-- 微信支付支持JS部分代码 -->
<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
<!-- 页面js -->
<script src="__PUBLIC__/Home/js/vipCenter/gradeSelect.js"></script>

</html>
