<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
 	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/vipcenter/mycomment.css">
	<title>我的评论</title>
</head>
<body>
	<div class="mycommentContain">

		<!-- 第一类好评开始开始 -->
		<!-- <div class="mycomItem-first clearfix">
			<div class="itemgoodsTop">
				<h3><span>2019-1-4</span><span>10:28:39</span></h3>
				<div class="goodspic clearfix">
					<div class="mygoodsLeft"><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></div>
					<div class="mygoodsRight">
						<p>尼康（Nikon）D3300 单反套（AF-P DX  18-55 mm/3.5-5.6G VR 防抖镜头熔体破天也5替人图片</p>
						<b>5699.00</b>
					</div>
				</div>
			</div>
			<div class="itemgoodsBott">
				<p>宝贝很好~~~好喜欢好喜欢宝贝很好~~~好喜欢好喜欢宝贝很好~~~好喜欢好喜欢宝贝很好~~~好喜欢好喜欢宝贝很好~~~好喜欢好喜欢</p>
				<div class="commpic">
					<ul>
						<li><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></li>
						<li><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></li>
						<li><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></li>
					</ul>
				</div>
			</div>
		</div> -->
		<!-- 第一类好评结束 -->
		<!-- 第二类五星好评开始开始 -->
		<!-- <div class="mycomItem-second clearfix">
			<div class="itemgoodsTop">
				<h3><span>2019-1-4</span><span>10:28:39</span></h3>
				<div class="goodspic .clearfix">
					<div class="mygoodsLeft"><img src="__PUBLIC__/Home/images/comm_03.png" alt=""></div>
					<div class="mygoodsRight">
						<p>尼康（Nikon）D3300 单反套（AF-P DX  18-55 mm/3.5-5.6G VR 防抖镜头熔体破天也5替人图片</p>
						<b>5699.00</b>
					</div>
				</div>
			</div> -->
			<!-- 五星评分 -->
			<!-- <div class="mysaleContain">
				<div class="mysaleBot">
					<p class=".clearfix">
						<b>安装人员评分</b>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
					</p>
					<p class=".clearfix">
						<b>安装人员评分</b>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
					</p>
					<p class=".clearfix">
						<b>安装人员评分</b>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
						<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
					</p>
					<p>安装师傅认真负责，很好的一次用户体现</p>
				</div>
			</div>
		</div> -->
		<div class="mycommentFoot clearfix">
			<h3>————<span>继续评论以下商品</span>————</h3>
			<ul>
				<li><a href="#"><img src="__PUBLIC__/Home/images/comm_03.png" alt=""></a></li>
				<li><a href="#"><img src="__PUBLIC__/Home/images/comm_03.png" alt=""></a></li>
				<li><a href="#"><img src="__PUBLIC__/Home/images/comm_03.png" alt=""></a></li>

			</ul>
		</div>
	</div>
  	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script>
		$(function(){
			// 首页按钮
			!function(){
				// 创建 a 标签
				var home = document.createElement('a');
				home.innerText = '首\n页';
				
				home.href = '{{:U("Home/VipCenter/index")}}';
				home.setAttribute("id", 'back2Home');

				// 添加到页面
				document.body.appendChild(home);
				home.onclick = function(){
					home.style.background = '#aaa';
				}
				return
				// console.log(home)
			}()
		})
		var statusList = [100, 60, 0];		// 好评，中评，差评
		var statusText = ['好评', '中评', '差评'];		// 好评，中评，差评
		var ulogo = sessionStorage.getItem('ulogo');
		var nickname = sessionStorage.getItem('nickname');
		var commetHTML = '';	//存放评论相关商品的数据
		/*
			请求评论数据
		 */
		$.ajax({
			url: '{{:U("Home/comment/getComments")}}',
			type: 'post',
			success: function(res){
				console.log('成功！ ',res);
				var picStr = '';	//存放图片的html
				var picArr = [];	//存放评论图片的数组
				var text_html = '';		//商品评价或安装评论
				/* 以下为模拟数据 */
				for(var i=0; i<res.data.length; i++){
					console.log("图片路径",res.data[i].pics.length)
					
					if(res.data[i].installer_graded == 0){	
						// 用户对商品评论
						text_html = '<!-- 评论内容 -->'+
							'<div class="itemgoodsBott">'+
								'<p class="cfix"><span class="fleft"><img src="'+ ulogo +'" alt="">'+
								'</span>&nbsp;'+ nickname +'<span class="fright">'+ timestampToTime(res.data[i].addtime) +'</span></p>'+
								'<p class="cfix xingx">'+
									'<i index="1" class="iconfont pingfen fleft"><span style="width:'+ statusList[Number(res.data[i].grade)-1] +'%"></span></i>'+
									'<span class="fleft">&emsp;'+ statusText[Number(res.data[i].grade)-1] + '</span>'+
								'</p>'+
								'<p class="ccontent">'+ res.data[i].content +'</p>'+
								'<div class="commpic">'+
									'<ul></ul>'+
								'</div>'+
							'</div>';   
					}else{		//安装评价
						text_html = '<!-- 五星评分 -->'+
							'<div class="mysaleContain">'+
								'<div class="mysaleBot">'+
									'<p class=".clearfix">'+
										'<b>安装人员评分</b>'+
										'<i index="1" class="iconfont pingfen"><span style="width:'+ res.data[i].installer_graded*20 +'%"></span></i>'+
									'</p>'+
									'<p class=".clearfix">'+
										'<b>服务态度评分</b>'+
										'<i index="1" class="iconfont pingfen"><span style="width:'+ res.data[i].attitude*20 +'%"></span></i>'+
									'</p>'+
									'<p class=".clearfix">'+
										'<b>着装评分</b>'+
										'<i index="1" class="iconfont pingfen"><span style="width:'+ res.data[i].dressing*20 +'%"></span></i>'+
									'</p>'+
									'<p>安装师傅认真负责，很好的一次用户体现</p>'+
								'</div>'+
							'</div>';
					}
					commetHTML += text_html;
					
					// 判断是否接收到图片数据
					if(!res.data[i].pics.length) { 
						dataPic = "";
						picArr.push({'picHTML':''}); //无图片， 则为空
					}else {
						picStr = '';	//先清空再生成
						for(var j=0; j<res.data[i].pics.length; j++){
							picStr += '<li><img src="'+'/Public/'+res.data[i].pics[j].path+'" alt="图片加载中"></li>';
						}
						picArr.push({'picHTML':picStr});
					}
				}
				console.log(picArr)
				if(commetHTML){
					$(".mycommentContain").html(commetHTML);		//评价的内容
					//遍历评价的图片
					for(var i=0; i<picArr.length; i++){
						$(".commpic").eq(i).children("ul").html(picArr[i].picHTML);	
						// console.log(picArr[i].picHTML)		//评价的图片
					}
				}else{
					$(".mycommentContain").html("<div style='width:100%;height:50vh;display:flex;justify-content:center;align-items:center;'>您还没有已评论的记录</div>");
				}
			},
			error: function(res){
				console.log('失败！ ',res);
			} 
		})

		// 时间戳转换
		function timestampToTime(timestamp) {
			var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
			var Y = date.getFullYear() + '/';
			var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '/';
			var D = date.getDate() + ' ';
			var h = (date.getHours() < 10 ? '0'+ date.getHours() : date.getHours()) + ':';
			var m = (date.getMinutes() < 10 ? '0'+ date.getMinutes() : date.getMinutes());
			// var s = date.getSeconds();
			return Y+M+D+h+m;
		}

	</script>
</body>
</html>