<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta charset="UTF-8">
	<title>个人信息</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/vipcenter/userinfo.css">
    <script src="__PUBLIC__/Home/js/vconsole.min.js"></script>
    <script>
        var vconsole = new VConsole();
    </script>
</head>
<body>
	<div class="container">
		<form id="form" action="" method="post">
			<div class="Information">
				<h3>个人信息</h3>
				<label for="name" class="">
					<i class="iconfont icon-wode1"></i>
					<div >
						<span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span><input name="name" id="name" type="text" value="">
					</div>
				</label>
				<label for="sex">
					<i class="iconfont icon-weibiaoti-"></i>
					<div >
						<span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span><select name="sex" id='sex' >
							<switch name="user_device.sex">
							    <case value="0">
				    				<option value="0">男</option>
									<option value="1">女</option>
							    </case>
							    <case value="1">
							    	<option value="1">女</option>
				    				<option value="0">男</option>
							    </case>
							    <default />
							    	<option value="0">男</option>
									<option value="1">女</option>
							</switch>
	   					</select><!--下拉选择-->
					</div>
				</label>
				<label for="birth">
					<i class="iconfont icon-shengridangao2-copy"></i>
					<div >
						<span>生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日：</span><input name="birth" class="dateSelect" id="birth" placeholder="请选择生日年月" type="text" value="" readonly><!--日期插件-->
					</div>
				</label>
				
				<label for="tel">
					<i class="iconfont icon-shouji2-copy"></i>
					<div >
						<span>手机号码：</span><input id="tel" name="phone" type="text" value="" >
					</div>
				</label>

				<label for="addr">
					<i class="iconfont icon-dizhi"></i>
					<div >
						<span>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：</span>
						<input type="text" id="areaID" class="areabtn" onfocus="this.blur()" placeholder="请选择 >" value=''>
					</div>
				</label>
				<label for="">
					<div class='addrdetail'>
						<p>详细地址：</p>
						<textarea class='address' name="address" id="" cols="30" rows="5" placeholder="请输入详细地址" value=''></textarea>
					</div>
				</label>
			</div>
			<div class="bandBtn">
				<input id="save" type="button" value="保存" readonly="readonly">
			</div>
		</form>
	</div>
	<div id="areaChoose" class="citys">
		<div class="areaChoosebg"></div>
        <div class="areaDiv">
        	<div>
        		<span>省份</span>
        		<span>城市</span>
        		<span>区县</span>
        	</div>
			<ul>
				<li class='province'>
					<p></p>
				</li>
				<li class='city'>
					<p></p>
				</li>
				<li class='area'>
					<p></p>
				</li>
			</ul>
    	</div>
	</div>
  	<script src="__PUBLIC__/Home/js/laydate.js"></script>
	<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script type="text/javascript">
		$(function(){
			var machineNo;
			var href = location.href;
			// 绑定设备
			if(href.indexOf('?machineNo=') > -1){
				$('#name').val('');
				$('#birth').val('');
				$('#tel').val('');
				$('#addr').val('');
				$('#addr').text('');
				machineNo = href.substr(href.indexOf('?machineNo=')+11);
			}
			$(".dateSelect").click(function(){
				//年月范围选择
				laydate.render({ 
				  elem: '.dateSelect',
				  show: true,
				  max: new Date().getTime()
				});
			})
			$('#name').change( function() {
			  	// 这里可以写些验证代码
			  	var name = $(this).val();
			  	if(name==name.match(/^[a-zA-Z\u4e00-\u9fa5]{2,30}$/u)){// 纯中文姓名支持支持 /^[\u4e00-\u9fa5]{2,30}$/u
			  		console.dir('验证通过');
			  	}else{
			  		layuiHint('请输入真实的姓名！');
			  	}
			});

			$('#tel').change( function() {
			  	// 这里可以写些验证代码
			  	var phone = $(this).val();
			  	var rephone = phone.match(/^1((((3[0-35-9])|([5|8][0-9])|(4[5|7|9])|66|(7[3|5-8])|(9[8|9]))\d)|(34[0-8]))\d{7}$/);
			  	if(rephone){
				  	if(phone==rephone[0]){
				  		console.dir('验证通过');
				  	}else{
				  		layuiHint('请输入正确的手机号码！');
				  	}	
			  	}else{
			  		layuiHint('请输入正确的手机号码！');
			  	}

			});

			$('#addr').change( function() {
			  	// 这里可以写些验证代码
			  	var addr = $(this).val();
			  	if(addr==addr.match(/^[\w\-\u4e00-\u9fa5]{6,255}$/u)){// 公司地址，不为空时验证，数字字母下划线横线中文 6-255位
			  		console.dir('验证通过');
			  	}else{
			  		layuiHint('地址格式不正确！');
			  	}
			});
			
			// 点击保存
			$("#save").click(function(){
				var info = {};
				info = {
					name: $('#name').val(),
					sex: $('#sex>option:selected').val(),
					birth: $('#birth').val(),
					phone: $('#tel').val(),
					province: province,
					city: city,
					area: area,
					province_id: province_id,
					city_id: city_id,
					area_id: area_id,
					address: $('.address').val()
				}
				if(!(nameReg.test(info.name))){
					layuiHint("请输入真实的姓名");
					return;

				}else if(!info.birth){
					layuiHint("请选择您的生日");
					return;

				}else if(!(phoneReg.test(info.phone))){
					layuiHint("请输入正确的手机号码");
					return;

				}else if(!info.address){
					layuiHint("请输入详细地址！");
					return;

				}
				if(!$('.areabtn').val()){
					layuiHint("请选择地区！");
					return
				}
				if(machineNo){
					info['device_code'] = machineNo;
					// 绑定设备
					bindFn(info);
				}else{
					// 保存信息
					saveFn(data);
				}
				
			});
			function saveFn(data){				
				// 保存信息
				$.ajax({
					url: 'infomationAction',
					type: 'post',
					data: data,
					success: function(res){
						if(res.code == 200){
							layuiHint(res.msg);
							// 替换当前历史记录为首页
							history.replaceState({}, null, "{{:U('Home/Index/index')}}");
							setTimeout(function(){
								// 跳转到我的钱包
								location.href="{{:U('Home/VipCenter/minepack')}}";	
							},500);
						}else{
							layuiHint(res.msg);
						}
						
					},
					error: function(res){
						console.log('失败!', res)
					}
				})
			}
			var bindflag = false;
			function bindFn(data){
				console.log('data: ',data);
				if(bindflag){
					return
				}
				// 绑定设备
				$.ajax({
					url: '{{:U("Home/Device/bind")}}',
					type: 'post',
					data: data,
					success: function(res){
						console.log('res: ',res);
						bindflag = true;
						if(res.code == 200){
							layuiHint('绑定成功！');
							history.replaceState({}, null, '{{:U("Home/Index/index")}}');
							// 返回‘我的钱包’
							setTimeout(function(){
								bindflag = false;
								location.href = '{{:U("Home/VipCenter/minepack")}}';
							},500)
						}else{
							layuiHint(res.msg);
						}
					},
					error: function(err){
						bindflag = false;
						console.log('err: ',err);
						layuiHint('系统遇到问题，请稍后再试');
					}
				})
			}

		})
	</script>
	<script>
		var province_id,city_id,area_id;
		// 选择地区
		$(".areabtn").on("click", function(){
			$("#areaChoose").css({display: "block"});
		});

		// 获取地址数据
		function getAddress(parentid, callback){
			$.ajax({
				url: '{{:U("Home/Address/getNextArea")}}',
				type: 'post',
				data: {parentid: parentid},
				success: function(res){
					console.log('res: ',res);
					if(res.status == 200){
						callback(res.data);	
					}else{
						layuiHint(res.msg);
					}
				},
				error: function(err){
					console.log('err: ',err);
					layuiHint('系统遇到问题，请稍后再试');
				}
			})
		}

		// 获取省份数据
		getAddress(0, function(res){
			if(res.length){
				var html = '';
				for(var i=0; i<res.length; i++){
					html += '<p aid='+ res[i].id +'>'+ res[i].areaname +'</p>';
				}
				$(".province").html(html);
			}
		});

		var province,city,area;
		// 选择省份，城市，区县
		$('.areaDiv').on('click', 'p', function(){
			var parent = $(this).parent()[0].className;
			var aid = $(this).attr('aid');	// 省份id
			var _this = $(this);
			console.log('parent: ',parent);

			// 根据省份id 获取城市数据
			getAddress(aid, function(res){
				if(parent == 'province'){
					province = _this.text();
					province_id = _this.attr('aid');
					console.log('cityres: ',res);
					// 点击省份
					console.log('city: ');
					var cityhtml = '';
					for(var i=0; i<res.length; i++){
						cityhtml += '<p aid='+ res[i].id +'>'+ res[i].areaname +'</p>';
					}
					$('.city').html(cityhtml);
					for(var j=0; j<$('.province>p').length; j++){
						$('.province>p').eq(j).removeClass('addrselect');
					}
					_this.attr('class','addrselect');

				}else if(parent == 'city'){
					city = _this.text();
					city_id = _this.attr('aid');
					// 点击城市
					console.log('areares: ',res);
					var areahtml = '';
					for(var i=0; i<res.length; i++){
						areahtml += '<p aid='+ res[i].id +'>'+ res[i].areaname +'</p>';
					}
					$('.area').html(areahtml);
					for(var j=0; j<$('.city>p').length; j++){
						$('.city>p').eq(j).removeClass('addrselect');
					}
					_this.attr('class','addrselect');

				}else if(parent == 'area'){
					area = _this.text();
					area_id = _this.attr('aid');
					// 点击区县
					console.log('area: ',_this);
					for(var j=0; j<$('.area>p').length; j++){
						$('.area>p').eq(j).removeClass('addrselect');
					}
					_this.attr('class','addrselect');
					areaover();
				}
				console.log('province,city,area: ',province,city,area);
				console.log('province_id,city_id,area_id: ',province_id,city_id,area_id);
			})
		})

		// 选择完区县后自动消失
		function areaover(){
			if(!province){
				layuiHint('请选择省份');
				return
			}
			if(!city){
				layuiHint('请选择城市');
				return
			}
			if(!area){
				layuiHint('请选择区县');
				return
			}

			$('.areabtn').val(province +' '+ city +' '+ area);
			setTimeout(function(){
				$('#areaChoose').fadeOut('fast');
			},300);
		}

		// 关闭地址选择
		$('.areaChoosebg').click(function(){
			$('#areaChoose').fadeOut('slow');
		})
	</script>
</body>
</html>                                                                                                                                                                                                                                                                      