<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'>
	<title>工单详情</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/vipcenter/record_detail.css?v={{:time()}}">
	<script src='__PUBLIC__/Home/js/vue.min.js'></script>
	<script src='__PUBLIC__/Home/js/public.js'></script>
    <script src="__PUBLIC__/Home/js/vconsole.min.js"></script>
    <script>
        var vconsole = new VConsole();
    </script>
</head>
<body> 
	<div class='bgg'></div>
	<div id='recoed_detail'>
		<div class='content' :style='{display: showEvalPanel ? "none": "block"}'>
			<ul class='timeline cfix' v-for='(d,index) in detailList'>
				<li class='fl'>
					<span v-text='d.time[1].substr(0,5)'></span>
					<p v-text='d.time[0].substr(2).replace("-","/").replace("-","/")'></p>
				</li>
				<li class='fr'>
					<div class='title' v-if='index == 0'>工单号：<span v-text='workid'></span></div>
					<div v-if='index == 0' class='okdone' :style='{display: showEval ? "block" : "none"}'>
						<img src="__PUBLIC__/Home/images/ok.png" alt="">
						<p><b>工单已经完成</b></p>
						<p>请对此次服务进行评价</p>
					</div>
					<!-- 标题 -->
					<div class='title' v-text='d.title'></div>
					<div v-for='(c, sonindex) in detailList.content[index]'>
						<!-- 提示 -->
						<div v-if='!c.value' v-html='c.title' class='novalue'></div>
						<div v-if='c.value && c.title != "地址"' class='keyvalue'>
							<span v-text='c.title'></span>
							<span>:
								<span v-html='c.value' :class='c.title=="电话" ? "tel" : ""'></span>
							</span>
						</div>
						<!-- <div v-if='c.title == "地址"' style='margin-top:2vh;'>
							<img src="__PUBLIC__/Home/images/addr.png" alt="">
							<span v-text='c.title'></span>
							<span>:
								<span v-text='c.value'></span>
							</span>
						</div> -->
					</div>
				</li>
			</ul>
		</div>
		<p class='notice' :style='{display: noticestyle}' v-text='notice'></p>
		<button :style='{display: showEval}' v-if='!showEvalPanel' class='evaluatebtn' @click='evaluate'>评价</button>
		<div class='evalPanel' :style='evalPanel'>
			<!-- <h3>评论本次服务</h3> -->
			<p>工单号：<span v-text='workid'></span></p>
			<p>安装师傅：<span v-text='name'></span></p>
			<ul>
				<h2 class='title'>为服务打星</h2>
				<li class='xinx'>
					<span class="iconfont icon-star" :class='{activeClass: star >= 1}' @click='xingx(1)'></span>
					<span class="iconfont icon-star" :class='{activeClass: star >= 2}' @click='xingx(2)'></span>
					<span class="iconfont icon-star" :class='{activeClass: star >= 3}' @click='xingx(3)'></span>
					<span class="iconfont icon-star" :class='{activeClass: star >= 4}' @click='xingx(4)'></span>
					<span class="iconfont icon-star" :class='{activeClass: star == 5}' @click='xingx(5)'></span>
				</li>
				<li class='text'>
					<span v-for='t in textList' v-text='t.desc' :tid='t.id' @click='textSelect($event)'></span>
				</li>
				<li class='say'>
					<!-- <label for="">其他想对师傅说的话</label> -->
					<textarea name="" id="" cols="30" rows="9" placeholder="请写下您的宝贵评价吧" v-model='text' @click='textfocus' @focus='textfocus' @blur='textblur'></textarea>
					<p class='noti'>仅限120字以内</p>
				</li>
				<p>
					<i :class='nonameclass'></i>
					<label for="noname" @click='noname'>匿名提交</label>
				</p>
				<div class='upbtn'>
					<button class='evaluate' :style='{display: showEval}' @touchend='upEval'>提交评价</button>
				</div>
			</ul>
		</div>
	</div>
	<!-- <div class="notic">
		<i class="iconfont icon-dagouyouquan"></i>
		<p>评价成功</p>
		<p>感谢你们对我们服务的支持！</p>
	</div> -->
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Home/js/vipCenter/record_detail.js?v={{:time()}}"></script>
</body>
</html>