<extend name="Public/base" />
<block name="mylink">
    <link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/switchery.min.css" rel="stylesheet">
</block>
<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>站内信<small> 站内信列表 </small></h5>
                        <div class="ibox-tools">
                            <a href="send" class="close-link">
                                <i class="fa fa-user-plus"></i>
                                发布站内信
                            </a>
                        </div>
                    </div>
                <form method="get" action="">
                    <div class="input-group col-md-4" id='searchdiv'>
                        <select name="key" class="form-control" name="account" >
                            <option value="title">标题</option>
                            <option value="content">内容</option>
                            <option value="sender">发件人</option>
                            <option value="recipients">收件人</option>
                        </select>
                        <input type="text" name="keywords" placeholder="输入搜索关键字" class="input form-control"   style="width:60%">
                        <span class="input-group-btn" style="display: inline-block;">
                                <input type="submit" class="btn btn btn-primary" name="sou"> <i class="fa fa-search"></i> 搜索</button>
                        </span>
                    </div>
                </form>
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th class="col-md-2">站内信标题</th>
                                    <th class="col-md-3">站内信内容</th>
                                    <th>发信人</th>
                                    <th>收信人</th>
                                    <th>状态</th>
                                    <th>加入时间</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <empty name="data">
                                    <tr><td><h3>暂无消息</h3></td></tr>
                                <else />
                                    <volist name="data" id="val">
                                        <tr>
                                            <td>{{$i}}</td>
                                            <td>{{$val.title}}</td>
                                            <td>{{$val.content}}</td>
                                            <td>{{$val.sender}}</td>
                                            <td>{{$val.recipients}}</td>
                                            <td>
                                                <switch name="val.status">
                                                    <case value="2">未读</case>
                                                    <case value="3">已读</case>
                                                    <case value="4">回收</case>
                                                    <default />
                                                </switch>
                                            </td>
                                            <td>{{$val.addtime|date="Y-m-d H:i:s",###}}</td>
                                            <td>{{$val.updatetime|date="Y-m-d H:i:s",###}}</td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="javascript:del({{$val.id}})">删除</a>
                                            </td>
                                        </tr>
                                    </volist>
                                </empty>
                            </tbody>
                        </table>
                        <div>
                            {{$page}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">

<script src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__PUBLIC__/Admin/js/switchery.min.js"></script>
<script>
    // 启用或者禁用
    $('.status').click(function(){
        // 获取产品状态
        var st = $(this).attr('st');
        var id = $(this).attr('id');
        // console.dir(st+' '+id);
        // 确定上架或者下架吗
        swal({
            title: st==1?'您确定要启用吗？':'您确定禁用要吗？',
            text: st==1?'启用之后公告将显示，请谨慎操作！':'禁用之后公告将无法显示，请谨慎操作！',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: st==1?'是的，确定启用公告！':'是的，确定禁用公告！',
            cancelButtonText: "让我再考虑一下…",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url:"{{:U('Admin/Mail/status')}}",
                    data:{"id":id,"status":st},
                    dataType:"json",
                    type: 'post',
                    success:function(res){
                        if(res.code==200){
                            // st==1?$('.status').removeClass('btn-success').html('下架').attr('st',0):$('.status').addClass("btn-success").html('上架').attr('st',1);
                            // 分公司交接成功
                            swal('设置成功',res.msg, "success");
                            setTimeout(function(){
                                location.reload();
                            },1500);

                        }else{
                            // 分公司交接失败
                            swal("设置失败",res.msg, "error");
                        }
                    },
                    error:function(res){
                        // 交接失败提示
                        swal("设置失败",res.msg, "error");
                    }
                });
            } else {
                swal("已取消", "您取消了操作！", "error");
            }
        });
    });


    // 删除站内信
    function del(id){
        swal({
            title: '您确定要删除该站内信吗？',
            text: '站内信删除之后将无法恢复，请谨慎操作！',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText:'是的，确定删除站内信！',
            cancelButtonText: "让我再考虑一下…",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url:"{{:U('Admin/Mail/del')}}",
                    data:{"id":id},
                    dataType:"json",
                    type: 'post',
                    success:function(res){
                        if(res.code==200){
                            // 套餐删除成功
                            swal('删除成功',res.msg, "success");
                            // 两秒后刷新
                            setTimeout(function(){
                                location.reload();
                            },1500);
                        }else{
                            // 套餐删除失败
                            swal("删除失败",res.msg, "error");
                        }
                    },
                    error:function(res){
                        // 套餐删除失败
                        swal("删除失败",res.msg, "error");
                    }
                });
            } else {
                swal("已取消", "您取消了删除操作！", "error");
            }
        });
    }
    </script>
</block>