.link_b {
  border-bottom: 1px solid #e0e0e0;
}
.left {
  color: #aeaeae;
}
.right {
  color: #545454;
}
.cfix::after {
content: '';
clear: both;
display: block;
visibility: hidden;
}
.fl {
float: left;
}
.fr {
float: right;
}
.wrap .header {
  width: 100%;
}
.wrap .header .sub_head {
  width: 90%;
  margin: 0.35714286rem auto;
  background: #fff;
  height: 1.78571429rem;
  border-radius: 0.19047619rem;
}
.wrap .header .sub_head label {
  width: 100%;
}
.wrap .header .sub_head label i {
  width: 15%;
  height: 1.78571429rem;
  line-height: 1.78571429rem;
  text-align: center;
  display: inline-block;
  color: #aeaeae;
}
.wrap .header .sub_head label input {
  width: 80%;
  height: 1.66666667rem;
  border: none;
  outline: none;
  font-size: 0.66666667rem;
  font-weight: normal;
}
.wrap .header .sub_head label input::-ms-input-placeholder {
  color: #aeaeae;
}
.wrap .header .sub_head label input::-webkit-input-placeholder {
  color: #aeaeae;
}
.wrap .header .sub_head label input::-moz-placeholder {
  color: #aeaeae;
}
.wrap .list {
  width: 100%;
}
.wrap .list ul:nth-child(1) {
  width: 100%;
  background: #fff;
  height: 1.9047619rem;
}
.wrap .list ul:nth-child(1) li {
  width: 100%;
  padding: 0 0 0 0.71428571rem;
  height: 1.9047619rem;
  line-height: 1.9047619rem;
  text-align: center;
  color: #2eb6aa;
}
.wrap .list ul:nth-child(2) {
  width: 100%;
  background: #fff;
}
.wrap .list ul:nth-child(2) li {
  width: 100%;
  padding: 0 0 0 0.71428571rem;
  height: 2.61904762rem;
  line-height: 2.61904762rem;
  text-align: center;
  color: #808080;
}
.detail {
  padding: 10px 0;
}
.detail .user ul:nth-child(1) {
  width: 100%;
}
.detail .user ul:nth-child(1) li {
  width: 100%;
  padding: 1vw 0 0 4vw;
  color: #2eb6aa;
  font-size: .6rem;
}
.detail .user ul:nth-child(2) {
  width: 100%;
}
.detail .user ul:nth-child(2) li {
  width: 100%;
  padding: .4rem 0.71428571rem;
  background: #fff;
}
.detail .user ul:nth-child(2) li span {
  width: 66%;
  display: inline-block;
}
.detail .user ul:nth-child(2) li span:nth-child(1) {
  width: 30%;
  vertical-align: top;
}
.detail .success {
  width: 100%;
}
.detail .success input {
  margin: 1.19047619rem auto;
  display: block;
  width: 90%;
  height: 1.9047619rem;
  line-height: 1.9047619rem;
  background: #2eb6aa;
  color: #fff;
  border-radius: 0.23809524rem;
  border: none;
  outline: none;
}
.paySuc {
  display: none;
  width: 100%;
  height: 100vh;
  background: #fff;
  text-align: center;
  padding-top: 20vh;
}
.paySuc div {
  width: 26%;
  margin: 0 auto;
}
.paySuc div i {
  font-size: 4.28571429rem;
  color: #32C97C;
}
.notice {
  width: 100vw;
  position: fixed;
  top: 0;
  padding-top: 40vh;
  text-align: center;
}
.picShow {
  width: 100%;
}
.picShow>img {
  width: 30vw;
  height: 30vw;
  margin-top: 6px;
  margin-right: 6px;
}
.pswp__img {
  width: 100%;
  height: auto !important;
  position: relative;
  display: block;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
}