body {
    width: 100vw;
    height: 100vh;
}
.main {
    width: inherit;
    min-height: 100vh;
    background: #EDF2F2;
}
.main > ul {
    padding-bottom: 2vh;
}
.main > ul > li {
    background: white;
    padding: 0 1.3rem 0 .5rem;
    position: relative;
}
.main > ul > li > a {
    /* height: 2rem; */
    /* line-height: 2rem; */
    padding: .6rem 0;
    display: flex;
    justify-content: space-between;
    font-size: .7rem;
}
.main > ul > li > a > span:nth-child(1) {
    color: #808080;
}
.main > ul > li > a > span:nth-child(2) {
    color: #545454;
}
.main > ul > li:nth-child(2) {
    border-top: 1px solid #EFEFEF;
}
.main > ul > li:nth-child(3) {
    margin-top: .5rem;
    border-bottom: 1px solid #EFEFEF;
}
.main > ul > li > a > i{
    position: absolute;
    right: .4rem;
    font-size: .5rem;
    color: #b3b3b3;
}
.bindweixin {
    padding: 10px 0;
}
.bindwx {
    padding: .2rem .4rem;
    color: #fff !important;
    background: #f43030;
    border-radius: 6px;
    font-size: .5rem;
    float:right;
}
.bindweixin {
    padding-bottom: .3rem !important;
}
.bindwx:active {
    background: #b90707;
}
.main input {
    border: 1px dashed #ccc;
    border-radius: 4px;
    padding: 2px 4px;
}
.edit {
    width: 80vw;
    position: relative;
    left: 50%;
    margin-left: -40vw;
    margin-top: 20vw;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: #00BCD4;
}
.edit:active {
    background: #069db0;
}