<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>详情页面</title>
	<link rel="stylesheet" href="__PUBLIC__/Pc/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/Pc/css/layui.css">
	<link rel="stylesheet" href="__PUBLIC__/Pc/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Pc/css/goodsdetail.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_635737_4nz7s5ch4y47k3xr.css">
	<script src="__PUBLIC__/Pc/js/jquery-1.10.1.js"></script>
	<script src="__PUBLIC__/Pc/js/bootstrap.min.js"></script>
</head>
<style>
.yuanse{
	color: #888;
}
.bianse{
	color: #e73f5c;
}
</style>
<body>
<!-- http://www.phpshe.com/demo/phpshe/ -->
<!-- 评价参考网页 https://www.shoprobam.com/Home/Products/detail/gid/506

-->
 <script src="__PUBLIC__/Pc/js/layui.js"></script>

	<div class="listContent">
		<!-- 头部开始 -->
		<div class="shopTop">
			<!-- 导航栏一begin -->
			<div class="nav clearfix">
				<div class="navLeft">
					<ul>
						<li><a>会员》</a></li>
						<li><a href="#">登录</a></li>
						<li><a href="#">注册有礼<img src="" alt=""></a></li>
					</ul>
				</div>
				<div class="navRight">
					<ul class="clearfix">
						<li><a href="#">我的订单</a></li>
						<li><a href="#">我的会员》</a></li>
						<li><a href="#">企业采购</a></li>
						<li><a href="#">服务中心》</a></li>
						<li><a href="#">网站导航</a></li>
						<li><a href="#">手机App</a></li>
					</ul>
				</div>
			</div>
			<!-- 导航一栏end -->
			<!-- logo搜索begin -->
			<div class="topMain">
				<ul class="clearfix">
					<li class="logo">
						<img src="__PUBLIC__/Pc/img/logotxt.jpg" alt="">
					</li>
					<li class="earn">
						<h4><i>消费能赚钱的购物平台</i></h4>
					</li>
					<li class="search">
						<span class="seShop">商品》</span><span><input type="text" placeholder="净水器"></span><span class="souTxt">搜索</span>
					</li>
					<li class="shopCar">
						<span class="sCar">购物车</span>
						<span class="iconTxt iconfont icon-gouwuche"></span>
					</li>
				</ul>
			</div>
			<!-- logo搜索end -->
			<!-- 导航栏2begin -->
			<div class="navList">
			<!-- 左边 -->
				<div class="nlLeft">
					<ul class="clearfix">
					<h5 class="suoList">所有商品</h5>
						<li><a class="active" href="#">圈子</a></li>
						<li><a href="#">惠划算</a></li>
						<li><a href="#">家电城</a></li>
						<li><a href="#">智能家电</a></li>
						<li><a href="#">每日必抢</a></li>
						<li><a href="#">安心农贸</a></li>
					</ul>
					<!-- 二级导航侧栏begin -->
				<div class="listItem">
					<ul>
						<li>电热谁去</li>
						<li>电热谁去</li>
						<li>电热谁去</li>
						<li>电热谁去</li>
						<li>电热谁去</li>
					</ul>
					<div class="listDiv">
						<div class="itemBox">
							<ul>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								<li>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>
									<a href="#"><span>环保孝家电</span></a>	
								</li>
								
								
							
							</ul>
						</div>
						<div class="itemBox">
							<ul>
								<li>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>	
									<a href="#"><span>电热水器</span></a>	
								</li>
								<li>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>	
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>
									<a href="#"><span>电热水器</span></a>	
								</li>
							</ul>
						</div>
						<div class="itemBox">
							<ul>
								<li>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>	
									<a href="#"><span>养生瓦当堡</span></a>	
								</li>
								<li>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>	
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>
									<a href="#"><span>养生瓦当堡</span></a>	
								</li>
							</ul>
						</div>
						<div class="itemBox">
							<ul>
								<li>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>	
									<a href="#"><span>商业饮水机</span></a>	
								</li>
								<li>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>	
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>
									<a href="#"><span>商业饮水机</span></a>	
								</li>
							</ul>
						</div>
						<div class="itemBox">
							<ul>
								<li>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>	
									<a href="#"><span>软水机</span></a>	
								</li>
								<li>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>	
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>
									<a href="#"><span>软水机</span></a>	
								</li>
							</ul>
						</div>
					</div>
				</div><!-- 二级导航侧栏end -->
				</div>
				<!-- 右边 -->
			 	<div class="nlRight clearfix">
			 		<span><a class="active" href="#">满4000减600》</a></span>
			 		<span><a href="#">每日抢券</a></span>
			 	</div>
			</div><!-- 导航栏2end -->
		</div><!-- 头部结束 -->
			<!-- 中部开始 -->
		<div class="listBg">
			<div class="listMain _width">
				<!-- 页面路径 begin -->
				<div class="lm_nav">
					<p><span><a href="#">首页</a><em>></em></span><span><a href="#">速腾集体</a></span></p>
				</div>
				<!-- 页面路径 end -->
				<!--材质展示：放大镜，型号…… begin -->
				<div class="pro_box clearfix">
					<!-- 放大镜  begin-->
					<div class="item">
						<div class="magnifier">
							<img src="__PUBLIC__/Pc/img/floor_51.jpg" alt="" width="300px">
						</div>
						<div class="region">
							<img src="__PUBLIC__/Pc/img/floor_51.jpg" alt="" width="900px">
						</div>
						<div class="level">
							<img class="on" src="__PUBLIC__/Pc/img/goods_11.jpg" alt="" width="50px">
							<img src="__PUBLIC__/Pc/img/floor_51.jpg" alt="" width="50px">
							<img src="__PUBLIC__/Pc/img/floor_41.jpg" alt="" width="50px">
							<img src="__PUBLIC__/Pc/img/floor_53.jpg" alt="" width="50px">
							<img src="__PUBLIC__/Pc/img/floor_54.jpg" alt="" width="50px">
						</div>
					</div>
					<!-- 放大镜  end-->
					<!-- 产品详细信息 begin-->
					<div class="proinfo">
						<h3>速腾集体速腾集体速腾集体速腾集体速腾集体</h3>
						<div class="proinfo_box clearfix">
							<ul class="clearfix">
								<li class="price">价格</li>
								<li class="money">￥220.00</li>
								<li class="total total_border"><p>0</p><p>累计评价</p></li>
								<li class="total"><p>0</p><p>已售出</p></li>
							</ul>
						</div>
						<p class="fare"><span>运费</span><span>包邮</span></p>
						<p class="fare grade">
							<span>评分</span>
							<span>
								<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
								<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
								<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
								<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
								<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
								<em>5.0分</em>
							</span>
						</p>
						<p class="fare size"><span>尺码</span><span><em>M</em><em>L</em></span></p>
						<p class="fare mainColor"><span>颜色</span><span><em>火红</em><em>金玉满堂</em></span></p>
						<p class="fare size count clearfix">
							<span>数量</span>
							<span>
								<em class="iconfont icon-jianhaob"></em>
								<em class="mid"><input type="text" value="1"></em>
								<em class="iconfont icon-jiahao-copy" ></em><i>库存999件</i>
							</span>
						</p>
						<p class="shopCart">
							<a href="#" class="fl ljgm">立即购买</a>
							<a href="#" class="fl jiagwc"><i class="iconfont icon-htmal5icon29"></i>加入购物车</a>
						</p>
					</div>
					<!-- 产品详细信息 end-->
					<!-- 新品推荐 begin-->
					<div class="newsgoods">
						<h3>-------新品推荐-------</h3>
						<div class="piccont">
							<a href="">
								<span class="poto"><img src="__PUBLIC__/Pc/img/floor_41.jpg" alt=""></span>
								<p class="hidtext">phpshe测试商品韩版女装夏装新款韩范衬衣系带V领七分袖衬衫</p>
								<p class="count clearfix"><span>139.00</span><span>已售100件</span></p>
							</a>
						</div>
						<div class="piccont">
							<a href="">
								<span class="poto"><img src="__PUBLIC__/Pc/img/floor_41.jpg" alt=""></span>
								<p class="hidtext">phpshe测试商品韩版女装夏装新装新装新装新装新装新款韩范衬衣系带V领七分袖衬袖衬袖衬衫商品韩版女装夏</p>
								<p class="count clearfix"><span>139.00</span><span>已售100件</span></p>
							</a>
						</div>
					</div>
					<!-- 新品推荐 end-->
				</div>
				<!--材质展示：放大镜，型号…… end -->
				<!-- 商品详情 评价 begin -->
				<div class="detailContent clearfix">
					<!--左 详情 beging -->
					<div class="xiangqing">
						<div class="layui-tab layui-tab-card">
						  <ul class="layui-tab-title">
						    <li class="layui-this">商品详情</li>
						    <li>产品参数</li>
						    <li>用户评价<span>(0)</span></li>
						     <li>售后保障</li>
						  </ul>
						  <div class="layui-tab-content clearfix">
						  	  <!-- 商品详情begin -->
						      <div class="layui-tab-item  " >
						      	    <a href="#">
						      	    	<img src="__PUBLIC__/Pc/img/x_001.jpg" alt="">
						      	    </a>
						      	    <a href="#">
						      	    	<img src="__PUBLIC__/Pc/img/x_002.jpg" alt="">
						      	    </a>
						      	    <a href="#">
						      	    	<img src="__PUBLIC__/Pc/img/x_003.jpg" alt="">
						      	    </a>
						      	    <a href="#">
						      	    	<img src="__PUBLIC__/Pc/img/x_004.jpg" alt="">
						      	    </a>
						      </div>
						  	  <!-- 商品详情end -->
						  	  <!-- 产品参数 begin -->
						      <div class="layui-tab-item">
								<div class="Specification">
									<ul class="clearfix">
										<li >
											<h3>主体</h3>
											<p><span class="spanOne">品牌</span><span>速腾</span></p>
											<p><span class="spanOne">型号</span><span>MYR926S-W</span></p>
											<p><span class="spanOne">类型</span><span>温热型饮水机</span></p>
											<p><span class="spanOne">款式</span><span>立式</span></p>
											<p><span class="spanOne">颜色</span><span>白色</span></p>
										</li>
										<li >
											<h3>技术参数</h3>
											<p><span class="spanOne">内置消毒柜</span><span>无</span></p>
											<p><span class="spanOne">可搭配净水桶型号</span><span>美的所有型号净水桶</span></p>
											<p><span class="spanOne">自动除菌功能</span><span>无</span></p>
											<p><span class="spanOne">消毒方式</span><span>无</span></p>
											<p><span class="spanOne">内胆材质</span><span>奥氏体不锈钢</span></p>
											<p><span class="spanOne">沸腾胆</span><span>支持</span></p>
											<p><span class="spanOne">沸腾胆材质</span><span>奥氏体不锈钢</span></p>
											<p><span class="spanOne">取壶按钮</span><span>支持</span></p>
											<p><span class="spanOne">电源线长度</span><span>1米</span></p>
											<p><span class="spanOne">制热量L/h</span><span>8L/h</span></p>
											<p><span class="spanOne">制冷量L/h</span><span>无</span></p>
											<p><span class="spanOne">使用环境温度</span><span>适宜温度为4-38摄氏度</span></p>
										</li>
										<li >
											<h3>设计规格</h3>
											<p><span class="spanOne">额定频率（Hz）</span><span>50HZ</span></p>
											<p><span class="spanOne">额定电压(v)</span><span>220V</span></p>
											<p><span class="spanOne">加热功率（w）</span><span>1000W</span></p>
											<p><span class="spanOne">制冷功率（w）</span><span>无</span></p>
											<p><span class="spanOne">产品净重（kg)</span><span>5.5</span></p>
											<p><span class="spanOne">产品毛重（kg）</span><span>7</span></p>
											<p><span class="spanOne">产品尺寸(mm)</span><span>295*310*920</span></p>
											<p><span class="spanOne">包装尺寸(mm)</span><span>375*370*990</span></p>
											<p><span class="spanOne">产品特性</span><span>美的净水桶都可以搭配使用；桶装水18.9L和7.5L大小桶也可以使用；待机耗电量≤0.3KW.h/24h</span></p>
										</li>
										<li >
											<h3>包装清单</h3>
											<p>饮水机*1 说明书保修卡*1</p>
										</li>
									</ul>
								</div>
						      </div>
						  	  <!-- 产品参数 end -->
						      <!-- 售后评价 begin -->
						      <div class="layui-tab-item  layui-show pingjia">
						      	  <div class="ping-title">
										<h3>用户评价</h3>
						      	  </div>
						      	  <!-- 好评率 begin-->
						      	  <div class="goodcomment">
						      	  	<div class="commentLeft">
						      	  		<p>好评</p>
						      	  		<h1>99<span>%</span></h1>
						      	  	</div>
						      	  	<div class="commentRight">
						      	  		<ul>
						      	  			<li>外观大气(251)</li>
						      	  			<li>简单实用(158))</li>
						      	  			<li>品质有保障(128)</li>
						      	  			<li>特别快(42) </li>
						      	  			<li>态度好(31))</li>
						      	  			<li>信得过(26)</li>
						      	  			<li>完好无损(10)</li>
						      	  		</ul>
						      	  	</div>
						      	  </div>
						      	  <!-- 好评率 end-->
						      	  <!-- =========全部评论 begin============= -->
						      	  <div class="allComment">
						      	  	<div class="layui-tab">
									  <ul class="layui-tab-title">
									    <li class="layui-this">全部评价(5.2万+)</li>
									    <li>晒图(500)</li>
									    <li>追评(100+)</li>
									    <li>好评(5.2万+)</li>
									    <li>中评(70+)</li>
									    <li>差评(60+)</li>
									  </ul>
									  <div class="layui-tab-content">
									  	<!-- ======所有评论begin====== -->
									    <div class="layui-tab-item layui-show">
									    	<!-- 一个会员评论 begin -->
									    	<div class="menberComment clearfix">
									    		<div class="menberLeft">
									    			<p><span><img src="__PUBLIC__/Pc/img/tou_01.jpg" alt=""></span><em>风雨温蒂分</em></p>
									    			<p>分享值1234分</p>
									    		</div>
									    		<div class="menberRight">
									    			<p>
									    				<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
													</p>
													<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													<!-- 评论图片 begin-->
													<div class="commentpic allpinglun clearfix">
														<div class="item2">
															<div class="leve2">
																<img src="__PUBLIC__/Pc/img/2.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/4.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
															</div>
															<div class="magnifier2">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="300px">
															</div>
														</div>
													</div>
													<!-- 评论图片 begin-->
													<p class="timer">
														<span class="timeleft">2017-12-04 15:30</span>
														<span><a href="#"><i class="iconfont icon-haoping"></i>1</a></span>

														<span><a href="#"><i class="iconfont icon-weixinxiaoxi"></i>23</a></span>
														<span><a href="#">举报</a></span>
													</p>
													<!-- 追评 begin-->
													<div class="comAgain">
														<h6>[购买5天后追评]</h6>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													</div>
													<div class="response">
														<p>美菱生活电器旗舰店 回复：</p>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
														<p class="timer">
															<span class="timeleft">2017-12-04 15:30</span>
														</p>
													</div>
													<!-- 追评 begin-->
									    		</div>
									    	</div>
									    	<!-- 一个会员评论 end -->
									    	<!-- 一个会员评论 begin -->
									    	<div class="menberComment clearfix">
									    		<div class="menberLeft">
									    			<p><span><img src="__PUBLIC__/Pc/img/tou_01.jpg" alt=""></span><em>风雨温蒂分</em></p>
									    			<p>分享值1234分</p>
									    		</div>
									    		<div class="menberRight">
									    			<p>
									    				<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
													</p>
													<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													<!-- 评论图片 begin-->
													<div class="commentpic allpinglun clearfix">
														<div class="item2">
															<div class="leve2">
																<img src="__PUBLIC__/Pc/img/2.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/4.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
															</div>
															<div class="magnifier2">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="300px">
															</div>
														</div>
													</div>
													<!-- 评论图片 end-->
													<p class="timer">
														<span class="timeleft">2017-12-04 15:30</span>
														<span><a href="#"><i class="iconfont icon-haoping"></i>1</a></span>

														<span><a href="#"><i class="iconfont icon-weixinxiaoxi"></i>23</a></span>
														<span><a href="#">举报</a></span>
													</p>
													<!-- 追评 begin-->
													<div class="comAgain">
														<h6>[购买5天后追评]</h6>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													</div>
													<div class="response">
														<p>美菱生活电器旗舰店 回复：</p>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
														<p class="timer">
															<span class="timeleft">2017-12-04 15:30</span>
														</p>
													</div>
													<!-- 追评 begin-->
									    		</div>
									    	</div>
									    	<!-- 一个会员评论 end -->
									    </div>
									  	<!-- ======所有评论end====== -->

									  	<!-- ======晒图begin====== -->
									    <div class="layui-tab-item">
									    	<div class="saitu">
												<div class="item2">
													<div class="leve2 scrollpic" style="height: 80px; white-space: nowrap;overflow-x: scroll;width: 100%;overflow-y:hidden; ">
														<img class="on" src="__PUBLIC__/Pc/img/1.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/2.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/4.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/2.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/4.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/2.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/4.jpg" alt="" width="50px">
														<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
													</div>
													<div class="magnifier2" style="display: block;">
														<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="300px">
													</div>
												</div>
											</div>
									    </div>
									  	<!-- ======晒图end====== -->

									    <!-- ======追评begin====== -->
									    <div class="layui-tab-item">
									    	<!-- 一个会员评论 begin -->
									    	<div class="menberComment clearfix">
									    		<div class="menberLeft">
									    			<p><span><img src="__PUBLIC__/Pc/img/tou_01.jpg" alt=""></span><em>风雨温蒂分</em></p>
									    			<p>分享值1234分</p>
									    		</div>
									    		<div class="menberRight">
									    			<p>
									    				<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
													</p>
													<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													<!-- 评论图片 begin-->
													<div class="commentpic clearfix">
														<div class="item2">
															<div class="leve2">
																<img src="__PUBLIC__/Pc/img/2.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/4.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
															</div>
															<div class="magnifier2">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="300px">
															</div>
														</div>
													</div>
													<!-- 评论图片 begin-->
													<p class="timer">
														<span class="timeleft">2017-12-04 15:30</span>
														<span><a href="#"><i class="iconfont icon-haoping"></i>1</a></span>

														<span><a href="#"><i class="iconfont icon-weixinxiaoxi"></i>23</a></span>
														<span><a href="#">举报</a></span>
													</p>
													<!-- 追评 begin-->
													<div class="comAgain">
														<h6>[购买5天后追评]</h6>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													</div>
													<div class="response">
														<p>美菱生活电器旗舰店 回复：</p>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
														<p class="timer">
															<span class="timeleft">2017-12-04 15:30</span>
														</p>
													</div>
													<!-- 追评 begin-->
									    		</div>
									    	</div>
									    	<!-- 一个会员评论 end -->
									    </div>
									    <!-- ======追评end====== -->
									    <!-- ======好评begin====== -->
									    <div class="layui-tab-item">
									    	<!-- 一个会员评论 begin -->
									    	<div class="menberComment clearfix">
									    		<div class="menberLeft">
									    			<p><span><img src="__PUBLIC__/Pc/img/tou_01.jpg" alt=""></span><em>风雨温蒂分</em></p>
									    			<p>分享值1234分</p>
									    		</div>
									    		<div class="menberRight">
									    			<p>
									    				<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
													</p>
													<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													<!-- 评论图片 begin-->
													<div class="commentpic clearfix">
														<div class="item2">
															<div class="leve2">
																<img src="__PUBLIC__/Pc/img/2.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/4.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
															</div>
															<div class="magnifier2">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="300px">
															</div>
														</div>
													</div>
													<!-- 评论图片 begin-->
													<p class="timer">
														<span class="timeleft">2017-12-04 15:30</span>
														<span><a href="#"><i class="iconfont icon-haoping"></i>1</a></span>

														<span><a href="#"><i class="iconfont icon-weixinxiaoxi"></i>23</a></span>
														<span><a href="#">举报</a></span>
													</p>
													<!-- 追评 begin-->
													<div class="comAgain">
														<h6>[购买5天后追评]</h6>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													</div>
													<div class="response">
														<p>美菱生活电器旗舰店 回复：</p>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
														<p class="timer">
															<span class="timeleft">2017-12-04 15:30</span>
														</p>
													</div>
													<!-- 追评 begin-->
									    		</div>
									    	</div>
									    	<!-- 一个会员评论 end -->
									    </div>
									    <!-- ======好评end====== -->
									    <!-- ======中评begin====== -->
									    <div class="layui-tab-item">
									    	<!-- 一个会员评论 begin -->
									    	<div class="menberComment clearfix">
									    		<div class="menberLeft">
									    			<p><span><img src="__PUBLIC__/Pc/img/tou_01.jpg" alt=""></span><em>风雨温蒂分</em></p>
									    			<p>分享值1234分</p>
									    		</div>
									    		<div class="menberRight">
									    			<p>
									    				<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
													</p>
													<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													<!-- 评论图片 begin-->
													<div class="commentpic clearfix">
														<div class="item2">
															<div class="leve2">
																<img src="__PUBLIC__/Pc/img/2.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/4.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
															</div>
															<div class="magnifier2">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="300px">
															</div>
														</div>
													</div>
													<!-- 评论图片 begin-->
													<p class="timer">
														<span class="timeleft">2017-12-04 15:30</span>
														<span><a href="#"><i class="iconfont icon-haoping"></i>1</a></span>

														<span><a href="#"><i class="iconfont icon-weixinxiaoxi"></i>23</a></span>
														<span><a href="#">举报</a></span>
													</p>
													<!-- 追评 begin-->
													<div class="comAgain">
														<h6>[购买5天后追评]</h6>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													</div>
													<div class="response">
														<p>美菱生活电器旗舰店 回复：</p>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
														<p class="timer">
															<span class="timeleft">2017-12-04 15:30</span>
														</p>
													</div>
													<!-- 追评 begin-->
									    		</div>
									    	</div>
									    	<!-- 一个会员评论 end -->
									    </div>
									    <!-- ======中评end====== -->
										
									    <!-- ======差评begin====== -->
									    <div class="layui-tab-item">
									    	<!-- 一个会员评论 begin -->
									    	<div class="menberComment clearfix">
									    		<div class="menberLeft">
									    			<p><span><img src="__PUBLIC__/Pc/img/tou_01.jpg" alt=""></span><em>风雨温蒂分</em></p>
									    			<p>分享值1234分</p>
									    		</div>
									    		<div class="menberRight">
									    			<p>
									    				<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_wujiaoxing_shoucanghou"></i>
														<i class="iconfont icon-jingdiananli_kongwujiaoxing_shoucang"></i>
													</p>
													<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													<!-- 评论图片 begin-->
													<div class="commentpic clearfix">
														<div class="item2">
															<div class="leve2">
																<img src="__PUBLIC__/Pc/img/2.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/4.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/5.jpg" alt="" width="50px">
																<img src="__PUBLIC__/Pc/img/3.jpg" alt="" width="50px">
															</div>
															<div class="magnifier2">
																<img src="__PUBLIC__/Pc/img/1.jpg" alt="" width="300px">
															</div>
														</div>
													</div>
													<!-- 评论图片 begin-->
													<p class="timer">
														<span class="timeleft">2017-12-04 15:30</span>
														<span><a href="#"><i class="iconfont icon-haoping"></i>1</a></span>

														<span><a href="#"><i class="iconfont icon-weixinxiaoxi"></i>23</a></span>
														<span><a href="#">举报</a></span>
													</p>
													<!-- 追评 begin-->
													<div class="comAgain">
														<h6>[购买5天后追评]</h6>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
													</div>
													<div class="response">
														<p>美菱生活电器旗舰店 回复：</p>
														<p>豪华型大气，外观时尚，挺不错的茶吧机，健康水源值得推荐一下，唯一美中不足的是再送个外罩就好了?</p>
														<p class="timer">
															<span class="timeleft">2017-12-04 15:30</span>
														</p>
													</div>
													<!-- 追评 begin-->
									    		</div>
									    	</div>
									    	<!-- 一个会员评论 end -->
									    </div>
									    <!-- ======差评end====== -->

									  </div>
									</div>
						      	  </div>
						      	  <!-- =============全部评论 end =============-->
						      	  <!-- =============追评评论 begin ============= -->
						      	  
						      	  <!-- 追评评论 end -->





						      </div>
						      <!-- 售后评价 end -->
						      <!-- 售后保障 begin -->
						      <div class="layui-tab-item saleAfter">
									<div class="after_content">
										<h3>售后保障</h3>
									</div>
									<div class="serve-agree-bd">
										<ul>
											<li class="se-bg">
												<h2> 卖家服务</h2>
												<p>1）7天无理由退换货 2）30天质量问题换货 3）1年非人为质量问题免费保修（客户承担运费寄回厂家免费保修） 4）收货后（3天内）配件破损免费补发</p>
											</li>
											<li class="se-bg">
												<h2>速腾承诺</h2>
												<p>京东平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！</p>
												<p>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>
											</li>
											<li class="se-bg">
												<h2> 正品行货</h2>
												<p>京东商城向您保证所售商品均为正品行货，京东自营商品开具机打发票或电子发票。</p>
											</li>
											<li class="se-bg">
												<h2>全国联保</h2>
												<p>凭质保证书及京东商城发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表由京东联系保修，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。京东商城还为您提供具有竞争力的商品价格和运费政策，请您放心购买！</p>
												<p>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>
											</li>
										</ul>
									</div>
									<div class="quanli">
										<strong>权利声明：</strong>
										<p>京东价为商品的销售价，是您最终决定是否购买商品的依据。</p>
										<p><em>注：</em>本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。</p>
										<br>
										<strong>价格说明：</strong>
										<p><em>京东价：</em>京东价为商品的销售价，是您最终决定是否购买商品的依据。</p>
										<p><em>划线价：</em>商品展示的划横线价格为参考价，并非原价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品在京东平台上曾经展示过的销售价；由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。</p>
										<p><em>折扣：</em>如无特殊说明，折扣指销售商在原价、或划线价（如品牌专柜标价、商品吊牌价、厂商指导价、厂商建议零售价）等某一价格基础上计算出的优惠比例或优惠金额；如有疑问，您可在购买前联系销售商进行咨询。</p>
										<p><em>异常问题：</em>商品促销信息以商品详情页“促销”栏中的信息为准；商品的具体售价以订单结算页价格为准；如您发现活动商品售价或促销信息有异常，建议购买前先联系销售商咨询。</p>
									</div>
						      </div>
						  	  <!-- 售后保障 end -->
						  </div>
						</div>
					</div>
					<!-- 详情 end-->
					<!-- 右 热销排行 begin-->
					<div class="hotsale">
						<h3>热销排行</h3>
						<div class="hot_piccont">
							<a href="">
								<span class="poto"><img src="__PUBLIC__/Pc/img/floor_41.jpg" alt=""></span>
								<p class="hidtext">phpshe测试商品韩版女装夏装新装新装新装新装新装新款衬衣系带V领七分袖衬袖衬袖衬衫商品韩版女装夏</p>
								<p class="count clearfix"><span>139.00</span><span>已售100件</span></p>
							</a>
						</div>
						<div class="hot_piccont">
							<a href="">
								<span class="poto"><img src="__PUBLIC__/Pc/img/floor_41.jpg" alt=""></span>
								<p class="hidtext">phpshe测试商品韩版女装夏装新装新装新装新装新装新款衬衣系带V领七分袖衬袖衬袖衬衫商品韩版女装夏</p>
								<p class="count clearfix"><span>139.00</span><span>已售100件</span></p>
							</a>
						</div><div class="hot_piccont">
							<a href="">
								<span class="poto"><img src="__PUBLIC__/Pc/img/floor_41.jpg" alt=""></span>
								<p class="hidtext">phpshe测试商品韩版女装夏装新装新装新装新装新装新款衬衣系带V领七分袖衬袖衬袖衬衫商品韩版女装夏</p>
								<p class="count clearfix"><span>139.00</span><span>已售100件</span></p>
							</a>
						</div>
					</div>
					<!-- 右 热销排行 end-->
				</div>
				<!-- 商品详情 评价 end -->

				


			
			</div><!-- 中部end -->
		</div>

		<!-- 页脚begin -->
		<footer>
			<!--footTop begin -->
			<div class="footTop">
				<ul class="clearfix">
					<li>
						<a href="#">
							<img src="__PUBLIC__/Pc/img/biao_09.jpg" alt="">
						   <strong>
							   	<em>品质</em>
								<span>正品行货 购物无忧</span>
						   </strong>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__PUBLIC__/Pc/img/biao_10.jpg" alt="">
							 <strong>
							   	<em>低价</em>
								<span>正品行货 购物无忧</span>
						   </strong>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__PUBLIC__/Pc/img/biao_12.jpg" alt="">
							 <strong>
							   	<em>速达</em>
								<span>正品行货 购物无忧</span>
						   </strong>
						</a>
					</li>
				</ul>
			</div><!--footTop end -->
			<!--footMain begin -->
			<div class="footMain">
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
			</div><!-- footMain end -->
			<!--footBott begin -->
			<div class="footBott bg5">
				<div class="server clearfix">
					<ul  class="mendian">
						<li class="serTitl">
							<a href="#">
								门店服务
							</a>
						</li>
						<li>
							<a href="#">
								参与用户体验改进计划 用户反馈
							</a>
						</li>
					</ul>
					<ul  class="experience">
						<li class="serTitl">
							<a href="#">
								用户体验
							</a>
						</li>
						<li>
							<a href="#">
								参与用户体验改进计划 用户反馈
							</a>
						</li>
					</ul>
				</div>
				<div class="footerList">
					<ul>
							
						<li class="footbg1">经营性网站备案信息</li>
						<li class="footbg2">经营性网站备案信息</li>
						<li class="footbg3"><p>经营性网</p></li>
						<li class="footbg4">经营性网站备案信息</li>
						<li class="footbg5"><p>经营性网</p></li>
						<li class="footbg6">经营性网站备案信息站备案信息站备案信</li>
					</ul>
				</div>
			</div><!-- footBott end -->
		</footer><!-- 页脚end -->
	</div>
	<script>
		// 选项卡
		layui.use('element', function(){
		  var element = layui.element;
		  
		  //…
		});
				
		window.onload=function(){

			// 二级导航侧栏
			// //头部 左侧导航栏 
			mouseoverChange(".navLeft>ul>li>a");
			//头部 右侧导航栏 
			trangeColor(".navRight>ul>li");
			//圈子
			trangeColor(".nlLeft>ul>li");
			//分类
			trangeColor(".lm_nav>ul.classifyOne>li");
			//排序
			trangeBg(".lm_nav>ul.classifyTwo>li");
			// 移入时图片底部盒子滑出，且有阴影
			slipbox_shadow(".showgoods>ul>li","div","shadow");



			


			// 鼠标移入移出时的a链接字体颜色变化
			function mouseoverChange(obj){
				//头部 左侧导航栏  
				$(obj).mouseover(function(){
					$(obj).css("color","#888");
					$(this).css("color","#e73f5c");
				})
				$(obj).mouseout(function(){
					$(this).css("color","#373737");
				})
			}

			// 点击时a链接字体颜色变化 
			function trangeColor(parent){
				$(parent).click(function(){
					$(parent).children().css("color","#888");
					$(this).children().css("color","#e73f5c");
				})
			}
			// 点击时a链接字体颜色变化,同时背景也变化 
			function trangeBg(parent){
				$(parent).click(function(){
					$(parent).children().css("color","#888");
					$(parent).children().css("background","#fff");
					$(this).children().css("color","#fff");
					$(this).children().css("background","#e73f5c");
					
				})
			}

			// 鼠标移入时盒子滑出且有阴影
			function slipbox_shadow(parent,slideBox,shadowClass){
				var oSlideparent = $(parent);
				$(oSlideparent).each(function(index,value){
				 	$(this).mouseenter(function(){
				 		$(oSlideparent).children(slideBox).stop(true).css("display","none");
				 		$(this).stop(true).animate({top:"-2px"});
				 		$(this).addClass(shadowClass).css("zIndex","99999");
				 		$(this).children(slideBox).slideDown("fast");
				 	});
				 	$(this). mouseleave(function(){
				 		$(this).children(slideBox).css("display","none");
				 		$(this).removeClass(shadowClass).css("zIndex","1");;
				 		$(this).stop(true).animate({top:"0px"});
				 	})
				 })
			}

			
			


			




			// 移入时，二级导航出现
			$(".suoList").mouseover(function(){
				$(".listItem").show();
				$(".listItem").mouseover(function(){
					$(".listItem").show();
					showNan();
				})
				$(".listItem").mouseout(function(){
					$(".listItem").hide();
				})

			})
			// 移出时，二级导航隐藏
			$(".suoList").mouseout(function(){
				$(".listItem").css("display","none");
				
			})
	
		// 二级联动导航
		function showNan(){
		   // 获取li对象
		   var oLi = $(".listItem>ul>li");
		   var oDiv = $('.listDiv>.itemBox');

		   // 遍历li对象
		   $(oLi).each(function(index,value){
			     $(this).attr("data",$(this).index());
			   });
		   // 显示对应的div
		   // 鼠标移入
		   $(".listItem>ul>li").mouseover(function(){
			  // console.log($(this).attr("data"));
			  var i = $(this).attr("data");
			  var _this = $(this);
			  $(oLi).css("background","rgba(0,0,0,0)");
			  $(this).css("background","#e73f5c");
			  // console.log(i);
			  $(oDiv).hide();
			  $(oDiv).each(function(index,value){
			  	if(index==i){
			  		$(this).show();
			  		$(this).mouseover(function(){
			  			$(this).show();
			  			$(_this).css("background","#e73f5c");

			  		});
			  		$(this).mouseout(function(){
			  			$(this).hide();
		  				$(oLi).css("background","rgba(0,0,0,0)");

			  		})

			  	}
			  })
			  // $(".listItem").css("display","none");
		  	})
		  // 鼠标移出
		  $(".listItem>ul>li").mouseout(function(){
		  	$(oDiv).hide();
		  	$(oLi).css("background","rgba(0,0,0,0)");

		  })
		}

	}


	</script>
	<!-- 放大镜 -->
	<script>
		// 移入事件
		// 显示放大的区域
		$(".magnifier").mouseover(function(){
			$('.region').css({display: 'block'});
		});

		// 移动事件
		$(".magnifier").mousemove(function(e){

			// 事件对象兼容
			// 标准浏览器会自动传入一个实参，只需要用一个形参接收就可以使用
			// 但是IE是直接使用event这个对象
			var ev = e || window.event;
			// 获取鼠标坐标
			var x = e.clientX;
			var y = e.clientY;
			// 获取图片区域相对浏览器坐标
			var left = $(this).offset().left;
			var top = $(this).offset().top;
			// 将坐标0,0点设置到图片区域左上角
			var relativeX = x - left;
			var relativeY = y - top;

			$('.region>img').css({top:-(relativeY*1.5)+'px',left:-(relativeX*1.5)+'px',});
			// 动态数据调试
		  	// document.title = e.clientX + '_' + e.clientY;
		  	// document.title = $(this).offset().left + ' '+$(this).offset().left;
		  	// document.title = relativeX + ' ' + relativeY;
		});

		// 移出事件
		// 隐藏放大的区域
		$(".magnifier").mouseout(function(){
			$('.region').css({'display': 'none'});
		});

		// 点击事件切换
		$('.level>img').click(function(){
			$('.level>img').removeClass('on');
			$(this).addClass('on');
			$('.magnifier>img').attr('src',$(this).attr('src'));
			$('.region>img').attr('src',$(this).attr('src'));

		});
</script>
<script>
//评价 点击事件切换
function picTab(){
	$('.leve2>img').click(function(){
		$('.leve2>img').removeClass('on');
		$(this).addClass('on');
		var showBig=$(this).parent().next();
		var showBigpic=$(this).parent().next().children();
		$(showBig).css("display","block");
		$(showBigpic).attr('src',$(this).attr('src'));
	});
}
picTab();
</script>

</body>
</html>