<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>服务站注册-完成提示</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/service/successCom.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
</head>
<body>
	<div class="main"> 
        <ul class="firstCon">
            <li><span class="iconfont icon-chenggong"></span></li>
            <li><span>最终审核</span></li>
            <li>
                <p>我们将在1-2个工作日内进行审核，审核通过后会有专人联系您。</p>
                <p>请保持电话畅通，谢谢!</p> 
            </li>
            <li><a href="####">关闭页面</a></li>
        </ul>
        <ul class="secondCon">
            <li>
                <img src="__PUBLIC__/Home/images/shz.png" alt="">
            </li>
            <li>
                <span>申请成功，正在审核中，请耐心等待...</span>
            </li>
            <li>
                <a href="####">关闭页面</a>
            </li>
        </ul>
	</div>
</body>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
</html>