<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>服务站注册-完成提示</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/service/successCom.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <script src='__PUBLIC__/Home/js/vue.min.js'></script>
</head>
<body>
	<div class="main"> 
        <ul class="firstCon" v-if="indexs == 2 || indexs == 3">
            <li><span class="iconfont icon-chenggong"></span></li>
            <li><span v-text="text"></span></li>
            <li>
                <p>我们将在1-2个工作日内进行审核，审核通过后会有专人联系您。</p>
                <p>请保持电话畅通，谢谢!</p> 
            </li>
            <li><a href="####" @click="closeWindow">关闭页面</a></li>
        </ul>
        <ul class="secondCon" v-if="indexs == 1 || indexs == 'undefined'">
            <li>
                <img src="__PUBLIC__/Home/images/shz.png" alt="">
            </li>
            <li>
                <span>申请成功，正在审核中，请耐心等待...</span>
            </li>
            <li>
                <a href="####" @click="closeWindow">关闭页面</a>
            </li>
        </ul>
	</div>
</body>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
<script src="__PUBLIC__/Home/js/vconsole.min.js"></script>
<script>
    var vConsole = new VConsole();
    //微信接口
    wx.config({
        debug: false,
        appId: '{{$wxinfo["appId"]}}',
        timestamp: '{{$wxinfo["timestamp"]}}',
        nonceStr: '{{$wxinfo["nonceStr"]}}',
        signature: '{{$wxinfo["signature"]}}',
        jsApiList: [
        // 所有要调用的 API 都要加到这个列表中
        'closeWindow'
        ]
    });
    var vm = new Vue({
        el: ".main",
        data() {
            return {
                indexs: "",
                text: "",
            }
        },
        created() {
            // this.indexs = +GetQueryString("index");
            this.indexs = "{{$_GET['index']}}";
            
            this.indexs = this.indexs ? this.indexs : "undefined";
            
            console.log("234", this.indexs, typeof this.indexs);
            if(this.indexs == 2) {
                this.text = "支付成功";
            }else if(this.indexs == 3) {
                this.text = "最终审核";
            }
        },
        methods: {
            // 关闭窗口
            closeWindow() {
                wx.closeWindow();
            }
        }
    })
</script>
</html>