<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>服务站注册</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/login.css?v={{:time()}}">
	<script src='__PUBLIC__/Home/js/vue.min.js'></script>
</head>
<body>
	<div class="main"> 
		<div class="backImg">
		</div>
		<div class="content">
			<div class="registerInfos">
				<div class="touxiang">
					<div v-if="index==0">
						<span>
							<img src="__PUBLIC__/Home/images/fwz.png" alt="">
						</span>
						<span>服务站管理</span>
					</div>
					<div v-if="index==1">
						<span>
							<img src="__PUBLIC__/Home/images/jxs.png" alt="">
						</span>
						<span>经销商</span>
					</div>
					<div v-if="index==2">
						<span>
							<img src="__PUBLIC__/Home/images/az.png" alt="">
						</span>
						<span>安装人员</span>
					</div>
				</div>
				<div>
					<h3 v-if="index==0">服务站管理登录</h3>
					<h3 v-if="index==1">经销商登录</h3>
					<h3 v-if="index==2">安装人员登录</h3>
					<p class="progress"><span></span><span></span></p>
				</div>
				<div class="comment">
					<p>
						<span class="iconfont icon-user"></span><span>输入用户名</span>
					</p>
					<p>
						<input type="text" placeholder="由6-8位数字或字母组成，不支持中文" name="uname" v-model="userInfos.name">
					</p>
					
				</div>
				<div class="comment">
					<p><span class="iconfont icon-mima2"></span><span>输入密码</span></p>
					<p class="eyesParent">
						<input :type="passEyes.tY" placeholder="由8-16位数字或字母组成" v-model="userInfos.password" name="userpass"><span :class="passEyes.eye" @click="canEye"></span>
					</p>
				</div>
				
				<div class="toNext"><p @click="verify()">下一步</p></div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
<script src="__PUBLIC__/Home/js/vconsole.min.js"></script>
<script src="__PUBLIC__/Home/js/service/index.js?qwe={{:time()}}"></script>
<script>
	var vConsole = new VConsole();
</script>
</html>