<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'>
	<title>服务站</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/servicelogin/index.css">
	<script src='__PUBLIC__/Home/js/vue.min.js'></script>
</head>
<body>
	<div id='service'>
		<div id='sTop'>
			<p v-text='service_name'></p>
		</div>
		<ul id='sBot'>
			<li></li>
		</ul>
	</div>
	<script></script>
	<script src='__PUBLIC__/Home/js/servicelogin/index.js'></script>
</body>
</html>