<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'>
	<title>服务站</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/servicelogin/index.css">
	<script src='__PUBLIC__/Home/js/vue.min.js'></script>
</head>
<body>
	<div id='servicelist'>
	</div>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script>
		var servicelist = new Vue({
			el: '#servicelist',
			data () {
				return {
					service_name: ''
				}
			},
			created (){
				var search = location.search;
				var type = location.search.substr(search.indexOf('type='));
				console.log('type: ',type);
				// type: 1待办，2处理中，3待验收，4已完成，0全部
				// 获取列表
				$.ajax({
					url: '{{:U("Home/ServiceLogin/index")}}',
					type: 'post',
					data: {type: type},
					success: function(res){
						console.log('res: ',res);
					},
					error: function(err){
						console.log('err: ',err);
					}
				})
			},
			methods: {
				
			}
		})
	</script>
</body>
</html>