<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>服务站注册</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/register.css?v={{:time()}}">
	<script src='__PUBLIC__/Home/js/vue.min.js'></script>
	<script>
		var info = {{$info|json_encode}};
	</script>
</head>
<body>
	<div class="main"> 
		<div class="backImg"></div>
		<div class="content">
			<div class="registerInfos">
				<div>
					<h3>服务站基本信息</h3>
					<p class="progress"><span></span><span></span></p>
				</div>
				<div class="comment">
					<p>
						<span class="iconfont icon-user"></span><span>输入用户名</span>
					</p>
					<p>
						<input type="text" placeholder="由6-8位数字或字母组成，不支持中文" name="username" v-model="userInfos.name" @blur="userIsset">
					</p>
					
				</div>
				<div class="comment">
					<p><span class="iconfont icon-mima2"></span><span>输入密码</span></p>
					<p class="eyesParent"><input :type="passEyes.tY" placeholder="由8-16位数字或字母组成" v-model="userInfos.password"><span :class="passEyes.eye" @click="canEye"></span></p>
				</div>
				<div class="comment">
					<p><span class="iconfont icon-mima"></span><span>确认密码</span></p>
					<p><input type="password" v-model="userInfos.conpassword"></p>
				</div>
				
				<div class="toNext"><p @click="verify()">下一步</p></div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
<script src="__PUBLIC__/Home/js/vconsole.min.js"></script>
<script src="__PUBLIC__/Home/js/service/register.js?qwe={{:time()}}"></script>
<script>
	var vConsole = new VConsole();
	(function() {
		console.log("infos",info);
		//微信接口
		wx.config({
			debug: false,
			appId: '{{$wxinfo["appId"]}}',
			timestamp: '{{$wxinfo["timestamp"]}}',
			nonceStr: '{{$wxinfo["nonceStr"]}}',
			signature: '{{$wxinfo["signature"]}}',
			jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'chooseImage',
			'uploadImage',
			'getLocalImgData',
			'downloadImage'
			]
		});
	})();
</script>
</html>