<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>服务站注册-押金支付</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/registerPay.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <script src='__PUBLIC__/Home/js/vue.min.js'></script>
</head>
<body>
	<div class="main"> 
		<!-- 服务站信息 -->
		<div class="stationInfo">
            <div>
                <span>基本信息</span>
            </div>
			<div>
                <span>服务站名称：</span>
                <span>广州番禺区服务站</span>
			</div>
			<div class="chooseArea">
                <span>所属公司：</span>
                <span>广州悦龙集团</span>
			</div>
			<div>
                <span>公司法人：</span>
                <span>周星星</span>
			</div>
			<div>
                <span>联系人：</span>
                <span>西门</span>
            </div>
            <div>
                <span>联系人电话：</span>
                <span>13554236543</span>
            </div>
		</div>
        
        <!-- 应交押金 -->
		<div class="money">
            <div>
                <span>应交押金</span>
                <span>200元</span>
            </div>
        </div>

        <!-- 支付 -->
        <div class="pay">
            <p>已通过其他方式支付</p>
            <p>立即支付</p>
        </div>

        <!-- 支付面板 -->
        <div class="payBan">
            <ul>
                <li class="clear">
                    <span class="iconfont icon-chacha"></span>
                    <p>
                        <span class="iconfont icon-552cd51ece753"></span>
                        <span>200.00</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="iconfont icon-weixin2"></span>
                        <span>微信支付</span>
                    </p>
                </li>
                <li class="toPay">
                    <p>立即付款</p>
                </li>
            </ul>
        </div>
	</div>
</body>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Home/js/public.js"></script>
</html>