<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>忘记密码</title> 
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/login.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <!-- <link rel="stylesheet" href="__PUBLIC__/Home/amazeui/assets/css/normalize.css"> -->
    <style>
        .setCode {
            position: relative;
        }
        .getCode {
            position: absolute;
            top: .2rem;
            right: .2rem;
            font-size: .5rem;
            display: block;
            height: 1.6rem;
            line-height: 1.6rem;
            padding: 0 0 0 .5rem;
            border-left: 1px solid #F9F9FC;
        }
    </style>
</head>
<body>
	<div class="main">
		<!-- <div class="companyLogo">
			<img src="" alt="">
		</div> -->
		<div class="userInfo" style="margin-top: 5rem">
			<form action="javascript:return ;" id="forms">
				<p>
					<span class="iconfont icon-user"></span>
					<input type="text" name="username" placeholder="请输入用户名">
				</p>
				<p class="setCode">
					<span class="iconfont icon-yanzhengma"></span>
                    <input type="text" name="code" placeholder="请输入验证码">
                    <a href="####" class="getCode">获取验证码</a>
                </p>
                <p>
                    <span class="iconfont icon-mima"></span>
                    <input type="password" name="newpass" placeholder="请输入新密码">
                </p> 
                <p>
                    <span class="iconfont icon-mima"></span>
                    <input type="password" name="confirmpass" placeholder="请确认新密码">
                </p>
				<p><button class="login">提交</button></p>
			</form>
		</div>
	</div>
</body>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/service/login.js"></script>
<!-- <script src="__PUBLIC__/Coms/js/md5.js"></script> -->
<script>
	window.onload = function() {
		document.getElementsByTagName("body")[0].style.height = document.documentElement.clientHeight + 'px';
	}
</script>
</html>