<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/comment/index.css">
 	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
	<title>发表评论</title>
</head>
<body>
	<div class="commentcontain">
		<form id="form" action="" method="post" enctype="multipart/form-data">
			<div class="xuanping clearfix">
				<div class="pingpic"><img src="" alt=""></div>
				<!-- 商品ID -->
				<!-- <input type="hidden" name="gid" value=""> -->
			    <div class='everyItem'>
			        <input id="item1" type="radio" name="status" value="1" checked>
			        <label for="item1"></label>
			        <span>好评</span>
			    </div>
			    <div class='everyItem'>
			        <input id="item2" type="radio" name="status" value="2">
			        <label for="item2"></label>
			        <span>中评</span>
			    </div>
			    <div class='everyItem'>
			        <input id="item3" type="radio" name="status" value="3">
			        <label for="item3"></label>
			        <span>差</span>
			    </div>
			</div>
			<div class="shangping">
				<div class="shangpingpic">
					<label for="shopping">
						<textarea name="content" id="shopping" cols="30" rows="10" placeholder="请您对我们的商品做出评价……"></textarea>
					</label>
					<span>
						<i class="iconfont icon-tianjia"></i><em>限3张内</em>
						<div id="picShow"></div>
					</span>
					<input class="file_upload" name="pic[]" type="file" multiple="" accept="image/*" >
					
				</div>
			</div>
			<a href="javascript:;">
				<div class="saleBott">
					<input id="submit" type="button" value="提交">
				</div>
			</a>
		</form>
	</div>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
	<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
  	<script src="__PUBLIC__/Home/js/public.js"></script>
  	<script src="__PUBLIC__/Home/js/upFile.js"></script>
	<script>
		/**
			点击提交
		*/
		var href = location.href;
		var orderid;
		if(href.indexOf('?orderid=') > -1){
			orderid = href.substr(href.indexOf('?orderid=')+9);
		}
		$("#submit").on('click',function(){
			if(!$("#shopping").val()){
				layuiHint("请您对我们的商品做出评价呗");
				return
			}
			// 防止多次提交
			$("#submit").attr("disabled", true);
			//评分
			formData.delete("status");	//清空，防止多次点击提交
			formData.delete("content");	//清空，防止多次点击提交
			formData.delete("orderid");
			formData.append('orderid',orderid);
			formData.append('status',$('input[name="status"]:checked')[0].value);
			formData.append('content',$('#shopping').val());	//评价的内容
			console.group();
			console.log(formData.getAll('orderid'));
			console.log(formData.getAll('status'));
			console.log(formData.getAll('content'));
			//发送数据到后台
			$.ajax({
				url: '{{:U("Comment/commentsucceed")}}',
				type: 'post',
				cache: false,
				data: formData,
				processData: false,
				contentType: false,
				success: function(res){
					alert(res)
					console.log('连接',res);
					// $("#submit").off('click');
					// 发送到后台并返回结果时解除禁止点击
					$("#submit").removeAttr("disabled");
					//评论成功后跳转
					if(res.code == 200){
						layuiHint('评论成功！');
						setTimeout(function(){
							location.href = "{{:U('Home/Order/index')}}";
						},500);
					}else if(res.code == 605){
						layuiHint('你已经评论过了！');
						setTimeout(function(){
							location.href = "{{:U('Home/Order/index')}}";
						},500);
					}
				},
				error: function(res){
					// 发送到后台并返回结果时解除禁止点击
					$("#submit").removeAttr("disabled");

					console.log('失败', res);
					layuiHint('评论失败,请稍后再试！')
				}
			})
		});
	</script>
</body>
</html>