<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/shoppingcart/index.css">
  	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
 	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
	<title>购物车</title>
</head>
<body>
	<div class="shpingcarAll">
		<!-- 购物车没有商品时候显示 -->
		<div class="noItem">
			<h3>购物车什么也没有</h3>
			<div></div>
		</div>
		<!-- <div class="itemCar clearfix" gid="1" > -->
			<!-- /*选中及图片*/ -->
			<!-- <div class="itemcarLeft clearfix ">
				<div class="xuanzhong "><i class="iconfont icon-kuang1"></i></div>
				<div class="carpic "><img src="__PUBLIC__/Home/images/comm_02.png" alt=""></div>
			</div> -->
			<!-- /*文字说明及价格*/ -->
			<!-- <div class="itemcarRight">
				<h3>RO膜</h3>
				<p class="roTxt">RO膜能够有效地去除水中钙、镁、 细菌、有机物、无机物、金属离子和 放射性物质放射性物质放射性物质放射性物质等</p>
				<p class="roPrice clearfix">
					<b class="price">￥<span>120.00</span></b>
					<span class="num">
						<input type="button" value="-" class="minus">
						<input class="number" type="number" value="1" min="1" max="19">
						<input type="button" value="+" class="plus">
					</span>
				</p>

			</div>
		</div> -->
	</div>
	<!-- 底部结算按钮 -->
	<div class="shoppingcarBott">
		<p><i class="iconfont icon-kuang1"><span>全选</span></i><span>合计：<b class="priceAll">￥<span>0</span></b></span></p>
		<input id="toPay" type="button" value="结算">
	</div>
	<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
  	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>

	<script>
	$(function(){
		// 首页按钮
		!function(){
			// 创建 a 标签
			var home = document.createElement('a');
			home.innerText = '首\n页';
			
			home.href = '{{:U("Home/Shop/index")}}';
			home.setAttribute("id", 'back2Home');

			// 添加到页面
			document.body.appendChild(home);
			home.onclick = function(){
				home.style.background = '#aaa';
			}
			return
			// console.log(home)
		}()
		/*
			请求购物车列表数据
		 */ 
		var itemCarHTML = '';
		$.ajax({
			url: '{{:U("ShoppingCart/cart")}}',
			type: 'post',
			success: function(res){
				console.log("成功！", res);
				if(res){
					for(var i=0; i<res.length; i++){
						res[i].desc = !res[i].desc ? '暂无描述' : res[i].desc;
						itemCarHTML += '<div class="itemCar clearfix" gid="'+ res[i].gid +'"  index_id="'+ res[i].id +'">'+
							'<!-- 选中及图片 -->'+
							'<div class="itemcarLeft clearfix ">'+
								'<div class="xuanzhong "><i class="iconfont icon-kuang1"></i></div>'+
								'<div class="carpic "><img src="/Uploads/'+ res[i].path +'" alt=""></div>'+
							'</div>'+
							'<!-- 文字说明及价格 -->'+
							'<div class="itemcarRight">'+
								'<h3>'+ res[i].name +'</h3>'+
								'<p class="roTxt">'+ res[i].desc +'</p>'+
								'<p class="roPrice clearfix">'+
									'<b class="price">￥<span>'+ res[i].price +'</span></b>'+
									'<span class="num">'+
										'<input type="button" value="-" class="minus">'+
										'<input class="number" type="number" disabled="false" value="'+ res[i].num +'" min="1" max="19">'+
										'<input type="button" value="+" class="plus">'+
									'</span>'+
								'</p>'+
							'</div>'+
						'</div>';
					}
					// 添加到购物车页面
					$(".shpingcarAll").html(itemCarHTML);
				}else{
					// 购物车没有商品
					$(".noItem").css({display: 'flex'})
				}
			},
			error: function(res){
				console.log("失败！", res)
			}
		})
		/*
			结算
		 */
		$("#toPay").click(function(){
			var shopCar_data = [];
			var chooseGoods = $(".itemCar").find("i[class='iconfont icon-xuanze']");
			
			if($(".priceAll>span").text() != 0){
				for(var i=0; i<chooseGoods.length; i++){
					shopCar_data.push({
						'path': chooseGoods.eq(i).parents(".itemCar").find(".carpic>img").attr("src"),
						'desc': chooseGoods.eq(i).parents(".itemCar").find(".roTxt").text(),
						'name': chooseGoods.eq(i).parents(".itemCar").find(".itemcarRight>h3").text(),
						'gid': chooseGoods.eq(i).parents(".itemCar").attr("gid"),
						'num': chooseGoods.eq(i).parents(".itemCar").find(".number").val(),
						'price': chooseGoods.eq(i).parents(".itemCar").find(".price>span").text(),
						'money': parseFloat(chooseGoods.eq(i).parents(".itemCar").find(".price>span").text())*parseFloat(chooseGoods.eq(i).parents(".itemCar").find(".number").val())
					});
				}

				//清除其他页面的sessionStorage
				sessionStorage.setItem("lvxinData", '');
				sessionStorage.setItem("goods_data", '');
				
				// 将购物车选中的商品存到本地sessionStorage, 给订单确认页面使用
				sessionStorage.setItem("shopCar_data",JSON.stringify(shopCar_data));
				console.log(shopCar_data)
				
				// 发送ajax请求让后台生成订单号
				$.ajax({
					url: '{{:U("PaymentSystem/information")}}',
					type: 'post',
					data: {'data':JSON.stringify(shopCar_data)},
					success: function(res){
						console.log('成功！', res);
						if(typeof JSON.parse(res) == 'number'){
							sessionStorage.setItem('order_id',res);

							// 跳转到订单确认页面
							location.href = '{{:U("Pay/payConfirm")}}?orderid=' + res;
						} else {
							parent.layer.msg('系统异常');
						}
					},
					error: function(res){
						console.log('失败！', res);
					}
				})
			}else{
	       		parent.layer.msg('你还没选择购买的商品！');
			}
		})

		var priceAll = 0;
		/*
			 按加'+'号
		 */
		$(".shpingcarAll").on("touchend",'.plus',function(){
			var chooseGoods = $(".itemCar").find("i[class='iconfont icon-xuanze']");
			priceAll = 0;	//合计归零，后面重新计算
			// 获取数量
			var value = $(".number").val();
			$(this).siblings(".number")[0].value++;

			// 将金额实时更新到合计
			for(var i=0; i<chooseGoods.length; i++){
				if($(".itemCar").find("i[class='iconfont icon-xuanze']")){
					var itemCar = $(".shpingcarAll").find(".itemCar").eq(i);
					priceAll += parseFloat(itemCar.find(".price>span").text())*parseFloat(itemCar.find(".number").val())
				}
				// console.log('price: ',itemCar.find(".price>span").text())
				// console.log('num: ',itemCar.find(".number").val())
			}
			$(".priceAll>span").text(priceAll);
		});
		/*
			按减'-'号
		 */
		$(".shpingcarAll").on("touchend",".minus",function(){
			var chooseGoods = $(".itemCar").find("i[class='iconfont icon-xuanze']");
			console.log("chooseGoods", chooseGoods)
			priceAll = 0;	//合计归零，后面重新计算
			// 获取数量
			var value = $(".number").val();
			for(var i=0; i<$(this).siblings(".number").length; i++){
				$(this).siblings(".number").val() <= 1
				? 1
				: $(this).siblings(".number")[i].value--
			}
			// console.log($(this).siblings(".number")[0].value);
			// 将金额实时更新到合计
			for(var i=0; i<chooseGoods.length; i++){
				// 判断是否选中框框
				if($(".itemCar").find("i[class='iconfont icon-xuanze']")){
					var itemCar = $(".shpingcarAll").find(".itemCar").eq(i);
					priceAll += parseFloat(itemCar.find(".price>span").text())*parseFloat(itemCar.find(".number").val())
				}
				// console.log('price: ',itemCar.find(".price>span").text())
				// console.log('num: ',itemCar.find(".number").val())
			}
			$(".priceAll>span").text(priceAll);

		});
		// 商品左滑，出现删除按钮
       slipDel('.shpingcarAll','.itemCar','goodsnumbe');

       // 购物车删除
       $(".shpingcarAll").on("click",'.del', function(e){
       		var _this = $(this);
	       	console.log(e);
	       	var index_id = $(this).parents(".itemCar").attr("index_id");
	       	console.log(index_id)
	       	layer.confirm('确认删除？删除后无法恢复！', 
	            {
	              btn: ['确定','取消'] //按钮
	            }, 
	            function(){
			       	// 发送请求删除商品在数据库的数据
			       	$.ajax({
						url: '{{:U("ShoppingCart/cartDel")}}',
						type: 'post',
						data: {'id': index_id},
						success: function(res){
							console.log('成功！ ',res);
							// 移除当前删除商品的元素
							_this.parents('.itemCar').remove();
							// 删除后计算总价格
							// removePrice = _this.siblings('.itemcarRight').children(".roPrice").children(".price").children("span").text() * _this.children(".roPrice").children(".num").children(".number").val();
							// priceAll -= removePrice;


							var chooseGoods = $(".itemCar").find("i[class='iconfont icon-xuanze']");
							priceAll = 0;	//合计归零，后面重新计算
							// 获取数量
							// var value = $(".number").val();
							// $(this).siblings(".number")[0].value++;

							// 将金额实时更新到合计
							for(var i=0; i<chooseGoods.length; i++){
								if($(".itemCar").find("i[class='iconfont icon-xuanze']")){
									var itemCar = $(".shpingcarAll").find(".itemCar").eq(i);
									priceAll += parseFloat(itemCar.find(".price>span").text())*parseFloat(itemCar.find(".number").val())
								}
								// console.log('price: ',itemCar.find(".price>span").text())
								// console.log('num: ',itemCar.find(".number").val())
							}
							$(".priceAll>span").text(priceAll);


							// 弹出删除成功信息
			       			parent.layer.msg('删除成功！');
						},
						error: function(res){
							console.log('失败！ ',res);
			       			parent.layer.msg('删除失败！');
						}
					})
		            return true;
	            },
	            function(){
	                layer.msg('已取消！', {icon: 1});
	                return false;
	            }
	        );
       })

		// 选中框
		$('.shpingcarAll').on('click','.itemcarLeft>.xuanzhong',function(){
			var chooseGoods = $(".itemCar").find("i[class='iconfont icon-xuanze']");
			var _class=$(this).children().attr('class');

			// 无选择商品
			if(_class=='iconfont icon-xuanze'){
				$(this).children().removeClass('iconfont icon-xuanze').addClass('iconfont icon-kuang1');
				
				priceAll = 0;
				var chooseGoods = $(".itemCar").find("i[class='iconfont icon-xuanze']");
				// 实时将总价格更新到合计
				for(var i=0; i<chooseGoods.length; i++){
					
					priceAll += parseFloat(chooseGoods.eq(i).parents(".itemCar").find(".number")[0].value)*parseFloat(chooseGoods.eq(i).parents(".itemCar").find(".price>span").text());

					// console.log(chooseGoods.eq(i).parents(".itemCar").find(".number")[0].value);
					// console.log(chooseGoods.eq(i).parents(".itemCar").find(".price>span").text());
				} 
				// 将价格显示到合计
				$(".priceAll>span").text(priceAll);
			// 有选择商品
			}else{
				$(this).children().removeClass('iconfont icon-kuang1').addClass('iconfont icon-xuanze');
				priceAll = 0;
				var chooseGoods = $(".itemCar").find("i[class='iconfont icon-xuanze']");
				// 实时将总价格更新到合计
				for(var i=0; i<chooseGoods.length; i++){
					
					priceAll += parseFloat(chooseGoods.eq(i).parents(".itemCar").find(".number")[0].value)*parseFloat(chooseGoods.eq(i).parents(".itemCar").find(".price>span").text());

					// console.log(chooseGoods.eq(i).parents(".itemCar").find(".number")[0].value);
					// console.log(chooseGoods.eq(i).parents(".itemCar").find(".price>span").text());
				} 
				// 将价格显示到合计
				$(".priceAll>span").text(priceAll);
			}
			// 如果没有一个选中
			if(!$(".icon-xuanze").length){
				console.log('没了');
				$(".priceAll>span").text(0);
			}

			// 全部选中了
			if($(".itemCar").find(".icon-xuanze").length == $(".itemCar").length){
				$('.shoppingcarBott>p>i').removeClass('iconfont icon-kuang1').addClass('iconfont icon-xuanze');
			}else if($(".itemCar").find(".icon-xuanze").length != $(".itemCar").length){
				// 未全选
				$('.shoppingcarBott>p>i').removeClass('iconfont icon-xuanze').addClass('iconfont icon-kuang1');
			}
		})
		// 全选事件
		$('.shoppingcarBott>p>i').click(function(){
			var _quanclass=$(this).attr('class');
			
			// 全选
			if(_quanclass.indexOf('icon-kuang1') > -1){
				$(this).removeClass('iconfont icon-kuang1').addClass('iconfont icon-xuanze');
				var _class=$('.itemcarLeft>.xuanzhong>i').attr('class');
				$('.itemcarLeft>.xuanzhong>i').removeClass(_class).addClass('iconfont icon-xuanze');

				priceAll = 0;
				var chooseGoods = $(".itemCar").find("i[class='iconfont icon-xuanze']");
				// 实时将总价格更新到合计
				for(var i=0; i<chooseGoods.length; i++){
					
					priceAll += parseFloat(chooseGoods.eq(i).parents(".itemCar").find(".number")[0].value)*parseFloat(chooseGoods.eq(i).parents(".itemCar").find(".price>span").text());

					// console.log(chooseGoods.eq(i).parents(".itemCar").find(".number")[0].value);
					// console.log(chooseGoods.eq(i).parents(".itemCar").find(".price>span").text());
				} 
				// 将价格显示到合计
				$(".priceAll>span").text(priceAll);
			}else{
				// 全不选
				$(this).removeClass('iconfont icon-xuanze').addClass('iconfont icon-kuang1');
				var _class=$('.itemcarLeft>.xuanzhong>i').attr('class');
				$('.itemcarLeft>.xuanzhong>i').removeClass(_class).addClass('iconfont icon-kuang1');

				priceAll = 0;
				var chooseGoods = $(".itemCar").find("i[class='iconfont icon-xuanze']");
				// 实时将总价格更新到合计
				for(var i=0; i<chooseGoods.length; i++){
					
					priceAll += parseFloat(chooseGoods.eq(i).parents(".itemCar").find(".number")[0].value)*parseFloat(chooseGoods.eq(i).parents(".itemCar").find(".price>span").text());

					// console.log(chooseGoods.eq(i).parents(".itemCar").find(".number")[0].value);
					// console.log(chooseGoods.eq(i).parents(".itemCar").find(".price>span").text());
				} 
				// 将价格显示到合计
				$(".priceAll>span").text(priceAll);
			}
			
		})
	})
    </script>
    
</body>
</html>