
body{
	font-size: 0.7rem;
}
.shpingcarAll{
	padding-bottom: 5.6rem;
}
/*购物车无商品*/
.noItem {
	width: 100%;
	height: 80vh;
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 2%;
}
.noItem>div {
	width: 4vmin;
	height: 4vmin;
	position: relative;
	border: 1vmin solid #aaa;
	border-radius: 50%;
	-webkit-animation: nono 5s ease infinite;
	        animation: nono 5s ease infinite;
}
@-webkit-keyframes nono {
	from {
		opacity: 1;
		-webkit-transform: scale(.2) translateY(0);
		        transform: scale(.2) translateY(0);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(1) translateY(-10vh);
		        transform: scale(1) translateY(-10vh);
	}
}
@keyframes nono {
	from {
		opacity: 1;
		-webkit-transform: scale(.2) translateY(0);
		        transform: scale(.2) translateY(0);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(1) translateY(-10vh);
		        transform: scale(1) translateY(-10vh);
	}
}
/*一个商品的样式*/
.itemCar{
	padding: 1rem 3%;
	border-bottom: 10px solid #E5E5E5;
}
/*删除按钮的样式*/
.itemCar>span{
	line-height: 8rem;
	border-bottom:10px solid #E5E5E5;
}
/*选中及图片*/
.itemcarLeft{
	width: 40%;
	float: left;
}
.itemcarLeft>.xuanzhong{
	float: left;
    padding: 2.35rem 0.2rem;
    width: 15%;
    text-align: center;
    /*color: #56AAF1;*/
}
.itemcarLeft>.xuanzhong>.icon-kuang1{
	color:#ccc;
	font-size: .9rem;
}
.itemcarLeft>.xuanzhong>.icon-xuanze{
    color: #56AAF1;
	font-size: .9rem;
}
.itemcarLeft>.carpic{
	border:1px solid #ccc;
	border-radius: 0.2rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding:1.2rem 0.3rem;
	width: 77%;
	float: right;
}
.itemcarLeft>.carpic>img{
	width: 100%;
}
/*文字说明及价格*/
.itemcarRight{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left:0.5rem; 
	width: 60%;
	float: right;
}
.itemcarRight>h3{
	padding-bottom:0.2rem; 
}
.itemcarRight>.roTxt{
	font-size: 0.6rem;
		line-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    color: #5A5A5A;
}
.itemcarRight>.roPrice{
	display: inline-block;
	padding: 0.7rem 0rem;
	width: 100%;
}
.itemcarRight>.roPrice>b{
	color: #F00;
}
.itemcarRight>.roPrice>span{
	float: right;
}
.itemcarRight>.roPrice>span>em{
	display: inline-block;
    border: 1px solid #ccc;
    padding: 0rem 0.2rem;
    margin: 0 0.2rem;
    font-size: 0.2rem;
}
 /*底部结算按钮*/
 .shoppingcarBott{
 	position: fixed;
    bottom: 0;
    width: 100%;
    background: #FFF;	    
    border-top: 1px solid #e0e0e0;   
 }
 .shoppingcarBott>p{
 	display: inline-block;
 	width: 70%;
 	float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
 	padding: 0.5rem 0rem 0.5rem 3%;
 }
.shoppingcarBott>p>i{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 0.2rem;
	color: #ccc;
	font-size: .9rem;
}
/*选择*/
.shoppingcarBott>p>i>span {
	margin-left: 6px;
	color: #373737;
	font-size: .7rem;
}
.shoppingcarBott>p>i.icon-xuanze{
	 color: #56AAF1;
}
.shoppingcarBott>p>span{
	padding-left: 0.8rem;

}
.shoppingcarBott>p>span>b{
	color: #F00;
}
.shoppingcarBott>input{
 	float: right;
	height: 2rem; 
    width: 30%;
    border: none;
    background: #2EB6AA;
    color: #FFF;
 }
  /*商品数量*/
.num {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.num>input {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 1rem;
    border: none;
    -webkit-appearance: none;
    border-radius: 4px;
    /*background: #fff;*/
}
.num>.number {
    width: 33%;
    margin: 0 4px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #a4a4a4;
    font-size: .8rem;
}
/* 库存 */
.stock {
	text-align: right;
	font-size: .4rem;
	color: red;	
	display: none;
}