/*GLOBALS*/
*{margin:0; padding:0; list-style:none;box-sizing:border-box;}
body {
	overflow-x: hidden;
	background: #EDF2F2;
}
#sTop {
	height: 30vh;
}
#sBot {
	display: flex;
	flex-wrap: wrap;
	padding: 2vmin;
}
#sBot>li {
	flex: 0 0 31%;
	width: 31vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 4px;
}