._repair{
	width: 100%;
}
.repairTop{
	width: 90%;
	padding:0.533333rem 5% 0.933333rem 5%;
	border-bottom: 0.4rem solid #F3F3F3;
}
.repairTop ul li{
	display: block;
	width: 80%;
	height: 1.6rem;
	line-height: 1.6rem;
	/*background: red;*/
}
.repairTop ul li span{
	display: inline-block;
	width: 30%;
	font-size: 0.426667rem;
}
.repairTop ul li p{
	display: inline-block;
	font-size: 0.4rem;
	width: 65%;
}
.repairTop ul li p input,.repairTop ul li p select{
	float: right;
	width: 100%;
	border-radius: 0.133333rem;
	border:1px solid #ccc;
	text-align: center;
}
.repairMidd{
	padding:0.533333rem 5% 0.933333rem 5%;
	border-bottom: 0.4rem solid #F3F3F3;

}
.repairMidd h3 {
	font-size: 0.8rem;
	line-height: 0.8rem;
	margin-bottom: 0.266667rem;
}
.repairMidd textarea {
	margin-top: 0.133333rem;
	height:5.333333rem;
	width: 100%;
	display: inline-block;
	resize: none;
	overflow: hidden;
	border: 1px dashed #CCC;
}
.repairMidd>p {
	margin:0.933333rem 0 0.4rem;
	color: #767676;
	font-size: 0.533333rem;
}
.repairPic {
	position: relative;
}
.repairPic i{
	font-size: 5.0rem;
	color: #68B1F1;
}
.repairPic>span{
	font-size: 0.533333rem;
    position: absolute;
    left: 0.5rem;
    bottom: 0.65rem;
    color: #FFF;
}
.repairFoot{
	padding:0.533333rem 5% 0.933333rem 5%;
}
.repairFoot h3{
	font-size: 0.8rem;
	line-height: 0.8rem;
	margin-bottom: 0.266667rem;
}
.repairFoot li{
	border:1px solid #ccc;
	border-radius: 0.2rem;
	margin-top: 0.533333rem;
}
.repairFoot li label{
	height: 0.933333rem;
	line-height: 0.933333rem;
}

.repairFoot li label span{
	display: inline-block;
	width: 24%;
	text-align: right;
	font-size: 0.453333rem;
}
.repairFoot li label input{
	width: 70%;
	height: 0.933333rem;
	line-height: 0.933333rem;
	border:none;
	font-size: 0.453333rem;
}
.repairFoot li p{
	width: 24%;
	text-align: right;
	font-size: 0.453333rem;
	letter-spacing: 0.053333rem;
}
.repairFoot li textarea{
	font-size: 0.453333rem;
	height:4.0rem;
	width: 100%;
	line-height: 0.8rem;
	resize: none;
	border: none;
	margin-top: 0;
}
.repairBtn{
	margin: 3.0rem auto 1.0rem;
	width: 80%;
}
.repairBtn input{
	width: 100%;
	border:none;
	background: #2EB6AA;
	padding: 0.133333rem;
	border-radius: 0.2rem;
	color: #fff;
}
