<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>工单详情</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/people/detail.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/amazeui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont.css">
</head>
<body>
<div id="app">
	
	<!-- 服务详情页面部分开始 -->
	<div class="detail">
		<div class="user">
			<ul>
				<li>用户信息</li>
			</ul>
			<ul>
				<li class="link_b">
					<span class="left">用户名</span>
					<span class="right" v-text="detail.name">建军</span>
				</li>
				<li class="link_b">
					<span class="left">手机号码</span>
					<span class="right" v-text="detail.phone">13526325411</span>
				</li>
				<li class="link_b">
					<span class="left">维护地址</span>
					<span class="right" v-text="detail.province+detail.city+detail.district+detail.address">广州市番禺区创源路三楼</span>
				</li>
			</ul>
		</div>
		<div class="user">
			<ul>
				<li>请求信息</li>
			</ul>
			<ul>
				<li class="link_b">
					<span class="left">设备型号</span>
					<span class="right" v-text="detail.device_type">净水机BL(axl-114)</span>
				</li>
				<li class="link_b">
					<span class="left">设备编码</span>
					<span class="right" v-text="detail.device_code">868575025659808</span>
				</li>
				<li class="link_b">
					<span class="left">请求时间</span>
					<span class="right" v-text="detail.time">2018-06-01</span>
				</li>
				<li class="link_b">
					<span class="left">服务类型</span>
					<span class="right" v-text="detail.type">安装</span>
				</li>
				<li class="link_b">
					<span class="left">来源</span>
					<span class="right" v-text="detail.origin">用户</span>
				</li>
			</ul>
		</div>
		<!-- 完成按钮 -->
		<div class="success" v-if='!success'>
			<input type="button" value="完成" @click="openModal()">
		</div>
	</div>
	<!-- 服务详情页面部分结束 -->

	<!-- 支付成功部分开始 -->
	<div class="paySuc">
		<div>
			<i class="iconfont icon-dagouyouquan"></i>
			<span>提交成功</span>
		</div>
	</div>
	<!-- 支付成功部分结束 -->

	<!-- 模态框部分开始 -->
	<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
        <div class="am-modal-dialog" style="border-radius:0.3rem;">  
            <div class="am-modal-bd" style="fontSize:1rem;">  
                确定提交任务？  
            </div>   
            <div class="am-modal-footer">  
                <span class="am-modal-btn" style="fontSize:0.8rem;color:#aeaeae;">否</span>  
                <span class="am-modal-btn" style="fontSize:0.8rem;color:#2eb6aa;" @click="Yes()">是</span> 
            </div>  
        </div>  
    </div>  
	<!-- 模态框部分结束 -->

	<p class='notice' :style='{display: noticestyle}' v-text='notice'></p>
</div>
	<script src="__PUBLIC__/Home/js/head.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/amazeui.min.js"></script>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Home/js/service/people/detail.js"></script>
</body>
</html>