<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
    <title>服务人员</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/service/people/index.css">
    <!-- <script src="__PUBLIC__/Home/js/vconsole.min.js"></script> -->
    <script>
        // var vconsole = new VConsole();
    </script>
</head>
<body>
    <div class="backColor"></div>
    <div class="main">
        <!-- 用户信息 -->
        <div class="backImg">
            <h1>{{$_SESSION['servicepeople']['company']}}</h1>
            <p>姓名：<span>{{$_SESSION['servicepeople']['name']}}</span></p>
            <p>
                <span>
                    工号：<i>{{$_SESSION['servicepeople']['sn']}}</i>
                </span>
            </p>
        </div>
        <!-- 任务和功能 -->
        <div class="services">
            <!-- 我的任务 -->
            <div class="myDuty">
                <p>我的任务</p>
                <ul>
                    <li>
                        <a href="{{:U('Home/ServicePeople/list')}}?type=0">
                            <p><img src="__PUBLIC__/Home/images/install@2x.png" alt=""></p> 
                            <span>待安装</span>
                            <i class="tipNum">{{$work.wait_install}}</i>
                        </a>
                    </li>
                    <li>
                        <a href="{{:U('Home/ServicePeople/list')}}?type=1">
                            <p>
                                <img src="__PUBLIC__/Home/images/repair@2x.png" alt=""> 
                            </p>
                            <span>待维修</span>
                            <i class="tipNum">{{$work.wait_repair}}</i>
                        </a>
                    </li>
                    <li>
                        <a href="{{:U('Home/ServicePeople/list')}}?type=2">
                            <p>
                                <img src="__PUBLIC__/Home/images/maintain@2x.png" alt=""> 
                            </p>
                            <span>待维护</span>
                            <i class="tipNum">{{$work.wait_maintain}}</i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 功能 -->
            <ul class="funC">
                <li>
                    <a href="{{:U('Home/ServicePeople/servicePersonal')}}">
                        <span class="iconfont icon-user"></span>
                        <span>个人中心</span>
                    </a>
                </li>
                <li>
                    <a href="{{:U('Home/ServicePeople/pay')}}">
                        <span class="iconfont icon-chongzhi"></span>
                        <span>代缴费</span>
                    </a>
                </li>
                <li>
                    <a href="{{:U('Home/ServicePeople/list')}}?type=all">
                        <span class="iconfont icon-goumaijilu"></span>
                        <span>服务记录</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
    <script src="__PUBLIC__/Home/js/public.js"></script>
    <script src='__PUBLIC__/Home/js/vue.min.js'></script>
</body>
</html>