<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>待安装</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/people/list.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/amazeui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont.css">
</head>
<body>
<div id="app">
	<!-- 待办任务列表部分开始 -->
	<div class="wrap">
		<!-- 搜索部分开始 -->
		<div class="header">
			<div class="sub_head" @keyup.enter="lookup">
				<label for="">
					<i class="iconfont icon-sousuo" @click="subSea"></i>
					<input type="text" name="searchInfo" placeholder="请输入姓名/手机号码" v-model="search">
				</label>
			</div>
		</div>

		<!-- 用户列表 -->
		<div class="list">
			<ul class="link_b">
				<li>
					<span class="am-u-sm-3">工单号</span>
					<span class="am-u-sm-4">设备型号</span>
					<span class="am-u-sm-4" v-text='timetype'>预约时间</span>
					<i class="am-u-sm-1">&nbsp;</i>
				</li>
			</ul>
			<ul>
				<li class="link_b am-g" v-for="(l,index) in list" @click="getDetail(l.number)">
					<span class="am-u-sm-3" v-text="l.number"></span>
					<span class="am-u-sm-4" v-text="l.device_type"></span>
					<span class="am-u-sm-4" v-text="l.anry_time"></span>
					<i class="am-u-sm-1">></i>
				</li>
			</ul>
		</div>
	</div>
	<p class='notice' :style='{display: noticestyle}' v-text='notice'></p>
	<!-- 待办任务列表部分结束 -->

</div>
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
	<script src="__PUBLIC__/Home/js/head.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/amazeui.min.js"></script>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Home/js/service/people/list.js"></script>
	<script>	
		// url type: 0待安装, 1待维修，2待维护
		$(".loadingdiv").hide();
	</script>
</body>
</html>