<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交成功</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfontHome.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/people/paySuccess.css">
</head>
<body>
	<div class="main">
		<span class="iconfont icon-chenggong"></span>
		<p>提交成功</p>
	</div>
</body>
<script src="__PUBLIC__/Home/js/public.js"></script>
<script>
	setTimeout(function() {
		// location.href = "{{:U('Home/')}}"
	}, 2000);
</script>
</html>