<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>我的服务记录</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/service/css/service.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/amazeui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont.css">
</head>
<body>
<div id="app">
	<div class="wrap">
	<!-- 搜索部分开始 -->
		<div class="header">
			<div class="sub_head" @keyup.enter="lookup">
				<label for="">
					<i class="iconfont icon-sousuo" @click="subSea"></i>
					<input type="text" name="searchInfo" placeholder="请输入姓名/手机号码" v-model="search">
				</label>
			</div>
		</div>
	<!-- 搜索部分结束 -->

	<!-- 待办任务列表部分开始 -->
		<div class="list">
			<ul class="link_b">
				<li>
					<span class="am-u-sm-3">工单号</span>
					<span class="am-u-sm-4">设备型号</span>
					<span class="am-u-sm-4">完成时间</span>
					<i class="am-u-sm-1">&nbsp;</i>
				</li>
			</ul>
			<ul>
				<li class="link_b" v-for="(l,index) in list" @click="userList(l.status)">
					<span class="am-u-sm-3" v-text="l.number"></span>
					<span class="am-u-sm-4" v-if="l.device_type"></span>
					<span class="am-u-sm-4" v-text="l.pass_at"></span>
					<i class="am-u-sm-1">></i>
				</li>
			</ul>
		</div>
	<!-- 待办任务列表部分结束 -->
	</div>

	<!-- 服务详情页面部分开始 -->
		<div class="detail">
			<div class="user">
				<ul>
					<li>用户信息</li>
				</ul>
				<ul>
					<li class="link_b">
						<span class="left">用户名</span>
						<span class="right" v-text="detail.name">建军</span>
					</li>
					<li class="link_b">
						<span class="left">手机号码</span>
						<span class="right" v-text="detail.phone">13526325411</span>
					</li>
					<li class="link_b">
						<span class="left">维护地址</span>
						<span class="right" v-text="detail.add">广州市番禺区创源路三楼</span>
					</li>
				</ul>
			</div>
			<div class="user">
				<ul>
					<li>请求信息</li>
				</ul>
				<ul>
					<li class="link_b">
						<span class="left">设备型号</span>
						<span class="right" v-text="detail.model">净水机BL(axl-114)</span>
					</li>
					<li class="link_b">
						<span class="left">设备编码</span>
						<span class="right" v-text="detail.code">868575025659808</span>
					</li>
					<li class="link_b">
						<span class="left">请求时间</span>
						<span class="right" v-text="detail.time">2018-06-01</span>
					</li>
					<li class="link_b">
						<span class="left">服务类型</span>
						<span class="right" v-text="detail.type">安装</span>
					</li>
					<li class="link_b">
						<span class="left">来源</span>
						<span class="right" v-text="detail.origin">用户</span>
					</li>
					<li class="link_b">
						<span class="left">状态</span>
						<span class="right" v-if="detail.status == 0" style="color:#f43030">未处理</span>
						<span class="right" v-if="detail.status == 1" style="color:#4398f0">进行中</span>
						<span class="right" v-if="detail.status == 2" style="color:#32c97c">已处理</span>
					</li>
				</ul>
			</div>
		</div>
	<!-- 服务详情页面部分结束 -->
</div>
	<script src="__PUBLIC__/Home/js/head.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<script src="__PUBLIC__/Home/js/amazeui.min.js"></script>
	<script src="__PUBLIC__/Home/js/vue.min.js"></script>
	<script src="__PUBLIC__/Home/js/service/people/service.js"></script>
</body>
</html>