<extend name="Public/base" />
<block name="mylink">
    <style type="text/css">
       .ibox-content table{
           
            table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
        }
       .ibox-content td{
            width:100%;
            word-break:keep-all;/* 不换行 */
            white-space:nowrap;/* 不换行 */
            overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
            text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        }
    </style>
</block>
<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>工单管理 <small>工单列表</small></h5>
                        <div class="ibox-tools">
                            <a href="javascript:;" onclick="add()" class="close-link">
                                <i class="fa fa-user-plus"></i>
                                添加工单
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>工单编号</th>
                                    <th>主题</th>
                                    <th>维护类型</th>
                                    <th>工作内容</th>
                                    <th>地址</th>
                                    <th>处理结果</th>
                                    <th>创建时间</th>
                                    <th>处理时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <empty name="pageList.data">
                                    <tr><td><h3>暂无工单.....</h3></td></tr>
                                <else />
                                    <volist name="pageList.data" id="val">
                                        <tr>
                                            <td>{{$val.number}}</td>
                                            <td>{{$val.title}}</td>
                                            <td>
                                                <switch name="val.type">
                                                    <case value="0">安装</case>
                                                    <case value="1">维修</case>
                                                    <case value="2">维护</case>
                                                    <default />
                                                </switch>
                                            </td>
                                            <td><a class="" href="javascript:;" onclick="details({{$val.id}})">{{$val.content}}</a></td>
                                            <td style="">{{$val.address}}</td>
                                            <td>
                                                <switch name="val.result">
                                                    <case value="0">未处理</case>
                                                    <case value="1">正在处理</case>
                                                    <case value="2">已处理</case>
                                                    <default />
                                                </switch>
                                            </td>
                                            <td>{{$val.create_at|date='Y-m-d H:i:s',###}}</td>
                                            <td>{{$val['time'] ? $val.time|date='Y-m-d H:i:s',### : ''}}</td>
                                            <td><lt name="val.result" value="2"><a class="btn btn-outline btn-success" data-id="{{$val.id}}" data-number="{{$val.number}}" data-title="{{$val.title}}" data-type="{{$val.type}}" data-content="{{$val.content}}" data-result="{{$val['result'] + 1}}" href="javascript:;" onclick="edit(this,{{$val.id}})"><switch name="val.result">
                                                    <case value="0">委派</case>
                                                    <case value="1">处理</case>
                                                    <default />
                                                </switch></a></lt></td>
                                        </tr>
                                    </volist>
                                </empty>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {{$pageList.page|bootstrap_page_style}}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹框信息 -->
            <!-- 新增工单开始 -->
            <div class="modal inmodal" id="st-add" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                新增工单
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form id="bjy-form1" class="form-inline" action="{{:U('Admin/work/add')}}"
                            method="post">
                                <div class="errmsg" style="text-align: center;color: red;">
                                    msgerror
                                </div>
                                <table class="table table-striped table-bordered table-hover table-condensed">                               
                                    <tr>
                                        <th width="16%">
                                            工单标题：
                                        </th>
                                        <td>
                                            <input class="input-medium" id="add_title" type="text" name="title" class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            维护类型：
                                        </th>
                                        <td>
                                            <div class="radio i-checks">
                                                <label class="">
                                                    <div class="iradio_square-green checked" style="position: relative;"><input type="radio" checked="" name="add_type" value="0" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> <i></i> 安装
                                                </label>
                                                <label class="">                                       
                                                    <div class="iradio_square-green" style="position: relative;"><input type="radio" name="add_type" value="1" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> <i></i> 维修
                                                </label>
                                                <label class="">
                                                    <div class="iradio_square-green" style="position: relative;"><input type="radio" name="add_type" value="2" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> <i></i> 维护
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            工单内容：
                                        </th>
                                        <td>
                                            <textarea id="add_content" name="content" cols="30" rows="5" class="input-medium" ></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            工单地址：
                                        </th>
                                        <td>
                                          <div data-toggle="distpicker">
                                            <div class="form-group">
                                                 <select class="input-medium" name="province" id="province" data-province="---- 选择省 ----"></select>
                                                  <select class="input-medium" name="city" id="city" data-city="---- 选择市 ----"></select>
                                                  <select class="input-medium" name="district" id="district" data-district="---- 选择区 ----"></select>
                                            </div>
                                          </div>
                                        </td>
                                    </tr>                                     
                                    <tr>
                                        <th>
                                        </th>
                                        <td>
                                            <input id="add_submit" class="btn btn-success" type="button" value="确认">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 新增工单结束 -->
            <!-- 修改工单开始 -->
            <div class="modal inmodal" id="st-edit" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="edit-modal-title">
                                修改工单
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="edit_errmsg" style="text-align: center;color: red;">
                                    msgerror
                                </div>
                            <form id="bjy-form2" class="form-inline" action=""
                            method="post">
                                <input class="input-medium" type="text" id="edit_id" name="id" class="form-control" value="" readonly="" hidden="">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <tr>
                                        <th width="16%">
                                            工单号：
                                        </th>
                                        <td>
                                            <p id="number"></p>                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            工单标题：
                                        </th>
                                        <td>
                                            <p id="title"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            委派人：
                                        </th>
                                        <td>
                                            <input class="input-medium" type="text" name="name" id="edit_name" class="form-control" value="">
                                        </td>
                                    </tr>
                                     <tr>
                                        <th>
                                            电话：
                                        </th>
                                        <td>
                                            <input class="input-medium" type="text" name="phone" id="edit_phone" class="form-control" value="">
                                        </td>
                                    </tr>
                                            <input class="input-medium" type="text" name="result" id="edit_result" class="form-control" value="" hidden="">
                                    <tr>
                                        <th>
                                        </th>
                                        <td>
                                            <input id="edit_submit" class="btn btn-success" type="button" value="确认">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 修改工单结束 -->
            <!-- 查看详情开始 -->
            <div class="modal inmodal bs-example-modal-lg" id="st-details" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                工单详情
                            </h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <tr>
                                    <td width="25%" style="font-weight: bold;">工单编号</td>
                                    <td id="details_number"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">主题</td>
                                    <td id="details_title"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">提交人</td>
                                    <td id="details_name"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">提交人电话</td>
                                    <td id="details_phone"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">处理人</td>
                                    <td id="details_dw_name"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">处理人电话</td>
                                    <td id="details_dw_phone"></td>
                                </tr><tr>
                                    <td style="font-weight: bold;">工单类型</td>
                                    <td id="details_type"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">维护内容</td>
                                    <td id="details_content"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">处理结果</td>
                                    <td id="details_result"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">提交时间</td>
                                    <td id="details_create_at"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">处理时间</td>
                                    <td id="details_time"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</block>

<block name="myjs">
    <script src="__PUBLIC__/Admin/js/Bootstrap_shengshiqu/js/distpicker.data.js"></script>
    <script src="__PUBLIC__/Admin/js/Bootstrap_shengshiqu/js/distpicker.js"></script>  
    <script src="__PUBLIC__/Admin/js/plugins/validate/jquery.validate.min.js"></script>
    <script type="text/javascript">
         // 添加工单

    function add() {
        $('.errmsg').text('');               
        $('#st-add').modal('show');        
    }
        //     $('#add_submit').click(function(){
    $('#add_submit').click(function(){
        var data = {
                'title' : $('#add_title').val(),
                'type' : $("input[name='add_type']:checked").val(),
                'address' : $('#province').val() + $('#city').val() + $('#district').val(),
                'content' : $('#add_content').val()
            }
        $.ajax({
            type : 'POST',
            url : "{{:U('Admin/work/add')}}",
            data : data,
            success : function(msg){
                if (msg.code == 200) {
                    $('#st-add').modal('hide');
                    window.location.href="{{:U('Admin/work/index')}}?p=";
                }
                if (msg.code == 400) {
                    text = '';
                    $.each(msg.msg, function(i, n){
                      text = text + '*' + n + '</br>';                     
                    });
                    $('.errmsg').html(text);
                    console.log(msg);
                }               
            }
        });
    });
        //         console.log(formdata);

        //     // $.ajax({
        //     //    type: "POST",
        //     //    url: {{:U('Admin/work/test')}},
        //     //    data: formdata,
        //     //    success: function(msg){
        //     //         console.log(msg);
        //     //    }
        //     // });
        // });
    function edit(obj,id){
        var id      = $(obj).data('id');
            number  = $(obj).data('number');
            title   = $(obj).data('title');
            result    = $(obj).data('result');
            p = "{{:I('get.p')}}";
            $("input[name='id']").val(id);
            $('#number').html(number);
            $("#title").html(title); 
            $('#edit_result').val(result);

            if (result == 2) {
                $('#edit_name').parent().parent().hide();
                $('#edit_phone').parent().parent().hide();
                $('#edit_submit').val('完成处理');
                $('#edit-modal-title').text('确认工单');               
            } else {
                $('#edit_name').parent().parent().show();
                $('#edit_phone').parent().parent().show();
                $('#edit_submit').val('委派');
                $('#edit-modal-title').text('委派工单');
            }

            // 表单验证

            // {{:U('Admin/work/edit_work','p='.I('get.p'))}}

            $('.edit_errmsg').text('');
            $('#st-edit').modal('show');

    }
    $('#edit_submit').click(function(){        
        var editdata = {
                'id' : $('#edit_id').val(),
                'result' : $('#edit_result').val()
            }
            if (result === 1) {
                editdata.name = $('#edit_name').val();
                editdata.phone = $('#edit_phone').val();
            }
            // console.log(editdata);
        $.ajax({
           type: "POST",
           url: "{{:U('Admin/work/edit')}}",
           data: editdata,
           success: function(msg){
                if (msg.code == 200) {
                    $('#st-edit').modal('hide');
                    window.location.href="{{:U('Admin/work/index')}}?p="+p;
                }
                if (msg.code == 400) {
                    text = '';
                    $.each(msg.msg, function(i, n){
                      text = text + '*' + n + '</br>';                     
                    });
                    $('.edit_errmsg').html(text);
                }
                console.log(msg);
           }
        });
    });
    // 维护类型单选框处理
    $('.i-checks > label').hover(
          function () {
            $(this).children('div').addClass("hover");
          },
          function () {
            $(this).children('div').removeClass("hover");
          }
        );
    $('.i-checks > label').click( function () {
        $(this).children('div').addClass("checked").parent().siblings().children('div').removeClass("checked");
        $(this).children('div > input').attr("checked").parent().siblings().children('div > input').removeAttr("checked");
    })

    
    function details(id) {  
        $('#st-details').modal('show');    
        $.ajax({
           type: "GET",
           url: "{{:U('Admin/Work/getWork')}}",
           data: "id=" + id,
           success: function(msg){
                if (msg.code == 10) {
                    msg.data.name?name=msg.data.name:name="";
                    msg.data.phone?phone=msg.data.phone:phone="";
                    msg.data.time?time=msg.data.time:time="";
                    // console.log(msg.data)
                    $('#details_number').text(msg.data.number);
                    $('#details_title').text(msg.data.title);                   
                    $('#details_name').text(msg.data.Vendors.name);
                    $('#details_phone').text(msg.data.Vendors.phone);
                    $('#details_dw_name').text(name);
                    $('#details_dw_phone').text(phone);
                    $('#details_type').text(msg.data.type);
                    $('#details_content').text(msg.data.content);
                    $('#details_result').text(msg.data.result);
                    $('#details_create_at').text(msg.data.create_at);
                    $('#details_time').text(time);                    
                }
           }
        });
    }

    // 分页处理
    $(".page").html();
    pageHtml = $(".page").html();
    $('.page').remove();
    $('ul.pagination').html(pageHtml);


    </script>
</block>

