<extend name="Public/base" />
<block name="mylink">
    <style type="text/css">
       /* .ibox-content table{
           
            table-layout:fixed;
        }
       .ibox-content td{
            width:100%;
            word-break:keep-all;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        } */
    
    </style>
</block>
<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>净水器管理 <small>水机工单列表</small></h5>
                        <div class="ibox-tools">
                            <a href="javascript:;" onclick="add()" class="close-link">
                                <i class="fa fa-user-plus"></i>
                                添加工单
                            </a>
                        </div>
                    </div>
                <form method="get" action="">
                    <div class="input-group " id='searchdiv'>
                        <label class="form-control" style="width:20%">工单编号</label>
                        <input type="hidden" name="p" value="1">
                        <input type="text" name="number" placeholder="输入搜索关键字" value="{{$where['number']}}" class="input form-control"   style="width:30%">
                        <select name="type" class="form-control" style="width:15%">
                            <option <?php echo ($where['type']=="")?'selected':''; ?> value="">维护类型</option>
                            <option <?php echo ($where['type']=="0")?'selected':''; ?> value="0">安装</option>
                            <option <?php echo ($where['type']==1)?'selected':''; ?> value="1">维修</option>
                            <option <?php echo ($where['type']==2)?'selected':''; ?> value="2">维护</option>
                        </select>
                        <!--处理结果(0：待处理(服务站) 1处理中(工作人员) 2已完成(工作人员) 3完成 (待客户评价) 4 评价完成   9 工单关闭 )-->
                        <select name="result" class="form-control" style="width:15%">
                            <option  <?php echo ($where['result']=="")?'selected':''; ?>  value="">处理结果</option>
                            <option <?php echo ($where['result']=="0")?'selected':''; ?> value="0">待服务站处理</option>
                            <option <?php echo ($where['result']==1)?'selected':''; ?> value="1">服务人员处理中</option>
                            <option <?php echo ($where['result']==2)?'selected':''; ?> value="2">待服务站确认	</option>
                            <option <?php echo ($where['result']==3)?'selected':''; ?> value="3">待客户评价</option>
                            <option <?php echo ($where['result']==4)?'selected':''; ?> value="4">评价完成</option>
                            <option <?php echo ($where['result']==9)?'selected':''; ?> value="9">已关闭</option>
                        </select>
                        <select name="is_examine" class="form-control"  style="width:15%">
                            <option  <?php echo ($where['is_examine']=="")?'selected':''; ?>  value="">审核状态</option>
                            <option <?php echo ($where['is_examine']=="0")?'selected':''; ?> value="0">待审核</option>
                            <option <?php echo ($where['is_examine']==2)?'selected':''; ?> value="2">未通过</option>
                        </select>
                        <span class="input-group-btn" style="display: inline-block;">
                                <input type="submit" class="btn btn btn-primary" name=""> <i class="fa fa-search"></i> 搜索</button>
                        </span>
                    </div>
                </form>
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>工单编号</th>
                                    <th width="6%">类型</th>
                                    <th>工作内容</th>
                                    <th>客户信息</th>
                                    <th>详细地址</th>
                                    <th>派遣服务站</th>
                                    <th>工单状态</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <empty name="pageList.data">
                                    <tr><td><h3>暂无工单.....</h3></td></tr>
                                <else />
                                    <volist name="pageList.data" id="val">
                                        <tr data-id="{{$val.id}}" data-number="{{$val.number}}" data-sid="{{$val.sid}}" data-title="{{$val.title}}"
                                            data-type="{{$val.type}}" data-content="{{$val.content}}" data-result="{{$val['result']}}"
                                            data-area="{{$val.province}}-{{$val.city}}-{{$val.district}}">
                                            <td>{{$val.number}}</td>
                                            <td>
                                                <switch name="val.type">
                                                    <case value="0">安装</case>
                                                    <case value="1">维修</case>
                                                    <case value="2">维护</case>
                                                    <default />
                                                </switch>
                                            </td>
                                            <td><a class="" href="javascript:;" onclick="details({{$val.id}})">{{$val.content}}</a></td>
                                            <td>{{$val.kname}}<br/>{{$val.kphone}}</td>
                                            <td style="">{{$val.province}}&nbsp;{{$val.city}}&nbsp;{{$val.district}} <br/>{{$val.address}}</td>
                                            <td class="service_name">{{$val.company}}</td>
                                            <td>
                                                <if condition="$val['is_examine'] eq 0">待总站审核
                                                    <elseif condition="$val['is_examine'] eq 2"/>审核未通过
                                                    <else />
                                                    <if condition="empty($val['sid'])">待手动分配服务站
                                                        <else />
                                                        <switch name="val.result">
                                                            <case value="0">待服务站处理</case>
                                                            <case value="1">服务人员处理中</case>
                                                            <case value="2">待服务站确认</case>
                                                            <case value="3">待客户评价</case>
                                                            <case value="4">工单完成</case>
                                                            <case value="9">工单已关闭</case>
                                                            <default />
                                                        </switch>
                                                    </if>
                                                </if>
                                            </td>
                                            <td>{{$val.create_at|date='Y-m-d H:i:s',###}}</td>

                                            <td>
                                                <if condition="$val['is_examine'] eq 0">
                                                    <a class="btn btn-outline btn-success acction_examine" href="javascript:;">审核</a>
                                                    <elseif condition="$val['is_examine'] eq 2"/>
                                                    <a class="btn btn-outline btn-success acction_examine" href="javascript:;">重新审核</a>
                                                    <else />
                                                    <switch name="val.result">
                                                        <case value="0">
                                                            <a class="btn btn-outline btn-success _send" data-action="send">委派</a>
                                                        </case>
                                                        <case value="1">
                                                            <a class="btn btn-outline btn-success _edit" data-action="over">完成</a>
                                                        </case>
                                                        <default />
                                                    </switch>


                                                </if>
                                                <if condition="$val['result'] neq 9">
                                                    <a class="btn btn-outline btn-success _edit" data-action="close">关闭</a>
                                                </if>
                                            </td>
                                        </tr>
                                    </volist>
                                </empty>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {{$pageList.page|bootstrap_page_style}}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹框信息 -->
            <!-- 新增工单开始 -->
            <div class="modal inmodal" id="st-add" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                新增工单
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form id="bjy-form1" class="form-inline" action="{{:U('Admin/work/add')}}"
                            method="post">
                                <div class="errmsg" style="text-align: center;color: red;">
                                    msgerror
                                </div>
                                <table class="table table-striped table-bordered table-hover table-condensed">                               
                                    <tr>
                                        <th width="16%">
                                            工单标题：
                                        </th>
                                        <td>
                                            <input class="input-medium" id="add_title" type="text" name="title" class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            维护类型：
                                        </th>
                                        <td>
                                            <div class="radio i-checks">
                                                <label class="">
                                                    <div class="iradio_square-green checked" style="position: relative;"><input type="radio" checked="" name="add_type" value="0" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> <i></i> 安装
                                                </label>
                                                <label class="">                                       
                                                    <div class="iradio_square-green" style="position: relative;"><input type="radio" name="add_type" value="1" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> <i></i> 维修
                                                </label>
                                                <label class="">
                                                    <div class="iradio_square-green" style="position: relative;"><input type="radio" name="add_type" value="2" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> <i></i> 维护
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            工单内容：
                                        </th>
                                        <td>
                                            <textarea id="add_content" name="content" cols="30" rows="5" class="input-medium" ></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            所在地区：
                                        </th>
                                        <td>
                                          <div data-toggle="distpicker">
                                            <div class="form-group">
                                                 <select class="input-medium" name="province" id="province" data-province="---- 选择省 ----"></select>
                                                  <select class="input-medium" name="city" id="city" data-city="---- 选择市 ----"></select>
                                                  <select class="input-medium" name="district" id="district" data-district="---- 选择区 ----"></select>
                                            </div>
                                          </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="16%">
                                            详细地址：
                                        </th>
                                        <td>
                                            <textarea class="ks-combobox-input i-ta disabled tsl" aria-combobox="list" role="combobox" autocomplete="off" aria-label="详细地址" placeholder="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息" data-inner_placeholder="d_p_input_inner_detailAddress" data-pattern="^[\s\S]{5,120}$" data-msg="d_p_detailAddress_msg" data-ph="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息" data-spm-anchor-id="0.0.0.i1.4f06175cW3DmW9" cols="51" rows="3" id="address"></textarea>
                                        </td>
                                    </tr>                                     
                                    <tr>
                                        <th>
                                        </th>
                                        <td>
                                            <input id="add_submit" class="btn btn-success" type="button" value="确认">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 新增工单结束 -->

    <!-- 派遣工单开始 -->
    <div class="modal inmodal" id="st-send" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="send-modal-title">
                        派遣工单
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="edit_errmsg" style="text-align: center;color: red;"></div>
                    <form id="send-form" class="form-inline" action="" method="post">
                        <input type="hidden" name="id" value="">
                        <input type="hidden" name="sid" value="">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tr>
                                <th width="21%">工单号：</th>
                                <td class="number"></td>
                            </tr>
                            <tr class="send_service">
                                <th>工单区域：</th>
                                <td class="area"></td>
                            </tr>
                            <tr class="send_service">
                                <th>服务站检索：</th>
                                <td class="form-inline">
                                    <select class="form-control send_area send_province_id" style="width: 32%;" name="province_id">
                                        <option value="">--请选择--</option>
                                        <volist name="area" id="vl">
                                            <option value="{{$vl.id}}">{{$vl.areaname}}</option>
                                        </volist>
                                    </select>
                                    <select class="form-control send_area send_city_id" style="width: 32%;" name="city_id">
                                        <option value="">--请选择--</option>
                                    </select>
                                    <select class="form-control send_area send_district_id" style="width: 32%;" name="district_id">
                                        <option value="">--请选择--</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="send_service">
                                <th>请选择服务站：</th>
                                <td>
                                    <select class="form-control" name="t_id" id="st_set_agent_sel" style="width: 98%;">
                                        <option value="">--请选择--</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="send_service_user">
                                <th>服务站：</th>
                                <td class="service_name"></td>
                            </tr>
                            <tr class="send_service_user">
                                <th>服务站员工：</th>
                                <td>
                                    <select class="form-control" name="t_id" id="service_user" style="width: 98%;">
                                        <option value="">--请选择--</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input class="btn btn-success " type="button" onclick="send_submit()" value="确认">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 派遣工单结束 -->


            <!-- 修改工单开始 -->
            <div class="modal inmodal" id="st-edit" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="edit-modal-title">
                                修改工单
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="edit_errmsg" style="text-align: center;color: red;"></div>
                            <form id="st-edit-form" class="form-inline" action="" method="post">
                                <input type="hidden" name="id"  value="">
                                <input type="hidden" name="action" value="" >
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <tr>
                                        <th width="16%">
                                            工单号：
                                        </th>
                                        <td id="number"></td>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<th>-->
                                            <!--工单标题：-->
                                        <!--</th>-->
                                        <!--<td id="title"></td>-->
                                    <!--</tr>-->
                                    <tr class="edit_box edit_box_over">
                                        <th>
                                            客户反馈：
                                        </th>
                                        <td>
                                            <textarea class="form-control" name="feedback" cols="55" rows="5"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                        </th>
                                        <td>
                                            <input id="edit_submit" class="btn btn-success" type="button" value="确认">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 修改工单结束 -->
        <!-- 查看详情开始 -->
        <div class="modal inmodal bs-example-modal-lg" id="st-details" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                工单详情
                            </h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <tr>
                                    <td width="25%" style="font-weight: bold;">工单编号</td>
                                    <td id="details_number"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">主题</td>
                                    <td id="details_title"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">提交人</td>
                                    <td id="details_name"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">提交人电话</td>
                                    <td id="details_phone"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">处理人</td>
                                    <td id="details_dw_name"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">处理人电话</td>
                                    <td id="details_dw_phone"></td>
                                </tr><tr>
                                    <td style="font-weight: bold;">工单类型</td>
                                    <td id="details_type"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">维护内容</td>
                                    <td id="details_content"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">处理结果</td>
                                    <td id="details_result"></td>
                                </tr>
                                </tr><tr>
                                    <td style="font-weight: bold;">所在地区</td>
                                    <td id="details_diqu"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">详细地址</td>
                                    <td id="details_address"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">提交时间</td>
                                    <td id="details_create_at"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">处理时间</td>
                                    <td id="details_time"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</block>

<block name="myjs">
    <script src="__PUBLIC__/Admin/js/Bootstrap_shengshiqu/js/distpicker.data.js"></script>
    <script src="__PUBLIC__/Admin/js/Bootstrap_shengshiqu/js/distpicker.js"></script>  
    <script src="__PUBLIC__/Admin/js/plugins/validate/jquery.validate.min.js"></script>
    <script type="text/javascript">
         // 添加工单

    function add() {
        $('.errmsg').text('');               
        $('#st-add').modal('show');        
    }

    $('#add_submit').click(function(){
        var data = {
                'title' : $('#add_title').val(),
                'type' : $("input[name='add_type']:checked").val(),
                'province'  : $('#province').val(),
                'city'      : $('#city').val(),
                'district'  : $('#district').val(),
                'address' : $('#address').val(),
                'content' : $('#add_content').val()
            }
        $.ajax({
            type : 'POST',
            url : "{{:U('Admin/work/add')}}",
            data : data,
            success : function(msg){
                if (msg.code == 200) {
                    $('#st-add').modal('hide');
                    window.location.href="{{:U('Admin/work/index')}}?p=";
                }
                if (msg.code == 400) {
                    text = '';
                    $.each(msg.msg, function(i, n){
                      text = text + '*' + n + '</br>';                     
                    });
                    $('.errmsg').html(text);
                    console.log(msg);
                }               
            }
        });
    });

    $('.acction_examine').click(function () {
        var url = "{{:U('examine')}}";
        var id =  $(this).parents('tr').data('id');
        //询问框
        parent.layer.confirm('工单审核', {
            btn: ['通过','不通过','取消'] //按钮
        }, function(){
            var is_examine = 1;
            getInfo(url,{id:id,is_examine:is_examine});
        }, function(){
            var is_examine = 2;
            getInfo(url,{id:id,is_examine:is_examine});
        });

    });

    function getInfo(url, data, Callback) {
        if(url){
            $.ajax({
                url:url,
                type:'post',
                dataType:'json',
                cache: false,
                data:data,
                success:function(res){
                    if(res.status == 200){
                        if(Callback){
                            Callback(res);
                        }else{
                            location.reload();
                            parent.layer.msg(res.msg);
                        }
                    } else {
                        parent.layer.closeAll();
                        parent.layer.msg(res.msg);
                    }
                }
            });
        }
    }

    var areaUrl = "{{:U('Admin/Area/getNextArea')}}";
    var _html = '<option value="">--请选择--</option>';

    // 地址 筛选
    $('.send_area').change(function () {
        var _html = '<option value="">--请选择--</option>';
        $(this).nextAll('select').html(_html);

        var parentid = $(this).val();

        //地址切换
        var selObj = $(this).next('select');
        if(selObj.length>0){
            getInfo(areaUrl,{parentid:parentid}, function (res) {
                if(res.status == 200){
                    $.each(res.data,function (i,val) {
                        _html += '<option value="'+val.id+'">'+val.areaname+'</option>';
                    })
                    selObj.html(_html);
                    pullAgentList();// 检索新的服务站
                }else{
                    parent.layer.msg(res.msg);
                }
            });
        }

    });
    function pullAgentList(){
        $("#st_set_agent_sel").html(_html);

        var data = {};
        data.province_id = $('.send_area').eq(0).val();
        data.city_id     = $('.send_area').eq(1).val();
        data.district_id = $('.send_area').eq(2).val();

        getInfo("{{:U('service/getService')}}", data, function (res) {
         if(res.status == 200){
             $.each(res.data,function (i,val) {
                 _html += '<option value="'+val.id+'">'+val.company+'</option>';
             })
             $("#st_set_agent_sel").html(_html);
         }else{
             parent.layer.msg(res.msg);
         }
        });
    }
    // 手动派遣
    $('._send').click(function(){

         var obj = $(this).parents('tr');
         var id = obj.data('id');
         number  = obj.data('number');
         var area   = obj.data('area');
         var sid    = obj.data('sid');

         if(sid){
             // 加载 服务站人员
             var getUser = "{{:U('Service/getServiceUser')}}";
             getInfo(getUser,{sid:sid},function (res) {
                 $.each(res.data,function (i,val) {
                     _html += '<option value="'+val.id+'">'+val.name+'</option>';
                 })
                 $("#service_user").html(_html);
             });

             $('#st-send .service_name').html(obj.find('.service_name').html());
             $('.send_service').hide();
             $('.send_service_user').show();

         }else{
             $('.send_service_user').hide();
             $('.send_service').show();
             $("#st-send .area").html(area);
             parent.layer.msg('请手动指定服务站');
         }

         $("#st-send input[name='id']").val(id);
         $("#st-send input[name='sid']").val(sid);
         $('#st-send .number').html(number);


         // {{:U('Admin/work/edit_work','p='.I('get.p'))}}
         $('.edit_errmsg').text('');
         $('#st-send').modal('show');
    });
    // 派遣
    function send_submit(){
        var sendUrl = "{{:U('setService')}}";

        var wid = $("#st-send input[name='id']").val(); //工单
        var osid = $("#st-send input[name='sid']").val();// 原服务站
        var data = {wid:wid};

        if(osid){
            var suid = $("#service_user").val();// 原服务站
            if(!suid){ parent.layer.msg('请选择服务人员!'); return;}
            data.suid = suid;
        }else{
            var sid = $('#st_set_agent_sel').val();// 选择的服务站
            if(!sid){ parent.layer.msg('请选择服务站!'); return;}
            data.sid=sid;
        }
        getInfo(sendUrl,data);
    }

    $('._edit').click(function(){
        var obj = $(this).parents('tr');
        var id = obj.data('id');
        number  = obj.data('number');

        var action = $(this).data('action');
        $('.edit_box').hide();

        if(action == 'over'){//完成
            var pagetitle = "工单完成";
            $('.edit_box_over').show();
        }else if(action == 'close'){//关闭
            var pagetitle = "关闭工单";

            $('.edit_box_over').hide();
        }

        $('#edit-modal-title').text(pagetitle);

        $("#st-edit-form input[name='id']").val(id);
        $('#number').html(number);
        $("#st-edit-form input[name='action']").val(action);

        $('.edit_errmsg').text('');
        $('#st-edit').modal('show');
    });

    $('#edit_submit').click(function(){        
        var editdata = {
                'id' : $("#st-edit-form input[name='id']").val(),
                'action' : $("#st-edit-form input[name='action']").val()
            }

        var editUrl="{{:U('Work/edit')}}";
        getInfo(editUrl, editdata);
        //"{{:U('Admin/work/index')}}?p="+p;


        // $.ajax({
        //    type: "POST",
        //    url: "{{:U('Admin/work/edit')}}",
        //    data: editdata,
        //    success: function(msg){
        //         if (msg.code == 200) {
        //             $('#st-edit').modal('hide');
        //             parent.layer.msg(msg.msg);
        //             window.location.href="{{:U('Admin/work/index')}}?p="+p;
        //         }
        //         if (msg.code == 400) {
        //             text = '';
        //             $.each(msg.msg, function(i, n){
        //               text = text + '*' + n + '</br>';
        //             });
        //             $('.edit_errmsg').html(text);
        //         }
        //         console.log(msg);
        //    }
        // });
    });
    // 维护类型单选框处理
    $('.i-checks > label').hover(
        function () {
            $(this).children('div').addClass("hover");
        },
        function () {
            $(this).children('div').removeClass("hover");
        }
    );
    $('.i-checks > label').click( function () {
        $(this).children('div').addClass("checked").parent().siblings().children('div').removeClass("checked");
        $(this).children('div > input').attr("checked").parent().siblings().children('div > input').removeAttr("checked");
    })

    
    function details(id) {  
        $('#st-details').modal('show');    
        $.ajax({
           type: "GET",
           url: "{{:U('Admin/Work/getWork')}}",
           data: "id=" + id,
           success: function(msg){
                if (msg.code == 10) {
                    msg.data.name?name=msg.data.name:name="";
                    msg.data.phone?phone=msg.data.phone:phone="";
                    msg.data.time?time=msg.data.time:time="";
                    msg.data.diqu = msg.data.province + ' ' + msg.data.city + ' ' + msg.data.district;
                    console.log(id)

                    $('#details_number').text(msg.data.number);
                    $('#details_title').text(msg.data.title);                   
                    $('#details_name').text(msg.data.Vendors.name);
                    $('#details_phone').text(msg.data.Vendors.phone);
                    $('#details_dw_name').text(name);
                    $('#details_dw_phone').text(phone);
                    $('#details_type').text(msg.data.type);
                    $('#details_content').text(msg.data.content);
                    $('#details_diqu').text(msg.data.diqu);
                    $('#details_address').text(msg.data.address);
                    $('#details_result').text(msg.data.result);
                    $('#details_create_at').text(msg.data.create_at);
                    $('#details_time').text(time);                    
                }
           }
        });
    }

    // 分页处理
    $(".page").html();
    pageHtml = $(".page").html();
    $('.page').remove();
    $('ul.pagination').html(pageHtml);


    </script>
</block>

