<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>会员中心首页</title>
	<link rel="stylesheet" href="__PUBLIC__/Pc/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/Pc/css/layui.css">
	<link rel="stylesheet" href="__PUBLIC__/Pc/css/resetstyle.css">
	<link rel="stylesheet" href="__PUBLIC__/Pc/css/menberCenter.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_635737_v4ogm3zbpi3blnmi.css">
	<script src="__PUBLIC__/Pc/js/jquery-1.10.1.js"></script>
	<script src="__PUBLIC__/Pc/js/bootstrap.min.js"></script>
</head>
<style>
.yuanse{

	color: #888;
}
.bianse{
	color: #e73f5c;
}
</style>
<body>
	 <script src="__PUBLIC__/Pc/js/layui.js"></script>
	<div class="listContent">
		<!-- 头部开始 -->
		<div class="shopTop">
			<!-- 导航栏一begin -->
			<div class="nav clearfix">
				<div class="navLeft">
					<ul>
						<li>
							<a>摄影无踪<i class="iconfont icon-icon_vip_fill"></i></a>
							<div class="hidebox ">
								<div class="menber">
									<ul>
										<li><a href="#"><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></a></a></li>
										<li>
											<p><a href="#">账号管理</a><a href="#">退出</a></p>
											<p><span>金币<em>123</em></span><span>银币<em>123</em></span></p>
											<p>普通会员</p>
										</li>
										<li><a href="#">我的会员权益</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="#">消息<i class="iconfont icon-35_xiangxiajiantou"></i></a>
							<div class="hidebox">
								<div class="news">
									<ul>
										<li>
											<a href="#">
												<span class="weidu">未读</span><span>信息标题内容显示区信息标题内容信息标题内容信息标题内容</span><span>2018-05-06</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="yidu">已读</span><span>信息标题内容显示区信息标题内容信息标题内容信息标题内容</span><span>2018-05-06</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="weidu">未读</span><span>信息标题内容显示区信息标题内容信息标题内容信息标题内容</span><span>2018-05-06</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="yidu">已读</span><span>信息标题内容显示区信息标题内容信息标题内容信息标题内容</span><span>2018-05-06</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="yidu">已读</span><span>信息标题内容显示区信息标题内容信息标题内容信息标题内容</span><span>2018-05-06</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="#">手机家惠联</li>
					</ul>
				</div>
				<div class="navRight">
					<ul class="clearfix">
						<li>
							<a href="#">首页</a>
						</li>
						<li>
							<a href="#">我的No.1qh<i class="iconfont icon-35_xiangxiajiantou"></i></a>
							<div class="hidebox">
								<div class="mine">
									<p><a href="#">已买到的宝贝</a></p>
									<p><a href="#">我的足迹</a></p>
								</div>
							</div>

						</li>
						<li>
							<a href="#"><i class="iconfont icon-htmal5icon29"></i>购物车<span>128</span><i class="iconfont icon-35_xiangxiajiantou"></i></a>
							<div class="hidebox">
								<div class="gouwuche">
									<ul>
										<h4>最近加入的宝贝：</h4>
										<li>
											<a href=""><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></a>
											<p class="scrip"><span><a href="#">2018诶过日通过热腾腾天天体育体验价格</a></span><span>￥<strong>14339.99</strong></span></p>
											<p><span>型号：IEFIFIU-EIEIU-ERNGM-ERNGMv</span><em><a href="#">删除</a></em></p>
										</li>
										<li>
											<a href=""><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></a>
											<p class="scrip"><span><a href="#">2018诶过日通过热腾腾天天体育体验价格</a></span><span>￥<strong>39.99</strong></span></p>
											<p><span>型号：IEFIFIU-EIEIU-ERNGM-ERNGMv</span><em><a href="#">删除</a></em></p>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="#"><i class="iconfont icon-wuxing"></i>收藏夹<i class="iconfont icon-35_xiangxiajiantou"></i></a>
							<div class="hidebox">
								<div class="colle">
									<p><a href="#">收藏的宝贝</a></p>
									<p><a href="#">收藏的店铺</a></p>
								</div>
							</div>
						</li>
						<li><a href="#">商品分类</a></li>
						<li>
							<a href="#">卖家中心<i class="iconfont icon-35_xiangxiajiantou"></i></a>
							<div class="hidebox">
								<div class="sale colle">
									<p><a href="#">收藏的宝贝</a></p>
									<p><a href="#">收藏的店铺</a></p>
								</div>
							</div>
						</li>
						<li>
							<a href="#">联系客服<i class="iconfont icon-35_xiangxiajiantou"></i></a>
							<div class="hidebox">
								<div class="sale colle">
									<p><a href="#">收藏的宝贝</a></p>
									<p><a href="#">收藏的店铺</a></p>
									<p><a href="#">收藏的店铺</a></p>
									<p><a href="#">收藏的店铺</a></p>
									<p><a href="#">收藏的店铺</a></p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 导航一栏end -->
			<!-- logo搜索begin -->
			<div class="topMain">
				<ul class="clearfix">
					<li class="spec"><a href="#"><i>我的家惠联</i></a></li>
					<li class="normal">
						<a href="#">首页</a>
						<div class="angle"></div>
					</li>
					<li class="normal">
						<a href="#">账户设置</a>
						<!-- 账户设置hidebox -->
						<div class="reset_zhang">
							<div class="angle"></div>
							<ul class="clearfix">
								<li>
									<h4>安全设置</h4>
									<a href="#">修改登录密码</a>
									<a href="#">手机绑定</a>
									<a href="#">密保问题设置</a>
									<a href="#">其他</a>
								</li>
								<li>
									<h4>个人资料</h4>
									<a href="#">收货地址</a>
									<a href="#">修改头像、昵称</a>
									<a href="#">消息提醒设置</a>
								</li>
								<li>
									<h4>账号绑定</h4>
									<a href="#">支付宝绑定</a>
									<a href="#">微博绑定</a>
									<a href="#">分享绑定</a>
								</li>

							</ul>
							
						</div>
					</li>
					<li class="normal"><a href="#">消息</a></li>
					<li class="search">
						<span class="seShop">商品》</span><span><input type="text" placeholder="净水器"></span><span class="souTxt"><a href="#">搜索</a></span>
					</li>
				</ul>
			</div>
			<!-- logo搜索end -->
		</div><!-- 头部结束 -->
			<!-- 中部开始 -->
		<div class="centerBg">
			<div class="centerMain _width clearfix">
				<div class="sidebar">

					<ul class="layui-nav layui-nav-tree" lay-filter="test">
					<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
					
					  <li class="layui-nav-item"><a href="">我的购物车</a></li>

					  <li class="layui-nav-item layui-nav-itemed">
					    <a href="javascript:;">已买到的宝贝</a>
					    <dl class="layui-nav-child">
					      <dd><a href="javascript:;">我的拍卖</a></dd>
					      <dd><a href="javascript:;">我的</a></dd>
					      <dd><a href="">跳转</a></dd>
					    </dl>
					  </li>
					  <li class="layui-nav-item">
					    <a href="javascript:;">我的发票</a>
					    <dl class="layui-nav-child">
					      <dd><a href="">开票信息</a></dd>
					      <dd><a href="">发票信息</a></dd>
					    </dl>
					  </li>
					  <li class="layui-nav-item"><a href="">我的收藏</a></li>
					  <li class="layui-nav-item"><a href="">大数据</a></li>
					</ul>

				</div>
				<div class="right_content ">
					<div class="shouTop">
						<ul class="userlink clearfix">
							<li>
								<span><a href="#"><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></a></span>
								<span><a href="#"><i>无悔人生</i><em>(无悔人生)</em></a></span>
							</li>
							<li><a href="#">我的支付宝</a></li>
							<li><a href="#">我的优惠信息</a></li>
							<li><a href="#">我的收货地址</a></li>
						</ul>
						<ul class="dailist clearfix">
							<li><a href="#">待评价<span>1</span></a></li>
							<li><a href="#">待评价<span>1</span></a></li>
							<li><a href="#">待评价<span>1</span></a></li>
							<li><a href="#">待评价<span>1</span></a></li>
							<li><a href="#">待评价<span>1</span></a></li>
						</ul>
					</div>
					<div class="mine_wuliu">
						<h2><i class="iconfont icon-kuaidichaxun"></i>我的物流</h2>
						<ul >
							<li>
								<span><a href="#"><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></a></span>
								<span>
									<p>离开【芜湖中心】，下一站【广州中心】</p>
									<p>2018-05-16 03:39:36 
										<a href="#">查看物流明细</a>
										<div class="deltail_content">
											<div class="det_angle"></div>
											<h6><span>中通邮政</span><span>运单号：12386541236</span></h6>
											<div class="conList">
												<p><i class="iconfont icon-dian"></i>[中山市]快件已在中山东凤签收 签收人：本人感谢您使用中通快递,期待再次为您服务!</p>
												<span>2018-05-13 15:02:17</span>
												<p><i class="iconfont icon-dian"></i>乌石站,签收人是同事代签</p>
												<span>2018-05-13 15:02:17</span>
												<p><a href="#">··· 查看全部</a></p>
												<p><i class="iconfont icon-dian"></i>卖家发货</p>
												<span>2018-05-12 18:41:11</span>
											</div>
										</div>
									</p>
								</span>
								<span><a href="#">确认收货</a></span>
							</li>
							<li>
								<span><a href="#"><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></a></span>
								<span>
									<p>离开【芜湖中心】，下一站【广州中心】</p>
									<p>2018-05-16 03:39:36 
										<a href="#">查看物流明细</a>
										<div class="deltail_content">
											<div class="det_angle"></div>
											<h6><span>中通邮政</span><span>运单号：12386541236</span></h6>
											<div class="conList">
												<p><i class="iconfont icon-dian"></i>[中山市]快件已在中山东凤签收 签收人：本人感谢您使用中通快递,期待再次为您服务!</p>
												<span>2018-05-13 15:02:17</span>
												<p><i class="iconfont icon-dian"></i>乌石站,签收人是同事代签</p>
												<span>2018-05-13 15:02:17</span>
												<p><a href="#">··· 查看全部</a></p>
												<p><i class="iconfont icon-dian"></i>卖家发货</p>
												<span>2018-05-12 18:41:11</span>
											</div>
										</div>
									</p>
								</span>
								<span><a href="#">确认收货</a></span>
							</li>
							 <li>
								<span><a href="#"><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></a></span>
								<span>
									<p>离开【芜湖中心】，下一站【广州中心】</p>
									<p>2018-05-16 03:39:36 
										<a href="#">查看物流明细</a>
										<div class="deltail_content">
											<div class="det_angle"></div>
											<h6><span>中通邮政</span><span>运单号：12386541236</span></h6>
											<div class="conList">
												<p><i class="iconfont icon-dian"></i>[中山市]快件已在中山东凤签收 签收人：本人感谢您使用中通快递,期待再次为您服务!</p>
												<span>2018-05-13 15:02:17</span>
												<p><i class="iconfont icon-dian"></i>乌石站,签收人是同事代签</p>
												<span>2018-05-13 15:02:17</span>
												<p><a href="#">··· 查看全部</a></p>
												<p><i class="iconfont icon-dian"></i>卖家发货</p>
												<span>2018-05-12 18:41:11</span>
											</div>
										</div>
									</p>
								</span>
								<span><a href="#">确认收货</a></span>
							</li>
							<li>
								<span><a href="#"><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></a></span>
								<span>
									<p>离开【芜湖中心】，下一站【广州中心】</p>
									<p>2018-05-16 03:39:36 
										<a href="#">查看物流明细</a>
										<div class="deltail_content">
											<div class="det_angle"></div>
											<h6><span>中通邮政</span><span>运单号：12386541236</span></h6>
											<div class="conList">
												<p><i class="iconfont icon-dian"></i>[中山市]快件已在中山东凤签收 签收人：本人感谢您使用中通快递,期待再次为您服务!</p>
												<span>2018-05-13 15:02:17</span>
												<p><i class="iconfont icon-dian"></i>乌石站,签收人是同事代签</p>
												<span>2018-05-13 15:02:17</span>
												<p><a href="#">··· 查看全部</a></p>
												<p><i class="iconfont icon-dian"></i>卖家发货</p>
												<span>2018-05-12 18:41:11</span>
											</div>
										</div>
									</p>
								</span>
								<span><a href="#">确认收货</a></span>
							</li>
							<li>
								<span><a href="#"><img src="__PUBLIC__/Pc/img/floor_02.jpg" alt=""></a></span>
								<span>
									<p>离开【芜湖中心】，下一站【广州中心】</p>
									<p>2018-05-16 03:39:36 
										<a href="#">查看物流明细</a>
										<div class="deltail_content">
											<div class="det_angle"></div>
											<h6><span>中通邮政</span><span>运单号：12386541236</span></h6>
											<div class="conList">
												<p><i class="iconfont icon-dian"></i>[中山市]快件已在中山东凤签收 签收人：本人感谢您使用中通快递,期待再次为您服务!</p>
												<span>2018-05-13 15:02:17</span>
												<p><i class="iconfont icon-dian"></i>乌石站,签收人是同事代签</p>
												<span>2018-05-13 15:02:17</span>
												<p><a href="#">··· 查看全部</a></p>
												<p><i class="iconfont icon-dian"></i>卖家发货</p>
												<span>2018-05-12 18:41:11</span>
											</div>
										</div>
									</p>
								</span>
								<span><a href="#">确认收货</a></span>
							</li> 
						</ul>
						<div class="shouzhan">
							<span><em>展开更多信息</em><i class="iconfont icon-35_xiangxiajiantou"></i></span>
						</div>
					</div>
				</div>
				
			</div><!-- 中部end -->
		</div>

		<!-- 页脚begin -->
		<footer>
			<!--footTop begin -->
			<div class="footTop">
				<ul class="clearfix">
					<li>
						<a href="#">
							<img src="__PUBLIC__/Pc/img/biao_09.jpg" alt="">
						   <strong>
							   	<em>品质</em>
								<span>正品行货 购物无忧</span>
						   </strong>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__PUBLIC__/Pc/img/biao_10.jpg" alt="">
							 <strong>
							   	<em>低价</em>
								<span>正品行货 购物无忧</span>
						   </strong>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__PUBLIC__/Pc/img/biao_12.jpg" alt="">
							 <strong>
							   	<em>速达</em>
								<span>正品行货 购物无忧</span>
						   </strong>
						</a>
					</li>
				</ul>
			</div><!--footTop end -->
			<!--footMain begin -->
			<div class="footMain">
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
				<ul>
					<h4>物流配送</h4>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送服务</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
					<li><a href="#">配送查询</a></li>
				</ul>
			</div><!-- footMain end -->
			<!--footBott begin -->
			<div class="footBott bg5">
				<div class="server clearfix">
					<ul  class="mendian">
						<li class="serTitl">
							<a href="#">
								门店服务
							</a>
						</li>
						<li>
							<a href="#">
								参与用户体验改进计划 用户反馈
							</a>
						</li>
					</ul>
					<ul  class="experience">
						<li class="serTitl">
							<a href="#">
								用户体验
							</a>
						</li>
						<li>
							<a href="#">
								参与用户体验改进计划 用户反馈
							</a>
						</li>
					</ul>
				</div>
				<div class="footerList">
					<ul>
							
						<li class="footbg1">经营性网站备案信息</li>
						<li class="footbg2">经营性网站备案信息</li>
						<li class="footbg3"><p>经营性网</p></li>
						<li class="footbg4">经营性网站备案信息</li>
						<li class="footbg5"><p>经营性网</p></li>
						<li class="footbg6">经营性网站备案信息站备案信息站备案信</li>
					</ul>
				</div>
			</div><!-- footBott end -->
		</footer><!-- 页脚end -->
	</div>
	<script>
	// 我的物流展开
		$(document).ready(function(){
			$(".mine_wuliu>ul>li:nth-of-type(1)").show();
			$(".mine_wuliu>ul>li:nth-of-type(2)").show();
			$(".mine_wuliu>ul>li:nth-of-type(3)").show();
			var oLilength = $(".mine_wuliu>ul>li").length;
			// console.log(oLilength);
			if(oLilength>3){

				$(".shouzhan").css("display","block");
				$(".shouzhan").on("click","span",function(){
					var shou = $(this).find("i").attr("class");
					console.log(shou);
					if (shou=="iconfont icon-35_xiangxiajiantou") {
						$(this).find("em").text("收起");
						$(this).find("i").removeClass("icon-35_xiangxiajiantou").addClass("icon-xiangshangjiantou");
						$(".mine_wuliu>ul>li").slideDown();

					}else{
						$(this).find("em").text("展开更多信息");
						$(this).find("i").removeClass("icon-xiangshangjiantou").addClass("icon-35_xiangxiajiantou");
						$(".mine_wuliu>ul>li").slideUp();
						$(".mine_wuliu>ul>li:nth-of-type(1)").show();
						$(".mine_wuliu>ul>li:nth-of-type(2)").show();
						$(".mine_wuliu>ul>li:nth-of-type(3)").show();

					}
					
				})
				
			}

	
		});

		
		
	</script>

	<script>
		
		window.onload=function(){

			// 二级导航侧栏
			// //头部 左侧导航栏 
			mouseoverChange(".navLeft>ul>li>a");
			//头部 右侧导航栏 
			mouseoverChange(".navRight>ul>li>a");
			//圈子
			trangeColor(".nlLeft>ul>li");
			//分类
			trangeColor(".lm_nav>ul.classifyOne>li");
			//排序
			trangeBg(".lm_nav>ul.classifyTwo>li");
			// 移入时图片底部盒子滑出，且有阴影
			slipbox_shadow(".showgoods>ul>li","div","shadow");



			


			// 鼠标移入移出时的a链接字体颜色变化 隐藏的兄弟节点显示
			function mouseoverChange(obj){
				//头部 左侧导航栏  
				$(obj).mouseover(function(){
					$(obj).css("color","#888");
					$(this).css("color","#f40");
					$(this).parent().css("background","#fff");
					var hidebox = $(this).parent().find("div.hidebox");
					$(hidebox).show();
					$(hidebox).mouseover(function(){
						$(this).show();
					$(this).parent().css("background","#fff");

					})
					$(hidebox).mouseout(function(){
						$(this).hide();
						$(this).parent().css("background","#eee");

					})
				})
				$(obj).mouseout(function(){
					$(this).css("color","#373737");
					$(this).parent().css("background","#eee");

					$(this).parent().find("div.hidebox").hide();
					$(this).parent().css("background","#eee");


				})
			}

			// 点击时a链接字体颜色变化 
			function trangeColor(parent){
				$(parent).click(function(){
					$(parent).children().css("color","#888");
					$(this).children().css("color","#f40");
				})
			}
			// 点击时a链接字体颜色变化,同时背景也变化 
			function trangeBg(parent){
				$(parent).click(function(){
					$(parent).children().css("color","#888");
					$(parent).children().css("background","#fff");
					$(this).children().css("color","#fff");
					$(this).children().css("background","#f40");
					
				})
			}

			// 鼠标移入时盒子滑出且有阴影
			function slipbox_shadow(parent,slideBox,shadowClass){
				var oSlideparent = $(parent);
				$(oSlideparent).each(function(index,value){
				 	$(this).mouseenter(function(){
				 		$(oSlideparent).children(slideBox).stop(true).css("display","none");
				 		$(this).stop(true).animate({top:"-2px"});
				 		$(this).addClass(shadowClass).css("zIndex","99999");
				 		$(this).children(slideBox).slideDown("fast");
				 	});
				 	$(this). mouseleave(function(){
				 		$(this).children(slideBox).css("display","none");
				 		$(this).removeClass(shadowClass).css("zIndex","1");;
				 		$(this).stop(true).animate({top:"0px"});
				 	})
				 })
			}


			

	}



	</script>
	<script>
		// 查看物流 显示隐藏盒子

		showPic(".mine_wuliu>ul>li>span:nth-of-type(2)>p:nth-of-type(2)",".deltail_content");
		showPic(".topMain>ul>li:nth-of-type(3)",".reset_zhang");


		//查看详细的物流信息
		function showPic(obj,showObj){
			$(obj).mouseover(function(){
			var showBigbox = $(this).parent().find(showObj);
			$(showBigbox).show();
			$(showBigbox).mouseover(function(){
			 	$(this).show();
			 });
			 $(showBigbox).mouseout(function(){
				$(this).hide();
			});
		});

		 $(obj).mouseout(function(){
			var showBigbox = $(this).parent().find(showObj);
		 	$(showBigbox).hide();
		 });
		}

	</script>
	<script>

		//注意：导航 依赖 element 模块，否则无法进行功能性操作
		layui.use('element', function(){
		  var element = layui.element;
		  
		  //…
		});

	</script>
</body>
</html>