
<extend name="Public/base" />
<block name="mylink">
    <script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
    <script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
</block>
<block name="content">
    <style type="text/css">
        .fr{float:right;}
        .fl{float: left;}
        @media screen and (min-width: 1399px) {
            ._float_left {
                width:48%;
                float:left;
            }
            ._float_right{
                width: 48%;
                float: right;
            }
        }
        .tableBoxs{
            background: #fff;
        }
        /*devices_detail css*/
        ._four{
            width:20%;
            height: auto;
            padding: 20px 6px;
            border-radius: 10px;
            float: left;
        }
        ._DD4B39{
            background-color:#DD4B39;
        }
        ._337AB7{
            background-color:#337AB7;
        }
        ._05CE3E{
            background-color:#05CE3E;
        }
        ._77E1FB{
            background-color:#77E1FB;
        }
        ._margin-right{ margin-right:6%;}
        ._text{color:#ffffff;}
        ._h1{
            width: 100%;
            line-height: 40px;
        }
        ._dive{ overflow: hidden; }
        ._device{
            background-color: #ffffff;
            margin-top: 15px;
            padding: 15px 10px;
            border-top: 2px #e7eaec solid;
            /*border-bottom:  2px #e7eaec solid*/
        }
        ._user{
            border-top: 4px #5ED0F4 solid;
            border-bottom:  1px #CCCCCC solid;
            margin-bottom: 0
        }
        ._tb{
            background-color: #ffffff;
            margin-top: 15px;
            padding: 5px 10px;
            border-top: 2px #5ED0F4 solid;
            border-bottom:  2px #5ED0F4 solid
        }
        ._progress{
            height: 10px;
            background-color: #F5F5F5;
            border-radius: 5px
        }
        ._progress_{
            height: 10px;
            background-color: #005384;
            border-radius: 5px
        }
        /*content part css*/
        .content{
            overflow: hidden;
            width: 100%;
            position: relative;
        }
        /*form part css*/
        .content #main{width: 100%; }
        .content .tableBox{
            width: 95%;
            margin:0 auto;
        }
        .btn{
            border: 0px;
            border-radius: 5px;
        }
        .clearfix{overflow: hidden;}
        .content #main {
            width: 95%;
            margin-left: 2.5%;
        }
        h2, h1 {
            font-size: 30px;
        }
    </style>
    <div class="content">
        <div class="row-fluid fl" id="main">
            <div class="ibox-title">
                <h5 class='col-md-12 col-sm-12 col-xs-12 clearfix'>
                    服务站管理
                    <small> 服务站详情&emsp;</small>
                    <a class='back pull-right' onclick='history.go(-1)' style='color: #337ab7;font-weight: 600;'>
                        <i class="fa fa-chevron-left"></i> 返回上一级
                    </a>
                </h5>
            </div>
            <div class="tableBoxs">
                <div class="clearfix">
                    <div class="_float_left">
                        <div class="_device">
                            <div>
                                <h2>标题</h2>
                            </div>
                            <table class="table _table btnBox">
                            </table>
                        </div>
                    </div>
                    <div class="_float_right">
                        <div class="_device">
                            <div>
                                <h2>标题</h2>
                            </div>
                            <table class="table _table2">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_tb">
                <h2>站点人员列表</h2>
                <table class="table vendorList">
                    <thead>
                        <tr>
                            <td>工号</td>
                            <td>姓名</td>
                            <td>手机号码</td>
                            <td>账号</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</block>