<extend name="Public/base" />

<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>服务站管理 <small>服务站列表</small></h5>
                        <div class="ibox-tools">
                            <a href="company_add" class="close-link">
                                <i class="fa fa-user-plus"></i>
                                添加服务站
                            </a>
                        </div>
                    </div>
                <form method="get" action="">
                    <div class="input-group col-md-4" id='searchdiv'>
                        <select name="key" class="form-control where_key" name="account">
                            <option class="where_key_name" value="name">服务站名称</option>
                            <option class="where_key_leavel" value="leavel">级别</option>
                            <option class="where_key_user" value="user">分配用户名</option>
                        </select>
                        <input type="text" name="keywords" placeholder="输入搜索关键字"  value="{{$where['keywords']}}"
                               class="input form-control where_key_box where_key_box_name where_key_box_user"
                               style="width:40%">
                        <select name="leavel" class="form-control where_key_box  where_key_box_leavel"
                                style="width:30%;display: none;">
                            <option class="where_leavel_"  value="">-- 级别 --</option>
                            <option class="where_leavel_0" value="0">超级管理员</option>
                            <option class="where_leavel_1" value="1">分公司 </option>
                            <option class="where_leavel_2" value="2">A级分销商</option>
                            <option class="where_leavel_3" value="3">B级分销商</option>
                            <option class="where_leavel_4" value="4">C级分销商</option>
                        </select>
                        <select name="status" class="form-control where_status" name="account" style="width:30%;">
                            <option  class="where_status_"  value="">-- 状态 --</option>
                            <option  class="where_status_0" value="0">身份信息填写</option>
                            <option  class="where_status_1" value="1">公司信息填写</option>
                            <option  class="where_status_2" value="2">签协议</option>
                            <option  class="where_status_3" value="3">待审批</option>
                            <option  class="where_status_4" value="4">身份证审批失败</option>
                            <option  class="where_status_5" value="5">公司信息审批失败</option>
                            <option  class="where_status_6" value="6">协议审批失败</option>
                            <option  class="where_status_7" value="7">审批成功</option>
                            <option  class="where_status_8" value="8">禁用分销商</option>
                            <!-- 0:身份填写 1:公司信息填写 2:签协议 3:待审批 4:身份证审批失败 5:公司信息审批失败 6:协议审批失败  7：审批成功  8：禁用分销商 -->
                        </select>

                        <span class="input-group-btn" style="display: inline-block;">
                            <input type="submit" class="btn btn btn-primary submitbtn" name="sou" value="搜索">
                        </span>
                    </div>

                </form>
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>地区(省)</th>
                                    <th>地区(市)</th>
                                    <th>地区(区)</th>
                                    <th>服务站名称</th>
                                    <th>所属分公司</th>
                                    <th>A级分销商邀请</th>
                                    <th>B级分销商邀请</th>
                                    <th>C级分销商邀请</th>
                                    <th>邀请会员注册</th>
                                    <th>分配用户名</th>
                                    <th>状态</th>
                                    <th>加入时间</th>
                                    <th>更新时间</th>
                                    <th>操作</th>

                                </tr>
                            </thead>
                            <tbody>
                                <empty name="data">
                                    <tr><td><h3>暂无消息</h3></td></tr>
                                <else />
                                    <volist name="data" id="val">
                                        <tr>
                                            <td>{{$i}}</td>
                                            <td>{{$val.name}}</td>
                                            <td>{{$val.leavel}}</td>
                                            <td>{{$val['offce_name']['company']}}</td>
                                            <if condition="$val.status == 审批成功">
                                            <td><img width="150" height="150" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={{$val.vendor_a}}" alt="A级邀请"></td>
                                            <td><img width="150" height="150" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={{$val.vendor_b}}" alt="B级邀请"></td>
                                            <td><img width="150" height="150" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={{$val.vendor_c}}" alt="C级邀请"></td>
                                            <td><img width="150" height="150" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={{$val.vendor_user}}" alt="C级邀请"></td>
                                            <else />
                                                <td>未审核成功(暂无)</td>
                                                <td>未审核成功(暂无)</td>
                                                <td>未审核成功(暂无)</td>
                                                <td>未审核成功(暂无)</td>
                                            </if>
                                                <td>{{$val.user}}</td>
                      <!--                       <switch name="val.status">
                                                <case value="0"><td>待审核</td></case>
                                                <case value="1"><td>使用中</td></case>
                                                <case value="2"><td>已停用</td></case>
                                                <default /> /
                                            </switch> -->
                                            <td>{{$val.status}}</td>
                                            <td>{{$val.addtime|date="Y-m-d H:i:s",###}}</td>
                                            <td>{{$val.updatetime|date="Y-m-d H:i:s",###}}</td>
                                           <!--  <td>
                                                <a href="#">查看</a>
                                            </td> -->
                                            <td>
                                                <a href="updateMima/id/{{$val.id}}  ">修改密码</a>
                                            </td>
                                        </tr>
                                    </volist>
                                </empty>
                            </tbody>
                        </table>
                        <div>
                            {{$page}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
    <script>
        var where ={{$where||json_encode}};
        if(where.key!=''){
            $('.where_key_'+where.key).attr('selected','true');
            $('.where_key_box').hide();
            $('.where_key_box_'+where.key).show();
        }
        if(where.leavel!=''){
            $('.where_leavel_'+where.leavel).attr('selected','true');
        }
        if(where.status!=''){
            $('.where_status_'+where.status).attr('selected','true');
        }

        $(".where_key").change(function(){

            var key = $(this).val();
            $('.where_key_box').hide();
            $('.where_key_box_'+key).show();
        });

    </script>
</block>
