<extend name="Public/base" />

<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>服务站管理 <small>预设服务站</small></h5>
                        <div class="ibox-tools">
                            <a href="company_add" class="close-link">
                                <i class="fa fa-user-plus"></i>
                                添加服务站
                            </a>
                        </div>
                    </div>
                <!--<form method="get" action="" class="form-inline" id='searchdiv'>-->
                    <!--<div class="form-group">-->
                        <!--<label for="where_area">地区过滤</label>-->
                        <!--<select name="province_id" class="form-control"  id="where_area">-->
                            <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
                            <!--<volist name="area" id="vl">-->
                                <!--<option value="{{$vl.id}}">{{$vl.areaname}}</option>-->
                            <!--</volist>-->
                        <!--</select>-->
                        <!--<select name="city_id" class="form-control "  style="min-width: 120px;">-->
                        <!--</select>-->
                        <!--<select name="district_id" class="form-control "  style="min-width: 120px;">-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="form-group " >-->
                        <!--<select name="key" class="form-control where_key" >-->
                            <!--<option class="where_key_name" value="name">服务站名称</option>-->
                            <!--<option class="where_key_user" value="user">分配用户名</option>-->
                        <!--</select>-->
                        <!--<input type="text" name="keywords" placeholder="输入搜索关键字"  value="{{$where['keywords']}}"-->
                               <!--class="input form-control where_key_box where_key_box_name where_key_box_user"-->
                               <!--style="width:40%">-->
                        <!--<select name="status" class="form-control where_status" name="account" style="width:30%;">-->
                            <!--<option  class="where_status_"  value="">&#45;&#45; 状态 &#45;&#45;</option>-->
                            <!--<option  class="where_status_0" value="0">未开通</option>-->
                            <!--<option  class="where_status_1" value="1">已开通</option>-->
                            <!--<option  class="where_status_2" value="2">被代管</option>-->
                            <!--<option  class="where_status_3" value="3">第三方代管</option>-->
                            <!--<option  class="where_status_4" value="4">被关闭</option>-->
                        <!--</select>-->
                        <!--&lt;!&ndash;状态{0:未开通 1:已开通 2:被代管(服务站代管) 3:被代管(第三方代管) 4:被关闭 }&ndash;&gt;-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn btn-primary submitbtn" name="sou">搜索</button>-->


                <!--</form>-->
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>服务站名称</th>
                                    <th>账号</th>
                                    <th>地区(省)</th>
                                    <th>地区(市)</th>
                                    <th>地区(区)</th>
                                    <th>详细地址</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <empty name="data">
                                    <tr><td><h3>暂无服务站</h3></td></tr>
                                <else />
                                    <volist name="data" id="val">
                                        <tr data-id="{{$val.id}}">
                                            <td>{{$i}}</td>
                                            <td>{{$val.name}}</td>
                                            <td>{{$val.user}}</td>
                                            <td>{{$val.province}}</td>
                                            <td>{{$val.city}}</td>
                                            <td>{{$val.district}}</td>
                                            <td>{{$val.address}}</td>
                                            <switch name="val.status">
                                                <case value="0"><td>未开通</td></case>
                                                <case value="1"><td>已开通</td></case>
                                                <case value="2"><td>代管中</td></case>
                                                <case value="3"><td>第三方代管</td></case>
                                                <case value="4"><td>被关闭</td></case>
                                                <default />
                                                <td>未开通</td>
                                            </switch>

                                            <td>
                                                <a href="{{:U('detail')}}?id={{$val.id}}" >详情</a>

                                                <switch name="val.status">
                                                    <case value="0">
                                                        开通
                                                        设置代管
                                                    </case>
                                                    <case value="1">
                                                        关闭
                                                        设置代管
                                                    </case>
                                                    <case value="2">关闭</case>
                                                    <case value="3">关闭</case>
                                                    <case value="4">重新开通</case>
                                                    <default />
                                                    开通
                                                    设置代管
                                                </switch>

                                            </td>
                                        </tr>
                                    </volist>
                                </empty>
                            </tbody>
                        </table>
                        <div>
                            {{$page}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
    <script>
        $("select[name='province_id']").change(function(){
            getArea($(this).val(),function (res) {
                if(res.status == 200){
                    var _html = '<option value="">--请选择--</option>';
                    $.each(res.data,function (i,val) {
                        _html += '<option value="'+val.id+'">'+val.areaname+'</option>';
                    })
                    $("select[name='city_id']").html(_html);
                }else{
                    parent.layer.msg(res.msg);
                }
            });
        });
        $("select[name='city_id']").change(function(){
            getArea($(this).val(),function (res) {
                if(res.status == 200){
                    var _html = '<option value="">--请选择--</option>';
                    $.each(res.data,function (i,val) {
                        _html += '<option value="'+val.id+'">'+val.areaname+'</option>';

                    })
                    $("select[name='district_id']").html(_html);
                }else{
                    parent.layer.msg(res.msg);
                }
            });
        });
        function getArea(parentid=0,Callback=false) {
            $.ajax({
                url:"{{:U('Admin/Area/getNextArea')}}",
                data:{parentid:parentid},
                dataType:"json",
                type: 'post',
                success:function(res){
                    if(Callback){
                        Callback(res);
                    }
                },
                error: function(res) {
                    parent.layer.msg(res.msg);
                }
            });
        }


        // var where ={{$where||json_encode}};
        // if(where.key!=''){
        //     $('.where_key_'+where.key).attr('selected','true');
        //     $('.where_key_box').hide();
        //     $('.where_key_box_'+where.key).show();
        // }
        // if(where.leavel!=''){
        //     $('.where_leavel_'+where.leavel).attr('selected','true');
        // }
        // if(where.status!=''){
        //     $('.where_status_'+where.status).attr('selected','true');
        // }
        //
        // $(".where_key").change(function(){
        //
        //     var key = $(this).val();
        //     $('.where_key_box').hide();
        //     $('.where_key_box_'+key).show();
        // });

    </script>
</block>
