<extend name="Public/base" />
<block name="mylink">
    <link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</block>
<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                    <h5>服务站管理 <small>服务站设置</small></h5>
                </div>
                    <div class="ibox-content">
                        <form action="javascript:false;" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <h3>服务站加盟费 <small style="color: red"></small></h3>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">服务站加盟费</label>
                                <div class="col-md-3">
                                    <input type="text" name="joinsost" class="form-control"  value="{{$data.joinsost}}" placeholder="标准价钱格式，例如：2.00">
                                </div>
                            </div>

                            <!--<h3>服务站加盟协议 <small style="color: red"></small></h3>-->
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-2 control-label">成本价</label>-->
                                <!--<div class="col-md-3">-->
                                    <!--<input type="text" name="members_money" class="form-control"  value="{{$data.members_money}}" placeholder="标准价钱格式，例如：2.00">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" id="proportion" type="submit">保存</button>
                                    <button class="btn btn-white" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
    <script src="__PUBLIC__/Admin/layui/layui.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="__PUBLIC__/Admin/js/switchery.min.js"></script>
    <!-- iCheck -->
    <script src="__PUBLIC__/Admin/js/plugins/iCheck/icheck.min.js"></script>
<script>

$(".dia_describe").val(decodeURI('{{$data.dia_describe}}'));
$(".gold_describe").val(decodeURI('{{$data.gold_describe}}'));
$(".per_describe").val(decodeURI('{{$data.per_describe}}'));
    /**
     * [ajaxData 设置佣金分配]
     * @return {[type]}    [json数据]
     */
    $('#proportion').click(function(){

        var data = {};
        data.joinsost  = $("input[name='joinsost']").val();

        $.ajax({
            url:"{{:U('Admin/Service/setService')}}",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            data,
            dataType:"json",
            type: 'post',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success:function(res){
                console.dir(res);
                if(res.status==200){
                    swal("设置成功！", res.message, "success");
                    window.setTimeout(function() {
                        location.href="{{:U('Admin/Service/setService')}}";
                    },1000);
                }else{
                    swal("设置失败！", res.message, "error");
                }

            }
        });

    });
</script>
</block>