html{height: 100%;}
body {
    background: #18c8f6;
    height: auto;
    background:url("../img/htback.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(255,255,255,.95);
}
.logo {
    height:80px;
    width: 300px;
    background: url("../img/htlogo.png") no-repeat;
    background-size: auto 100%;
    position: absolute;
    top: 10px;
    left: 10px;
}
/* ERROR & LOGIN & LOCKSCREEN*/

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}

.lockscreen.middle-box {
    width: 200px;
    padding-top: 110px;
}

.loginscreen.middle-box {
    width: 40%;
    max-width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    position: relative;
    top: 20%;
    padding: 3% 5%;
}
.middle-box > div > h3 {
    font-size: 35px;
    color: #518CF8;
    font-weight: normal;
    white-space: nowrap;
}

.loginDivt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2%;
    border: 1px solid #E0DFE2;
    border-radius: 30px;
    position: relative;
}
.loginDivt>input {
    -webkit-box-flex: 8;
    -ms-flex: 8;
    flex: 8;
    border: none;
    background: none;
    font-size: 16px;
}
.loginDivt>span {
    display: inline-block;
    margin-left: 4%;
    white-space: nowrap;
}
input[name="code"] {
    /* padding: 7%; */
    display: block;
    margin-right: 30px;
    border: 1px solid #E0DFE2;
    border-radius: 30px;
    background: white;
    width: 50%;
    height: 50px;
    /* line-height: 50px; */
}
input[name="code"]:focus {
    border: 1px solid #E0DFE2 !important;
}
input[name="code"]:blur {
    background: white !important;
}
input:-webkit-autofill {
    background: white !important; 
}
.loginDivs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.loginDivs > img {
    width: 55%;
}
.loginbtn {
    margin-top: 12%;
    padding: 4%;
    border: none;
    border-radius: 6px;
    background: #518CF8 !important;
}

/* 提示 */
.tips, .tipm, .tipc {
    font-style: normal;
    display: none;
}
.tips {
    color: red;
    position: absolute;
    right: -85px;
}
.tipm {
    color: red;
    position: absolute;
    right: -145px;
}
.tipc {
    color: red;
    position: absolute;
    right: -92px;
}
.loginscreen.middle-box {
    padding: 3% 3% !important;
}
.form-group {
    margin: 25px 0 0 0;
}
/* 旧 */
.signinpanel {
    width: 750px;
    margin: 10% auto 0 auto;
}

.signinpanel .logopanel {
    float: none;
    width: auto;
    padding: 0;
    background: none;
}

.signinpanel .signin-info ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.signinpanel .form-control {
    display: block;
    margin-top: 15px;
}

.signinpanel .uname {
    background: #fff url(../img/user.png) no-repeat 95% center;color:#333;
}

.signinpanel .pword {
    background: #fff url(../img/locked.png) no-repeat 95% center;color:#333;
}

.signinpanel .btn {
    margin-top: 15px;
}

.signinpanel form {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255,255,255,.3);
    -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
}

.signup-footer{border-top: solid 1px rgba(255,255,255,.3);margin:20px 0;padding-top: 15px;}

/* @media screen and (max-width: 600px) {
    #form1 input[name="code"] {
        width: 80px;
        display: block;
    }
    #form1 .loginDivs > img {
        width: 90px;
    }
    .loginDivt, #form1 .loginbtn{
        width: 180px !important;
    }
} */
@media screen and (max-width: 800px) {
    input[name="code"] {
        /* width: 30%; */
        display: block;
        margin-right: 10px;
    }
    .signinpanel,
    .signuppanel {
        margin: 0 auto;
        width: 420px!important;
        padding: 20px;
    }
    .signinpanel form {
        margin-top: 20px;
    }
    .signup-footer {
        margin-bottom: 10px;
    }
    .signuppanel .form-control {
        margin-bottom: 10px;
    }
    .signup-footer .pull-left,
    .signup-footer .pull-right {
        float: none !important;
        text-align: center;
    }
    .signinpanel .signin-info ul {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .signinpanel,
    .signuppanel {
        margin:0 20px;
        width:auto;
    }
}
.loginscreen.middle-box {
    background: rgba(255,255,255,.1) !important;
    box-shadow: 0px 0px 0px #fff !important;
}
