<extend name="Public/base" />
<block name="mylink">
    <link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/switchery.min.css" rel="stylesheet">
</block>
<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                    <h5>套餐管理 <small>添加银币套餐</small></h5>
                </div>
                    <div class="ibox-content">
                        <form action="javascript:false;" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">套餐价格</label>
                                <div class="col-md-3">
                                    <input type="text" name="money" class="form-control" placeholder="标准价钱格式，例如：2.00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">银币数量</label>
                                <div class="col-md-3">
                                    <input type="text"  name="silver_num" class="form-control" placeholder="标准数量格式，例如：2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">套餐描述</label>
                                <div class="col-md-3">
                                    <input type="text" name="content" class="form-control"  placeholder="套餐简要描述50个字以内">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否上架</label>
                                <div class="col-md-3">
                                    <input type="checkbox" name="status" class="js-switch" checked/>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">添加</button>
                                    <button class="btn btn-white" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>             
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
<script src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__PUBLIC__/Admin/js/switchery.min.js"></script>
<script>
    var elem = document.querySelector('.js-switch');
    var init = new Switchery(elem);
    defaults = {
        color             : '#64bd63'
      , secondaryColor    : '#dfdfdf'
      , jackColor         : '#fff'
      , jackSecondaryColor: null
      , className         : 'switchery'
      , disabled          : false
      , disabledOpacity   : 0.5
      , speed             : '0.1s'
      , size              : 'default'
    }

    /**
     * [获取表单数据]
     * @param  {[type]} )
     * @return {[type]}     [description]
     */
    $('.btn-primary').click(function(){
        // 获取表单数据
        var data = $("form").serialize();
        //  异不请求
        $.ajax({
            url:"{{:U('Admin/Recharge/add_silver')}}",
            data:data,
            dataType:"json",
            type: 'post',
            success:function(res){
                console.dir(res);
                if(res.code == 200){
                    // 添加成功
                    swal(res.msg,res.msg, "success");
                    // window.location.reload();
                }else{
                    // 添加失败
                    swal(res.msg, "请重新提交！", "success");
                }
            }
        });
    });

</script>
</block>