<extend name="Public/base" />
<block name="mylink">
    <link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/switchery.min.css" rel="stylesheet">
</block>
<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>套餐管理 <small>银币兑换套餐列表</small></h5>
                        <div class="ibox-tools">
                            <a href="add_gold_silver" class="close-link">
                                <i class="fa fa-user-plus"></i>
                                添加银币兑换套餐
                            </a>
                        </div>
                    </div>
                <form method="get" action="">
                    <div class="input-group col-md-4" id='searchdiv'>
                        <select name="key" class="form-control" name="account">
                            <option value="status">套餐状态</option>
                        </select>
                        <input type="text" name="keywords" placeholder="输入搜索关键字" class="input form-control"   style="width:60%">
                        <span class="input-group-btn" style="display: inline-block;">
                                <input type="submit" class="btn btn btn-primary" name=""> <i class="fa fa-search"></i> 搜索</button>
                        </span>
                    </div>
                </form>
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>金币数量</th>
                                    <th>银币数量</th>
                                    <th>套餐描述</th>
                                    <th>状态</th>
                                    <th>加入时间</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <empty name="data">
                                    <tr><td><h3>暂无数据</h3></td></tr>
                                <else />
                                    <volist name="data" id="val">
                                        <tr>
                                            <td>{{$i}}</td>
                                            <td>{{$val.gold}}</td>
                                            <td>{{$val.silver_num}}</td>
                                            <td>{{$val.content}}</td>
                                            <td>
                                                <switch name="val.status">
                                                    <case value="0"><button st="{{$val.status}}" id="{{$val.id}}" class="btn status btn-sm">下架</button></case>
                                                    <case value="1"><button st="{{$val.status}}" id="{{$val.id}}" class="btn status btn-sm btn-success">上架</button></case>
                                                    <default />
                                                </switch>
                                            </td>

                                            <td>{{$val.addtime|date="Y-m-d H:i:s",###}}</td>
                                            <td>{{$val.updatetime|date="Y-m-d H:i:s",###}}</td>
                                            <td>
                                                <a class="btn btn-sm btn-success" href="javascript:update({{$val.id}})">修改</a>
                                                <a class="btn btn-danger btn-sm" href="javascript:del({{$val.id}})">删除</a>
                                            </td>
                                        </tr>
                                    </volist>
                                </empty>
                            </tbody>
                        </table>
                        <div>
                            {{$page}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹框信息 -->
    <div class="modal inmodal" id="update_gold_silver" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改套餐
                    </h4>
                </div>
                <div class="modal-body">
                    <!-- 修改分套餐 -->
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data" id="saveForm">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">金币数量</label>
                                <div class="col-md-10">
                                    <input type="text" name="gold" class="form-control" placeholder="标准价钱格式，例如：2.00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">金币数量</label>
                                <div class="col-md-10">
                                    <input type="text" name="silver_num" class="form-control" placeholder="标准数量格式，例如：2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">套餐描述</label>
                                <div class="col-md-10">
                                    <input type="text" name="content" class="form-control"  placeholder="套餐简要描述50个字以内">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否上架</label>
                                <div class="col-md-10" id="statusHtml">
                                    <!-- <input type="checkbox" name="status" class="js-switch" checked/> -->
                                </div>
                            </div>
                            <input type="hidden" name="saveid" value="10" />
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button" id="save">修改</button>
                                    <button class="btn btn-white" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">

<script src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__PUBLIC__/Admin/js/switchery.min.js"></script>
<script>
    // 上架或者下架
    $('.status').click(function(){
        // 获取产品状态
        var st = $(this).attr('st');
        var id = $(this).attr('id');

        // 确定上架或者下架吗
        swal({
            title: st==1?'您确定要下架吗？':'您确定要上架吗？',
            text: st==1?'下架之后套餐将无法在用户银币兑换列表显示，请谨慎操作！':'上架之后套餐将在用户银币兑换列表显示，请谨慎操作！',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: st==1?'是的，套餐确定下架！':'是的，套餐确定上架！',
            cancelButtonText: "让我再考虑一下…",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url:"{{:U('Admin/Recharge/gold_silver_status')}}",
                    data:{"id":id,"status":st},
                    dataType:"json",
                    type: 'post',
                    success:function(res){
                        if(res.code==200){
                            // st==1?$('.status').removeClass('btn-success').html('下架').attr('st',0):$('.status').addClass("btn-success").html('上架').attr('st',1);
                            // 分公司交接成功
                            swal('设置成功',res.msg, "success");
                            location.reload();
                        }else{
                            // 分公司交接失败
                            swal("设置失败",res.msg, "error");
                        }
                    },
                    error:function(res){
                        // 交接失败提示
                        swal("设置失败",res.msg, "error");
                    }
                });
            } else {
                swal("已取消", "您取消了删除操作！", "error");
            }
        });
    });

    // 显示更新数据
    function update(id){
        // 显示模态框
        $('#update_gold_silver').modal('show');
        $.ajax({
            url:"{{:U('Admin/Recharge/get_id_gold_silver')}}",
            data:{"id":id},
            dataType:"json",
            type: 'post',
            success:function(res){
                if(res.code==200){
                    // 更新数据
                    // console.dir(res);
                    // 初始化
                    $('input[name="gold"]').val(res.data.gold);
                    $('input[name="silver_num"]').val(res.data.silver_num);
                    $('input[name="content"]').val(res.data.content);
                    var html = '';
                    // 状态判断
                    if(res.data.status==1){
                        html = '<input type="checkbox" name="status" class="js-switch" checked/>';
                    }else{
                        html = '<input type="checkbox" name="status" class="js-switch"/>';
                    }
                    $('#statusHtml').html(html);
                    // 初始化按钮
                    var elem = document.querySelector('.js-switch');
                    var init = new Switchery(elem);
                    defaults = {
                        color             : '#64bd63'
                      , secondaryColor    : '#dfdfdf'
                      , jackColor         : '#fff'
                      , jackSecondaryColor: null
                      , className         : 'switchery'
                      , disabled          : false
                      , disabledOpacity   : 0.5
                      , speed             : '0.1s'
                      , size              : 'default'
                    }
                    // ID值
                    $('input[name="saveid"]').val(res.data.id);

                }else{
                    // 分公司交接失败
                    swal("获取失败了!",res.msg, "error");
                }
            },
            error:function(res){
                // 交接失败提示
                swal("获取失败了!",res.msg, "error");
            }
        });
    }

    // 执行更新操作
    $('#save').click(function(){
        // 关闭模态框
        $('#update_gold_silver').modal('hide');
        // 获取表单数据
        var data = $("#saveForm").serialize();
        //  异步请求
        $.ajax({
            url:"{{:U('Admin/Recharge/update_gold_silver')}}",
            data:data,
            dataType:"json",
            type: 'post',
            success:function(res){
                // console.dir(res);
                if(res.code == 200){
                    // 添加成功
                    swal(res.msg,res.msg, "success");
                    window.location.reload();
                }else{
                    // 添加失败
                    swal(res.msg, "请重新提交！", "success");
                }
            }
        });
    });

    // 删除银币套餐
    function del(id){
        swal({
            title: '您确定要删除该套餐吗？',
            text: '套餐删除之后将无法恢复，请谨慎操作！',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText:'是的，确定删除套餐！',
            cancelButtonText: "让我再考虑一下…",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url:"{{:U('Admin/Recharge/del_gold_silver')}}",
                    data:{"id":id},
                    dataType:"json",
                    type: 'post',
                    success:function(res){
                        if(res.code==200){
                            // 套餐删除成功
                            swal('删除成功',res.msg, "success");
                            // 刷新iframe
                            parent.$('.J_iframe').attr('src',parent.$('.J_iframe').attr('src'));

                        }else{
                            // 套餐删除失败
                            swal("删除失败",res.msg, "error");
                        }
                    },
                    error:function(res){
                        // 套餐删除失败
                        swal("删除失败",res.msg, "error");
                    }
                });
            } else {
                swal("已取消", "您取消了删除操作！", "error");
            }
        });
    }
    </script>
</block>