<extend name="Public/base" />

<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                    <h5>分销商管理 <small>佣金分配</small></h5>
                </div>
                    <div class="ibox-content">
                        <form action="commission_proportion" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <h3>网站币分配 <small>网站币合计：100%，会员+会员邀请人=100%网站币</small></h3>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">会员分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="user" class="form-control" value="{{$data.user}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">会员邀请人分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="inviter" class="form-control" value="{{$data.inviter}}">
                                </div>
                            </div>
                            <h3>佣金分配 <small>佣金合计：100%，A、B、C级分销+分销商邀请人=100%佣金</small></h3>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">A级分销商分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="vendor_a" class="form-control" value="{{$data.vendor_a}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">B级分销商分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="vendor_b" class="form-control" value="{{$data.vendor_b}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">C级分销商分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="vendor_c" class="form-control" value="{{$data.vendor_c}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分销商邀请人分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="vendor_i" class="form-control" value="{{$data.vendor_i}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" id="proportion" type="submit">保存</button>
                                    <button class="btn btn-white" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
<script src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    /**
     * [ajaxData 设置佣金分配]
     * @return {[type]}    [json数据]
     */
    function proportion(){

        $.ajax({
            url:"{{:U('Admin/Commission/commission_proportion')}}",
            data:{"id":id},
            dataType:"json",
            type: 'post',
            success:function(res){
                console.dir(res);
                if(res.res.code == 200){

                }else{
                    // 查询失败提示

                }
            }
        });
    }

    $('#proportion').click(function(){
        var user     = $("input[name='user']").val();
        var inviter  = $("input[name='inviter']").val();
        var vendor_a = $("input[name='vendor_a']").val();
        var vendor_b = $("input[name='vendor_b']").val();
        var vendor_c = $("input[name='vendor_c']").val();
        var vendor_i = $("input[name='vendor_i']").val();

        $.ajax({
            url:"{{:U('Admin/Commission/commission_proportion')}}",
            data:{
                "user":user,
                "inviter":inviter,
                "vendor_a":vendor_a,
                "vendor_b":vendor_b,
                "vendor_c":vendor_c,
                "vendor_i":vendor_i
            },
            dataType:"json",
            type: 'post',
            success:function(res){
                //console.dir(res);
                if(res.res.code == 200){

                }else{
                    // 查询失败提示

                }
            }
        });


    });
</script>
</block>