<extend name="Public/base" />
<block name="mylink">
    <link href="__PUBLIC__/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</block>
<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                    <h5>分销商管理 <small>佣金分配</small></h5>
                </div>
                    <div class="ibox-content">
                        <form action="javascript:false;" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <h3>银币分配 <small>银币合计：100%，会员+会员邀请人=100</small></h3>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">会员分银币配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="user_y" class="form-control" value="{{$data.user_y}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">会员邀请人银币分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="inviter_y" class="form-control" value="{{$data.inviter_y}}">
                                </div>
                            </div>
                            <h3>金币分配 <small>金币合计：100%，会员+会员邀请人=100</small></h3>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">会员分金币配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="user_j" class="form-control" value="{{$data.user_j}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">会员邀请人金币分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="inviter_j" class="form-control" value="{{$data.inviter_j}}">
                                </div>
                            </div>
                            <h3>佣金分配 <small>佣金合计：100%，A、B、C级分销+分销商邀请人=100</small></h3>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">A级分销商分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="vendor_a" class="form-control" value="{{$data.vendor_a}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">B级分销商分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="vendor_b" class="form-control" value="{{$data.vendor_b}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">C级分销商分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="vendor_c" class="form-control" value="{{$data.vendor_c}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分销商邀请人分配占比</label>
                                <div class="col-md-3">
                                    <input type="text" name="vendor_i" class="form-control" value="{{$data.vendor_i}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" id="proportion" type="submit">保存</button>
                                    <button class="btn btn-white" type="reset">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
<script src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    /**
     * [ajaxData 设置佣金分配]
     * @return {[type]}    [json数据]
     */
    $('#proportion').click(function(){
        var user_y      = $("input[name='user_y']").val();
        var inviter_y   = $("input[name='inviter_y']").val();
        var user_j      = $("input[name='user_j']").val();
        var inviter_j   = $("input[name='inviter_j']").val();
        var vendor_a    = $("input[name='vendor_a']").val();
        var vendor_b    = $("input[name='vendor_b']").val();
        var vendor_c    = $("input[name='vendor_c']").val();
        var vendor_i    = $("input[name='vendor_i']").val();

        $.ajax({
            url:"{{:U('Admin/Commission/commission_proportion')}}",
            data:{
                "user_y":user_y,
                "inviter_y":inviter_y,
                "user_j":user_j,
                "inviter_j":inviter_j,
                "vendor_a":vendor_a,
                "vendor_b":vendor_b,
                "vendor_c":vendor_c,
                "vendor_i":vendor_i
            },
            dataType:"json",
            type: 'post',
            success:function(res){
                //console.dir(res);
                if(res.code==200){
                    swal("设置成功！", "佣金分配比例已更新。", "success");
                }else{
                    swal("设置失败！", res.message, "success");
                }

            }
        });

    });
</script>
</block>