<extend name="Public/base" />
<block name="content">
    <style>
        #v_body tr .controlBtn{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            left:50%;
            font-size: 22px;
            margin-left: -11px;

        }
    </style>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row-fluid fl" id="main">
            <div class="tableBox">
                <div class="ibox-title">
                    <h5>系统设置 <small>地址库管理</small></h5>

                    <div class="ibox-tools">
                        <i class="fa fa-user-plus"></i>
                        <a href="javascript:;" onclick="add()">添加地址</a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="80px" valign="center">展开/合并</th>
                                <th>地址ID</th>
                                <th>地址名称</th>
                                <th>地址邮编</th>
                                <th>上级地址ID</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="v_body">
                            <foreach name="data" item="v">
                                <tr class="tr_{{$v.parentid}}" id="tr_{{$v.id}}" data-id="{{$v.id}}" sp_num="1">
                                    <td>
                                        <a class="fa fa-angle-double-right controlBtn"></a>
                                    </td>
                                    <td>{{$v.id}}</td>
                                    <td>{{$v.areaname}}</td>
                                    <td>{{$v.zipcode}}</td>
                                    <td>{{$v.parentid}}</td>
                                    <td>{{$v.sort}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-outline btn-success _addChildBnt" href="javascript:;" >
                                                添加子地址
                                            </a>
                                            <a class="btn btn-outline btn-success _editBnt" href="javascript:;">
                                                修改
                                            </a>
                                            <a class="btn btn-outline btn-success _deletBnt" >
                                                删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </foreach>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- 弹框信息 -->
    <div class="modal fade" id="bjy-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加地址
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="bjy-form" class="form-inline" action="{{:U('Admin/Rule/add')}}" method="post">
                        <input type="hidden" name="pid" value="">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th width="15%">
                                    地址名：
                                </th>
                                <td>
                                    <input class="input-medium" type="text" name="title">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    地址邮编：
                                </th>
                                <td width="85%">
                                    <input class="input-medium" type="text" name="name">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                </th>
                                <td>
                                    <input class="btn btn-success" type="submit" value="添加">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bjy-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改地址
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="bjy-form" class="form-inline" action="{{:U('Admin/Rule/edit')}}" method="post">
                        <input type="hidden" name="id">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tr>
                                <th width="12%">
                                    地址名称	：
                                </th>
                                <td>
                                    <input class="input-medium" type="text" name="title">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    地址：
                                </th>
                                <td>
                                    <input class="input-medium" type="text" name="name">
                                    输入模块/控制器/方法即可 例如 Admin/Rule/index
                                </td>
                            </tr>
                            <tr>
                                <th>
                                </th>
                                <td>
                                    <input class="btn btn-success" type="submit" value="修改">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
    <script src="__PUBLIC__/Admin/layui/layui.js"></script>
    <script>
        $('#v_body').delegate('.controlBtn','click',function () {
            var mark = $(this).parents('tr').attr('id');
            if ($(this).is('.fa-angle-double-down')) {
                $('.'+mark).remove();
            }
            $(this).toggleClass('fa-angle-double-right fa-angle-double-down');
        });

        $('#v_body').delegate('.fa-angle-double-right','click',function () {
            var obj = $(this).parents('tr');
            var parentid  = obj.attr('data-id');
            var sp_num  = obj.attr('sp_num');
            var new_sp_num = sp_num-0+1;

            var pre = '';
            for (let i = 0; i < sp_num; i++) {
                pre += "&nbsp;&nbsp;&nbsp;&nbsp;";
            }
            pre += '|--';


            // $('.tr_'+parentid).remove();
            // console.log(obj.siblings())
            // obj.siblings().fadeOut();

            var url = "{{:U('Admin/Area/getNextArea')}}";
            // 提交表单
            $.ajax({
                url: url,
                type: "post",
                data: {parentid:parentid},
                success: function(res) {
                    console.log("成功", res);
                    if(res.status == 200) {
                        var _html = "";
                        $.each(res.data,function (key, value) {
                            _html +='<tr class="tr_'+value.parentid+'" id="tr_'+value.id+'" data-id="'+value.id+'" sp_num="'+new_sp_num+'">';
                            _html +='<td> <a class="fa fa-angle-double-right controlBtn"></a> </td>';
                            _html +='<td>'+value.id+'</td>';
                            _html +='<td>'+pre+value.areaname+'</td>';
                            _html +='<td>'+value.zipcode+'</td>';
                            _html +='<td>'+value.parentid+'</td>';
                            _html +='<td>'+value.sort+'</td>';
                            _html +='<td><div class="btn-group">' +
                                '<a class="btn btn-outline btn-success _addChildBnt" href="javascript:;" >添加子地址</a>' +
                                '<a class="btn btn-outline btn-success _editBnt" href="javascript:;">修改</a>' +
                                '<a class="btn btn-outline btn-success _deletBnt" >删除</a></div></td>';
                            _html +="</tr>";
                        })
                        obj.after(_html)


                    }else {

                    }
                },
                error: function(res) {
                    console.log("失败", res);

                }
            })


        });


        // 添加新地址
        function add() {
            $("input[name='title'],input[name='name']").val('');
            $("input[name='pid']").val(0);
            $('#bjy-add').modal('show');
        }

        // 添加子地址
        function add_child(obj) {
            var ruleId = $(obj).attr('ruleId');
            $("input[name='pid']").val(ruleId);
            $("input[name='title']").val('');
            $("input[name='name']").val('');
            $('#bjy-add').modal('show');
        }

        // 修改地址
        function edit(obj) {
            var ruleId = $(obj).attr('ruleId');
            var ruletitle = $(obj).attr('ruletitle');
            var ruleName = $(obj).attr('ruleName');
            $("input[name='id']").val(ruleId);
            $("input[name='title']").val(ruletitle);
            $("input[name='name']").val(ruleName);
            $('#bjy-edit').modal('show');
        }
        //删除
        $(".deletBnt").click(function(){
            var _this=$(this);
            var id = $(this).attr('ruleId');
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.confirm('确定删除?', {icon: 3, title:'温馨提示'}, function(index){
                    window.location.href='delete?id='+id;
                    layer.close(index);

                });
            });
        });
        $('.pagination ul a').unwrap('div').wrap('<li></li>');
        $('.pagination ul span').wrap('<li class="active"></li>')
    </script>
</block>
